Repository apache/shardingsphere, pull requests merged in 2019-11, with the labels that each got.

#3428 Update src release assembly
  RELEASE-NOTES.md
  sharding-distribution/shardingsphere-src-distribution/src/main/assembly/source-distribution.xml
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/security/UserAuthenticationService.java
Labels: build

#3442 Refactor: make the int parser more ellegant
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/core/rewrite/parameterized/engine/MixSQLRewriteEngineParameterizedTest.java
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/core/rewrite/parameterized/engine/ShardingSQLRewriteEngineParameterizedTest.java
Labels: refactor

#3429 fix #3273, route to defaultDataSource or master when the sql without tableName
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/rule/ShardingRule.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/rule/ShardingRuleTest.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactory.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactoryTest.java
Labels: enhancement, sharding

#3444 PostgreSQL parse select statement with ~~ and !~~ operator
  sharding-core/sharding-core-parse/sharding-core-parse-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  sharding-core/sharding-core-parse/sharding-core-parse-postgresql/src/main/antlr4/imports/postgresql/Symbol.g4
  sharding-core/sharding-core-parse/sharding-core-parse-test/src/test/resources/sharding/dml/select.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/masterslave/postgresql/select_count_tilde_concat.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/sharding/dql/select.xml
Labels: SQL parse, bug

#3443 fixes Random -> ThreadLocalRandom.
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/rule/ShardingDataSourceNames.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/broadcast/DataSourceGroupBroadcastRoutingEngine.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/handshake/MySQLRandomGenerator.java
Labels: enhancement

#3454 Update source-distribution.xml
  sharding-distribution/shardingsphere-src-distribution/src/main/assembly/source-distribution.xml
Labels: build

#3467 Add rat-plugin exclusion for sharding-ui-frontend
  pom.xml
Labels: build

#3468 add sharding-orchestration-center module in Orchestration 5.x
  sharding-orchestration/pom.xml
  sharding-orchestration/sharding-orchestration-center/pom.xml
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/api/ConfigCenter.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/api/DistributedLockManagement.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/api/RegistryCenter.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/configuration/OrchestrationConfiguration.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/exception/OrchestrationException.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/instance/CuratorZookeeperInstance.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/instance/handler/CuratorZookeeperExceptionHandler.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/listener/DataChangedEvent.java
  sharding-orchestration/sharding-orchestration-center/src/main/java/org/apache/shardingsphere/orchestration/center/listener/DataChangedEventListener.java
  sharding-orchestration/sharding-orchestration-center/src/main/resources/META-INF.services/org.apache.shardingsphere.orchestration.center.api.ConfigCenter
  sharding-orchestration/sharding-orchestration-center/src/main/resources/META-INF.services/org.apache.shardingsphere.orchestration.center.api.DistributedLockManagement
  sharding-orchestration/sharding-orchestration-center/src/main/resources/META-INF.services/org.apache.shardingsphere.orchestration.center.api.RegistryCenter
  sharding-orchestration/sharding-orchestration-center/src/test/java/org/apache/shardingsphere/orchestration/center/instance/CuratorZookeeperInstanceTest.java
  sharding-orchestration/sharding-orchestration-center/src/test/java/org/apache/shardingsphere/orchestration/center/util/EmbedTestingServer.java
Labels: enhancement, orchestration

#3470 add empty judgment for sharding-jdbc statements
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/connection/EncryptConnection.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/connection/ShardingConnection.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/constant/SQLExceptionConstant.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlavePreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlaveStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingStatement.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/common/base/AbstractMasterSlaveJDBCDatabaseAndTableTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/adapter/PreparedStatementAdapterTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/adapter/StatementAdapterTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptPreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlavePreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlaveStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/unsupported/UnsupportedOperationPreparedStatementTest.java
Labels: bug, jdbc

#3505 fix3477:User UI interaction without login for a long time
  sharding-ui/sharding-ui-frontend/src/lang/zh-CN.js
  sharding-ui/sharding-ui-frontend/src/router/index.js
  sharding-ui/sharding-ui-frontend/src/utils/api.js
  sharding-ui/sharding-ui-frontend/src/views/login/index.vue
Labels: UI, bug

#3510 Fix code for checkstyle
  sharding-core/database-time-service/pom.xml
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/DatabaseTimeServiceDelegate.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/TimeServiceConfiguration.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/exception/NoDatabaseSQLEntrySupportException.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/exception/TimeServiceInitException.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/impl/DatabaseTimeService.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/impl/TimeServiceFactory.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/DatabaseSQLEntry.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/MySQLDatabaseSQLEntry.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/OracleDatabaseSQLEntry.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/PostgreSQLDatabaseSQLEntry.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/SPIDataBaseSQLEntry.java
  sharding-core/database-time-service/src/main/java/org/apache/shardingsphere/route/time/spi/SQLServerDatabaseSQLEntry.java
  sharding-core/database-time-service/src/test/java/org/apache/shardingsphere/route/time/PropertiesUtils.java
  sharding-core/database-time-service/src/test/java/org/apache/shardingsphere/route/time/TimeServiceConfigurationTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/table/TableMetasTest.java
  sharding-core/sharding-core-execute/src/test/java/org/apache/shardingsphere/core/execute/sql/execute/result/MemoryQueryResultTest.java
  sharding-core/sharding-core-execute/src/test/java/org/apache/shardingsphere/core/execute/sql/execute/result/QueryResultUtilTest.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/spi/DefaultTimeService.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/spi/SPITimeService.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/spi/TimeService.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/fixture/TimeServiceFixture.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/sharding/validator/impl/ShardingUpdateStatementValidatorTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/AbstractSQLRouteTest.java
  sharding-proxy/sharding-proxy-backend/src/test/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeaderTest.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/parser/DataSourceBeanDefinitionParser.java
  sharding-spring/sharding-jdbc-spring/sharding-jdbc-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sharding-spring/sharding-spring-boot-util/pom.xml
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/jta/datasource/properties/dialect/MariaDBXADataSourceDefinitionTest.java
Labels: refactor

#3507 Fixes #3362
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/rule/ShardingRule.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/rule/ShardingRuleTest.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactory.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/unicast/UnicastRoutingEngine.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactoryTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/unicast/UnicastRoutingEngineTest.java
Labels: bug, sharding

#3508 Extract recursive with logical operation
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/db/select_or_with_predicates.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/sharding/dql/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-common/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/PredicateExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-common/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/ExtractorUtils.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sharding/dml/select_or.xml
Labels: SQL parse, bug

#3526 Finish PostgreSQLErrorResponsePacket
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/auth/PostgreSQLAuthenticationEngine.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/generic/PostgreSQLErrorResponsePacket.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/test/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/generic/PostgreSQLErrorResponsePacketTest.java
Labels: enhancement, proxy

#3538 XAShardingTransactionManager could not compatible with AtomikosDataSourceBean
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/XAShardingTransactionManager.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/connection/XATransactionConnection.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/XATransactionDataSource.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/XAShardingTransactionManagerTest.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/fixture/DataSourceUtils.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/jta/connection/XATransactionConnectionTest.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/jta/datasource/XATransactionDataSourceTest.java
Labels: bug, transaction

#3552 implement nested transaction for XATransactionManager
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/XATransactionDataSource.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/test/java/org/apache/shardingsphere/transaction/xa/XAShardingTransactionManagerTest.java
Labels: enhancement, transaction

#3558 Fixes #3518
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactory.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/sharding/RoutingEngineFactoryTest.java
Labels: bug, sharding

#3547 `getResultSet` should return null after `executeUpdate`
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingStatement.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingStatementTest.java
Labels: bug, sharding

#3569 update mvnw to latest version.
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: build

#3570 modify the footer copyright
  sharding-ui/sharding-ui-frontend/src/components/Footer/index.vue
Labels: UI, license

#3579 add wiki url on maturity page
  MATURITY.md
Labels: document

#3588 #3587, cache DataSourceMetaData
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/core/execute/sql/execute/SQLExecuteCallback.java
  sharding-core/sharding-core-execute/src/test/java/org/apache/shardingsphere/core/execute/sql/execute/SQLExecuteCallbackTest.java
Labels: bug, sharding

#3583 fixes apollo debug & warn log, control log out by slf4j xml file.
  pom.xml
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-apollo/pom.xml
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-apollo/src/test/java/org/apache/shardingsphere/orchestration/config/apollo/ApolloConfigCenterTest.java
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-apollo/src/test/resources/apollo-env.properties
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-apollo/src/test/resources/logback-test.xml
Labels: enhancement, orchestration

#3595 Update snowflake algorithm to support modulus of 2^n
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/keygen/SnowflakeShardingKeyGenerator.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/strategy/keygen/SnowflakeShardingKeyGeneratorTest.java
Labels: enhancement, sharding

#3604 Refactor metadata
  sharding-core/sharding-core-api/src/main/java/org/apache/shardingsphere/spi/database/DataSourceInfo.java
  sharding-core/sharding-core-api/src/main/java/org/apache/shardingsphere/spi/database/DatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/DataSourceMetas.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/H2DataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/MariaDBDataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/MySQLDataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/OracleDataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/PostgreSQLDataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/SQL92DataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/metadata/datasource/dialect/SQLServerDataSourceMetaData.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/H2DatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/MariaDBDatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/MySQLDatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/OracleDatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/PostgreSQLDatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/SQL92DatabaseType.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/spi/database/SQLServerDatabaseType.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/ShardingSphereDataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/H2DataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/MySQLDataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/OracleDataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/PostgreSQLDataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/SQL92DataSourceMetaDataTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/metadata/datasource/dialect/SQLServerDataSourceMetaDataTest.java
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/core/execute/sql/execute/SQLExecuteCallback.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/AbstractSQLRouteTest.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/BaseIT.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/ShardingRuntimeContext.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/LogicSchema.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/impl/EncryptSchema.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/impl/MasterSlaveSchema.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/impl/ShardingSchema.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/impl/TransparentSchema.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/properties/dialect/MariaDBXADataSourceDefinition.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/properties/dialect/OracleXADataSourceDefinition.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/properties/dialect/PostgreSQLXADataSourceDefinition.java
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/properties/dialect/SQLServerXADataSourceDefinition.java
Labels: refactor, sharding

#3589 fix #3524 change TableMetaDataInitializer's getTables parameter error.
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/core/execute/metadata/TableMetaDataInitializer.java
Labels: bug, jdbc

#3614 make all pom files consist
  sharding-core/database-time-service/pom.xml
  sharding-core/sharding-core-api/pom.xml
  sharding-core/sharding-core-common/pom.xml
  sharding-core/sharding-core-entry/pom.xml
  sharding-core/sharding-core-execute/pom.xml
  sharding-core/sharding-core-merge/pom.xml
  sharding-core/sharding-core-rewrite/pom.xml
  sharding-core/sharding-core-route/pom.xml
  sharding-distribution/pom.xml
  sharding-distribution/sharding-jdbc-distribution/pom.xml
  sharding-distribution/sharding-proxy-distribution/pom.xml
  sharding-distribution/sharding-ui-distribution/pom.xml
  sharding-distribution/shardingsphere-src-distribution/pom.xml
  sharding-integration-test/pom.xml
  sharding-orchestration/sharding-orchestration-config/pom.xml
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-api/pom.xml
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-apollo/pom.xml
  sharding-orchestration/sharding-orchestration-config/sharding-orchestration-config-zookeeper-curator/pom.xml
  sharding-proxy/sharding-proxy-frontend/pom.xml
  sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-bitronix/pom.xml
  sharding-transaction/sharding-transaction-base/pom.xml
  sharding-ui/sharding-ui-backend/pom.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/pom.xml
Labels: refactor

#3615 ignore db test
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/env.properties
Labels: jdbc, test

#3616 simplify test case assertLastDigitalOfGenerateKeySameMillisecond
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/strategy/keygen/SnowflakeShardingKeyGeneratorTest.java
Labels: sharding, test

#3613 Feature 3185 jdbc orchestration spring namespace.
  sharding-spring/sharding-jdbc-orchestration-spring/pom.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/pom.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/pom.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/datasource/OrchestrationSpringEncryptDataSource.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/datasource/OrchestrationSpringMasterSlaveDataSource.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/datasource/OrchestrationSpringShardingDataSource.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/constants/InstanceBeanDefinitionParserTag.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/constants/ShardingDataSourceBeanDefinitionParserTag.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/handler/OrchestrationNamespaceHandler.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/parser/DataSourceBeanDefinitionParser.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/namespace/parser/InstanceBeanDefinitionParser.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/main/resources/META-INF/namespace/orchestration.xsd
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/OrchestrationMasterSlaveNamespaceTest.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/registry/TestRegistryCenter.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/rdb/encryptOrchestration.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/rdb/masterSlaveOrchestration.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/rdb/shardingMasterSlaveOrchestration.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/rdb/shardingOrchestration.xml
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.ConfigCenter
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-namespace/src/test/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.RegistryCenter
Labels: enhancement, orchestration

#3622 support SELECT DATABASE()
  sharding-sql-test/src/main/resources/sql/sharding/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sharding/dml/select.xml
Labels: SQL parse, bug
