Repository apache/shardingsphere, pull requests merged in 2019-10, with the labels that each got.

#3364 [LICENSE FIX] Update the license file for maven wrapper
  LICENSE
Labels: bug

#3381 Check Sharding-UI license
  sharding-distribution/sharding-ui-distribution/pom.xml
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/LICENSE
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/NOTICE
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/licenses/LICENSE-jcl-over-slf4j.txt
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/licenses/LICENSE-jline.txt
  sharding-ui/sharding-ui-backend/pom.xml
Labels: UI, license

#3390 support select for update
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/java/org/apache/shardingsphere/core/parse/core/extractor/impl/dml/select/LockExtractor.java
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/java/org/apache/shardingsphere/core/parse/core/extractor/util/RuleName.java
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/java/org/apache/shardingsphere/core/parse/core/filler/impl/dml/LockFiller.java
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/java/org/apache/shardingsphere/core/parse/sql/segment/dml/predicate/LockSegment.java
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/java/org/apache/shardingsphere/core/parse/sql/statement/dml/SelectStatement.java
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/resources/META-INF/parsing-rule-definition/extractor-rule-definition.xml
  sharding-core/sharding-core-parse/sharding-core-parse-common/src/main/resources/META-INF/parsing-rule-definition/filler-rule-definition.xml
  sharding-core/sharding-core-parse/sharding-core-parse-mysql/src/main/resources/META-INF/parsing-rule-definition/mysql/sql-statement-rule-definition.xml
  sharding-core/sharding-core-parse/sharding-core-parse-test/src/test/java/org/apache/shardingsphere/core/parse/integrate/jaxb/root/ParserResult.java
  sharding-core/sharding-core-parse/sharding-core-parse-test/src/test/resources/sharding/dml/select.xml
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/ShardingMasterSlaveRouter.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouterTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/masterslave/ShardingMasterSlaveRouterTest.java
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/db/select_for_update.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/dbtbl_with_masterslave/select_for_update.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/masterslave/select_for_update.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dataset/tbl/select_for_update.xml
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/sharding/dql/select.xml
Labels: enhancement, sharding

#3395 Add spring boot maven run plugin
  pom.xml
  sharding-ui/sharding-ui-backend/pom.xml
Labels: UI, build

#3394 Remove unnecessary checkstate & refactor code
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/servcie/impl/ShardingSchemaServiceImpl.java
Labels: UI, enhancement

#3392 Add tomcat dbcp2 custom connection-properties support
  sharding-spring/sharding-spring-boot-util/src/main/java/org/apache/shardingsphere/spring/boot/datasource/AbstractDbcp2DataSourcePropertiesSetter.java
  sharding-spring/sharding-spring-boot-util/src/main/java/org/apache/shardingsphere/spring/boot/datasource/CommonDbcp2DataSourcePropertiesSetter.java
  sharding-spring/sharding-spring-boot-util/src/main/java/org/apache/shardingsphere/spring/boot/datasource/TomcatDbcp2DataSourcePropertiesSetter.java
  sharding-spring/sharding-spring-boot-util/src/main/resources/META-INF/services/org.apache.shardingsphere.spring.boot.datasource.DataSourcePropertiesSetter
  sharding-spring/sharding-spring-boot-util/src/test/java/org/apache/shardingsphere/spring/boot/datasource/Dbcp2DataSourcePropertiesSetterTest.java
Labels: enhancement, spring

#3400 Fixes #3230
  sharding-core/sharding-core-preprocessor/src/main/java/org/apache/shardingsphere/core/preprocessor/statement/impl/InsertSQLStatementContext.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/parameter/impl/EncryptInsertValueParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/EncryptTokenGenerateBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/AssistQueryAndPlainInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptForUseDefaultInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptInsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptPredicateColumnTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptProjectionTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/InsertCipherNameTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/AssistQueryAndPlainInsertColumnsToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/EncryptColumnNameToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/InsertAssistedQueryAndPlainAssignmentsToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/LiteralInsertAssistedQueryAndPlainAssignmentsToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/LiteralInsertCipherAssignmentToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/ParameterMarkerInsertAssistedQueryAndPlainAssignmentsToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/pojo/ParameterMarkerInsertCipherAssignmentToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/ShardingTokenGenerateBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/generator/impl/InsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/generator/impl/keygen/GeneratedKeyForUseDefaultInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/sql/token/pojo/generic/InsertColumnsToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/sql/token/pojo/generic/InsertValuesToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/sql/token/pojo/generic/SubstitutableColumnNameToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/sql/token/pojo/generic/UseDefaultInsertColumnsToken.java
  sharding-core/sharding-core-rewrite/src/test/resources/encrypt/insert.xml
  sharding-core/sharding-core-rewrite/src/test/resources/mix/insert.xml
Labels: encrypt, enhancement

#3396 Add missing license for Sharding-UI.
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/LICENSE
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/NOTICE
  sharding-distribution/sharding-ui-distribution/src/main/release-docs/licenses/LICENSE-jul-to-slf4j.txt
Labels: UI, license

#3401 fixes execute "SHOW VARIABLES LIKE 'lower_case_%'" NullPointerException bug.(#3397)
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeader.java
  sharding-proxy/sharding-proxy-backend/src/test/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeaderTest.java
Labels: bug, proxy

#3403 Add basic encrypt token generator to simplify code
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/aware/EncryptRuleAware.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/aware/QueryWithCipherColumnAware.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/parameter/EncryptParameterRewriterBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/parameter/impl/EncryptAssignmentParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/parameter/impl/EncryptInsertValueParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/parameter/impl/EncryptPredicateParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/EncryptTokenGenerateBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/BaseEncryptSQLTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/AssistQueryAndPlainInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptAssignmentTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptForUseDefaultInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptInsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptPredicateColumnTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptPredicateRightValueTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptProjectionTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/InsertCipherNameTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/aware/SQLRouteResultAware.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/aware/ShardingRuleAware.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/parameter/ShardingParameterRewriterBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/parameter/impl/ShardingGeneratedKeyInsertValueParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/parameter/impl/ShardingPaginationParameterRewriter.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/ShardingTokenGenerateBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/generator/impl/InsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/generator/impl/TableTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/sharding/token/generator/impl/keygen/BaseGeneratedKeyTokenGenerator.java
Labels: encrypt, refactor

#3402 make code readable
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/token/generator/impl/EncryptInsertValuesTokenGenerator.java
Labels: encrypt, refactor

#3411 add RELEASE-NOTES
  RELEASE-NOTES.md
Labels: document

#3412 Remove excess code, no hava long.class in ShardingPropertiesConstant …
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/constant/properties/ShardingProperties.java
Labels: refactor

#3417 Fix fail insert code column
  sharding-core/sharding-core-parse/sharding-core-parse-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
Labels: SQL parse, bug

#3415 update readme
  README.md
  README_ZH.md
Labels: document

#3420 refactor UserAuthenticationService
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/security/UserAuthenticationService.java
Labels: refactor
