Repository apache/shardingsphere, pull requests merged in 2020-01, with the labels that each got.

#3862 fixed for #3855
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/EncryptParameterRewriterBuilder.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/impl/EncryptInsertOnDuplicateKeyUpdateValueParameterRewriter.java
  encrypt-core/encrypt-core-rewrite/src/test/resources/encrypt/insert.xml
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/src/main/java/org/apache/shardingsphere/underlying/rewrite/parameter/builder/impl/GroupedParameterBuilder.java
Labels: bug, encrypt

#3863 #3861, PostgreSQL Proxy read parameters error in all types except String
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/command/query/binary/bind/PostgreSQLComBindPacket.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/command/query/binary/bind/protocol/PostgreSQLStringBinaryProtocolValue.java
Labels: bug, proxy

#3870 Support MySQL spatial function
  sharding-sql-test/src/main/resources/sql/sharding/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/MySQLKeyword.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sharding/dml/select.xml
Labels: SQL parse, enhancement

#3876 Decouple SQLRewriteContextDecorator and features
  encrypt-core/encrypt-core-common/src/main/java/org/apache/shardingsphere/encrypt/metadata/loader/EncryptTableMetaDataLoader.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/context/EncryptSQLRewriteContextDecorator.java
  encrypt-core/encrypt-core-rewrite/src/test/java/org/apache/shardingsphere/encrypt/rewrite/parameterized/EncryptSQLRewriterParameterizedTest.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/context/ShadowSQLRewriteContextDecorator.java
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/context/ShardingSQLRewriteContextDecorator.java
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameterized/MixSQLRewriterParameterizedTest.java
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameterized/ShardingSQLRewriterParameterizedTest.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/EncryptRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowStatement.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/PreparedStatementExecutorWrapper.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/StatementExecutorWrapper.java
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/pom.xml
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/src/main/java/org/apache/shardingsphere/underlying/rewrite/SQLRewriteEntry.java
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/src/main/java/org/apache/shardingsphere/underlying/rewrite/context/SQLRewriteContextDecorator.java
Labels: refactor

#3882 Pull up metaData to AbstractRuntimeContext
  encrypt-core/encrypt-core-common/src/main/java/org/apache/shardingsphere/encrypt/metadata/loader/EncryptTableMetaDataLoader.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/executor/AbstractStatementExecutor.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/AbstractRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/EncryptRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/MasterSlaveRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/MultipleDataSourcesRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/ShadowRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/ShardingRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/SingleDataSourceRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/metadata/JDBCDataSourceConnectionManager.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/metadata/JDBCDataSourceMapConnectionManager.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/fixture/TestDataSource.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/datasource/MasterSlaveDataSourceTest.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/schema/LogicSchemas.java
  sharding-spring/sharding-jdbc-spring/sharding-jdbc-spring-namespace/src/test/java/org/apache/shardingsphere/shardingjdbc/spring/AbstractSpringJUnitTest.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/metadata/datasource/DataSourceMetas.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/metadata/table/init/loader/impl/DefaultTableMetaDataLoader.java
Labels: refactor

#3883 Code style revise for shadow feature
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/PreparedJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/ShadowCondition.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/ShadowConditionEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/ShadowJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/SimpleJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/aware/ShadowRuleAware.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/parameter/ShadowParameterRewriter.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/parameter/ShadowParameterRewriterBuilder.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/parameter/impl/ShadowInsertValueParameterRewriter.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/parameter/impl/ShadowPredicateParameterRewriter.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/BaseShadowSQLTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/impl/RemoveShadowColumnTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/impl/ShadowInsertValuesTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/impl/ShadowPredicateColumnTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/PreparedJudgementEngineTest.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/config/shadow/YamlRootShadowConfiguration.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/api/yaml/YamlShadowDataSourceFactory.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/connection/ShadowConnection.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/datasource/ShadowDataSource.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowStatement.java
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/shadow/ShadowSQLCasesRegistry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/ShadowSQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/shadow/ShadowParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/ShadowParserResultSetRegistry.java
Labels: refactor

#3879 fix proxy hang up while throwing a customize SQLException
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/MySQLErrPacketFactory.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/MySQLErrPacketFactoryTest.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/constant/MySQLServerErrorCode.java
Labels: bug, proxy

#3885 Upgrade the node version of pom.xml file
  sharding-ui/sharding-ui-frontend/build/rimraf.js
  sharding-ui/sharding-ui-frontend/package.json
  sharding-ui/sharding-ui-frontend/pom.xml
Labels: UI, enhancement

#3889 fix the problem that lombok.config doesn't work
  pom.xml
Labels: build

#3890 Use SQLRewriteEntry on encrypt and shadow
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/SQLLogger.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/constant/SQLExceptionConstant.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/resultset/DatabaseMetaDataResultSet.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/PreparedStatementExecutorWrapper.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/StatementExecutorWrapper.java
Labels: refactor

#3891 fix NullPointException for resultSetMetaData.getTableName of Proxy
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeader.java
Labels: bug, proxy

#3892 Insert clause sharding column null exception
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/condition/ExpressionConditionUtils.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/condition/engine/InsertClauseShardingConditionEngine.java
Labels: bug, sharding

#3888 modify sharding-ui-backend module for orchestration.
  sharding-ui/sharding-ui-backend/pom.xml
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/servcie/RegistryCenterService.java
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/servcie/impl/RegistryCenterServiceImpl.java
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/util/RegistryCenterFactory.java
Labels: enhancement, orchestration

#3895 Insert clause sharding column null text judgement
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/condition/ExpressionConditionUtils.java
Labels: bug, sharding

#3898 fix defaultTableMetaDataLoader for MasterSlaveRuntimeContext
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/metadata/table/init/loader/impl/DefaultTableMetaDataLoader.java
Labels: refactor

#3909 add .asf.yaml
  .asf.yaml
Labels: document

#3899 [Sharding Scaling]Refactor to support PostgreSQL
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/channel/DistributionChannel.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/reader/AbstractJdbcReader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLJdbcReader.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
Labels: enhancement, scaling

#3911 refine .asf.yaml
  .asf.yaml
Labels: document

#3912 Fixed #3854, fix NullPointerException when call CachedDatabaseMetaData.getIndexInfo
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/resultset/DatabaseMetaDataResultSet.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/resultset/DatabaseMetaDataResultSetTest.java
Labels: bug, sharding

#3917 Add support for Literal and Parameter encrypt for insert into ... on …
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/impl/EncryptInsertOnDuplicateKeyUpdateValueParameterRewriter.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/EncryptTokenGenerateBuilder.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptInsertOnUpdateTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/test/resources/encrypt/insert.xml
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/validator/impl/ShardingInsertStatementValidator.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/sharding/validator/impl/ShardingInsertStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/insert/OnDuplicateKeyColumnsExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/OnDuplicateKeyColumnsSegment.java
Labels: bug, encrypt

#3918 QueryHeader load logic table metadata
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/rule/ShardingRule.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeader.java
  sharding-proxy/sharding-proxy-backend/src/test/java/org/apache/shardingsphere/shardingproxy/backend/response/query/QueryHeaderTest.java
Labels: bug, proxy

#3921 Add MasterSlaveDataSourceRouter
  CODE_OF_CONDUCT.md
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/PreparedStatementRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/ShardingRouteResult.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/StatementRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveDataSourceRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouteDecorator.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/ShardingRouter.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouteDecoratorTest.java
Labels: refactor

#3926 add SQLVisitorEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorFactory.java
Labels: SQL parse, refactor

#3906 Make the shadow feature more complete
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/condition/ShadowCondition.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/condition/ShadowConditionEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/judgement/ShadowJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/parameter/impl/ShadowPredicateParameterRewriter.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/condition/ShadowConditionEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/env/shadow/sharding-rule.yaml
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/connection/ShadowConnection.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/datasource/ShadowDataSource.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShadowStatement.java
Labels: enhancement

#3931 Decouple generatedValues and addBatch with route
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/sql/ShardingSQLBuilder.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouteDecorator.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/ShardingRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/RoutingResult.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/RoutingUnit.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/RoutingUnitTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/DataSourceGroupBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/DatabaseBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/MasterInstanceBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/TableBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/complex/ComplexRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/defaultdb/DefaultDatabaseRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/SQLRouteTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/StandardRoutingEngineTest.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/executor/batch/BatchPreparedStatementExecutor.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/JDBCTestSQL.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/unsupported/UnsupportedOperationPreparedStatementTest.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/unsupported/UnsupportedOperationResultSetTest.java
Labels: refactor

#3935 Add MySQLVisitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/LiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, refactor

#3936 Rename identifier_ to identifier
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DALStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
Labels: SQL parse, refactor

#3939 Move public interface DateNodeRouter and DateNodeRouteDecorator to shardingsphere-route module
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-entry/src/test/java/org/apache/shardingsphere/core/shard/BaseShardingEngineTest.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/engine/ShardingSQLRewriteEngine.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/sql/ShardingSQLBuilder.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/RouteUnitAware.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/impl/ShardingInsertValuesToken.java
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameterized/MixSQLRewriterParameterizedTest.java
  sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameterized/ShardingSQLRewriterParameterizedTest.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/ShardingRouteContext.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouteDecorator.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/router/sharding/ShardingRouter.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/RoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/broadcast/DataSourceGroupBroadcastRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/broadcast/DatabaseBroadcastRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/broadcast/MasterInstanceBroadcastRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/broadcast/TableBroadcastRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/complex/CartesianRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/complex/ComplexRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/defaultdb/DefaultDatabaseRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/ignore/IgnoreRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/standard/StandardRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/type/unicast/UnicastRoutingEngine.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouteDecoratorTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/router/masterslave/MasterSlaveRouterTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/DataSourceGroupBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/DatabaseBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/MasterInstanceBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/broadcast/TableBroadcastRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/complex/ComplexRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/defaultdb/DefaultDatabaseRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/ignore/IgnoreRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/AbstractSQLRouteTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/SQLRouteTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/StandardRoutingEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/unicast/UnicastRoutingEngineTest.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlavePreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlaveStatement.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/PreparedStatementExecutorWrapper.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/StatementExecutorWrapper.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/DateNodeRouteDecorator.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/DateNodeRouter.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/context/RouteContext.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/context/RouteResult.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/context/RouteUnit.java
  shardingsphere-underlying/shardingsphere-route/src/main/java/org/apache/shardingsphere/underlying/route/context/TableUnit.java
  shardingsphere-underlying/shardingsphere-route/src/test/java/org/apache/shardingsphere/underlying/route/context/RouteResultTest.java
  shardingsphere-underlying/shardingsphere-route/src/test/java/org/apache/shardingsphere/underlying/route/context/RouteUnitTest.java
Labels: refactor

#3941 Move master-slave route decorator from sharding-core-route module to sharding-core-entry module
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/PreparedQueryShardingEngine.java
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/SimpleQueryShardingEngine.java
  sharding-core/sharding-core-entry/src/test/java/org/apache/shardingsphere/core/shard/PreparedQueryShardingEngineTest.java
  sharding-core/sharding-core-entry/src/test/java/org/apache/shardingsphere/core/shard/SimpleQueryShardingEngineTest.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/PreparedStatementRoutingEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/core/route/StatementRoutingEngine.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/DatabaseTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/core/route/type/standard/AbstractSQLRouteTest.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/PreparedStatementExecutorWrapper.java
Labels: refactor

#3942 Add master-slave-core module
  master-slave-core/master-slave-core-route/pom.xml
  master-slave-core/master-slave-core-route/src/main/java/org/apache/shardingsphere/masterslave/route/engine/MasterSlaveRouteDecorator.java
  master-slave-core/master-slave-core-route/src/main/java/org/apache/shardingsphere/masterslave/route/engine/MasterSlaveRouter.java
  master-slave-core/master-slave-core-route/src/main/java/org/apache/shardingsphere/masterslave/route/engine/impl/MasterSlaveDataSourceRouter.java
  master-slave-core/master-slave-core-route/src/main/java/org/apache/shardingsphere/masterslave/route/engine/impl/MasterVisitedManager.java
  master-slave-core/master-slave-core-route/src/main/java/org/apache/shardingsphere/masterslave/route/log/MasterSlaveSQLLogger.java
  master-slave-core/master-slave-core-route/src/test/java/org/apache/shardingsphere/masterslave/route/engine/MasterSlaveRouteDecoratorTest.java
  master-slave-core/master-slave-core-route/src/test/java/org/apache/shardingsphere/masterslave/route/engine/MasterSlaveRouterTest.java
  master-slave-core/master-slave-core-route/src/test/java/org/apache/shardingsphere/masterslave/route/log/MasterSlaveSQLLoggerTest.java
  master-slave-core/pom.xml
  pom.xml
  sharding-core/sharding-core-entry/pom.xml
  sharding-core/sharding-core-entry/src/main/java/org/apache/shardingsphere/core/shard/BaseShardingEngine.java
  sharding-core/sharding-core-route/pom.xml
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/adapter/AbstractConnectionAdapter.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlavePreparedStatement.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/MasterSlaveStatement.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/datasource/MasterSlaveDataSourceTest.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/connection/BackendConnection.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/PreparedStatementExecutorWrapper.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/communication/jdbc/wrapper/StatementExecutorWrapper.java
Labels: refactor

#3944 Add test architecture for visitor.
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/visitor/VisitorSQLCasesRegistry.java
  sharding-sql-test/src/main/resources/sql/visitor/ddl/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/visitor/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/VisitorParserResultSetRegistry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/show.xml
Labels: SQL parse, test

#3951 Assert insert names and values with SQL
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/ShardingSQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/insert/AssignmentAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/sharding/ShardingParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sharding/dml/insert.xml
Labels: SQL parse, test

#3952 Move add generated key from addBatch() to shard() method
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java
Labels: refactor

#3953 update last release version
  README.md
  README_ZH.md
Labels: document

#3928 fixed for #2997. Use guava cache instead of AbstractHashedMap
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/cache/SQLParseResultCache.java
Labels: SQL parse, enhancement

#3961 [Sharding Scaling]Refactor to support PostgreSQL
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/reader/AbstractJdbcReader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilderTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/fixture/FixtureH2JdbcReader.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLJdbcReader.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLJdbcReader.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLScalingEntry.java
  sharding-scaling/sharding-scaling-postgresql/src/main/resources/META-INF/services/org.apache.shardingsphere.shardingscaling.core.spi.ScalingEntry
Labels: enhancement, scaling

#3965 support show table status
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, refactor

#3975 Oracle insert statement bugfix
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
Labels: SQL parse, bug

#3976 Oracle insert statement bugfix
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
Labels: SQL parse, bug

#3978 Refactor parser test cases for table assert
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssertMessage.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/groupby/GroupByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/index/IndexAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/insert/AssignmentAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/insert/InsertNamesAndValuesAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/orderby/OrderByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/pagination/PaginationAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/PredicateAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/selectitem/SelectItemAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/AlterTableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/ParserResultSetRegistry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/deny_user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/grant_user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke_user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/create.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/drop.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_relation.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_sub_query.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
Labels: SQL parse, test

#3980 Rename parser SQL test cases xml file name
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long_sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
Labels: SQL parse, test

#3981 Recover INSERT SQL parser test cases for Oracle
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
Labels: SQL parse, test

#3983 check file format
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/SQL92Visitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/show.xml
Labels: SQL parse, refactor

#3984 Use new sharding-core package to fix compile error
  sharding-scaling/sharding-scaling-bootstrap/src/main/java/org/apache/shardingsphere/shardingscaling/Bootstrap.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/config/DataSourceConfiguration.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/config/JdbcDataSourceConfiguration.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/config/ServerConfiguration.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/controller/task/SyncTaskController.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/spi/ScalingEntry.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTask.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTaskGroup.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/realtime/RealtimeDataSyncTask.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/web/util/ConfigurationYamlConverter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/web/util/SyncConfigurationUtil.java
Labels: build, scaling

#3969 #3968, Ambiguous description of COM_STMT_EXECUTE in MySQL protocol
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacket.java
Labels: enhancement, proxy

#3997 carry pr#3863 from dev to 4.0.1
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/command/query/binary/bind/PostgreSQLComBindPacket.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/postgresql/packet/command/query/binary/bind/protocol/PostgreSQLStringBinaryProtocolValue.java
Labels: bug, proxy

#3996 carry pr#3969 from dev to 4.0.1
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacket.java
Labels: enhancement, proxy

#3988 Using multithreading make loadDefaultTables faster
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/sharding/execute/metadata/loader/ShardingTableMetaDataLoader.java
Labels: enhancement, jdbc

#3999 #3968, Ambiguous description of COM_STMT_EXECUTE in MySQL protocol
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacket.java
Labels: enhancement, proxy

#4004 #3968, carry pr#3999
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacket.java
Labels: enhancement, proxy

#4009 Use SelectStatement.getProjections() to instead of SQLStatement.findSQLSegment(ProjectionsSegment.class)
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptProjectionTokenGenerator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
Labels: SQL parse, refactor

#4010 Support INSERT SET SQL with visitor.
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/BooleanValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/NumberValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/ParameterValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, refactor

#4012 Use static method for SQLStatementAssert.assertIs
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/groupby/GroupByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/insert/AssignmentAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/insert/InsertNamesAndValuesAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/orderby/OrderByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/pagination/PaginationAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/parameter/ParameterMarkerAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/PredicateAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/AlterTableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, test

#4011 add test for `insert set`
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4013 rename to booleanPrimary
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
Labels: SQL parse, refactor

#4015 Complete projection assertion
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/select/item/impl/TopProjectionExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/pagination/top/TopProjectionSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/TopPaginationContextEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/TopPaginationContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/AbstractExpectedProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedAggregationDistinctProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedAggregationProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedBaseProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedColumnProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedExpressionProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedProjections.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedShorthandProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedTableSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/projection/ExpectedTopProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long_sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_sub_query.xml
Labels: SQL parse, test

#4017 Can skip long sql for parse test
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/root/ParserResult.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/runtime-config.properties
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long_sql.xml
Labels: SQL parse, test

#4018 add more tests for `insert set`
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4023 add visitors for `insert values`
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-core/sharding-core-merge/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/keygen/GeneratedKeyTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/insert/InsertColumnsExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/filler/impl/dml/InsertColumnsFiller.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/InsertColumnsSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/InsertSQLStatementContextTest.java
Labels: SQL parse, refactor

#4021 For #4005, fix none sharding strategy can't be config in spring-boot
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/boot/OrchestrationSpringBootConfiguration.java
  sharding-spring/sharding-jdbc-spring/sharding-jdbc-spring-boot-starter/src/main/java/org/apache/shardingsphere/shardingjdbc/spring/boot/SpringBootConfiguration.java
  sharding-spring/sharding-spring-boot-util/src/main/java/org/apache/shardingsphere/spring/boot/converter/StringToNoneShardingStrategyConfigurationConverter.java
  sharding-spring/sharding-spring-boot-util/src/test/java/org/apache/shardingsphere/spring/boot/converter/StringToNoneShardingStrategyConfigurationConverterTest.java
Labels: bug, spring

#4022 For #4005, fix none sharding strategy can't be config in spring-boot
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/src/main/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/boot/OrchestrationSpringBootConfiguration.java
  sharding-spring/sharding-jdbc-spring/sharding-jdbc-spring-boot-starter/src/main/java/org/apache/shardingsphere/shardingjdbc/spring/boot/SpringBootConfiguration.java
  sharding-spring/sharding-spring-boot-util/src/main/java/org/apache/shardingsphere/spring/boot/converter/StringToNoneShardingStrategyConfigurationConverter.java
  sharding-spring/sharding-spring-boot-util/src/test/java/org/apache/shardingsphere/spring/boot/converter/StringToNoneShardingStrategyConfigurationConverterTest.java
Labels: bug, spring

#4027 Add source distribution to shardingsphere-ui
  pom.xml
  shardingsphere-ui/pom.xml
  shardingsphere-ui/shardingsphere-ui-distribution/pom.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/pom.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/assembly/shardingsphere-ui-bin-distribution.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/LICENSE
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/NOTICE
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-axios
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-element-ui
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-jcl-over-slf4j.txt
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-jline.txt
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-js-yaml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-jul-to-slf4j.txt
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-lodash
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-logback.txt
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-normalize
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-slf4j.txt
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-vue
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-vue-i18n
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-vue-router
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/licenses/LICENSE-vuex
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/resources/application.properties
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/resources/bin/start.sh
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/resources/bin/stop.sh
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/resources/logback.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-src-distribution/pom.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-src-distribution/src/main/assembly/shardingsphere-ui-src-distribution.xml
Labels: UI, build

#4030 Add mvnw for shardingsphere-ui
  shardingsphere-ui/.mvn/jvm.config
  shardingsphere-ui/.mvn/wrapper/MavenWrapperDownloader.java
  shardingsphere-ui/.mvn/wrapper/maven-wrapper.properties
  shardingsphere-ui/DISCLAIMER
  shardingsphere-ui/LICENSE
  shardingsphere-ui/NOTICE
  shardingsphere-ui/mvnw
  shardingsphere-ui/mvnw.cmd
  shardingsphere-ui/pom.xml
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/release-docs/NOTICE
Labels: UI, build

#4029 Fix PostgreSQL wal read error
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLLogPositionManager.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWalReader.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/LogicalReplication.java
Labels: bug, scaling

#4034 fix link of build status
  shardingsphere-ui/README.md
  shardingsphere-ui/jenkinsfile_ui
Labels: enhancement

#4038 add test for `insert values`
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4040 fix 4034
  shardingsphere-ui/jenkinsfile_ui
Labels: UI, build

#4041 Update shardingsphere UI package and Add document description
  README.md
  README_ZH.md
  shardingsphere-ui/README.md
Labels: UI, enhancement

#4045 #4042, Use the two-stage parsing strategy
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/parser/SQLParserEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
Labels: SQL parse, enhancement

#4048 support function parsing
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/constant/AggregationType.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/common/expression/ExpressionExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/item/ExpressionProjectionSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, refactor

#4039 Fix Postgres execute error sql no response (#3129)
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutor.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/command/query/text/query/MySQLComQueryPacketExecutor.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutorTest.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/command/query/text/query/MySQLComQueryPacketExecutorTest.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/PostgreSQLErrPacketFactory.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/PostgreSQLCommandExecuteEngine.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/query/binary/bind/PostgreSQLComBindExecutor.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/query/text/PostgreSQLComQueryExecutor.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/PostgreSQLCommandExecuteEngineTest.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/query/binary/bind/PostgreSQLComBindExecutorTest.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-postgresql/src/test/java/org/apache/shardingsphere/shardingproxy/frontend/postgresql/command/query/text/PostgreSQLComQueryExecutorTest.java
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-spi/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/api/QueryCommandExecutor.java
Labels: enhancement, proxy

#4054 #4042, carry pr#4045 to 4.0.1
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/parser/SQLParserEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
Labels: SQL parse, enhancement

#4050 Fixes #4047, ConfigurationLogger can log none sharding strategy.
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/log/ConfigurationLogger.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/representer/processor/NoneShardingStrategyTupleProcessor.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/representer/processor/ShardingTupleProcessorFactory.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/swapper/ShardingStrategyConfigurationYamlSwapper.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/log/ConfigurationLoggerTest.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/yaml/swapper/ShardingStrategyConfigurationYamlSwapperTest.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationService.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/yaml/engine/YamlEngine.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/yaml/representer/DefaultYamlRepresenter.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/yaml/representer/processor/SkipUnsetTupleProcessor.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/yaml/representer/processor/TupleProcessor.java
  shardingsphere-underlying/shardingsphere-common/src/test/java/org/apache/shardingsphere/underlying/common/yaml/engine/fixture/FixtureTupleProcessor.java
  shardingsphere-underlying/shardingsphere-common/src/test/java/org/apache/shardingsphere/underlying/common/yaml/representer/DefaultYamlRepresenterTest.java
Labels: bug, sharding

#4055 add nullValueLiterals rule and add more tests
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/NumberValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4058 Use PositionAssert assert start index and stop index
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingUpdateStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/WhereExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/WhereSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/position/PositionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/PredicateAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/generic/AbstractExpectedSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/generic/ExpectedSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/expr/complex/ExpectedCommonExpression.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/expr/complex/ExpectedSubquery.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/expr/simple/ExpectedLiteralExpression.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/expr/simple/ExpectedParameterMarkerExpression.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/ExpectedAndPredicate.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/ExpectedColumn.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/ExpectedPredicate.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/ExpectedWhere.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/value/ExpectedPredicateBetweenRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/value/ExpectedPredicateCompareRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/value/ExpectedPredicateInRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
Labels: SQL parse, test

#3959 Get ciphertext column as a string
  encrypt-core/encrypt-core-merge/src/main/java/org/apache/shardingsphere/encrypt/merge/dql/EncryptMergedResult.java
Labels: bug, encrypt

#4061 add more functions parsing and unit tests
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, refactor

#4063 add unit test for duplicate sql and fix one bug.
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4064 Pull down instanceDataSourceMap to BaseDCLIT
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/sharding/execute/metadata/loader/ShardingTableMetaDataLoader.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/BaseIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/BatchIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/SingleIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dcl/BaseDCLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/ddl/BaseDDLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dml/AdditionalDMLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dml/BaseDMLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dml/BatchDMLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dml/GeneralDMLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dql/AdditionalDQLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/dql/BaseDQLIT.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/engine/util/IntegrateTestParameters.java
  sharding-integration-test/sharding-jdbc-test/src/test/java/org/apache/shardingsphere/dbtest/env/IntegrateTestEnvironment.java
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/env.properties
Labels: test

#4066 review rule name for insert
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
Labels: SQL parse, refactor

#4069 Add assertion for column predicates's left value
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLSegmentAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4070 Add assert column right value for predicate
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/ExpectedPredicate.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long_sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4072 Assert in right value for predicate
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/expression/ExpressionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/value/ExpectedPredicateInRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4073 Assert between predicate
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/predicate/value/ExpectedPredicateBetweenRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4074 Remove useless condition assert from xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4077 fix ui login Chinese text.
  shardingsphere-ui/shardingsphere-ui-frontend/src/lang/zh-CN.js
Labels: UI, enhancement

#4078 fix tcl setAutoCommit parse.
  sharding-sql-test/src/main/resources/sql/visitor/tcl/tcl.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/tcl.xml
Labels: SQL parse, refactor

#4079 Add more null assert
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/grant_user.xml
Labels: SQL parse, test

#4080 Add more assertion for group by
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/groupby/GroupByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/groupby/ExpectedGroupBy.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/orderby/ExpectedColumnOrderByItem.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/orderby/ExpectedExpressionOrderByItem.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/orderby/ExpectedIndexOrderByItem.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/orderby/ExpectedOrderByItem.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/root/ParserResult.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4081 Add OwnerAssert for generic
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/groupby/GroupByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/owner/OwnerAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/predicate/WhereAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
Labels: SQL parse, test

#4082 Add more assertions for order by
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/groupby/GroupByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/orderby/OrderByAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/orderby/OrderByItemAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/impl/orderby/ExpectedOrderBy.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/root/ParserResult.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_sub_query.xml
Labels: SQL parse, test

#4085 Add where assert for update and delete statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/AlterTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/DeleteStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/UpdateStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_group_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select_pagination_group_by_order_by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
Labels: SQL parse, test

#4088 Remove assertions for token which has already move to rewrite module
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/table/AlterTableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/alter/ExpectedColumnDefinition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/alter/ExpectedColumnPosition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/table/ExpectedAlterTable.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedAggregationDistinctToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedColumn.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedColumnDefinition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedColumnPosition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedIndexToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedInsertColumnToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedInsertSetToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedInsertValueToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedRemoveToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/token/ExpectedTableToken.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/impl/SelectStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/create.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/drop.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4089 Add insert column assert
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/AssignmentAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/InsertColumnsAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/InsertNamesAndValuesAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/InsertStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/insert/ExpectedInsertColumns.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/impl/InsertStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4090 add where segment parsing
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingUpdateStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/WhereExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/AndPredicate.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/WhereSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngineTest.java
Labels: SQL parse, refactor

#4091 Using multithread to load tablemetadata from default data source
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/sharding/execute/metadata/loader/ShardingTableMetaDataLoader.java
Labels: enhancement, jdbc

#4095 Add assert of insert set
  sharding-sql-test/src/main/resources/sql/supported/dml/insert.xml
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/InsertStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/impl/InsertStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
Labels: SQL parse, test

#4096 Add clause concept for assert
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/groupby/GroupByClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/InsertColumnsClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/InsertValuesClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/limit/LimitClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/orderby/OrderByClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/orderby/OrderByItemAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/where/WhereClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/AlterTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/DeleteStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/InsertStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/SelectStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/TCLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/UpdateStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/insert/ExpectedInsertColumnsClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/insert/ExpectedInsertValuesClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/limit/ExpectedLimitClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/limit/ExpectedPaginationValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/orderby/ExpectedOrderByClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/predicate/ExpectedWhereClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/AlterTableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/DeleteStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/InsertStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/SelectStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/UpdateStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/tcl/TCLStatementTestCase.java
Labels: SQL parse, test

#4097 add antlr visitor for update sql
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/ListValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, refactor

#4099 rename rule name to escapedTableReference
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
Labels: SQL parse, refactor

#4101 Finish accurate assert for alter table
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/definition/ColumnDefinitionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/definition/ColumnPositionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/table/AlterTableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/AlterTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/definition/ExpectedColumnDefinition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/definition/ExpectedColumnPosition.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/table/ExpectedAlterTable.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/AlterTableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter.xml
Labels: SQL parse, test

#4102 add tests for update sql
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, test

#4105 split ddl xml test cases to more files
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/drop-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/drop-table.xml
Labels: SQL parse, test

#4107 add visitor for delete sql
  sharding-sql-test/src/main/resources/sql/visitor/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/delete.xml
Labels: SQL parse, refactor

#4108 make VisitorParameterizedParsingTest plays well
  sharding-sql-test/src/main/resources/sql/visitor/dml/delete.xml
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, test

#4111 Finish accurate assert for create index
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/index/IndexAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/CreateIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/CreateIndexStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/create-index.xml
Labels: SQL parse, test

#4112 Finish accurate assert for drop index
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/impl/DropIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/DropIndexStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/drop-index.xml
Labels: SQL parse, test

#4113 Split SQLStatementAssert to DML, DDL and TCL
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/DDLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/AlterTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/CreateIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/CreateTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/DropIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/DMLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/impl/DeleteStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/impl/InsertStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/impl/SelectStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/impl/UpdateStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/tcl/TCLStatementAssert.java
Labels: SQL parse, test

#4114 add more judgement for predicate
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, refactor

#4106 add antlr visitor for MySQL TCLStatement.
  sharding-sql-test/src/main/resources/sql/visitor/tcl/tcl.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/tcl.xml
Labels: SQL parse, refactor

#4115 add more test for update
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, test

#4121 delete invalid import
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, bug
