Repository apache/shardingsphere, pull requests merged in 2020-02, with the labels that each got.

#4127 Finish accurate assert for savepoint
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/tcl/TCLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/tcl/impl/SavepointStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/tcl/SavepointStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/tcl/savepoint.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/savepoint.xml
Labels: SQL parse, test

#4128 Finish accurate assert for show table status
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/SQLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowTableStatusStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowTableStatusStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/show.xml
Labels: SQL parse, test

#4129 Finish accurate assert for desc
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/DescribeStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/DescribeStatementTestCase.java
Labels: SQL parse, test

#4132 add visitor for select
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-sql-test/src/main/resources/sql/visitor/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/select/ProjectionsExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/item/ProjectionsSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/BooleanValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/SelectSQLStatementContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dql/select.xml
Labels: SQL parse, refactor

#4133 modify inappropriate rule name
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
Labels: SQL parse, refactor

#4123 Add MySQL DDLStatement antlr visitor
  sharding-sql-test/src/main/resources/sql/supported/ddl/create.xml
  sharding-sql-test/src/main/resources/sql/visitor/dal/show.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/alter.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/create.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/drop.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/ddl/DropTableStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/create-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/create-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/create-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/drop-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/drop-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/truncate.xml
Labels: SQL parse, refactor

#4137 Finish accurate assert for show databases
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowDatabasesStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowDatabasesStatementTestCase.java
Labels: SQL parse, test

#4136 add tests for select sql
  sharding-sql-test/src/main/resources/sql/visitor/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/select/orderby/OrderByItemExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/order/item/ColumnOrderByItemSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/order/item/ExpressionOrderByItemSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/order/item/IndexOrderByItemSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/SelectSQLStatementContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dql/select.xml
Labels: SQL parse, test

#4139 Finish accurate assert for show tables
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowTablesStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowTablesStatementTestCase.java
Labels: SQL parse, test

#4140 Finish accurate assert for show columns
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowColumnsStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowColumnsStatementTestCase.java
Labels: SQL parse, test

#4141 fixes sql test xml file name, under cross -> hyphen.
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-login.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/create-login.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/create-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/create-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/deny-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/drop-login.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/drop-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/drop-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/grant-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/rename-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/set-default-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/set-password.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/set-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long-sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination-group-by-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-sub-query.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/alter-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/create-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/create-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/drop-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/rename-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/set-password.xml
Labels: SQL parse, test

#4109 persist SchemaNames for getChildren.
  pom.xml
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/java/org/apache/shardingsphere/orchestration/center/instance/NacosConfigInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.ConfigCenter
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/test/java/org/apache/shardingsphere/orchestration/center/instance/NacosConfigInstanceTest.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/ShardingOrchestrationFacade.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/listener/AuthenticationChangedListener.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/listener/PropertiesChangedListener.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/listener/SchemaChangedListener.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/node/ConfigurationNode.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationService.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/listener/PostShardingConfigCenterEventListener.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/config/node/ConfigurationNodeTest.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationServiceTest.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/listener/PostShardingConfigCenterEventListenerTest.java
  sharding-proxy/sharding-proxy-bootstrap/pom.xml
  sharding-proxy/sharding-proxy-bootstrap/src/main/resources/conf/server.yaml
Labels: new feature, orchestration

#4142 Finish accurate assert for show create table
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowCreateTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowCreateTableStatementTestCase.java
Labels: SQL parse, test

#4143 Finish accurate assert for show index
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/schema/SchemaAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowIndexStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
Labels: SQL parse, test

#4144 Finish accurate assert for show others
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dal/ShowStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
Labels: SQL parse, test

#4145 Remove useless <tables> tag from xml test cases
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/CommonStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/AlterTableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/CreateTableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/DeleteStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/InsertStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/SelectStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dml/UpdateStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/tcl/TCLStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/deny-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/grant-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/create-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination-group-by-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-sub-query.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/create-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, test

#4147 Merge owner with schema and table
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/column/ColumnAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/orderby/OrderByItemAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/owner/OwnerAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/projection/ProjectionAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/table/TableAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/column/ExpectedColumn.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/orderby/item/impl/ExpectedColumnOrderByItem.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/owner/ExpectedSchemaOwner.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/projection/impl/column/ExpectedColumnProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/projection/impl/shorthand/ExpectedShorthandProjection.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/table/ExpectedTable.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/segment/impl/table/ExpectedTableOwner.java
Labels: SQL parse, test

#4148 default branch related
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  README_ZH.md
Labels: document

#4151 recall travis
  .travis.yml
Labels: build

#4152 Add revoke statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dcl/RevokeStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/resources/META-INF/parsing-rule-definition/mysql/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/resources/META-INF/parsing-rule-definition/oracle/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/resources/META-INF/parsing-rule-definition/postgresql/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/resources/META-INF/parsing-rule-definition/sqlserver/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dcl/DCLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dcl/impl/RevokeStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/dcl/RevokeStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke.xml
Labels: SQL parse, refactor

#4153 Add truncate statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/ddl/TruncateStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/resources/META-INF/parsing-rule-definition/mysql/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/resources/META-INF/parsing-rule-definition/oracle/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/resources/META-INF/parsing-rule-definition/postgresql/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/resources/META-INF/parsing-rule-definition/sqlserver/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/DDLStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/TruncateStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/statement/ddl/TruncateStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/truncate.xml
Labels: SQL parse, refactor

#4138 add drop_role and set_default_role antlr visitor for MySQL DCLStatement
  sharding-sql-test/src/main/resources/sql/visitor/dcl/drop-role.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/set-default-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/MySQLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/resources/META-INF/parsing-rule-definition/mysql/sql-statement-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/drop-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/set-default-role.xml
Labels: SQL parse, refactor

#4160 Abstract DCL statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dcl/DCLStatement.java
Labels: SQL parse, refactor

#4162 Fixes #4161
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/visitor/VisitorSQLCasesRegistry.java
  sharding-sql-test/src/main/resources/sql/visitor/dal/show.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/alter_user.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/create_role.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/create_user.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/drop-role.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/drop_user.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/rename_user.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/set-role.xml
  sharding-sql-test/src/main/resources/sql/visitor/dcl/set_password.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/alter.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/create.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/drop.xml
  sharding-sql-test/src/main/resources/sql/visitor/ddl/truncate.xml
  sharding-sql-test/src/main/resources/sql/visitor/dml/delete.xml
  sharding-sql-test/src/main/resources/sql/visitor/dml/insert.xml
  sharding-sql-test/src/main/resources/sql/visitor/dml/update.xml
  sharding-sql-test/src/main/resources/sql/visitor/dql/select.xml
  sharding-sql-test/src/main/resources/sql/visitor/tcl/tcl.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, test

#4167 MaxPermSize is not support when the jdk version not less than jdk8
  .mvn/jvm.config
  pom.xml
  shardingsphere-ui/.mvn/jvm.config
Labels: build

#4168 Fixes #4159
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dcl/dcl-integrate-test-cases.xml
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/SQLCasesLoader.java
  sharding-sql-test/src/main/resources/sql/supported/dal/set.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/alter_role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/alter_user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create_login.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create_role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create_user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/grant_user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/revoke_user.xml
  sharding-sql-test/src/main/resources/sql/supported/ddl/alter.xml
  sharding-sql-test/src/main/resources/sql/supported/tcl/tcl.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/set.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/create-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/create-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/grant.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/revoke.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-table.xml
Labels: SQL parse, test

#4170 Fixes #4169
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/SQLCasesLoader.java
  sharding-sql-test/src/test/java/org/apache/shardingsphere/test/sql/SQLCasesLoaderTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCasesRegistry.java
Labels: SQL parse, test

#4171 Resume some commented test cases
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dml/dml-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/supported/ddl/alter.xml
  sharding-sql-test/src/main/resources/sql/supported/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
Labels: SQL parse, test

#4163 split mysqlVisitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/core/rule/fixture/TestParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-spi/src/main/java/org/apache/shardingsphere/sql/parser/spi/SQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/SQL92ParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerParserEntry.java
Labels: SQL parse, refactor

#4172 remove duplicate test case for alter_current_user_with_password
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dcl/alter-role.xml
Labels: SQL parse, test

#4174 handle visitPredicate()
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
Labels: SQL parse, refactor

#4181 modify createInSegment() for select
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
Labels: SQL parse, refactor

#4183 Fix can't find job error
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/web/HttpServerHandler.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/web/HttpServerHandlerTest.java
Labels: bug, scaling

#4189 Fixes #4178
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/SQLCase.java
  sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/SQLCasesLoader.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
Labels: SQL parse, test

#4186 modify createInSegment() for select
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
Labels: SQL parse, refactor

#4194 Rename ListValue to CollectionValue
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/CollectionValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
Labels: SQL parse, refactor

#4195 Remove SQLVisitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/core/rule/fixture/TestParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-spi/src/main/java/org/apache/shardingsphere/sql/parser/api/SQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-spi/src/main/java/org/apache/shardingsphere/sql/parser/spi/SQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/SQL92ParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/SQL92Visitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerVisitor.java
Labels: SQL parse, refactor

#4197 Travis config
  .travis.yml
Labels: build

#4198 Remove empty test cases for VisitorParameterizedParsingTest
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, test

#4200 Refactor SQL visitor package
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/SQLVisitorEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, refactor

#4190 Add mysql grant visitor for DCLStatement
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/grant.xml
Labels: SQL parse, refactor

#4202 Keep same order with MySQLVisitor's methods and BaseRule.g4 file
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/BooleanValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/LiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/NumberValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/TCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, refactor

#4201 Fix bad rewrite Result for or query sql when using encryptRule
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptPredicateColumnTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptPredicateRightValueTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/pojo/EncryptPredicateEqualRightValueToken.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/pojo/EncryptPredicateInRightValueToken.java
  sharding-jdbc/sharding-jdbc-core/src/test/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/EncryptPreparedStatementTest.java
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/src/main/java/org/apache/shardingsphere/underlying/rewrite/sql/token/pojo/generic/SubstitutableColumnNameToken.java
Labels: bug, encrypt

#4205 Add class filter Constructor to restrict the illegal class from YAML
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/engine/ClassFilterConstructor.java
  sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/yaml/engine/YamlEngine.java
  sharding-core/sharding-core-common/src/test/java/org/apache/shardingsphere/core/yaml/engine/YamlEngineTest.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/listener/SchemaChangedListener.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationService.java
  sharding-ui/sharding-ui-backend/src/main/java/org/apache/shardingsphere/ui/util/ConfigurationYamlConverter.java
Labels: enhancement

#4204 #4182, ignore showLike context in show columns
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DALStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
Labels: SQL parse, bug

#4206 Add PredicateBuilder to deal with predicate from MySQL dialect to generic parse module
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/predicate/PredicateBuilder.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
Labels: SQL parse, refactor

#4207 adjust tables list and add judgement for expr.
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
Labels: SQL parse, refactor

#4208 finish adding tests for select
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
Labels: SQL parse, refactor

#4210 enhancement for `createProjection()`
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-expression.xml
Labels: SQL parse, refactor

#4211 add more sql parser results
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/long-sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-sub-query.xml
Labels: SQL parse, test

#4213 Add ValueASTNode
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/ValueASTNode.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/BooleanValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/CollectionValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/LiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/NumberValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/ParameterMarkerValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
Labels: SQL parse, refactor

#4216 Optimize MySQL Antlr4 rule names
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
Labels: SQL parse, refactor

#4214 grant visitor optimize
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDCLVisitor.java
Labels: SQL parse, refactor

#4215 Add IdentifierValue
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/impl/IdentifierValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
Labels: SQL parse, refactor

#4217 #4182, ignore showLike context in show columns
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DALStatement.g4
Labels: SQL parse, bug

#4218 Abstract level for literal value
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/collection/CollectionValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/identifier/IdentifierValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/literal/LiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/literal/impl/BooleanLiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/literal/impl/NumberLiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/literal/impl/StringLiteralValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/parametermarker/ParameterMarkerValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
Labels: SQL parse, refactor

#4219 make file name consistent
  sharding-sql-test/src/main/resources/sql/supported/dcl/alter-login.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/alter-role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/alter-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create-login.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create-role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/create-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/deny-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/drop-login.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/drop-role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/drop-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/grant-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/rename-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/revoke-user.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/set-default-role.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/set-password.xml
  sharding-sql-test/src/main/resources/sql/supported/dcl/set-role.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-aggregate.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-comment.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-distinct.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-escape.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-expression.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-group-by.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-or.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-order-by.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-pagination-group-by-order-by.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-pagination.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-relation.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-sub-query.xml
Labels: SQL parse, test

#4222 support using limit pagination
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination.xml
Labels: SQL parse, refactor

#4229 Move process text and quote character from segment details to IdentifierValue
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-core/sharding-core-merge/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/keygen/GeneratedKeyTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingInsertStatementValidatorTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingUpdateStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/common/column/ColumnExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/common/index/IndexExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/common/schema/SchemaExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/common/table/TableExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/select/item/impl/ShorthandProjectionExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/ddl/index/IndexSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/ColumnSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/item/ColumnProjectionSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/generic/SchemaSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/generic/TableSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/value/identifier/IdentifierValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/ColumnSegmentTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/segment/generic/TableSegmentTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/generic/AbstractSQLStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/RowNumberPaginationContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/TopPaginationContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionsContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/InsertSQLStatementContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/SelectSQLStatementContextTest.java
Labels: SQL parse, refactor

#4233 Revise #4228
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dal/FromTableSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dal/VariableExpressionSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/SetVariableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/SQLParserTestCases.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/segment/impl/set/ExpectedVariableExpression.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/statement/dal/SetVariableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/statement/dal/ShowColumnsStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/statement/dal/ShowCreateTableStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/show.xml
Labels: SQL parse, refactor

#4235 Revise DAL visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dal/FromTableSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
Labels: SQL parse, refactor

#4241 refactor table token and index token, use IdentifierValue to instead of name and quote character
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/IndexTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/impl/IndexToken.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/impl/TableToken.java
Labels: SQL parse, refactor

#4246 Code style for parser
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngine.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-core/sharding-core-merge/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/keygen/GeneratedKeyTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/insert/InsertColumnsExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/InsertColumnsSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/InsertSQLStatementContextTest.java
Labels: SQL parse, refactor

#4247 fix typo for get stop index
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDMLVisitor.java
Labels: SQL parse, refactor

#4249 fix bug for show like
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/dal/MySQLShowLikeExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dal/ShowLikeSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDALVisitor.java
Labels: SQL parse, refactor

#4253 Keep same order with MySQLDCLVisitor and g4 file
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDCLVisitor.java
Labels: SQL parse, refactor

#4254 Remove TableAvailable
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/keygen/GeneratedKey.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingInsertStatementValidator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/column/ColumnSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/generic/TableAvailable.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/generic/TableSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/generic/AbstractSQLStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionsContextEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContext.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionsContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/table/TableAssert.java
Labels: SQL parse, refactor

#4261 Remove findSQLSegments for TableSegment
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingUpdateStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/DescribeStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowColumnsStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowCreateTableStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowIndexStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/ddl/AlterTableStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/ddl/CreateTableStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContext.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/projection/engine/ProjectionsContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/SQLStatementContextFactoryTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/InsertSQLStatementContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowIndexStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/AlterTableStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/ddl/impl/CreateTableStatementAssert.java
Labels: SQL parse, refactor

#4259 Add code conduct
  docs/community/content/contribute/code-conduct.cn.md
  docs/community/content/contribute/code-conduct.en.md
Labels: document

#4267 delete homepage dir
  docs/homepage/check.html
  docs/homepage/css/index.css
  docs/homepage/css/index_m.css
  docs/homepage/images/background_bottom.png
  docs/homepage/images/background_bottom@2.png
  docs/homepage/images/background_center.png
  docs/homepage/images/background_corner.png
  docs/homepage/images/background_title.png
  docs/homepage/images/background_title@2.png
  docs/homepage/images/bg.png
  docs/homepage/images/db_orchestration.png
  docs/homepage/images/db_orchestration@2.png
  docs/homepage/images/db_sharding.png
  docs/homepage/images/db_sharding@2.png
  docs/homepage/images/db_transaction.png
  docs/homepage/images/db_transaction@2.png
  docs/homepage/images/favicon.png
  docs/homepage/images/icon_gitee.png
  docs/homepage/images/icon_gitee@2.png
  docs/homepage/images/icon_github.png
  docs/homepage/images/icon_github@2.png
  docs/homepage/images/icon_slack.png
  docs/homepage/images/icon_twitter.png
  docs/homepage/images/icon_twitter@2.png
  docs/homepage/images/icon_wechat.png
  docs/homepage/images/icon_zhihu.png
  docs/homepage/images/icon_zhihu@2.png
  docs/homepage/images/logo_bottom.png
  docs/homepage/images/logo_bottom@2.png
  docs/homepage/images/logo_top.png
  docs/homepage/images/logo_top@2.png
  docs/homepage/images/sharding_jdbc.png
  docs/homepage/images/sharding_jdbc@2.png
  docs/homepage/images/sharding_proxy.png
  docs/homepage/images/sharding_proxy@2.png
  docs/homepage/images/sharding_sidecar.png
  docs/homepage/images/sharding_sidecar@2.png
  docs/homepage/index.html
  docs/homepage/index_m.html
  docs/homepage/index_m_zh.html
  docs/homepage/index_zh.html
  docs/homepage/schema/shardingsphere/encrypt/encrypt.xsd
  docs/homepage/schema/shardingsphere/masterslave/master-slave.xsd
  docs/homepage/schema/shardingsphere/orchestration/orchestration.xsd
  docs/homepage/schema/shardingsphere/sharding/sharding.xsd
Labels: document

#4266 Fixes #3964, fix hint database sharding only can't work well.
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/standard/ShardingStandardRoutingEngine.java
Labels: bug, sharding

#4272 PostgreSQL visitor init version
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, enhancement

#4273 Move MySQLVisitor and PostgreSQLVisitor to visitor package
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLTCLVisitor.java
Labels: SQL parse, refactor

#4275 Enhance usage of DbMetadataUtil in sharding scaling
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/util/DbMetaDataUtil.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
Labels: enhancement, scaling

#4279 Fixes #4277
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DDLStatement.g4
Labels: SQL parse, refactor

#4260 refactor orchestration config for apollo & nacos.
  pom.xml
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-api/src/main/java/org/apache/shardingsphere/orchestration/center/util/ConfigKeyUtils.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-api/src/test/java/org/apache/shardingsphere/orchestration/center/util/ConfigKeyUtilsTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ApolloInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/node/ConfigTreeNode.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloConfigWrapper.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloOpenApiWrapper.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/java/org/apache/shardingsphere/orchestration/center/instance/ApolloInstanceTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/java/org/apache/shardingsphere/orchestration/center/instance/node/ConfigTreeNodeTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloConfigWrapperTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/resources/logback-test.xml
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/resources/mockdata-orchestration.properties
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/pom.xml
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/java/org/apache/shardingsphere/orchestration/center/instance/NacosConfigInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/test/java/org/apache/shardingsphere/orchestration/center/instance/NacosConfigInstanceTest.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/listener/SchemaChangedListener.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/node/ConfigurationNode.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationService.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/config/node/ConfigurationNodeTest.java
Labels: enhancement, orchestration

#4282 support group by for mysql
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination-group-by-order-by.xml
Labels: SQL parse, refactor

#4283 Finish LIMIT for postgreSQL for visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination.xml
Labels: SQL parse, enhancement

#4285 Process LIMIT ALL for PostgreSQL
  sharding-sql-test/src/main/resources/sql/supported/dql/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination.xml
Labels: SQL parse, enhancement

#4288 Support Group By for PostgreSQL for visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
Labels: SQL parse, enhancement

#4262 Add sharding scaling API document
  shardingsphere-ui/shardingsphere-ui-backend/shardingsphere-ui-backend-API.md
Labels: UI, document

#4290 remove class member from `where segment`
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingUpdateStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/WhereExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/WhereSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngineTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/where/WhereClauseAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/segment/impl/predicate/ExpectedWhereClause.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination-group-by-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination-group-by-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
Labels: SQL parse, enhancement

#4292 Support create table for PostgreSQL
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
Labels: SQL parse, enhancement

#4293 Support SET for PostgreSQL
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDALVisitor.java
Labels: SQL parse, enhancement

#4294 Unify dataTypeName_ to dataTypeName for all dialect of databases
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DDLStatement.g4
Labels: SQL parse, refactor

#4299 Support RESET for PostgreSQL
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/reset.xml
Labels: SQL parse, enhancement

#4296 Fixes #4037 in 5.x for #4193 in 4.0.1
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/condition/EncryptConditionEngine.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptPredicateRightValueTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/test/resources/encrypt/select_for_query_with_cipher.xml
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGeneratorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/constant/Bracket.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/PredicateExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateBracketValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateInRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateLeftBracketValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateRightBracketValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
Labels: SQL parse, bug, encrypt

#4300 add release note for 4.0.1
  RELEASE-NOTES.md
Labels: document, release

#4301 code style for #4296
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/condition/EncryptConditionEngine.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptPredicateRightValueTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/test/resources/encrypt/select_for_query_with_cipher.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/constant/Bracket.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/PredicateExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateBracketValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateInRightValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateLeftBracketValue.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/dml/predicate/value/PredicateRightBracketValue.java
Labels: refactor

#4295 #4278 Add log details for metadata load when app startup
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/sharding/execute/metadata/loader/ShardingTableMetaDataLoader.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/MultipleDataSourcesRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/SingleDataSourceRuntimeContext.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/log/MetaDataLogger.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/metadata/table/init/loader/impl/DefaultTableMetaDataLoader.java
  shardingsphere-underlying/shardingsphere-common/src/test/java/org/apache/shardingsphere/underlying/common/log/MetaDataLoggerTest.java
Labels: encrypt, enhancement, sharding

#4302 Revise log content for #4295
  sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/sharding/execute/metadata/loader/ShardingTableMetaDataLoader.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/MultipleDataSourcesRuntimeContext.java
  sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/context/SingleDataSourceRuntimeContext.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/log/MetaDataLogger.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/metadata/table/init/loader/impl/DefaultTableMetaDataLoader.java
  shardingsphere-underlying/shardingsphere-common/src/test/java/org/apache/shardingsphere/underlying/common/log/MetaDataLoggerTest.java
Labels: refactor

#4303 solve parser conflicts and delete duplicated sql cases.
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/set.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/set.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/alter-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/create-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/create-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/drop-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/drop-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/grant.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/rename-user.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/revoke.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/set-default-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/set-password.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dcl/set-role.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/alter-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/create-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/create-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/drop-index.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/drop-table.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/ddl/truncate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/delete.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/long-sql.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-aggregate.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-expression.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-group-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-join.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination-group-by-order-by.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-pagination.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select-sub-query.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/begin-transaction.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/commit.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/rollback.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/savepoint.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/set-auto-commit.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/tcl/set-transaction.xml
Labels: refactor, test

#4304 Support ALTER TABLE for PostgreSQL
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
Labels: SQL parse, enhancement

#4307 Fix test cases for PostgreSQL
  sharding-sql-test/src/main/resources/sql/supported/dml/update.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/set.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/visitor/dal/reset.xml
Labels: SQL parse, enhancement

#4305 remove useless files in examples
  examples/.github/GIT_TEMPLATE/.git_commit_template.txt
  examples/.github/ISSUE_TEMPLATE/bug-report.md
  examples/.github/ISSUE_TEMPLATE/feature-request.md
  examples/.github/ISSUE_TEMPLATE/question.md
  examples/.github/PULL_REQUEST_TEMPLATE
  examples/.gitignore
  examples/LICENSE
  examples/src/resources/copyright.txt
  examples/src/resources/sharding_checks.xml
Labels: example

#4313 Init version for Oracle with visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/OracleVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, enhancement

#4314 Support DML without pagination for Oracle visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/OracleVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
Labels: SQL parse, enhancement

#4310 Update performance doc
  docs/document/content/features/test-engine/performance-test.cn.md
  docs/document/content/features/test-engine/performance-test.en.md
Labels: document

#4312 support parsing multiple parameter-marker from one expr
  sharding-sql-test/src/main/resources/sql/supported/dml/update.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/update.xml
Labels: SQL parse, refactor

#4316 Support DDL for Oracle visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, enhancement

#4319 Init version of SQLServer visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerParserEntry.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/SQLServerVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, enhancement

#4321 Support DML for SQLServer with visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
Labels: SQL parse, enhancement

#4311 For #4286, Refactor DbMetaDataUtil
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/MetaDataLoader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/MetaDataManager.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/column/ColumnMetaData.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/column/ColumnMetaDataLoader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/table/TableMetaData.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/table/TableMetaDataLoader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTaskGroup.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/util/DbMetaDataUtil.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilderTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/metadata/MetaDataManagerTest.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
Labels: enhancement, scaling

#4323 Support TCL and DCL for SQLServer with visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/util/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/VisitorSQLParserTestCasesRegistryFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/tcl/set-auto-commit.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/tcl/set-transaction.xml
Labels: SQL parse, enhancement

#4325 User sets interactive add for the first time
  shardingsphere-ui/shardingsphere-ui-backend/shardingsphere-ui-backend-API.md
  shardingsphere-ui/shardingsphere-ui-frontend/src/lang/en-US.js
  shardingsphere-ui/shardingsphere-ui-frontend/src/views/data-scaling/api.js
  shardingsphere-ui/shardingsphere-ui-frontend/src/views/data-scaling/module/index.vue
Labels: UI

#4326 Support DDL for SQLServer with visitor
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/ddl/column/DropColumnDefinitionExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/filler/impl/ddl/column/DropColumnDefinitionFiller.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/segment/ddl/column/alter/DropColumnDefinitionSegment.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/tcl/set-auto-commit.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/tcl/set-transaction.xml
Labels: SQL parse, enhancement

#4320 refactor Orchestration properties with TypedProperties class.
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ApolloInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ApolloProperties.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ApolloPropertiesEnum.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloConfigWrapper.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/main/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloOpenApiWrapper.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/java/org/apache/shardingsphere/orchestration/center/instance/ApolloInstanceTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-apollo/src/test/java/org/apache/shardingsphere/orchestration/center/instance/wrapper/ApolloConfigWrapperTest.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/java/org/apache/shardingsphere/orchestration/center/instance/NacosConfigInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/java/org/apache/shardingsphere/orchestration/center/instance/NacosProperties.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-nacos/src/main/java/org/apache/shardingsphere/orchestration/center/instance/NacosPropertiesEnum.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/main/java/org/apache/shardingsphere/orchestration/center/instance/CuratorZookeeperInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ZookeeperProperties.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/main/java/org/apache/shardingsphere/orchestration/center/instance/ZookeeperPropertiesEnum.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/ShardingOrchestrationFacade.java
  sharding-proxy/sharding-proxy-bootstrap/src/main/resources/conf/server.yaml
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/constant/properties/OrchestrationProperties.java
  shardingsphere-underlying/shardingsphere-common/src/main/java/org/apache/shardingsphere/underlying/common/constant/properties/OrchestrationPropertiesEnum.java
Labels: orchestration, refactor

#4327 Fix the first login assignment problem
  shardingsphere-ui/shardingsphere-ui-frontend/src/views/data-scaling/module/index.vue
Labels: UI

#4331 Unify AST rule name
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DALStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/antlr4/imports/sql92/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DCLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/antlr4/imports/sqlserver/DDLStatement.g4
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDDLVisitor.java
Labels: SQL parse, refactor

#4343 Decouple SQLStatement.findSegment() and InsertStatement
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/impl/EncryptAssignmentParameterRewriter.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/impl/EncryptInsertOnDuplicateKeyUpdateValueParameterRewriter.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptInsertOnUpdateTokenGenerator.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingInsertStatementValidator.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/impl/ShardingInsertStatementValidatorTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/extractor/impl/dml/insert/OnDuplicateKeyColumnsExtractor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/filler/impl/dml/OnDuplicateKeyColumnsFiller.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/resources/META-INF/parsing-rule-definition/filler-rule-definition.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/resources/META-INF/services/org.apache.shardingsphere.sql.parser.spi.SQLParserEntry
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/segment/insert/OnDuplicateKeyColumnsAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dml/impl/InsertStatementAssert.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/segment/impl/insert/ExpectedOnDuplicateKeyColumns.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/domain/statement/dml/InsertStatementTestCase.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-test/src/main/java/org/apache/shardingsphere/underlying/rewrite/parameterized/engine/AbstractSQLRewriterParameterizedTest.java
Labels: SQL parse, enhancement

#4340 For #3878, Refactor DataSourceFactory.
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/controller/task/SyncTaskController.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/datasource/DataSourceFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/datasource/DataSourceManager.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/engine/DefaultSyncTaskExecuteEngine.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/engine/SyncTaskExecuteEngine.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/AbstractSyncExecutor.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/SyncExecutor.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/SyncExecutorGroup.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/reader/AbstractJdbcReader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/reader/Reader.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/reader/ReaderFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/record/Column.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/Writer.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/WriterFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/metadata/table/TableMetaData.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/DefaultSyncTaskFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/SyncTaskFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTask.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTaskGroup.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/synctask/realtime/RealtimeDataSyncTask.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/util/DataSourceFactory.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/web/HttpServerHandler.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/datasource/DataSourceManagerTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/execute/engine/DefaultSyncTaskExecuteEngineTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/fixture/FixtureH2JdbcReader.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/fixture/FixtureNopWriter.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTaskGroupTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/synctask/history/HistoryDataSyncTaskTest.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLBinlogReader.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLJdbcReader.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLJdbcReader.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWalReader.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/WalEventConverter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/decode/TestDecodingPlugin.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/event/DeleteRowEvent.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/event/UpdateRowEvent.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/event/WriteRowEvent.java
  sharding-scaling/sharding-scaling-postgresql/src/test/java/org/apache/shardingsphere/shardingscaling/postgresql/wal/decode/TestDecodingPluginTest.java
Labels: refactor, scaling

#4346 decouple find InsertColumnsSegment with insert statement
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/AssistQueryAndPlainInsertColumnsTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptForUseDefaultInsertColumnsTokenGenerator.java
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/InsertCipherNameTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/impl/RemoveShadowColumnTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/PreparedJudgementEngineTest.java
  shadow-core/shadow-core-rewrite/src/test/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngineTest.java
  sharding-core/sharding-core-merge/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/keygen/GeneratedKeyForUseDefaultInsertColumnsTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/keygen/GeneratedKeyInsertColumnTokenGenerator.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/keygen/GeneratedKeyTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/filler/impl/dml/InsertColumnsFiller.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/dml/InsertStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/InsertSQLStatementContextTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4350 decouple find WhereSegment with select statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/test/java/org/apache/shardingsphere/sql/parser/relation/segment/select/pagination/engine/PaginationContextEngineTest.java
Labels: SQL parse, enhancement

#4354 decouple find SchemaSegment with show index statement
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowIndexStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/asserts/statement/dal/impl/ShowIndexStatementAssert.java
Labels: SQL parse, enhancement

#4349 For#4286, Use source column metadata to avoid PG metadata problem
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriterTest.java
  sharding-scaling/sharding-scaling-core/src/test/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilderTest.java
  sharding-scaling/sharding-scaling-mysql/src/main/java/org/apache/shardingsphere/shardingscaling/mysql/MySQLWriter.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
Labels: bug, scaling

#4337 Refactor sharding parser with Antlr visitor parser
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/judgement/impl/SimpleJudgementEngine.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/DatabaseTest.java
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/standard/AbstractSQLRouteTest.java
  sharding-proxy/sharding-proxy-backend/src/main/java/org/apache/shardingsphere/shardingproxy/backend/text/TextProtocolBackendHandlerFactory.java
  sharding-proxy/sharding-proxy-backend/src/test/java/org/apache/shardingsphere/shardingproxy/backend/TextProtocolBackendHandlerFactoryTest.java
  sharding-sql-test/src/main/resources/sql/supported/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/SQLParseKernel.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/core/SQLParseKernelTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/MySQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/OracleVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/PostgreSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDDLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/SQL92Visitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/SQLServerVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerTCLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/VisitorParameterizedParsingTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dal/show.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-expression.xml
Labels: SQL parse, refactor

#4353 #4255, use CAPI in stmt mode return incorrect response
  sharding-proxy/sharding-proxy-frontend/sharding-proxy-frontend-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutor.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/constant/MySQLColumnType.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/main/java/org/apache/shardingsphere/shardingproxy/transport/mysql/packet/command/query/MySQLColumnDefinition41Packet.java
  sharding-proxy/sharding-proxy-transport/sharding-proxy-transport-mysql/src/test/java/org/apache/shardingsphere/shardingproxy/transport/mysql/constant/MySQLColumnTypeTest.java
Labels: bug, proxy

#4360 decouple find InsertValuesSegment with insert statement
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/impl/EncryptInsertValuesTokenGenerator.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/token/generator/impl/ShadowInsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingInsertValuesTokenGenerator.java
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/keygen/GeneratedKeyInsertValuesTokenGenerator.java
Labels: SQL parse, enhancement

#4364 decouple find IndexSegment with SQLStatement
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/IndexTokenGenerator.java
Labels: SQL parse, enhancement

#4366 For#4286, handle PG primary conflict insert problem.
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/record/RecordUtil.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractJdbcWriter.java
  sharding-scaling/sharding-scaling-core/src/main/java/org/apache/shardingsphere/shardingscaling/core/execute/executor/writer/AbstractSqlBuilder.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLSqlBuilder.java
  sharding-scaling/sharding-scaling-postgresql/src/main/java/org/apache/shardingsphere/shardingscaling/postgresql/PostgreSQLWriter.java
Labels: enhancement, scaling

#4370 decouple find RemoveAvailable with SQLStatement
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowColumnsStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowTableStatusStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/dal/dialect/mysql/ShowTablesStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/core/filler/dal/FromSchemaFiller.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDALVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/resources/META-INF/parsing-rule-definition/mysql/filler-rule-definition.xml
  shardingsphere-underlying/shardingsphere-rewrite/shardingsphere-rewrite-engine/src/main/java/org/apache/shardingsphere/underlying/rewrite/sql/token/generator/generic/RemoveTokenGenerator.java
Labels: SQL parse, enhancement

#4372 review sql cases
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
Labels: SQL parse, test

#4373 set subquery for projection
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4369 For#4276 orchestration support empty table strategy
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationService.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/config/service/ConfigurationServiceTest.java
  shardingsphere-ui/shardingsphere-ui-backend/src/main/java/org/apache/shardingsphere/ui/servcie/impl/ShardingSchemaServiceImpl.java
  shardingsphere-ui/shardingsphere-ui-backend/src/main/java/org/apache/shardingsphere/ui/util/ConfigurationYamlConverter.java
Labels: bug, orchestration

#4376 comment subquery case down
  sharding-core/sharding-core-route/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/standard/SubqueryRouteTest.java
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-sub-query.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-sub-query.xml
Labels: SQL parse, test

#4378 update team doc
  docs/community/content/team/_index.cn.md
  docs/community/content/team/_index.en.md
Labels: document

#4381 modify parsing result for insert sql
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/engine/SQLParserParameterizedTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/insert.xml
Labels: SQL parse, test

#4375 For#4234, Fix Scaling service configure error in UI.
  shardingsphere-ui/shardingsphere-ui-backend/shardingsphere-ui-backend-API.md
  shardingsphere-ui/shardingsphere-ui-backend/src/main/java/org/apache/shardingsphere/ui/common/domain/ForwardServiceConfig.java
  shardingsphere-ui/shardingsphere-ui-backend/src/main/java/org/apache/shardingsphere/ui/servcie/forward/impl/ShardingScalingForwardServiceImpl.java
  shardingsphere-ui/shardingsphere-ui-frontend/src/views/data-scaling/module/index.vue
Labels: bug, scaling, ui

#4384 add table segment for projection and where
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4385 modify chinese description of actual-data-nodes configuration
  docs/document/content/manual/sharding-jdbc/configuration/config-java.cn.md
  docs/document/content/manual/sharding-jdbc/configuration/config-spring-boot.cn.md
  docs/document/content/manual/sharding-jdbc/configuration/config-spring-namespace.cn.md
  docs/document/content/manual/sharding-jdbc/configuration/config-yaml.cn.md
Labels: document

#4386 update Documents Contributor Guide
  docs/community/content/contribute/document-contributor.cn.md
  docs/community/content/contribute/document-contributor.en.md
Labels: document

#4388 Add visitor with table factor
  sharding-core/sharding-core-rewrite/src/test/resources/sharding/select.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4389 add start.bat for shardingsphere-ui in windows
  shardingsphere-ui/shardingsphere-ui-distribution/shardingsphere-ui-bin-distribution/src/main/resources/bin/start.bat
Labels: ui

#4391 Support lock clause for visitor
  sharding-integration-test/sharding-jdbc-test/src/test/resources/integrate/cases/dql/dql-integrate-test-cases.xml
  sharding-sql-test/src/main/resources/sql/supported/dql/select-or.xml
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/long-sql.xml
Labels: SQL parse, enhancement

#4392 filter alias owner for table segment
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4395 Modify table token generator
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: bug, refactor

#4399 sharding-scaling-ui fix details
  shardingsphere-ui/shardingsphere-ui-frontend/src/lang/en-US.js
  shardingsphere-ui/shardingsphere-ui-frontend/src/utils/api.js
  shardingsphere-ui/shardingsphere-ui-frontend/src/views/data-scaling/module/index.vue
Labels: enhancement, scaling, ui

#4401 #4383, archive releases
  docs/community/content/contribute/release.cn.md
  docs/community/content/contribute/release.en.md
  docs/document/content/downloads/_index.cn.md
  docs/document/content/downloads/_index.en.md
Labels: document

#4404 Modify docs build script
  docs/build.sh
Labels: document

#4400 add unit tests for class OrchestrationConfigurationYamlSwapper
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-api/src/test/java/org/apache/shardingsphere/orchestration/center/yaml/swapper/OrchestrationConfigurationYamlSwapperTest.java
Labels: orchestration, test

#4405 Visit table segment from join table clause
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, enhancement

#4408 Switch SQL parser engine to new one
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/SQLParseKernel.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/resources/sql/dml/select-join.xml
Labels: SQL parse, refactor

#4413 Use rule name instead of parse tree class for ParseTreeVisitorFactory
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/SQLParserEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/constant/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/core/constant/RuleNameTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/core/constant/SelectContext.java
Labels: SQL parse, refactor

#4414 Add SQL statement type into rule name
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/constant/RuleName.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/visitor/ParseTreeVisitorFactory.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/SQLStatementType.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/MySQLParserConfiguration.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/OracleParserConfiguration.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/PostgreSQLParserConfiguration.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-spi/src/main/java/org/apache/shardingsphere/sql/parser/spi/SQLParserConfiguration.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/SQL92ParserConfiguration.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/SQLServerParserConfiguration.java
Labels: SQL parse, refactor

#4415 Move table segment handling from parser to token generator
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/OracleDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-postgresql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/PostgreSQLDMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/segment/table/TablesContext.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sql92/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQL92DMLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/SQLServerDMLVisitor.java
Labels: SQL parse, refactor

#4417 modify TableTokenGenerator
  sharding-core/sharding-core-rewrite/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/visitor/impl/MySQLDMLVisitor.java
Labels: SQL parse, enhancement

#4420 Add delete branch contribution guide to doc
  docs/community/content/contribute/contributor.cn.md
  docs/community/content/contribute/contributor.en.md
Labels: document

#4425 remove leaf keygen&distributedlock
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-api/src/main/java/org/apache/shardingsphere/orchestration/center/api/DistributedLockManagement.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/main/java/org/apache/shardingsphere/orchestration/center/instance/CuratorZookeeperInstance.java
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/main/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.DistributedLockManagement
  sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator/src/test/java/org/apache/shardingsphere/orchestration/center/instance/CuratorZookeeperInstanceTest.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/constant/OrchestrationType.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/keygen/DistributedLockManagementServiceLoader.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/keygen/LeafSegmentKeyGenerator.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/keygen/LeafSnowflakeKeyGenerator.java
  sharding-orchestration/sharding-orchestration-core/src/main/java/org/apache/shardingsphere/orchestration/internal/keygen/TimeService.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/keygen/LeafSegmentKeyGeneratorTest.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/keygen/LeafSnowflakeKeyGeneratorTest.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/keygen/fixture/FixedTimeService.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/keygen/fixture/PreviousTimeService.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/fixture/FifthDistributedLockManagement.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/fixture/ForthDistributedLockManagement.java
  sharding-orchestration/sharding-orchestration-core/src/test/java/org/apache/shardingsphere/orchestration/internal/registry/fixture/ThirdDistributedLockManagement.java
  sharding-orchestration/sharding-orchestration-core/src/test/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.DistributedLockManagement
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/src/test/java/org/apache/shardingsphere/shardingjdbc/orchestration/spring/boot/registry/TestCenter.java
  sharding-spring/sharding-jdbc-orchestration-spring/sharding-jdbc-orchestration-spring-boot-starter/src/test/resources/META-INF/services/org.apache.shardingsphere.orchestration.center.api.DistributedLockManagement
Labels: orchestration, refactor

#4428 Remove SQLStatement.findSQLSegment and SQLStatement.findSQLSegments
  encrypt-core/encrypt-core-rewrite/src/main/java/org/apache/shardingsphere/encrypt/rewrite/condition/EncryptConditionEngine.java
  shadow-core/shadow-core-rewrite/src/main/java/org/apache/shardingsphere/shadow/rewrite/condition/ShadowConditionEngine.java
  sharding-core/sharding-core-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/WhereClauseShardingConditionEngine.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/SQLStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/sql/statement/generic/AbstractSQLStatement.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/test/java/org/apache/shardingsphere/sql/parser/sql/statement/generic/AbstractSQLStatementTest.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-relation/src/main/java/org/apache/shardingsphere/sql/parser/relation/statement/impl/SelectSQLStatementContext.java
Labels: SQL parse, refactor

#4421 skip sharding-proxy & sharding-ui in deploy phase
  sharding-proxy/pom.xml
  sharding-ui/pom.xml
Labels: build
