Repository apache/shardingsphere, pull requests merged in 2021-10, with the labels that each got.

#12835 Modify the initialization of the volcano planner
  shardingsphere-infra/shardingsphere-infra-executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/federate/FederateJDBCExecutorTest.java
  shardingsphere-infra/shardingsphere-infra-optimize/src/main/java/org/apache/shardingsphere/infra/optimize/planner/QueryOptimizePlannerFactory.java
Labels: type: enhancement, in: kernel, feature: query-optimization

#12871 Remove duplicated code on YamlShardingSphereDataSourceFactory
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlShardingSphereDataSourceFactory.java
Labels: in: JDBC, type: refactor

#12875 Remove useless getter of ShardingSphereDatabaseMetaData
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/metadata/ShardingSphereDatabaseMetaData.java
Labels: in: JDBC, type: refactor

#12876 Add AbstractDataSourceAdapter
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractDataSourceAdapter.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/circuit/datasource/CircuitBreakerDataSource.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationDataSourceTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/circuit/datasource/CircuitBreakerDataSourceTest.java
Labels: in: JDBC, type: refactor

#12878 Support transaction rule default type load in JDBC
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/DriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/DriverStateContext.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/circuit/CircuitBreakDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/lock/LockDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/ok/OKDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/executor/AbstractBaseExecutorTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ConnectionAdapterTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationConnectionTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/DriverStateContextTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/circuit/CircuitBreakDriverStateTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/ok/OKDriverStateTest.java
  shardingsphere-kernel/shardingsphere-transaction/shardingsphere-transaction-core/src/main/java/org/apache/shardingsphere/transaction/core/TransactionTypeHolder.java
  shardingsphere-kernel/shardingsphere-transaction/shardingsphere-transaction-core/src/test/java/org/apache/shardingsphere/transaction/core/TransactionTypeHolderTest.java
Labels: type: enhancement, in: JDBC, feature: transaction

#12879 Add ContextManager.getDataSourceMap()
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/metadata/ShardingSphereDatabaseMetaData.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/DriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/DriverStateContext.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/circuit/CircuitBreakDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/lock/LockDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/state/ok/OKDriverState.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/executor/AbstractBaseExecutorTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ConnectionAdapterTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/metadata/ShardingSphereDatabaseMetaDataTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationConnectionTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/DriverStateContextTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/circuit/CircuitBreakDriverStateTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/state/ok/OKDriverStateTest.java
  shardingsphere-mode/shardingsphere-mode-core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
Labels: in: JDBC, type: refactor

#12883 Update RAL document.
  docs/document/content/features/dist-sql/syntax/ral/ral.cn.md
  docs/document/content/features/dist-sql/syntax/ral/ral.en.md
Labels: in: document, feature: DistSQL

#12892 Remove useless test cases for ShardingSphereDataSourceTest
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
Labels: in: JDBC, in: test

#12893 Keep simple for AbstractConnectionAdapter
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractConnectionAdapter.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ConnectionAdapterTest.java
  shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
Labels: in: JDBC, type: refactor

#12887 Creating `mixed-feature-example` for `shardingsphere-jdbc-example`.
  examples/shardingsphere-jdbc-example/mixed-feature-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-raw-jdbc-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-raw-jdbc-example/sharding-readwrite-splitting-range.yaml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-raw-jdbc-example/sharding-readwrite-splitting.yaml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-boot-jpa-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-boot-mybatis-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-namespace-jpa-example/application-sharding-readwrite-splitting.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-namespace-jpa-example/pom.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-namespace-mybatis-example/application-sharding-readwrite-splitting.xml
  examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-namespace-mybatis-example/pom.xml
Labels: in: example

#12901 Change camel case sql-case-ids to snake case in SQL parser test cases
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/begin-transaction.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/commit.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/rollback.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/set-auto-commit.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/set-constraints.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/tcl/set-transaction.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/begin-transcation.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/commit.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/rollback.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/set-auto-commit.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/set-constraints.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/tcl/set-transaction.xml
Labels: in: SQL parse, in: kernel

#12900 Update README.md
  README.md
Labels: in: document

#12897 Fix typos
  docs/blog/content/material/ElasticJob.en.md
  docs/blog/content/material/alpha.en.md
  docs/blog/content/material/ss_5.0.0beta.cn.md
  docs/blog/content/material/ss_5.0.0beta.en.md
  docs/community/themes/hugo-theme-learn/exampleSite/content/basics/installation/_index.en.cn.md
  docs/community/themes/hugo-theme-learn/exampleSite/content/basics/style-customization/_index.en.cn.md
  docs/community/themes/hugo-theme-learn/exampleSite/content/credits.en.cn.md
  docs/document/content/features/encrypt/principle.en.md
  docs/document/themes/hugo-theme-learn/exampleSite/content/basics/installation/_index.en.md
  docs/document/themes/hugo-theme-learn/exampleSite/content/basics/style-customization/_index.en.md
  docs/document/themes/hugo-theme-learn/exampleSite/content/credits.en.md
Labels: in: document

#12891 add show create user
  shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLDALStatementSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/mysql/dal/MySQLShowCreateUserStatement.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/asserts/statement/dal/DALStatementAssert.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/asserts/statement/dal/impl/ShowCreateUserStatementAssert.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/jaxb/cases/domain/SQLParserTestCases.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/jaxb/cases/domain/segment/impl/user/ExpectedUser.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/jaxb/cases/domain/statement/dal/ShowCreateUserStatementTestCase.java
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/dal/show.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/supported/dal/show.xml
Labels: in: test

#12910 Upgrade assembly and dockerfile plugin
  pom.xml
Labels: type: build

#12903 Add test case for UserStatusService
  shardingsphere-mode/shardingsphere-mode-type/shardingsphere-cluster-mode/shardingsphere-cluster-mode-core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/user/service/UserStatusServiceTest.java
Labels: in: test

#12908 Add checksum-maven-plugin for distribution
  pom.xml
  shardingsphere-distribution/shardingsphere-jdbc-distribution/pom.xml
  shardingsphere-distribution/shardingsphere-proxy-distribution/pom.xml
  shardingsphere-distribution/shardingsphere-scaling-distribution/pom.xml
  shardingsphere-distribution/shardingsphere-src-distribution/pom.xml
Labels: type: build, type: release

#12904 Add optimization rules and unit test for cross join
  shardingsphere-infra/shardingsphere-infra-executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/federate/FederateJDBCExecutorTest.java
  shardingsphere-infra/shardingsphere-infra-optimize/src/main/java/org/apache/shardingsphere/infra/optimize/planner/QueryOptimizePlannerFactory.java
Labels: type: enhancement, feature: query-optimization

#13363 Remove useless parameters from PostgreSQL JDBC URL
  shardingsphere-proxy/shardingsphere-proxy-backend/src/test/java/org/apache/shardingsphere/proxy/backend/communication/jdbc/connection/ConnectionUrlParserTest.java
  shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-database-discovery.yaml
  shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-encrypt.yaml
  shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-readwrite-splitting.yaml
  shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-shadow.yaml
  shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-sharding.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/db/postgresql/proxy/conf/config-db.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/dbtbl_with_readwrite_splitting/postgresql/proxy/conf/config-dbtbl-with-readwrite-splitting.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/dbtbl_with_readwrite_splitting_and_encrypt/postgresql/proxy/conf/config-dbtbl-with-readwrite-splitting-and-encrypt.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/empty_rules/postgresql/proxy/conf/config-empty-rules.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/encrypt/postgresql/proxy/conf/config-encrypt.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/readwrite_splitting/postgresql/proxy/conf/config-readwrite-splitting.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/sharding_governance/postgresql/proxy/conf/config-sharding-governance.yaml
  shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/docker/tbl/postgresql/proxy/conf/config-tbl.yaml
Labels: type: refactor

#13367 Add db-compatibility/sql-parser document
  docs/document/content/features/db-compatibility/sql-parser/_index.cn.md
  docs/document/content/features/db-compatibility/sql-parser/_index.en.md
  docs/document/content/features/db-compatibility/sql-parser/mysql.cn.md
  docs/document/content/features/db-compatibility/sql-parser/mysql.en.md
  docs/document/content/features/db-compatibility/sql-parser/oracle.cn.md
  docs/document/content/features/db-compatibility/sql-parser/oracle.en.md
  docs/document/content/features/db-compatibility/sql-parser/postgresql.cn.md
  docs/document/content/features/db-compatibility/sql-parser/postgresql.en.md
  docs/document/content/features/db-compatibility/sql-parser/sql92.cn.md
  docs/document/content/features/db-compatibility/sql-parser/sql92.en.md
  docs/document/content/features/db-compatibility/sql-parser/sqlserver.cn.md
  docs/document/content/features/db-compatibility/sql-parser/sqlserver.en.md
  docs/document/content/features/sharding/use-norms/_index.cn.md
  docs/document/content/features/sharding/use-norms/sql.cn.md
  docs/document/content/features/sharding/use-norms/sql.en.md
Labels: in: document

#13368 Add db-compatibility/db-protocol document
  docs/document/content/features/db-compatibility/db-protocol/_index.cn.md
  docs/document/content/features/db-compatibility/db-protocol/_index.en.md
Labels: in: document

#13358 Recheck and update scaling doc for 5.0.0
  docs/document/content/dev-manual/scaling.en.md
  docs/document/content/quick-start/shardingsphere-scaling-quick-start.cn.md
  docs/document/content/quick-start/shardingsphere-scaling-quick-start.en.md
  docs/document/content/user-manual/shardingsphere-scaling/build.cn.md
  docs/document/content/user-manual/shardingsphere-scaling/build.en.md
  docs/document/content/user-manual/shardingsphere-scaling/usage.cn.md
  docs/document/content/user-manual/shardingsphere-scaling/usage.en.md
Labels: in: document, feature: scaling

#13354 [DistSQL] Update `show db_discovery rules` to show `primary_data_source_name`.
  shardingsphere-features/shardingsphere-db-discovery/shardingsphere-db-discovery-api/src/main/java/org/apache/shardingsphere/dbdiscovery/constant/DatabaseDiscoveryRuleConstants.java
  shardingsphere-features/shardingsphere-db-discovery/shardingsphere-db-discovery-core/src/main/java/org/apache/shardingsphere/dbdiscovery/rule/DatabaseDiscoveryRule.java
  shardingsphere-features/shardingsphere-db-discovery/shardingsphere-db-discovery-distsql/shardingsphere-db-discovery-distsql-handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/query/DatabaseDiscoveryRuleQueryResultSet.java
  shardingsphere-features/shardingsphere-db-discovery/shardingsphere-db-discovery-distsql/shardingsphere-db-discovery-distsql-handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/query/DatabaseDiscoveryRuleQueryResultSetTest.java
  shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/rule/identifier/type/ExportableRule.java
Labels: feature: db-discovery, feature: DistSQL

#13370 Update transaction's use-norms
  docs/document/content/features/encrypt/use-norms.en.md
  docs/document/content/features/readwrite-splitting/use-norms.en.md
  docs/document/content/features/scaling/use-norms.en.md
  docs/document/content/features/shadow/use-norms.en.md
  docs/document/content/features/transaction/use-norms/_index.en.md
  docs/document/content/features/transaction/use-norms/base-transaction-seata.cn.md
  docs/document/content/features/transaction/use-norms/base.cn.md
  docs/document/content/features/transaction/use-norms/base.en.md
  docs/document/content/features/transaction/use-norms/local-transaction.cn.md
  docs/document/content/features/transaction/use-norms/local-transaction.en.md
  docs/document/content/features/transaction/use-norms/xa.cn.md
  docs/document/content/features/transaction/use-norms/xa.en.md
  docs/document/content/reference/api-change-history/shardingsphere-jdbc/java-api.en.md
  docs/document/content/reference/api-change-history/shardingsphere-jdbc/yaml-configuration.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/configuration/yaml/change-history.en.md
Labels: in: document

#13304 Support mysql regular function visit
  shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
  shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/segment/dml/expr/FunctionSegment.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/asserts/segment/expression/ExpressionAssert.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/jaxb/cases/domain/segment/impl/expr/ExpectedExpression.java
  shardingsphere-test/shardingsphere-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/jaxb/cases/domain/segment/impl/function/ExpectedFunctionSegment.java
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/dml/select-expression.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/dml/select-group-by.xml
  shardingsphere-test/shardingsphere-parser-test/src/main/resources/case/dml/select.xml
Labels: in: SQL parse

#13372 Fixes #13366, execute `preview` in DataGrip to return the result.
  shardingsphere-infra/shardingsphere-infra-parser/src/main/java/org/apache/shardingsphere/infra/parser/ShardingSphereSQLParserEngine.java
Labels: feature: DistSQL

#13373 Update Readwrite-splitting index
  docs/document/content/features/readwrite-splitting/_index.cn.md
  docs/document/content/features/readwrite-splitting/_index.en.md
  docs/document/static/img/readwrite-splitting/background.png
  docs/document/static/img/readwrite-splitting/challenges.png
  docs/document/static/img/readwrite-splitting/readwrite-splitting-standalone.png
  docs/document/static/img/readwrite-splitting/sharding-and-readwrite-splitting.png
Labels: in: document

#13374 Update readwrite-splitting document
  docs/document/content/features/readwrite-splitting/concept.cn.md
  docs/document/content/features/readwrite-splitting/concept.en.md
  docs/document/content/features/readwrite-splitting/use-norms.cn.md
  docs/document/content/features/readwrite-splitting/use-norms.en.md
Labels: in: document
