Repository apache/shardingsphere, pull requests merged in 2022-12, with the labels that each got.

#22545 Add test case for federation optimization test.
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/SQLOptimizeEngineTest.java
  kernel/sql-federation/optimizer/src/test/resources/cases/federation-query-sql-cases.xml
Labels: in: test, feature: query-optimization

#22541 Extract ConsistencyCheckJobItemProgressContext to decouple ConsistencyCheckJobItemContext
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/job/progress/ConsistencyCheckJobItemProgress.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/api/InventoryIncrementalJobAPI.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/api/impl/AbstractInventoryIncrementalJobAPIImpl.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/ConsistencyCheckJobItemProgressContext.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/SingleTableInventoryDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/progress/PipelineJobProgressDetector.java
  kernel/data-pipeline/scenario/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckJobAPIImpl.java
  kernel/data-pipeline/scenario/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckJobItemContext.java
  kernel/data-pipeline/scenario/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckTasksRunner.java
  kernel/data-pipeline/scenario/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationDataConsistencyChecker.java
  kernel/data-pipeline/scenario/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJobAPIImpl.java
  test/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/core/api/impl/MigrationJobAPIImplTest.java
  test/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckJobTest.java
  test/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationDataConsistencyCheckerTest.java
Labels: type: refactor, feature: pipeline

#22551 Optimize PostgreSQL and openGauss binary operator projection parse logic
  sql-parser/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/impl/OpenGaussStatementSQLVisitor.java
  sql-parser/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/impl/PostgreSQLStatementSQLVisitor.java
  test/optimize/src/test/java/org/apache/shardingsphere/infra/federation/converter/parameterized/engine/SQLNodeConverterEngineParameterizedTest.java
  test/parser/src/main/resources/sql/supported/dml/select-geometric.xml
Labels: type: enhancement, in: SQL parse, db: PostgreSQL, db: openGauss

#22555 Proxy support MySQL COM_RESET_CONNECTION
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/admin/MySQLComResetConnectionPacket.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/session/ServerPreparedStatementRegistry.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/session/ServerServerPreparedStatementRegistryTest.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandExecutorFactory.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandPacketFactory.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/admin/MySQLComResetConnectionExecutor.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandExecutorFactoryTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandPacketFactoryTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/admin/MySQLComResetConnectionExecutorTest.java
Labels: type: enhancement, in: proxy, db: MySQL

#22492 Fix postgresql set transaction isolation
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionSetHandler.java
  sql-parser/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/impl/PostgreSQLTCLStatementSQLVisitor.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/statement/tcl/SetTransactionStatement.java
Labels: type: bug, feature: transaction

#22554 Optimize mysql, oracle, sqlserver and sql92 null projection parse and support convert to sqlnode
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/pojo/EncryptLiteralAssignmentToken.java
  kernel/sql-federation/executor/core/src/main/java/org/apache/shardingsphere/sqlfederation/executor/FilterableTableScanExecutor.java
  kernel/sql-federation/executor/core/src/main/java/org/apache/shardingsphere/sqlfederation/executor/TranslatableTableScanExecutor.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/LiteralExpressionConverter.java
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
  sql-parser/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/impl/OracleStatementSQLVisitor.java
  sql-parser/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/impl/SQL92StatementSQLVisitor.java
  sql-parser/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/impl/SQLServerStatementSQLVisitor.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/util/SQLUtil.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/value/literal/impl/NullLiteralValue.java
  test/optimize/src/test/java/org/apache/shardingsphere/infra/federation/converter/parameterized/engine/SQLNodeConverterEngineParameterizedTest.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/asserts/segment/expression/ExpressionAssert.java
  test/parser/src/main/resources/case/dml/insert.xml
  test/parser/src/main/resources/case/dml/replace.xml
  test/parser/src/main/resources/case/dml/select.xml
  test/parser/src/main/resources/case/dml/update.xml
  test/parser/src/main/resources/sql/supported/dml/select.xml
  test/rewrite/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/update/update.xml
Labels: type: enhancement, in: SQL parse

#22548 Fix datasource properties comparison not right when properties are map type.
  infra/common/src/main/java/org/apache/shardingsphere/infra/datasource/props/DataSourceProperties.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/datasource/props/DataSourcePropertiesTest.java
Labels: type: refactor, in: kernel

#22560 Update encrypt like algorithm document
  docs/document/content/user-manual/common-config/builtin-algorithm/encrypt.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/encrypt.en.md
Labels: in: document

#22557 Ignore license header for ShardingSphereDriverURL.toConfigurationBytes()
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereDriverURL.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereDriverURLTest.java
Labels: type: enhancement, in: JDBC, good first issue

#22563 Refactor TestKeyProvider
  kernel/data-pipeline/scenario/consistencycheck/pom.xml
  kernel/data-pipeline/scenario/migration/pom.xml
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/CaseTestKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/ScenarioTestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/key/TestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/key/impl/NormalTestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#22559 Update distsql-rdl rules on encrypt document
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.en.md
Labels: feature: encrypt, in: document, feature: DistSQL

#22571 Update migration build and usage doc
  docs/document/content/user-manual/shardingsphere-proxy/migration/build.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/build.en.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
Labels: in: document, feature: pipeline

#22574 Refactor ScenarioDataPath
  test/integration-test/env/src/test/java/org/apache/shardingsphere/test/integration/env/runtime/scenario/path/ScenarioDataPath.java
Labels: in: test, in: SQL parse

#22573 Refactor MySQLBinlogEventType.valueOf to support unknown event type
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/constant/MySQLBinlogEventType.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/constant/MySQLBinlogEventTypeTest.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/netty/MySQLBinlogEventPacketDecoder.java
Labels: type: enhancement, type: refactor, feature: pipeline

#22580 Revise 22557
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereDriverURL.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/ShardingSphereDriverTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereDriverURLTest.java
  jdbc/core/src/test/resources/config/driver/foo-driver-fixture.yaml
Labels: type: enhancement, in: JDBC

#22561 SHOW ENCRYPT statement add assistedQueryAlgorithm, likeQueryAlgorithm information display
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/encrypt.en.md
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/EncryptRuleQueryResultSet.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/EncryptRuleQueryResultSetTest.java
  test/integration-test/test-suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/alter_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/create_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/drop_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/show_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/show_encrypt_rules.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/encrypt/show_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/encrypt/show_encrypt_rules.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/show_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/show_encrypt_rules.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_encrypt_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_encrypt_rules.xml
Labels: type: enhancement, feature: encrypt, feature: DistSQL

#22583 Remove NormalTestKeyProvider
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/ParallelParameterized.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/ParallelRunningStrategy.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/key/impl/NormalTestKeyProvider.java
  test/runner/src/main/resources/META-INF/services/org.apache.shardingsphere.test.runner.key.TestKeyProvider
Labels: type: refactor, in: test

#22581 Update doc about encrypt
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/encrypt-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/encrypt-rule.en.md
Labels: feature: encrypt, in: document, feature: DistSQL

#22585 Refining the documentation for migration permissions
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
Labels: in: document

#22584 Code little optimized.
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/standard/ShardingStandardRoutingEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/SQLHintUtils.java
Labels: type: enhancement, in: kernel

#22526 Use gson JSONParser for asserting JSON equality deterministically
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/advance/ParseDistSQLHandlerTest.java
Labels: in: test

#22587 Update documents for sharding table reference rule.
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-reference-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-reference-rule.en.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-reference-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-reference-rule.en.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-reference-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-reference-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.en.md
Labels: feature: sharding, in: document, feature: DistSQL

#22588 Update example generator doc
  examples/shardingsphere-example-generator/README.md
  examples/shardingsphere-example-generator/README_ZH.md
Labels: in: document

#22586 Add refer link at migration document
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
Labels: in: document

#22592 Optimize ShardingStatisticsTableCollector & add it.
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/data/ShardingStatisticsTableCollector.java
  test/integration-test/test-suite/src/test/resources/cases/ral/dataset/empty_rules/cluster/mysql/select_sharding_table_statistics.xml
  test/integration-test/test-suite/src/test/resources/cases/ral/dataset/empty_rules/cluster/opengauss/select_sharding_table_statistics.xml
  test/integration-test/test-suite/src/test/resources/cases/ral/dataset/empty_rules/cluster/postgresql/select_sharding_table_statistics.xml
  test/integration-test/test-suite/src/test/resources/cases/ral/dataset/empty_rules/standalone/select_sharding_table_statistics.xml
  test/integration-test/test-suite/src/test/resources/cases/ral/ral-integration-test-cases.xml
Labels: type: enhancement, in: test

#22594 Update usage.en.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
Labels: in: document

#22593 Update db-discovery.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery.en.md
Labels: in: document

#22530 Remove shardingRule in scenario readwrite_splitting and fix ci
  test/integration-test/test-suite/src/test/resources/cases/ddl/dataset/readwrite_splitting/create_broadcast_index.xml
  test/integration-test/test-suite/src/test/resources/cases/ddl/ddl-integration-test-cases.xml
  test/integration-test/test-suite/src/test/resources/cases/dml/dml-integration-test-cases.xml
  test/integration-test/test-suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/readwrite_splitting/count_single_table_rule.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/readwrite_splitting/show_broadcast_rules.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/readwrite_splitting/show_sharding_binging_table_rules.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/readwrite_splitting/show_single_table.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/dataset/readwrite_splitting/show_single_tables.xml
  test/integration-test/test-suite/src/test/resources/cases/rql/rql-integration-test-cases.xml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/dataset.xml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/h2/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/mysql/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/opengauss/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/oracle/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/postgresql/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/actual/init-sql/sqlserver/01-actual-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/dataset.xml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/h2/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/mysql/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/opengauss/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/oracle/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/postgresql/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/data/expected/init-sql/sqlserver/01-expected-init.sql
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/proxy/conf/mysql/config-readwrite-splitting.yaml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/proxy/conf/opengauss/config-readwrite-splitting.yaml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/proxy/conf/postgresql/config-readwrite-splitting.yaml
  test/integration-test/test-suite/src/test/resources/env/scenario/readwrite_splitting/rules.yaml
Labels: type: enhancement, in: test

#22597 Add ParameterizedArray.getDatabaseType()
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithmTest.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/ITParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/SQLParserParameterizedArray.java
  test/runner/pom.xml
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/param/ParameterizedArray.java
Labels: type: refactor, in: test

#22599 Refactor TestKeyProvider
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/CaseTestKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/ScenarioTestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/ParallelRunnerExecutors.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/key/TestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#22600 Refactor ParallelRunnerScheduler
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#21341 Fixes documentation for building GraalVM Native Image
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
Labels: in: document

#22602 Remove ParallelRunnerExecutors
  .github/workflows/it-discovery.yml
  .github/workflows/it-scaling.yml
  .github/workflows/it-showprocesslist.yml
  .github/workflows/it-transaction.yml
  .github/workflows/it.yml
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/ShardingSphereIntegrationTestParameterized.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/CaseTestKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/ParallelParameterized.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/ParallelRunnerExecutor.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/ParallelRunnerExecutors.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#22604 Rename ParallelRunnerExecutorKeyProvider
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/exception/StorageUnitNotExistedException.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/CaseParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/parallel/ScenarioParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/resources/META-INF/services/org.apache.shardingsphere.test.runner.executor.key.ParallelRunnerExecutorKeyProvider
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/ParallelRunnerExecutor.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/key/ParallelRunnerExecutorKeyProvider.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/executor/key/ParallelRunnerExecutorKeyProviderFactory.java
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#22606 Decouple parser test and test-runner
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/external/ExternalMySQLParserParameterizedIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalMySQLParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalOpenGaussParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalOracleParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/external/ExternalPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalSQL92ParserParameterizedIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalSQLServerParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/SQLParserParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/SQLCases.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/param/InternalSQLParserParameterizedArray.java
  test/parser/src/test/java/org/apache/shardingsphere/test/sql/parser/internal/InternalDistSQLParserParameterizedIT.java
Labels: type: refactor, in: test

#22609 Decouple parser test and test-runner
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/external/ExternalMySQLParserParameterizedIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalUnsupportedMySQLParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalUnsupportedOpenGaussParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalUnsupportedOracleParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/external/ExternalPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalUnsupportedPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalUnsupportedSQL92ParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/fixture/SQL92FixtureDatabaseType.java
  sql-parser/dialect/sql92/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.type.DatabaseType
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalUnsupportedSQLServerParserParameterizedIT.java
  test/optimize/src/test/java/org/apache/shardingsphere/infra/federation/converter/parameterized/engine/SQLNodeConverterEngineParameterizedTest.java
  test/parser/pom.xml
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/SQLParserParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/engine/ExternalSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/engine/param/ExternalSQLParserParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/loader/SQLCaseLoader.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/SQLParseResultReporter.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/SQLParseResultReporterCreator.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/type/csv/CsvSQLParseResultReporter.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/type/csv/CsvSQLParseResultReporterCreator.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/type/log/LogSQLParseResultReporter.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/result/type/log/LogSQLParseResultReporterCreator.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/SQLCases.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/InternalSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/InternalUnsupportedSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/param/InternalSQLParserParameterizedArray.java
  test/parser/src/test/java/org/apache/shardingsphere/test/sql/parser/internal/fixture/DistSQLFixtureDatabaseType.java
  test/parser/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.type.DatabaseType
Labels: type: refactor, in: test

#22610 Remove useless SQLParserParameterizedArray
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/SQLParserParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/external/engine/param/ExternalSQLParserParameterizedArray.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/param/InternalSQLParserParameterizedArray.java
Labels: type: refactor, in: test

#22608 Remove useless code in DistSQL.
  features/db-discovery/distsql/parser/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/parser/DatabaseDiscoveryDistSQLTest.java
  features/encrypt/distsql/parser/src/test/java/org/apache/shardingsphere/encrypt/distsql/parser/EncryptDistSqlTest.java
  features/readwrite-splitting/distsql/parser/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/ReadwriteSplittingDistSQLTest.java
  features/shadow/distsql/parser/src/test/java/org/apache/shardingsphere/shadow/distsql/parser/ShadowDistSQLTest.java
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RDLStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RQLStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/sharding/org/apache/shardingsphere/distsql/parser/autogen/ShardingDistSQLStatement.g4
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
Labels: type: refactor, feature: DistSQL

#22611 Merge test-runner and it-suite
  .github/workflows/it-discovery.yml
  .github/workflows/it-scaling.yml
  .github/workflows/it-showprocesslist.yml
  .github/workflows/it-transaction.yml
  .github/workflows/it.yml
  test/integration-test/fixture/pom.xml
  test/integration-test/test-suite/pom.xml
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/BaseITCase.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dal/GeneralDALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dcl/GeneralDCLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ddl/GeneralDDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/AdditionalDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/BatchDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/GeneralDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dql/AdditionalDQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dql/GeneralDQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ral/GeneralRALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rdl/GeneralRDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rql/GeneralRQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/ITParameterizedArray.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/ParallelParameterized.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/ParallelRunningStrategy.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/ParallelRunnerExecutor.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/CaseParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ParallelRunnerExecutorKeyProviderFactory.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ScenarioParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/param/ParameterizedArray.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/param/RunnerParameters.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/scheduler/ParallelRunnerScheduler.java
  test/integration-test/test-suite/src/test/resources/META-INF/services/org.apache.shardingsphere.test.runner.org.apache.shardingsphere.test.integration.framework.runner1.executor.key.ParallelRunnerExecutorKeyProvider
  test/pipeline/pom.xml
  test/pom.xml
  test/rewrite/pom.xml
  test/runner/pom.xml
  test/runner/src/main/java/org/apache/shardingsphere/test/runner/param/ParameterizedArray.java
Labels: type: refactor, in: test

#22601 Add more test cases in the federation optimization test
  kernel/sql-federation/optimizer/src/test/resources/cases/federation-query-sql-cases.xml
Labels: in: test, feature: query-optimization

#22612 Remove SPI of ParallelRunnerExecutorKeyProvider
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/ITParameterizedArray.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ParallelRunnerExecutorKeyProviderFactory.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ScenarioParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/impl/CaseParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/impl/ScenarioParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/param/RunnerParameters.java
  test/integration-test/test-suite/src/test/resources/META-INF/services/org.apache.shardingsphere.test.runner.org.apache.shardingsphere.test.integration.framework.runner1.executor.key.ParallelRunnerExecutorKeyProvider
Labels: type: refactor, in: test

#22615 Rename SQLOptimizeEngineIT
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/SQLOptimizeEngineIT.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/common/TestCase.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/SQLNodeConverterEngineIT.java
Labels: type: refactor, in: test, feature: query-optimization

#22616 Move it package of optimize test
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/SQLOptimizeEngineIT.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCase.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCaseAssertion.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCases.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCasesLoader.java
Labels: type: refactor, in: test, feature: query-optimization

#22618 Rename InternalSQLParserTestParameter
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/SQLNodeConverterEngineIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalMySQLParserParameterizedIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalUnsupportedMySQLParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalOpenGaussParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalUnsupportedOpenGaussParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalOracleParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalUnsupportedOracleParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalUnsupportedPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalSQL92ParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalUnsupportedSQL92ParserParameterizedIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalSQLServerParserParameterizedIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalUnsupportedSQLServerParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/SQLCases.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/InternalSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/InternalUnsupportedSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/engine/param/InternalSQLParserTestParameter.java
  test/parser/src/test/java/org/apache/shardingsphere/test/sql/parser/internal/InternalDistSQLParserParameterizedIT.java
Labels: type: refactor, in: test, in: SQL parse

#22619 Move InternalSQLParserParameterizedIT
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/SQLNodeConverterEngineIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalMySQLParserParameterizedIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalUnsupportedMySQLParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalOpenGaussParserParameterizedIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalUnsupportedOpenGaussParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalOracleParserParameterizedIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalUnsupportedOracleParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalUnsupportedPostgreSQLParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalSQL92ParserParameterizedIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalUnsupportedSQL92ParserParameterizedIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalSQLServerParserParameterizedIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalUnsupportedSQLServerParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/InternalSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/InternalSQLParserTestParameter.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/InternalUnsupportedSQLParserParameterizedIT.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/parser/loader/SQLParserTestCaseLoaderCallback.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/parser/registry/SQLParserTestCasesRegistry.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/SQLCases.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/loader/SQLCaseLoaderCallback.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/registry/SQLCasesRegistry.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/cases/sql/registry/UnsupportedSQLCasesRegistry.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/loader/CaseFileLoader.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/loader/CaseLoaderCallback.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/loader/CaseLoaderTemplate.java
  test/parser/src/test/java/org/apache/shardingsphere/test/sql/parser/internal/InternalDistSQLParserParameterizedIT.java
Labels: type: refactor, in: test, in: SQL parse

#22605 Change minus to underscore in yaml
  docs/document/content/user-manual/common-config/builtin-algorithm/encrypt.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/encrypt.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/sharding.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/sharding.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/data-source.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/data-source.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/shadow.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/shadow.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/sharding.en.md
  examples/docker/shardingsphere-proxy/sharding/conf/config-sharding.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-auto-tables.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-interval.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-range.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-tables-range.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-tables.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-hint-databases-only.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-hint-databases-tables.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-tables-range.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-tables.yaml
  proxy/bootstrap/src/main/resources/conf/config-database-discovery.yaml
  proxy/bootstrap/src/main/resources/conf/config-shadow.yaml
Labels: type: refactor, in: configuration

#22620 Rename ITTestParameter
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/container/compose/ContainerComposerRegistry.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/container/compose/mode/ClusterContainerComposer.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/container/compose/mode/StandaloneContainerComposer.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/BaseITCase.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/BatchITCase.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/SingleITCase.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dal/BaseDALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dal/GeneralDALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dcl/BaseDCLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dcl/GeneralDCLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ddl/BaseDDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ddl/GeneralDDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/AdditionalDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/BaseDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/BatchDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dml/GeneralDMLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dql/AdditionalDQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dql/BaseDQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/dql/GeneralDQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ral/BaseRALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/ral/GeneralRALIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rdl/BaseRDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rdl/GeneralRDLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rql/BaseRQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/engine/rql/GeneralRQLIT.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/array/ClusterTestParameterArrayGenerator.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/array/ITTestParameterFactory.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/array/ITTestParameterGenerator.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/array/ProxyStandaloneTestParameterGenerator.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/AssertionTestParameter.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/CaseTestParameter.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/param/model/ITTestParameter.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/ParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/impl/CaseParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/executor/key/impl/ScenarioParallelRunnerExecutorKeyProvider.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/param/RunnerParameters.java
  test/integration-test/test-suite/src/test/java/org/apache/shardingsphere/test/integration/framework/runner/scheduler/ParallelRunnerScheduler.java
Labels: type: refactor, in: test

#22625 Remove empty rule configuration after drop rule.
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/DropDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/DropDatabaseDiscoveryRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowRuleStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropBroadcastTableRuleStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropDefaultStrategyStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableRuleStatementUpdater.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropBroadcastTableRuleStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropDefaultShardingStrategyStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropShardingTableRuleStatementUpdaterTest.java
Labels: type: enhancement, feature: DistSQL

#22622 Add InternalConfigurationProperties for inner use.
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/ConfigurationPropertyKey.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/internal/InternalConfigurationProperties.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/internal/InternalConfigurationPropertyKey.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaData.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/execute/ShardingSphereDataJobWorker.java
Labels: type: refactor, in: configuration

#22627 Rename shardingsphere-test-parser
  docs/blog/content/material/Jan_28_Blog_X_How_to Develop_Your_Distributed_SQL_Statement_in_Apache_ShardingSphere.en.md
  kernel/sql-federation/optimizer/pom.xml
  sql-parser/dialect/pom.xml
  test/parser/pom.xml
Labels: type: refactor, in: test

#22628 Rename shardingsphere-test-rewrite and shardingsphere-test-pipeline
  test/pipeline/pom.xml
  test/rewrite/pom.xml
Labels: type: refactor, in: test

#22629 Remove Create and Alter Sharding Auditor
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-auditor.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-auditor.en.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.en.md
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterShardingAuditorStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateShardingAuditorStatementUpdater.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.distsql.update.RuleDefinitionUpdater
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterShardingAuditorStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateShardingAuditorStatementUpdaterTest.java
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/BaseRule.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Keyword.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RDLStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/sharding/org/apache/shardingsphere/distsql/parser/autogen/ShardingDistSQLStatement.g4
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  features/sharding/distsql/statement/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/statement/AlterShardingAuditorStatement.java
  features/sharding/distsql/statement/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/statement/CreateShardingAuditorStatement.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/asserts/statement/rdl/alter/AlterRuleStatementAssert.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/asserts/statement/rdl/alter/impl/AlterShardingAuditorStatementAssert.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/asserts/statement/rdl/create/CreateRuleStatementAssert.java
  test/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/asserts/statement/rdl/create/impl/CreateShardingAuditorStatementAssert.java
  test/parser/src/main/resources/case/rdl/alter.xml
  test/parser/src/main/resources/case/rdl/create.xml
  test/parser/src/main/resources/sql/supported/rdl/alter.xml
  test/parser/src/main/resources/sql/supported/rdl/create.xml
Labels: feature: sharding, type: refactor, feature: DistSQL

#22631 Fix : fix the issue caused by e2e refactor
  test/e2e/agent/plugins/metrics/src/test/assembly/shardingsphere-proxy-agent-metrics-assembly.xml
  test/e2e/agent/plugins/opentelemetry/src/test/assembly/shardingsphere-proxy-agent-opentelemetry-assembly.xml
Labels: in: test

#22621 Remove unused class.
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/SQLHintProperties.java
Labels: type: enhancement, in: kernel

#22623 Update docs for Show Sharding Table reference rule
  docs/document/content/reference/distsql/syntax/rql/rule-query/sharding/show-sharding-table-reference-rules.cn.md
  docs/document/content/reference/distsql/syntax/rql/rule-query/sharding/show-sharding-table-reference-rules.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding.en.md
Labels: feature: sharding, in: document, feature: DistSQL

#22632 Rename InternalSQLParserIT and InternalUnsupportedSQLParserIT
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalMySQLParserIT.java
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/sql/parser/mysql/internal/InternalUnsupportedMySQLParserIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalOpenGaussParserIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/sql/parser/opengauss/InternalUnsupportedOpenGaussParserIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalOracleParserIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/sql/parser/oracle/InternalUnsupportedOracleParserIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalPostgreSQLParserIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/sql/parser/postgresql/internal/InternalUnsupportedPostgreSQLParserIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalSQL92ParserIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/sql/parser/sql92/InternalUnsupportedSQL92ParserIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalSQLServerParserIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/sql/parser/sqlserver/InternalUnsupportedSQLServerParserIT.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/InternalSQLParserIT.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/sql/parser/internal/InternalUnsupportedSQLParserIT.java
  test/it/parser/src/test/java/org/apache/shardingsphere/test/sql/parser/internal/InternalDistSQLParserIT.java
Labels: type: refactor, in: test

#22635 Rename packages of rewrite it test
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/AbstractSQLRewriterIT.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/parameter/SQLRewriteEngineTestParameters.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/parameter/SQLRewriteEngineTestParametersBuilder.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/entity/RewriteAssertionEntity.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/entity/RewriteAssertionsRootEntity.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/entity/RewriteInputEntity.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/entity/RewriteOutputEntity.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/fixture/encrypt/RewriteNormalEncryptAlgorithmFixture.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/fixture/encrypt/RewriteQueryAssistedEncryptAlgorithmFixture.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/fixture/encrypt/RewriteQueryLikeEncryptAlgorithmFixture.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/fixture/encrypt/RewriteSchemaMetaDataAwareEncryptAlgorithmFixture.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/fixture/keygen/RewriteKeyGenerateAlgorithmFixture.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/loader/RewriteAssertionsRootEntityLoader.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/scenario/EncryptSQLRewriterIT.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/scenario/MixSQLRewriterIT.java
  test/it/rewrite/src/test/java/org/apache/shardingsphere/test/it/rewrite/scenario/ShardingSQLRewriterIT.java
  test/it/rewrite/src/test/resources/META-INF/services/org.apache.shardingsphere.encrypt.spi.EncryptAlgorithm
  test/it/rewrite/src/test/resources/META-INF/services/org.apache.shardingsphere.sharding.spi.KeyGenerateAlgorithm
Labels: type: refactor, in: test

#22636 Rename packages of optimizer it test
  kernel/sql-federation/optimizer/pom.xml
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/SQLOptimizeEngineIT.java
  test/it/optimizer/pom.xml
  test/it/optimizer/src/test/java/org/apache/shardingsphere/test/it/optimize/SQLNodeConverterEngineIT.java
  test/it/optimizer/src/test/resources/logback-test.xml
  test/it/pom.xml
Labels: type: refactor, in: test

#22638 Move parser internal test packages
  sql-parser/dialect/mysql/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/mysql/internal/InternalUnsupportedMySQLParserIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/opengauss/internal/InternalOpenGaussParserIT.java
  sql-parser/dialect/opengauss/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/opengauss/internal/InternalUnsupportedOpenGaussParserIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/oracle/internal/InternalOracleParserIT.java
  sql-parser/dialect/oracle/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/oracle/internal/InternalUnsupportedOracleParserIT.java
  sql-parser/dialect/postgresql/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/postgresql/internal/InternalUnsupportedPostgreSQLParserIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/sql92/internal/InternalSQL92ParserIT.java
  sql-parser/dialect/sql92/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/sql92/internal/InternalUnsupportedSQL92ParserIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/sqlserver/internal/InternalSQLServerParserIT.java
  sql-parser/dialect/sqlserver/src/test/java/org/apache/shardingsphere/test/it/sql/parser/it/sqlserver/internal/InternalUnsupportedSQLServerParserIT.java
Labels: type: refactor, in: test, in: SQL parse

#22639 Update G4 file for Sharding
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/BaseRule.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Keyword.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Literals.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RALStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RDLStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RQLStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Symbol.g4
Labels: feature: sharding, type: refactor, feature: DistSQL

#22645 Update AUDIT_STRATEGY syntax document.
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/rule/YamlShardingAutoTableRuleConfigurationSwapper.java
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RDLStatement.g4
  test/it/parser/src/main/resources/sql/supported/rdl/alter.xml
  test/it/parser/src/main/resources/sql/supported/rdl/create.xml
Labels: in: document, feature: DistSQL

#22641 Recover methods from public to protected; Move class from IT to UT module
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/AbstractStreamingDataConsistencyCalculateAlgorithm.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/AbstractSimplePipelineJob.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/prepare/datasource/AbstractDataSourcePreparer.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/prepare/datasource/AbstractDataSourcePreparerTest.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJob.java
Labels: type: refactor, feature: pipeline

#22582 Update Spring related document
  docs/document/content/faq/_index.cn.md
  docs/document/content/faq/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/algorithm.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/data-source.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/data-source.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/mode.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/mode.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/mix.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/shadow.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/shadow.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sql-parser.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sql-parser.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/algorithm.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/data-source.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/data-source.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/mode.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/mode.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/encrypt.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/encrypt.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/mix.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/shadow.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/shadow.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/sharding.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/sql-parser.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/spring-namespace/rules/sql-parser.en.md
Labels: in: JDBC, type: refactor

#22579 Add CDC rule and login implemention
  kernel/data-pipeline/cdc/client/pom.xml
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/CDCClient.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/event/CreateSubscriptionEvent.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/handler/LoginRequestHandler.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/handler/SubscriptionRequestHandler.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/util/RequestIdUtil.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/config/CDCRuleConfiguration.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/constant/CDCConnectionStatus.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/constant/CDCOrder.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/context/CDCConnectionContext.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/generator/CDCResponseGenerator.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/rule/CDCRule.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/rule/builder/CDCRuleBuilder.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/yaml/config/YamlCDCRuleConfiguration.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/yaml/swapper/YamlCDCRuleConfigurationSwapper.java
  kernel/data-pipeline/cdc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.rule.builder.global.GlobalRuleBuilder
  kernel/data-pipeline/cdc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.yaml.config.swapper.rule.YamlRuleConfigurationSwapper
  kernel/data-pipeline/cdc/protocol/pom.xml
  kernel/data-pipeline/cdc/protocol/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/common/CDCResponseErrorCode.java
  kernel/data-pipeline/cdc/protocol/src/main/proto/CDCRequestProtocol.proto
  kernel/data-pipeline/cdc/protocol/src/main/proto/CDCResponseProtocol.proto
  kernel/data-pipeline/cdc/protocol/src/main/resources/.gitkeep
  pom.xml
  proxy/backend/pom.xml
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoader.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/config/yaml/YamlProxyServerConfiguration.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoaderTest.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/Bootstrap.java
  proxy/bootstrap/src/main/resources/conf/server.yaml
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/CDCServer.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/CDCChannelInboundHandler.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/CDCServerHandlerInitializer.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/netty/CDCChannelInboundHandlerTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/netty/CDCServerHandlerInitializerTest.java
Labels: type: new feature, feature: pipeline

#22647 Update G4 file for DB_discovery
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/BaseRule.g4
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/Keyword.g4
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/Literals.g4
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/RDLStatement.g4
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/RQLStatement.g4
  features/db-discovery/distsql/parser/src/main/antlr4/imports/db-discovery/Symbol.g4
Labels: type: refactor, feature: db-discovery, feature: DistSQL

#22651 Update G4 file for Transaction and Traffic
  kernel/traffic/distsql/parser/src/main/antlr4/imports/traffic/BaseRule.g4
  kernel/traffic/distsql/parser/src/main/antlr4/imports/traffic/Literals.g4
  kernel/traffic/distsql/parser/src/main/antlr4/imports/traffic/RALStatement.g4
  kernel/traffic/distsql/parser/src/main/antlr4/imports/traffic/Symbol.g4
  kernel/transaction/distsql/parser/src/main/antlr4/imports/transaction/Literals.g4
  kernel/transaction/distsql/parser/src/main/antlr4/imports/transaction/RALStatement.g4
  kernel/transaction/distsql/parser/src/main/antlr4/imports/transaction/Symbol.g4
Labels: type: refactor, in: kernel, feature: DistSQL

#22644 Update G4 file for Encrypt
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/BaseRule.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/Literals.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RDLStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RQLStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/Symbol.g4
Labels: type: refactor, feature: encrypt, feature: DistSQL

#22642 Update G4 file for Shadow
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/BaseRule.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/Literals.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/RDLStatement.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/RQLStatement.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/Symbol.g4
Labels: type: refactor, feature: shadow, feature: DistSQL

#22655 Add document for REFRESH DATABASE METADATA.
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/_index.en.md
Labels: in: document, in: metadata, feature: DistSQL

#22656 Fix cluster-mode-example
  examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-boot-mybatis-example/src/main/resources/local-zookeeper-readwrite-splitting.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-boot-mybatis-example/src/main/resources/local-zookeeper-sharding-databases-tables.yaml
  examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-namespace-mybatis-example/src/main/resources/META-INF/zookeeper/cloud/application-readwrite-splitting.xml
  examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-namespace-mybatis-example/src/main/resources/META-INF/zookeeper/cloud/application-shadow.xml
  examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-namespace-mybatis-example/src/main/resources/META-INF/zookeeper/cloud/application-sharding-databases-tables.xml
Labels: type: refactor, in: example

#22654 Optimize init ShardingSphereData logic.
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContexts.java
Labels: type: enhancement, in: metadata

#22664 Refactor Spring related document
  docs/document/content/features/ha/_index.cn.md
  docs/document/content/features/ha/_index.en.md
  docs/document/content/features/readwrite-splitting/_index.cn.md
  docs/document/content/features/readwrite-splitting/_index.en.md
  docs/document/content/features/shadow/_index.cn.md
  docs/document/content/features/shadow/_index.en.md
  docs/document/content/quick-start/shardingsphere-jdbc-quick-start.cn.md
  docs/document/content/quick-start/shardingsphere-jdbc-quick-start.en.md
  docs/document/content/reference/encrypt/_index.cn.md
  docs/document/content/reference/encrypt/_index.en.md
  docs/document/content/reference/shadow/_index.cn.md
  docs/document/content/reference/shadow/_index.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/shadow.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/shadow.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/mode.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/sql-parser.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/sql-parser.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/atomikos.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/atomikos.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/bitronix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/bitronix.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/narayana.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/narayana.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/spring-boot-starter.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/spring-boot-starter.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/spring-namespace.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/spring-namespace.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-boot/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-boot/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-namespace/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-namespace/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/shadow.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/shadow.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-parser.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-parser.en.md
Labels: in: JDBC, in: document

#22668 Change `resource_name` to `storage_unit_name` for single table.
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/single-table.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/single-table.en.md
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/rule/SingleTableQueryResultSet.java
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/alter_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/alter_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/create_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/drop_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/create_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/drop_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/standalone/alter_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/standalone/create_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/standalone/drop_single_table_rules.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/db/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/db/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_governance/mysql/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_governance/mysql/show_single_tables.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/show_single_table.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/show_single_tables.xml
Labels: type: refactor, feature: DistSQL

#22653 Update G4 file for SQL-Translator Migration and Parser
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/BaseRule.g4
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/Literals.g4
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/RALStatement.g4
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/Symbol.g4
  kernel/parser/distsql/parser/src/main/antlr4/imports/parser/Literals.g4
  kernel/parser/distsql/parser/src/main/antlr4/imports/parser/RALStatement.g4
  kernel/parser/distsql/parser/src/main/antlr4/imports/parser/Symbol.g4
  kernel/sql-translator/distsql/parser/src/main/antlr4/imports/sqltranslator/Symbol.g4
Labels: type: refactor, feature: DistSQL

#22657 Update G4 file for Authority and Storage unit
  distsql/parser/src/main/antlr4/imports/BaseRule.g4
  distsql/parser/src/main/antlr4/imports/Literals.g4
  distsql/parser/src/main/antlr4/imports/RALStatement.g4
  distsql/parser/src/main/antlr4/imports/RDLStatement.g4
  distsql/parser/src/main/antlr4/imports/RQLStatement.g4
  distsql/parser/src/main/antlr4/imports/Symbol.g4
  kernel/authority/distsql/parser/src/main/antlr4/imports/authority/Symbol.g4
Labels: type: refactor, feature: DistSQL

#22667 add integration test case for encrypt like feature and fix add like columnName by insert
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptForUseDefaultInsertColumnsTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptInsertValuesTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptForUseDefaultInsertColumnsTokenGeneratorTest.java
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/delete/delete.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/insert/insert-column.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/insert/insert-on-duplicate.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-group-by.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-join.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-order-by.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-projection.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-where.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/update/update.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/delete/delete.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/insert/insert-column.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/insert/insert-on-duplicate.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/select/select-group-by.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/select/select-join.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/select/select-order-by.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/select/select-where.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-plain/dml/update/update.xml
Labels: type: enhancement, feature: encrypt, in: test

#22669 Fix document reference
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding.en.md
Labels: feature: sharding, in: document, feature: DistSQL

#22671 Rename resource to storage unit
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/ral/ral-integration-test-cases.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/mysql/alter_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/mysql/register_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/mysql/unregister_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/postgresql/alter_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/postgresql/register_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/postgresql/unregister_storage_unit.xml
  test/e2e/suite/src/test/resources/cases/rdl/rdl-integration-test-cases.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/db/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/db/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/db/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/readwrite_splitting/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/readwrite_splitting/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/readwrite_splitting/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/sharding_and_encrypt/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/mysql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/opengauss/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/postgresql/show_storage_units.xml
  test/e2e/suite/src/test/resources/cases/rql/rql-integration-test-cases.xml
Labels: type: refactor, in: test

#22680 Refactor discovery's class names
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/build/DiscoveryRuleBuilder.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/cases/base/BaseDiscoveryE2EIT.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/cases/mysql/MGRGeneralDiscoveryE2EIT.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/cases/mysql/env/MySQLMGREnvironment.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/env/DiscoveryE2ETestEnvironment.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/env/enums/DiscoveryE2EEnvTypeEnum.java
  test/e2e/discovery/src/test/java/org/apache/shardingsphere/test/e2e/discovery/util/DiscoveryContainerUtil.java
Labels: type: refactor, in: test

#22687 Add : add nightly build IT
  .github/workflows/nightly-it.yml
Labels: in: test, type: build

#22690 fix agent loading plugin definition error
  agent/bootstrap/src/main/java/org/apache/shardingsphere/agent/bootstrap/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
Labels: type: enhancement, feature: agent

#22691 Update release guide for ShardingSphere about Spring
  docs/community/content/involved/release/shardingsphere.cn.md
  docs/community/content/involved/release/shardingsphere.en.md
Labels: in: document, type: release

#22688 Update DistSQL audit related document
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/alter-sharding-table-rule.en.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-rule.cn.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/sharding/create-sharding-table-rule.en.md
Labels: in: document, feature: DistSQL

#22697 Replace some duplicated variables with environment variables
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/docker-release.yml
  .github/workflows/e2e-discovery.yml
  .github/workflows/e2e-pipeline.yml
  .github/workflows/e2e-showprocesslist.yml
  .github/workflows/e2e-transaction.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/nightly-e2e-example-generator.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-sql-parser.yml
Labels: type: build

#22705 Remove useless MismatchedProtocolAndDataSourceException
  infra/common/src/main/java/org/apache/shardingsphere/infra/exception/MismatchedProtocolAndDataSourceException.java
Labels: type: refactor

#22707 Add test cases for GenericSQLException
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/exception/external/sql/type/generic/DatabaseProtocolSQLExceptionTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/exception/external/sql/type/generic/UnknownSQLExceptionTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/exception/external/sql/type/generic/UnsupportedSQLOperationExceptionTest.java
Labels: in: test, in: kernel

#22702 Refactor : remove a variable in github action
  .github/workflows/e2e.yml
  .github/workflows/nightly-e2e.yml
Labels: type: build

#22710 Refactor : upload the generated examples to Apache nightlies
  .github/workflows/nightly-artifact-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-example-build.yml
Labels: type: build

#22711 fix example compile error
  examples/example-core/config-utility/src/main/java/org/apache/shardingsphere/example/fixture/TestQueryAssistedShardingEncryptAlgorithm.java
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/TestQueryAssistedShardingEncryptAlgorithm.ftl
Labels: in: example

#22713 Unify SPI fixture package names
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/ShardingSphereServiceLoaderTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/fixture/empty/EmptySPIFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/fixture/multiton/MultitonSPIFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/fixture/multiton/impl/MultitonSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/fixture/singleton/SingletonSPIFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/fixture/singleton/impl/SingletonSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/optional/fixture/impl/OptionalSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/ordered/OrderedSPIRegistryTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/ordered/cache/OrderedServicesCacheTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/ordered/fixture/impl/OrderedInterfaceFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/ordered/fixture/impl/OrderedSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/RequiredSPIRegistryTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiton/MultitonRequiredSPIFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiton/impl/DefaultMultitonRequiredSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiton/impl/NotDefaultMultitonRequiredSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/single/impl/SingleRequiredSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/typed/TypedSPIRegistryTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/typed/fixture/impl/TypedSPIFixtureImpl.java
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.fixture.multiton.MultitonSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.fixture.singleton.SingletonSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.optional.fixture.OptionalSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.ordered.fixture.OrderedSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.required.fixture.multiton.MultitonRequiredSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.required.fixture.single.SingleRequiredSPIFixture
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.typed.fixture.TypedSPIFixture
Labels: type: refactor, in: test, in: kernel

#22714 Fix insert encrypt values into plain columns.
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptTable.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rule/EncryptTableTest.java
Labels: type: enhancement, feature: encrypt

#22716 Add heterogeneous migration example for openGauss
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
Labels: in: document

#22715 Refactor RequiredSPIRegistryTest
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/ShardingSphereServiceLoaderTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/RequiredSPIRegistryTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiple/MultipleRequiredSPIFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiple/impl/DefaultMultipleRequiredSPIFixtureImpl.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/spi/type/required/fixture/multiple/impl/NotDefaultMultipleRequiredSPIFixtureImpl.java
  infra/util/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.util.spi.type.required.fixture.multiple.MultipleRequiredSPIFixture
Labels: type: refactor, in: test, in: kernel

#22720 Update heterogeneous migration example and migration permission doc
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/migration/usage.en.md
  test/e2e/pipeline/src/test/resources/env/mysql/01-initdb.sql
  test/e2e/pipeline/src/test/resources/env/opengauss/01-initdb.sql
  test/e2e/pipeline/src/test/resources/env/postgresql/01-initdb.sql
Labels: in: document

#22717 Adjust PostgreSQL, openGauss INTERSECT and UNION priority and optimize parse logic
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDecider.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/statement/select/SelectStatementConverter.java
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
  sql-parser/dialect/opengauss/src/main/antlr4/imports/opengauss/DMLStatement.g4
  sql-parser/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/impl/OpenGaussStatementSQLVisitor.java
  sql-parser/dialect/postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  sql-parser/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/impl/PostgreSQLStatementSQLVisitor.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/extractor/TableExtractor.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/segment/dml/combine/CombineSegment.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/util/SubqueryExtractUtil.java
  sql-parser/statement/src/test/java/org/apache/shardingsphere/sql/parser/sql/common/util/SubqueryExtractUtilTest.java
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/it/optimizer/src/test/java/org/apache/shardingsphere/test/it/optimize/SQLNodeConverterEngineIT.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/SelectStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/union/ExpectedCombine.java
  test/it/parser/src/main/resources/case/ddl/create-view.xml
  test/it/parser/src/main/resources/case/dml/select-combine.xml
  test/it/parser/src/main/resources/case/dml/select-union.xml
  test/it/parser/src/main/resources/case/dml/table.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-combine.xml
Labels: type: enhancement, in: SQL parse, feature: query-optimization

#22718 Fix exception info missing when data source is unavailable
  infra/common/src/main/java/org/apache/shardingsphere/infra/datasource/state/DataSourceStateManager.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/datasource/state/exception/UnavailableDataSourceException.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetadataContextsFactory.java
Labels: type: enhancement, in: kernel

#22728 Refactor : refactor the nightly build related actions
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/nightly-build-artifact.yml
  .github/workflows/nightly-build-example.yml
  .github/workflows/resources/sql/nightly-build-example-init.sh
Labels: type: build

#22726 Add more integration test for PostgreSQL and openGauss combine statement
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
Labels: in: test, feature: query-optimization

#22732 Rename AlgorithmDescription
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/algorithm/AlgorithmDescription.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/api/impl/AbstractInventoryIncrementalJobAPIImpl.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/CRC32MatchDataConsistencyCalculateAlgorithm.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/DataMatchDataConsistencyCalculateAlgorithm.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/fixture/DataConsistencyCalculateAlgorithmFixture.java
Labels: type: refactor, in: kernel

#22730 Comply with the code style.
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/rule/GlobalRuleConfigurationsChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/rule/RuleConfigurationsChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/StatusNode.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ConfigurationChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/process/subscriber/ProcessRegistrySubscriber.java
Labels: mode: cluster, type: refactor

#22735 Merge 2 DatabaseOperateBackendHandlerFactoryTest
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/DatabaseOperateBackendHandlerFactoryTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/database/DatabaseOperateBackendHandlerFactoryTest.java
Labels: in: proxy, type: refactor, in: test

#22727 Add it for sql hint.
  test/e2e/suite/src/test/resources/cases/dml/dataset/tbl/insert_into_t_product_with_hint.xml
  test/e2e/suite/src/test/resources/cases/dml/dml-integration-test-cases.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/show_sharding_algorithms.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/show_sharding_table_nodes.xml
  test/e2e/suite/src/test/resources/cases/rql/dataset/tbl/show_sharding_table_rules.xml
  test/e2e/suite/src/test/resources/env/common/cluster/proxy/conf/server.yaml
  test/e2e/suite/src/test/resources/env/common/standalone/proxy/conf/server.yaml
  test/e2e/suite/src/test/resources/env/scenario/tbl/data/actual/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/tbl/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/tbl/data/expected/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/tbl/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/tbl/proxy/conf/mysql/config-tbl.yaml
  test/e2e/suite/src/test/resources/env/scenario/tbl/proxy/conf/opengauss/config-tbl.yaml
  test/e2e/suite/src/test/resources/env/scenario/tbl/proxy/conf/postgresql/config-tbl.yaml
  test/e2e/suite/src/test/resources/env/scenario/tbl/rules.yaml
Labels: type: enhancement, in: test

#22741 fix example e2e init env error
  .github/workflows/resources/sql/nightly-generator-init.sh
Labels: type: build, in: example

#22722 Add check for `ALTER TRANSACTION RULE`
  infra/common/src/main/java/org/apache/shardingsphere/infra/distsql/exception/rule/InvalidRuleConfigurationException.java
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/factory/ShardingSphereTransactionManagerFactory.java
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/spi/ShardingSphereTransactionManager.java
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleStatementUpdater.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleStatementUpdaterTest.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/XAShardingSphereTransactionManager.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/manager/XATransactionManagerProviderFactory.java
Labels: type: enhancement, feature: DistSQL

#22742 Add ClearHintStatementAssert and ClearShardingHintStatementAssert
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/impl/HintRALStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/impl/hint/ClearHintStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/impl/hint/ClearShardingHintStatementAssert.java
Labels: in: test, feature: DistSQL

#22738 update the example module docs
  examples/README.md
  examples/README_ZH.md
Labels: in: document, in: example

#22693 19937 federation optimization test 20221205
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/SQLOptimizeEngineIT.java
  kernel/sql-federation/optimizer/src/test/resources/cases/federation-query-sql-cases.xml
Labels: in: test, feature: query-optimization

#22677 Make sure ShardingSphereDriver can load configuration file from classpath with mutiple ClassLoaders
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereDriverURL.java
Labels: type: enhancement, in: JDBC

#22745 Add ensembleTracker parameter support deploy ZooKeeper on cloud
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/ZookeeperRepository.java
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/props/ZookeeperPropertyKey.java
  mode/type/cluster/repository/provider/zookeeper/src/test/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/ZookeeperRepositoryTest.java
  proxy/bootstrap/src/main/resources/conf/server.yaml
Labels: type: enhancement, mode: cluster

#22740 Improve MySQL incremental client reconnect and close
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/MySQLClient.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/PasswordEncryption.java
  kernel/data-pipeline/dialect/mysql/src/test/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/PasswordEncryptionTest.java
Labels: type: enhancement, feature: pipeline

#22747 Remove ensembleTracker configuration
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/ZookeeperRepository.java
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/props/ZookeeperPropertyKey.java
  proxy/bootstrap/src/main/resources/conf/server.yaml
Labels: mode: cluster, type: refactor

#22749 Refactor ReflectiveUtil
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/reflect/ReflectiveUtil.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/reflect/ReflectiveUtilTest.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/reflect/fixture/ReflectiveFixture.java
Labels: type: refactor, in: kernel

#22753 Move package of ShardingSphereAlgorithm
  features/db-discovery/api/src/main/java/org/apache/shardingsphere/dbdiscovery/factory/DatabaseDiscoveryProviderAlgorithmFactory.java
  features/db-discovery/api/src/main/java/org/apache/shardingsphere/dbdiscovery/spi/DatabaseDiscoveryProviderAlgorithm.java
  features/encrypt/api/src/main/java/org/apache/shardingsphere/encrypt/factory/EncryptAlgorithmFactory.java
  features/encrypt/api/src/main/java/org/apache/shardingsphere/encrypt/spi/EncryptAlgorithm.java
  features/readwrite-splitting/api/src/main/java/org/apache/shardingsphere/readwritesplitting/factory/ReadQueryLoadBalanceAlgorithmFactory.java
  features/readwrite-splitting/api/src/main/java/org/apache/shardingsphere/readwritesplitting/spi/ReadQueryLoadBalanceAlgorithm.java
  features/shadow/api/src/main/java/org/apache/shardingsphere/shadow/factory/ShadowAlgorithmFactory.java
  features/shadow/api/src/main/java/org/apache/shardingsphere/shadow/spi/ShadowAlgorithm.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/factory/KeyGenerateAlgorithmFactory.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/factory/ShardingAlgorithmFactory.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/factory/ShardingAuditAlgorithmFactory.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/spi/KeyGenerateAlgorithm.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/spi/ShardingAlgorithm.java
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/spi/ShardingAuditAlgorithm.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/algorithm/AlgorithmDescription.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/algorithm/ShardingSphereAlgorithm.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/algorithm/ShardingSphereAlgorithmFactory.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/algorithm/ShardingSphereAlgorithmFactoryTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/algorithm/fixture/ShardingSphereAlgorithmFixture.java
  infra/common/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.algorithm.ShardingSphereAlgorithm
  kernel/authority/api/src/main/java/org/apache/shardingsphere/authority/factory/AuthorityProviderAlgorithmFactory.java
  kernel/authority/api/src/main/java/org/apache/shardingsphere/authority/spi/AuthorityProviderAlgorithm.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/check/consistency/DataConsistencyCalculateAlgorithm.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/check/consistency/DataConsistencyCalculateAlgorithmFactory.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/ingest/channel/PipelineChannelCreator.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/ingest/channel/PipelineChannelCreatorFactory.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/ratelimit/JobRateLimitAlgorithm.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/ratelimit/JobRateLimitAlgorithmFactory.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/api/impl/AbstractInventoryIncrementalJobAPIImpl.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/CRC32MatchDataConsistencyCalculateAlgorithm.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/DataMatchDataConsistencyCalculateAlgorithm.java
  kernel/traffic/api/src/main/java/org/apache/shardingsphere/traffic/factory/TrafficAlgorithmFactory.java
  kernel/traffic/api/src/main/java/org/apache/shardingsphere/traffic/factory/TrafficLoadBalanceAlgorithmFactory.java
  kernel/traffic/api/src/main/java/org/apache/shardingsphere/traffic/spi/TrafficAlgorithm.java
  kernel/traffic/api/src/main/java/org/apache/shardingsphere/traffic/spi/TrafficLoadBalanceAlgorithm.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportChecker.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/fixture/DataConsistencyCalculateAlgorithmFixture.java
Labels: type: refactor, in: kernel

#22754 Fix wrong decide result when execute same sharding condition subquery with sql federation
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDecider.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDeciderTest.java
Labels: type: enhancement, feature: query-optimization

#22758 Refactor : disable the example upload action temporarily (#22757)
  .github/workflows/nightly-build-example.yml
Labels: type: build

#22761 Update `脱敏` in encrypt chinese documents to `加密` and `decryption` in encrypt english documents to `encryption`
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/mix.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.en.md
Labels: in: document

#22767 Fix occasional test exceptions for ShardingSphereDataCollectorTest.
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/execute/ShardingSphereDataScheduleCollector.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/execute/ShardingSphereDataCollectorTest.java
Labels: type: enhancement, in: test

#22763 Add like literal for show single table statement
  distsql/parser/src/main/antlr4/imports/Keyword.g4
  distsql/parser/src/main/antlr4/imports/RQLStatement.g4
  distsql/parser/src/main/java/org/apache/shardingsphere/distsql/parser/core/kernel/KernelDistSQLStatementVisitor.java
  distsql/statement/src/main/java/org/apache/shardingsphere/distsql/parser/statement/rql/show/ShowSingleTableStatement.java
  docs/document/content/reference/distsql/syntax/rql/rule-query/single-table/show-single-table.cn.md
  docs/document/content/reference/distsql/syntax/rql/rule-query/single-table/show-single-table.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/single-table.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/single-table.en.md
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/rule/SingleTableQueryResultSet.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/SingleTableQueryResultSetTest.java
Labels: type: enhancement, feature: DistSQL

#22775 Refactor DistSQL exception's packages
  distsql/handler/src/main/java/org/apache/shardingsphere/distsql/handler/exception/algorithm/AlgorithmInUsedException.java
  distsql/handler/src/main/java/org/apache/shardingsphere/distsql/handler/exception/algorithm/DuplicateAlgorithmException.java
  distsql/handler/src/main/java/org/apache/shardingsphere/distsql/handler/exception/algorithm/InvalidAlgorithmConfigurationException.java
  distsql/handler/src/main/java/org/apache/shardingsphere/distsql/handler/exception/algorithm/MissingRequiredAlgorithmException.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryTypeStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryTypeStatementUpdater.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryProviderAlgorithmStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryRuleStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryProviderAlgorithmStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdaterTest.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleStatementUpdater.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleStatementUpdater.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleStatementUpdaterTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleStatementUpdaterTest.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingRuleStatementUpdaterTest.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/CreateReadwriteSplittingRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/checker/ShadowRuleStatementChecker.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/AlterDefaultShadowAlgorithmStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/AlterShadowRuleStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/CreateDefaultShadowAlgorithmStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/CreateShadowRuleStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropDefaultShadowAlgorithmStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowAlgorithmStatementUpdater.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/AlterDefaultShadowAlgorithmStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/AlterShadowRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/CreateDefaultShadowAlgorithmStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/CreateShadowRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/DropDefaultShadowAlgorithmStatementUpdaterTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterDefaultShardingStrategyStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateDefaultShardingStrategyStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAlgorithmStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAuditorStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingKeyGeneratorStatementUpdater.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/checker/ShardingRuleStatementCheckerTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterDefaultShardingStrategyStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateDefaultShardingStrategyStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropShardingAlgorithmStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropShardingAuditorStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropShardingKeyGeneratorStatementUpdaterTest.java
  kernel/traffic/distsql/handler/src/main/java/org/apache/shardingsphere/traffic/distsql/handler/update/AlterTrafficRuleStatementUpdater.java
  kernel/traffic/distsql/handler/src/main/java/org/apache/shardingsphere/traffic/distsql/handler/update/CreateTrafficRuleStatementUpdater.java
  kernel/traffic/distsql/handler/src/test/java/org/apache/shardingsphere/traffic/distsql/handler/update/AlterTrafficRuleStatementUpdaterTest.java
  kernel/traffic/distsql/handler/src/test/java/org/apache/shardingsphere/traffic/distsql/handler/update/CreateTrafficRuleStatementUpdaterTest.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/DatabaseDiscoveryRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ReadwriteSplittingRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportChecker.java
Labels: type: refactor, feature: DistSQL

#22778 Rename ruleConfigurations to ruleConfigs
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/converter/ReadwriteSplittingRuleStatementConverterTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/MetaDataPersistService.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoader.java
Labels: type: refactor

#22780 Remove useless ALGORITHM_PROVIDER_ORDER for spring usage
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/constant/DatabaseDiscoveryOrder.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/constant/EncryptOrder.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/constant/ReadwriteSplittingOrder.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/constant/ShadowOrder.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/constant/ShardingOrder.java
  features/sharding/plugin/cache/src/main/java/org/apache/shardingsphere/sharding/cache/rule/builder/ShardingCacheRuleBuilder.java
  features/sharding/plugin/cache/src/main/java/org/apache/shardingsphere/sharding/cache/yaml/swapper/YamlShardingCacheRuleConfigurationSwapper.java
  features/sharding/plugin/cache/src/test/java/org/apache/shardingsphere/sharding/cache/rule/builder/ShardingCacheRuleBuilderTest.java
  features/sharding/plugin/cache/src/test/java/org/apache/shardingsphere/sharding/cache/yaml/swapper/YamlShardingCacheRuleConfigurationSwapperTest.java
Labels: type: refactor, in: kernel

#22781 Remove byte-buddy-agent dependency
  agent/plugins/tracing/test/pom.xml
  agent/pom.xml
  pom.xml
Labels: type: dependencies, feature: agent

#22782 Revise release guide of ShardingSphere
  docs/community/content/involved/release/shardingsphere.cn.md
  docs/community/content/involved/release/shardingsphere.en.md
Labels: in: document, type: release

#22783 Rename AgentSPI
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/AgentSPI.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/boot/PluginBootService.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/definition/PluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/spi/AgentTypedSPIRegistry.java
  agent/pom.xml
Labels: type: refactor, feature: agent

#22784 Refactor AbstractPluginDefinitionService
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/definition/AbstractPluginDefinitionService.java
  agent/plugins/logging/base/src/main/java/org/apache/shardingsphere/agent/plugin/logging/base/definition/BaseLoggingPluginDefinitionService.java
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
  agent/plugins/tracing/jaeger/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/definition/JaegerPluginDefinitionService.java
  agent/plugins/tracing/opentelemetry/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/definition/OpenTelemetryTracingPluginDefinitionService.java
  agent/plugins/tracing/opentracing/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentracing/definition/OpenTracingPluginDefinitionService.java
  agent/plugins/tracing/zipkin/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/definition/ZipkinPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22785 Refactor AbstractPluginDefinitionService
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/definition/AbstractPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22786 Add install method into PluginDefinitionService
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/point/PluginInterceptorPoint.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/definition/AbstractPluginDefinitionService.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/definition/PluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
  agent/plugins/metrics/prometheus/src/test/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionServiceTest.java
  agent/plugins/tracing/jaeger/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/definition/JaegerPluginDefinitionService.java
  agent/plugins/tracing/jaeger/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/definition/JaegerPluginDefinitionServiceTest.java
  agent/plugins/tracing/opentelemetry/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/definition/OpenTelemetryTracingPluginDefinitionService.java
  agent/plugins/tracing/opentelemetry/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/definition/OpenTelemetryTracingPluginDefinitionServiceTest.java
  agent/plugins/tracing/opentracing/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentracing/definition/OpenTracingPluginDefinitionService.java
  agent/plugins/tracing/opentracing/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/opentracing/definition/OpenTracingPluginDefinitionServiceTest.java
  agent/plugins/tracing/zipkin/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/definition/ZipkinPluginDefinitionService.java
  agent/plugins/tracing/zipkin/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/definition/ZipkinPluginDefinitionServiceTest.java
Labels: type: refactor, feature: agent

#22787 Revise release guide of ShardingSphere on Cloud
  docs/community/content/involved/release/shardingsphere-on-cloud.cn.md
  docs/community/content/involved/release/shardingsphere-on-cloud.en.md
Labels: type: release, db: MySQL

#22776 add cover mask algorithm
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/cover/KeepFirstNLastMMaskAlgorithm.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/cover/KeepFromXToYMaskAlgorithm.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/KeepFirstNLastMMaskAlgorithmTest.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/KeepFromXToYMaskAlgorithmTest.java
Labels: type: enhancement, feature: mask

#22792 Add : add back the example upload since the permission has been granted by apache infra team
  .github/workflows/nightly-build-example.yml
Labels: type: build, in: example

#22791 Refactor pom of agent module
  agent/bootstrap/pom.xml
  agent/core/pom.xml
  agent/plugins/logging/pom.xml
  agent/plugins/metrics/pom.xml
  agent/plugins/metrics/prometheus/pom.xml
  agent/plugins/pom.xml
  agent/plugins/tracing/jaeger/pom.xml
  agent/plugins/tracing/opentelemetry/pom.xml
  agent/plugins/tracing/pom.xml
  agent/plugins/tracing/test/pom.xml
  agent/plugins/tracing/zipkin/pom.xml
Labels: type: refactor, feature: agent

#22793 Refactor pom of agent module
  agent/plugins/metrics/api/pom.xml
  agent/plugins/metrics/prometheus/pom.xml
Labels: type: refactor, feature: agent

#22795 Add PluginConfigurationValidator
  agent/api/src/main/java/org/apache/shardingsphere/agent/config/AgentConfiguration.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/config/PluginConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/config/validator/PluginConfigurationValidator.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/config/validator/PluginConfigurationValidatorTest.java
  agent/plugins/tracing/jaeger/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/service/JaegerTracingPluginBootService.java
  agent/plugins/tracing/zipkin/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/service/ZipkinTracingPluginBootService.java
Labels: type: refactor, feature: agent

#22797 Rename StaticMethodAroundAdvice
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/advice/StaticMethodAroundAdvice.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/point/PluginInterceptorPoint.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/advice/ComposeStaticMethodAroundAdvice.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/StaticMethodAroundInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/StaticMethodInterceptorArgsOverride.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/compose/ComposedConstructorInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/compose/ComposedInstanceMethodAroundInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/compose/ComposedInstanceMethodInterceptorArgsOverride.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/compose/ComposedStaticMethodAroundInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/interceptor/compose/ComposedStaticMethodInterceptorArgsOverride.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/advice/ComposeStaticMethodAroundAdviceTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/mock/advice/MockStaticMethodAroundAdvice.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/interceptor/StaticMethodAroundInterceptorTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
  agent/plugins/logging/base/src/main/java/org/apache/shardingsphere/agent/plugin/logging/base/advice/MetaDataContextsFactoryAdvice.java
  agent/plugins/logging/base/src/main/java/org/apache/shardingsphere/agent/plugin/logging/base/definition/BaseLoggingPluginDefinitionService.java
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22799 Add InterceptorsYamlSwapper
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/yaml/entity/Interceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/yaml/entity/Interceptors.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/yaml/entity/TargetPoint.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/yaml/swapper/InterceptorsYamlSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/yaml/swapper/InterceptorsYamlSwapperTest.java
  agent/core/src/test/resources/interceptors.yaml
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22800 Refactor prometheus' interceptors.yaml
  agent/plugins/metrics/prometheus/src/main/resources/prometheus/interceptors.yaml
Labels: type: refactor, feature: agent

#22801 Rename package name from point to interceptor
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/interceptor/ConstructorInterceptorPoint.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/interceptor/InstanceMethodInterceptorPoint.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/interceptor/PluginInterceptorPoint.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/api/interceptor/StaticMethodInterceptorPoint.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/PluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/AbstractPluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/InterceptorPointRegistry.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22809 Refactor AgentServiceLoader
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/spi/AgentServiceLoader.java
Labels: type: refactor, feature: agent

#22810 Update document format.
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.en.md
Labels: in: document

#22811 Refactor IntegrationTestCasesLoader
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/cases/IntegrationTestCasesLoader.java
Labels: type: refactor, in: test

#22755 Fix example genaretor
  .github/workflows/nightly-build-example.yml
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/scenario/ExampleScenarioFactory.java
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/TransactionConfiguration.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/config/shadow.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringBootStarJdbcExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringBootStarJpaExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringBootStarMyBatisExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringNamespaceJdbcExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringNamespaceJpaExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/main/SpringNamespaceMyBatisExampleMain.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jdbc/OrderItemRepository.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jdbc/OrderRepository.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jpa/AddressRepository.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jpa/OrderItemRepository.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jpa/OrderRepository.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/pom.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/resources/mappers/OrderMapper.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/resources/xml/application.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/resources/yaml/feature/readwrite-splitting.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/resources/yaml/feature/shadow.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/resources/yaml/feature/sharding.ftl
Labels: type: build, in: example

#22812 Simplify PluginPointcuts
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/PluginPointcuts.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/InterceptorPointRegistry.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
Labels: type: refactor, feature: agent

#22814 Revise pr 22776 for code style
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/cover/KeepFirstNLastMMaskAlgorithm.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/cover/KeepFromXToYMaskAlgorithm.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/KeepFirstNLastMMaskAlgorithmTest.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/KeepFromXToYMaskAlgorithmTest.java
Labels: type: refactor, feature: mask

#22817 Remove builder of PluginPointcuts
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/InstanceMethodPointcut.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/PluginPointcuts.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/StaticMethodPointcut.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/AbstractPluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/InterceptorPointRegistry.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
  agent/plugins/logging/base/src/main/java/org/apache/shardingsphere/agent/plugin/logging/base/definition/BaseLoggingPluginDefinitionService.java
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
  agent/plugins/tracing/jaeger/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/definition/JaegerPluginDefinitionService.java
  agent/plugins/tracing/opentelemetry/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/definition/OpenTelemetryTracingPluginDefinitionService.java
  agent/plugins/tracing/opentracing/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentracing/definition/OpenTracingPluginDefinitionService.java
  agent/plugins/tracing/zipkin/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/definition/ZipkinPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22818 Rename ClassPointcuts
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/AgentPointcut.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/ClassPointcuts.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/ConstructorPointcut.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/InstanceMethodPointcut.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/pointcut/StaticMethodPointcut.java
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/PluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/AbstractPluginDefinitionService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/definition/InterceptorPointRegistry.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/AgentPluginLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/bytebuddy/transformer/ShardingSphereTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoaderTest.java
  agent/plugins/metrics/prometheus/src/main/java/org/apache/shardingsphere/agent/metrics/prometheus/definition/PrometheusPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22779 Add partial implementation of CDC subscription FULL mode
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/datanode/JobDataNodeEntry.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/datanode/JobDataNodeLine.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/datasource/config/impl/ShardingSpherePipelineDataSourceConfiguration.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/handler/LoginRequestHandler.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/CDCJobAPI.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/impl/CDCJobAPIImpl.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/config/job/CDCJobConfiguration.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/config/task/CDCTaskConfiguration.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/context/CDCProcessContext.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/context/job/CDCJobItemContext.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/job/CDCJob.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/metadata/processor/CDCJobConfigurationChangedProcessor.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/prepare/CDCJobPreparer.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/yaml/job/YamlCDCJobConfiguration.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/yaml/job/YamlCDCJobConfigurationSwapper.java
  kernel/data-pipeline/cdc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.data.pipeline.core.api.PipelineJobAPI
  kernel/data-pipeline/cdc/core/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/yaml/job/YamlCDCJobConfigurationSwapperTest.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/JobDataNodeLineConvertUtil.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/util/JobDataNodeLineConvertUtilTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/cdc/fixture/FixtureCDCJobAPI.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/api/datanode/JobDataNodeLineTest.java
Labels: type: new feature, feature: pipeline

#22831 Correct the RE expression at the language.html
  docs/document/themes/hugo-theme-learn/layouts/partials/language.html
Labels: in: document

#22833 Fix Consul SPI
  mode/type/cluster/repository/provider/consul/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.repository.cluster.ClusterPersistRepository
  mode/type/cluster/repository/provider/consul/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.repository.cluster.lock.creator.DistributedLockCreator
Labels: mode: cluster, type: refactor

#22838 Refactor Tracing PluginDefinitionService
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/common/AgentClassLoader.java
  agent/plugins/logging/base/src/main/java/org/apache/shardingsphere/agent/plugin/logging/base/definition/BaseLoggingPluginDefinitionService.java
  agent/plugins/tracing/jaeger/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/jaeger/definition/JaegerPluginDefinitionService.java
  agent/plugins/tracing/opentelemetry/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/definition/OpenTelemetryTracingPluginDefinitionService.java
  agent/plugins/tracing/opentracing/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentracing/definition/OpenTracingPluginDefinitionService.java
  agent/plugins/tracing/zipkin/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/zipkin/definition/ZipkinPluginDefinitionService.java
Labels: type: refactor, feature: agent

#22836 Add Legacy option for version select
  docs/document/themes/hugo-theme-learn/layouts/partials/language.html
Labels: in: document
