Repository apache/shardingsphere, pull requests merged in 2023-04, with the labels that each got.

#24936 Upgrade site version
  kernel/transaction/type/base/seata-at/pom.xml
  pom.xml
Labels: type: build

#24937 Unify readwrite splitting to readwrite-splitting
  docs/blog/content/material/Nov_23_1_Integrate_SCTL_into_RAL.en.md
  docs/document/content/features/ha/_index.en.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/readwrite-splitting/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/circuit-breaker/alter-readwrite-splitting-rule-enable-disable.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/circuit-breaker/show-status-from-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/alter-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/create-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/drop-readwrite-splitting-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/drop-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/reserved-word.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/readwrite-splitting/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/readwrite-splitting/count-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/readwrite-splitting/show-readwrite-splitting-rule.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/datanode/ReadwriteSplittingDataNodeBuilder.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/ReadwriteSplittingSQLException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/filter/ReadDataSourcesFilter.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/strategy/ReadwriteSplittingStrategy.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/strategy/ReadwriteSplittingStrategyFactory.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/strategy/type/DynamicReadwriteSplittingStrategy.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/strategy/type/StaticReadwriteSplittingStrategy.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/converter/ReadwriteSplittingRuleStatementConverter.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/CountReadwriteSplittingRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadwriteSplittingRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/DropReadwriteSplittingRuleStatementUpdater.java
  features/readwrite-splitting/distsql/statement/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/statement/AlterReadwriteSplittingRuleStatement.java
  features/readwrite-splitting/distsql/statement/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/statement/CountReadwriteSplittingRuleStatement.java
  features/readwrite-splitting/distsql/statement/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/statement/DropReadwriteSplittingRuleStatement.java
  features/readwrite-splitting/distsql/statement/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/statement/ShowReadwriteSplittingRulesStatement.java
  features/readwrite-splitting/distsql/statement/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/statement/ShowStatusFromReadwriteSplittingRulesStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/distsql/rdl/ReadwriteSplittingRuleAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/impl/updatable/AlterReadwriteSplittingStorageUnitStatusStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/alter/impl/AlterReadwriteSplittingRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/create/impl/CreateReadwriteSplittingRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/drop/impl/DropReadwriteSplittingRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/distsql/rdl/ExceptedReadwriteSplittingRule.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/ral/AlterReadwriteSplittingStorageUnitStatusStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/rule/readwritesplitting/CountReadwriteSplittingRuleStatementTestCase.java
Labels: type: refactor, feature: readwrite-splitting

#24938 Remove useless filed of YamlDynamicReadwriteSplittingStrategyConfiguration
  RELEASE-NOTES.md
  docs/blog/content/material/2022_09_08_Apache_ShardingSphere_5.2.0_is_Released,_Bringing_New_Cloud_Native_Possibilities.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/strategy/YamlDynamicReadwriteSplittingStrategyConfiguration.java
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/RDLStatement.g4
Labels: type: refactor, feature: readwrite-splitting

#24942 Remove lifecycle-mapping plugin
  pom.xml
Labels: type: build

#24943 Upgrade maven's plugins version
  pom.xml
Labels: type: build, type: dependencies

#24944 Add external rat.txt
  pom.xml
  src/resources/rat.txt
Labels: type: build

#24945 Adjust order of maven plugins
  pom.xml
Labels: type: build

#24946 Refactor root pom
  infra/util/pom.xml
  pom.xml
Labels: type: build

#24948 Remove useless excludes of maven-surefire-plugin
  pom.xml
Labels: type: build

#24929 Update seata-all and netty to fix nativeTest in GraalVM Native Build Tools
  distribution/proxy-native/src/main/release-docs/LICENSE
  distribution/proxy/src/main/release-docs/LICENSE
  examples/pom.xml
  kernel/transaction/type/base/seata-at/pom.xml
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManagerTest.java
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/fixture/MockMessageHandler.java
  pom.xml
Labels: type: dependencies

#24949 Refactor QualifiedReadwriteSplittingDataSourceRouter
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingDataSourceRouter.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/qualified/QualifiedReadwriteSplittingDataSourceRouter.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/qualified/type/QualifiedReadwriteSplittingPrimaryDataSourceRouter.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/qualified/type/QualifiedReadwriteSplittingTransactionalDataSourceRouter.java
Labels: type: refactor, feature: readwrite-splitting

#24951 Remove useless codes
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/readwrite-splitting.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/ha.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mix.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/rule/YamlReadwriteSplittingDataSourceRuleConfiguration.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/strategy/YamlDynamicReadwriteSplittingStrategyConfiguration.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/strategy/YamlReadwriteSplittingStrategyConfiguration.java
  kernel/transaction/type/base/seata-at/pom.xml
  proxy/backend/core/src/test/resources/conf/convert/config-mix.yaml
Labels: type: refactor, feature: readwrite-splitting

#24947 Add test cases for StandardReadwriteSplittingDataSourceRouter
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/standard/StandardReadwriteSplittingDataSourceRouterTest.java
Labels: in: test, feature: readwrite-splitting

#24952 Refactor StandardReadwriteSplittingDataSourceRouterTest
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/standard/StandardReadwriteSplittingDataSourceRouterTest.java
Labels: in: test, feature: readwrite-splitting

#24957 Fix : avoid the error when report by javadoc plugin
  pom.xml
Labels: type: build

#24958 Add @Deprecated for ReadwriteSplittingDataSourceRuleConfiguration
  features/readwrite-splitting/api/src/main/java/org/apache/shardingsphere/readwritesplitting/api/rule/ReadwriteSplittingDataSourceRuleConfiguration.java
Labels: type: refactor, feature: readwrite-splitting

#24960 Merge the open source protocol files and modify the address of the spotless protocol files
  pom.xml
  src/resources/copyright.txt
  src/resources/license-header
Labels: type: build

#24959 Remove pojo test case
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/rule/ReadWriteSplittingDataSourceRuleConfigurationTest.java
Labels: in: test, feature: readwrite-splitting

#24961 Refactor : reduce the config of javadoc plugin
  pom.xml
Labels: type: build

#24962 Remove YamlReadwriteSplittingStrategyConfiguration
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/strategy/YamlReadwriteSplittingStrategyConfiguration.java
Labels: type: refactor, feature: readwrite-splitting

#24965 Refactor ReadwriteSplittingRule
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRule.java
Labels: type: refactor, feature: readwrite-splitting

#24954 Improve part of pipeline code follow spotbugs
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/api/PipelineAPIFactory.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/SingleTableInventoryDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/check/consistency/algorithm/DataMatchDataConsistencyCalculateAlgorithm.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/channel/memory/ManualBitSet.java
  src/resources/spotbugs.xml
Labels: type: refactor, feature: pipeline

#24950 Split test case docker container to fix ci error.
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/E2ETestCaseArgumentsProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/param/array/E2ETestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/param/model/AssertionTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/param/model/CaseTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/param/model/E2ETestParameter.java
Labels: type: enhancement, in: test

#24956 Remove schedule module
  infra/common/src/main/java/org/apache/shardingsphere/infra/schedule/CronJob.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/schedule/ScheduleContext.java
  kernel/pom.xml
  kernel/schedule/core/pom.xml
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/ScheduleContextFactory.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/context/ClusterScheduleContext.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/context/StandaloneScheduleContext.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/model/JobParameter.java
  kernel/schedule/pom.xml
Labels: type: refactor, in: kernel

#24977 Rename yaml-it to yaml
  test/it/pom.xml
  test/it/yaml/pom.xml
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/YamlRuleConfigurationIT.java
Labels: in: test

#24979 Upgrade readme
  README.md
  README_ZH.md
Labels: in: document

#24980 Upgrade version of spotless
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/H2SchemaMetaDataLoaderTest.java
  pom.xml
Labels: type: build

#24981 Remove install verify of apache rat
  .github/workflows/ci.yml
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e-pipeline.yml
  .github/workflows/e2e-showprocesslist.yml
  .github/workflows/e2e-sql.yml
  .github/workflows/e2e-transaction.yml
  .github/workflows/nightly-build-artifact.yml
  .github/workflows/nightly-build-example.yml
  .github/workflows/nightly-check.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-sql-parser.yml
  pom.xml
  src/resources/spotless/copyright.txt
  src/resources/spotless/java.xml
Labels: type: build

#24972 Fix #24882
  infra/common/src/main/java/org/apache/shardingsphere/infra/datasource/props/DataSourcePropertiesValidator.java
Labels: feature: DistSQL, type: bug fix

#24984 Rollback spotless's format
  infra/common/pom.xml
  pom.xml
Labels: type: build

#24985 Refactor spotbugs's dep
  pom.xml
Labels: type: build

#24983 Fix seata test failure caused by upgrade
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManagerTest.java
Labels: feature: transaction, in: test

#24987 Refactor root pom
  pom.xml
Labels: type: build

#24989 Refactor root pom
  kernel/data-pipeline/cdc/protocol/pom.xml
  pom.xml
Labels: type: build

#24988 For #24906, remove AUTO_AWARE_RESOURCE in readwrite-splitting DistSQL.
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/Keyword.g4
Labels: type: refactor, feature: readwrite-splitting, feature: DistSQL

#24990 Remove useless -Dspotbugs.skip=true in GitHub action
  .github/workflows/ci.yml
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e-pipeline.yml
  .github/workflows/e2e-showprocesslist.yml
  .github/workflows/e2e-sql.yml
  .github/workflows/e2e-transaction.yml
  .github/workflows/nightly-build-artifact.yml
  .github/workflows/nightly-build-example.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-sql-parser.yml
  kernel/data-pipeline/cdc/protocol/pom.xml
  pom.xml
Labels: type: build

#24991 Refactor build-helper-maven-plugin to plugin management tag
  distsql/parser/pom.xml
  features/encrypt/distsql/parser/pom.xml
  features/mask/distsql/parser/pom.xml
  features/readwrite-splitting/distsql/parser/pom.xml
  features/shadow/distsql/parser/pom.xml
  features/sharding/distsql/parser/pom.xml
  kernel/authority/distsql/parser/pom.xml
  kernel/data-pipeline/distsql/parser/pom.xml
  kernel/parser/distsql/parser/pom.xml
  kernel/sql-federation/optimizer/pom.xml
  kernel/sql-translator/distsql/parser/pom.xml
  kernel/traffic/distsql/parser/pom.xml
  kernel/transaction/distsql/parser/pom.xml
  pom.xml
  sql-parser/dialect/pom.xml
Labels: type: build

#24939 Improve properties verification of JobRateLimitAlgorithm
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/exception/job/ratelimit/JobRateLimitAlgorithmInitializationException.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ratelimit/QPSJobRateLimitAlgorithm.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ratelimit/TPSJobRateLimitAlgorithm.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/ratelimit/QPSJobRateLimitAlgorithmTest.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/ratelimit/TPSJobRateLimitAlgorithmTest.java
Labels: type: enhancement, feature: pipeline

#24992 Refactor root pom
  pom.xml
Labels: type: build

#24997 Refactor : remove some useless cofiguration for reporting plugins
  pom.xml
Labels: type: build

#24975 optimize import database config
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/YamlDatabaseConfigurationImportExecutor.java
Labels: type: refactor, feature: DistSQL

#25001 Fix release savepoint in MySQL
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLTCLStatementSQLVisitor.java
  sql-parser/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/mysql/tcl/MySQLReleaseSavepointStatement.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/savepoint/BaseSavePointTestCase.java
Labels: type: enhancement, feature: transaction

#25004 Support release savepoint in MySQL
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionSavepointManager.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/ConnectionSavepointManagerTest.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/savepoint/MySQLSavePointTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/settype/TransactionTypeHolderTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/engine/base/TransactionBaseE2EIT.java
Labels: feature: transaction, type: refactor

#25003 Remove non-essential extensions at CDC protocol module
  kernel/data-pipeline/cdc/protocol/pom.xml
Labels: type: dependencies, feature: pipeline

#25007 Update user cases
  docs/community/content/powered-by/_index.cn.md
Labels: in: document

#25010 Add PartialSQLRouteExecutorTest
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/impl/PartialSQLRouteExecutorTest.java
Labels: in: test

#25011 Fix javadoc of PipelineSQLBuilder
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/spi/sqlbuilder/PipelineSQLBuilder.java
Labels: type: refactor, feature: pipeline

#25012 Remove useless code of NarayanaXATransactionManagerProvider
  kernel/transaction/type/xa/provider/narayana/src/main/java/org/apache/shardingsphere/transaction/xa/narayana/manager/NarayanaXATransactionManagerProvider.java
Labels: feature: transaction, type: refactor

#25017 Use assertThat to instead of assertEquals
  kernel/data-pipeline/cdc/client/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/client/util/ProtobufAnyValueConverterTest.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/context/PipelineContextKeyTest.java
Labels: type: refactor, in: test

#25018 Update document for checkStyle settings
  docs/community/content/involved/contribute/dev-env.cn.md
  docs/community/content/involved/contribute/dev-env.en.md
Labels: in: document

#25020 Bump Maven to 3.8.7 to fix occasional multi-thread building failure
  .mvn/wrapper/maven-wrapper.properties
Labels: type: build

#25023 Fix the dependency of jackson-dataformat-yaml and upgrade jackson to 2.14.0
  distribution/proxy-native/src/main/release-docs/LICENSE
  distribution/proxy/src/main/release-docs/LICENSE
  pom.xml
Labels: type: dependencies, type: bug fix

#25026 Fix spotbugs issues in openGauss backend module
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutor.java
  src/resources/spotbugs.xml
Labels: type: refactor

#25028 Integrate community suggestion into release guide
  docs/community/content/involved/release/shardingsphere.cn.md
  docs/community/content/involved/release/shardingsphere.en.md
Labels: in: document, type: release

#25030 Refactor : remove report duplicated plugin and fix OOM issue
  pom.xml
Labels: type: build

#24914 Remove meaningless assembly configuration
  distribution/proxy/src/main/assembly/shardingsphere-proxy-binary-distribution.xml
Labels: type: build

#24888 support for SELECT special functions
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
  test/it/optimizer/src/test/java/org/apache/shardingsphere/test/it/optimize/SQLNodeConverterEngineIT.java
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
Labels: type: enhancement, db: MySQL, feature: query-optimization

#24921 add RedisTSOProvider of GlobalClock
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/core/executor/GlobalClockTransactionHook.java
  kernel/global-clock/type/tso/provider/redis/pom.xml
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/RedisTSOProperties.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/RedisTSOProvider.java
Labels: type: enhancement, in: kernel

#25046 Add parse test for some RQL.
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rql/RQLStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rql/impl/ShowStorageUnitsStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rql/impl/ShowTablesStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rql/impl/table/ShowSingleTablesStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/storage/unit/ShowRulesUsedStorageUnitStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/storage/unit/ShowStorageUnitsStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/table/ShowLogicalTableStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/table/ShowSingleTableStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/table/ShowTableStatementTestCase.java
  test/it/parser/src/main/resources/case/rql/show.xml
  test/it/parser/src/main/resources/sql/supported/rql/show.xml
Labels: in: test, feature: DistSQL

#25047 Add more fraction-of-seconds in PostgreSQLTextTimestampUtils
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLTextTimestampUtils.java
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLTextTimestampUtilsTest.java
Labels: type: enhancement, in: proxy, db: PostgreSQL

#25045 Refactor global clock code
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/core/executor/GlobalClockTransactionHook.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/core/executor/OpenGaussGlobalClockTransactionExecutor.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/core/rule/GlobalClockRule.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/RedisTSOProperties.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/RedisTSOPropertyKey.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/RedisTSOProvider.java
Labels: type: refactor, in: kernel

#25037 Fix wrong logic table metadata when config same actual table name in different storage unit
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/EncryptMetaDataReviseEngineTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/LogicTablesMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowIndexMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTableStatusMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/ShardingMetaDataReviseEntry.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/constraint/ShardingConstraintReviser.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/table/ShardingTableNameReviser.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowCreateTableMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowIndexMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTableStatusMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTablesMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/ShardingMetaDataReviseEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/common/TableMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/DialectSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/SchemaMetaDataLoaderEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/SchemaMetaDataLoaderMaterial.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/H2SchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/MySQLSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OpenGaussSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OracleSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/PostgreSQLSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/SQLServerSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/model/TableMetaData.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/MetaDataReviseEntry.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/column/ColumnReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/constraint/ConstraintReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/constraint/ConstraintReviser.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/index/IndexReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/table/TableMetaDataReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/table/TableNameReviser.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SchemaMetaDataUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/GenericSchemaBuilderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/common/TableMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/H2SchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/MySQLSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OracleSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/PostgreSQLSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/SQLServerSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/model/TableMetaDataTest.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/DatabaseMetaDataResultSet.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/reviser/SingleMetaDataReviseEntry.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/reviser/constraint/SingleConstraintReviser.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/SingleMetaDataReviseEngineTest.java
  pom.xml
Labels: feature: sharding, in: metadata, type: bug fix

#25050 Ignore single rule db scenario
  .github/workflows/e2e-sql.yml
Labels: in: test

#25052 Remove reconnect when exception caught at MySQLClient
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/MySQLClient.java
Labels: type: enhancement, feature: pipeline

#25056 Refactor ShardingSphereDataSource.close() to throw SQLException
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
Labels: in: JDBC, type: refactor

#25058 Remove H2 compile API for JDBCRepositoryTest
  mode/type/standalone/repository/provider/jdbc/core/src/test/java/org/apache/shardingsphere/mode/repository/standalone/jdbc/JDBCRepositoryTest.java
Labels: in: test, mode: standalone

#25059 Remove useless dependency of standalone-mode-repository-api module
  mode/type/standalone/repository/api/pom.xml
Labels: type: refactor, mode: standalone

#25060 Move package of MethodTimeRecorderTest
  agent/api/pom.xml
  agent/plugins/core/src/test/java/org/apache/shardingsphere/agent/plugin/core/recorder/MethodTimeRecorderTest.java
Labels: in: test, feature: agent

#25065 Refactor PluginLifecycleService.close
  agent/api/src/main/java/org/apache/shardingsphere/agent/spi/PluginLifecycleService.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginLifecycleServiceManager.java
  agent/plugins/logging/type/file/src/main/java/org/apache/shardingsphere/agent/plugin/logging/file/FileLoggingPluginLifecycleService.java
  agent/plugins/tracing/type/opentelemetry/src/main/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/OpenTelemetryTracingPluginLifecycleService.java
Labels: type: refactor, feature: agent

#25066 Refactor EncryptRuleStatementConverter & MaskRuleStatementConverter
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/converter/EncryptRuleStatementConverter.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/converter/MaskRuleStatementConverter.java
Labels: type: refactor, feature: encrypt, feature: mask

#25070 Revert "Fix wrong logic table metadata when config same actual table name in different storage unit (#25037)"
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/EncryptMetaDataReviseEngineTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/LogicTablesMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowIndexMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTableStatusMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/ShardingMetaDataReviseEntry.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/constraint/ShardingConstraintReviser.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/table/ShardingTableNameReviser.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowCreateTableMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowIndexMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTableStatusMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTablesMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/ShardingMetaDataReviseEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/common/TableMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/DialectSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/SchemaMetaDataLoaderEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/SchemaMetaDataLoaderMaterial.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/H2SchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/MySQLSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OpenGaussSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OracleSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/PostgreSQLSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/SQLServerSchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/model/TableMetaData.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/MetaDataReviseEntry.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/column/ColumnReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/constraint/ConstraintReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/constraint/ConstraintReviser.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/index/IndexReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/table/TableMetaDataReviseEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/table/TableNameReviser.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SchemaMetaDataUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/GenericSchemaBuilderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/common/TableMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/H2SchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/MySQLSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/OracleSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/PostgreSQLSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/metadata/dialect/SQLServerSchemaMetaDataLoaderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/model/TableMetaDataTest.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/DatabaseMetaDataResultSet.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/reviser/SingleMetaDataReviseEntry.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/reviser/constraint/SingleConstraintReviser.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/SingleMetaDataReviseEngineTest.java
  pom.xml
Labels: type: build, in: metadata

#25021 Add query test for og and pg in tbl mode.
  test/e2e/sql/src/test/resources/cases/dql/dataset/tbl/select_sys_data_for_og.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/tbl/select_sys_data_for_pg.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-expression.xml
Labels: type: enhancement, in: test

#24908 Add more mysql inforamtion_schema system tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/information_schema/key_column_usage.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/optimizer_trace.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/partitions.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/plugins.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/processlist.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/profiling.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/referential_constraints.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/schema_privileges.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManagerTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_key_column_usage.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_optimizer_trace.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_parameters.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_partitions.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_plugins.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_processlist.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_profiling.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_referential_constraints.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_routines.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_schema_privileges.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25077 Remove UnstableApiUsage on CharDigestLikeEncryptAlgorithm
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/like/CharDigestLikeEncryptAlgorithm.java
Labels: type: refactor, feature: encrypt

#25076 Add more information_schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/information_schema/session_status.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/session_variables.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/statistics.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/table_constraints.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/table_privileges.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/tablespaces.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/triggers.yaml
  infra/common/src/main/resources/schema/mysql/information_schema/user_privileges.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_schemata.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_session_status.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_session_variables.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_statistics.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_table_constraints.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_table_privileges.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_tables.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_tablespaces.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_triggers.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_information_schema_user_privileges.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25081 Fix MySQL packet out of order when client sending pipelining requests
  db-protocol/core/pom.xml
  db-protocol/core/src/main/java/org/apache/shardingsphere/db/protocol/event/WriteCompleteEvent.java
  db-protocol/core/src/main/java/org/apache/shardingsphere/db/protocol/netty/ProxyFlowControlHandler.java
  db-protocol/core/src/test/java/org/apache/shardingsphere/db/protocol/netty/ProxyFlowControlHandlerTest.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/codec/MySQLPacketCodecEngine.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/netty/MySQLSequenceIDInboundHandler.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/codec/MySQLPacketCodecEngineTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/netty/MySQLSequenceIDInboundHandlerTest.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/MySQLClient.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/command/CommandExecutorTask.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/ServerHandlerInitializer.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyState.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/netty/ServerHandlerInitializerTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyStateTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/MySQLFrontendEngine.java
Labels: type: bug, in: proxy, db: MySQL

#25082 Revert "Remove UnstableApiUsage on CharDigestLikeEncryptAlgorithm"
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/like/CharDigestLikeEncryptAlgorithm.java
Labels: type: refactor, feature: encrypt

#25085 Refactor : add configuration for report plugins
  pom.xml
Labels: type: build

#25055 Improve inventory task dumper at pipeline
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/config/ingest/InventoryDumperConfiguration.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/InventoryDumper.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/InventoryIncrementalTasksRunner.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/prepare/MigrationJobPreparer.java
Labels: type: enhancement, feature: pipeline

#25036 Improve properties verification of TrafficAlgorithm #24754
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLMatchTrafficAlgorithm.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLRegexTrafficAlgorithm.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/exception/segment/SegmentTrafficAlgorithmInitializationException.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLMatchTrafficAlgorithmTest.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLRegexTrafficAlgorithmTest.java
Labels: type: enhancement

#25088 Remove MagicNumber check of checkstyle
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLMatchTrafficAlgorithmTest.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/algorithm/traffic/segment/SQLRegexTrafficAlgorithmTest.java
  pom.xml
  src/resources/checkstyle.xml
Labels: type: build

#25086 Remove UnstableApiUsage on CharDigestLikeEncryptAlgorithm
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/like/CharDigestLikeEncryptAlgorithm.java
Labels: type: refactor, feature: encrypt

#25087 Add mysql schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/mysql/columns_priv.yaml
  infra/common/src/main/resources/schema/mysql/mysql/engine_cost.yaml
  infra/common/src/main/resources/schema/mysql/mysql/event.yaml
  infra/common/src/main/resources/schema/mysql/mysql/func.yaml
  infra/common/src/main/resources/schema/mysql/mysql/general_log.yaml
  infra/common/src/main/resources/schema/mysql/mysql/gtid_executed.yaml
  infra/common/src/main/resources/schema/mysql/mysql/help_category.yaml
  infra/common/src/main/resources/schema/mysql/mysql/help_keyword.yaml
  infra/common/src/main/resources/schema/mysql/mysql/help_relation.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_columns_priv.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_db.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_engine_cost.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_event.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_func.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_general_log.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_gtid_executed.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_help_category.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_help_keyword.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_help_relation.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25084 Unify Proxy backend thread model
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/executor/ConnectionThreadExecutorGroup.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyState.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/command/CommandExecutorTaskTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/fixture/DatabaseProtocolFrontendEngineFixture.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyStateTest.java
  proxy/frontend/spi/src/main/java/org/apache/shardingsphere/proxy/frontend/context/FrontendContext.java
  proxy/frontend/spi/src/main/java/org/apache/shardingsphere/proxy/frontend/spi/DatabaseProtocolFrontendEngine.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/MySQLFrontendContext.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/MySQLFrontendEngine.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/MySQLFrontendContextTest.java
  proxy/frontend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/frontend/opengauss/OpenGaussFrontendEngine.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/OpenGaussFrontendEngineTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/PostgreSQLFrontendContext.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/PostgreSQLFrontendEngine.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/PostgreSQLFrontendContextTest.java
Labels: in: proxy, type: refactor

#25090 Fix spotbugs in sql federation module
  kernel/sql-federation/executor/core/src/main/java/org/apache/shardingsphere/sqlfederation/executor/TranslatableTableScanExecutor.java
  kernel/sql-federation/executor/original/src/main/java/org/apache/shardingsphere/sqlfederation/original/OriginalSQLFederationExecutor.java
  kernel/sql-federation/optimizer/pom.xml
  kernel/sql-federation/optimizer/src/main/antlr4/imports/rexnode/Alphabet.g4
  kernel/sql-federation/optimizer/src/main/antlr4/imports/rexnode/Keyword.g4
  kernel/sql-federation/optimizer/src/main/antlr4/imports/rexnode/Literals.g4
  kernel/sql-federation/optimizer/src/main/antlr4/imports/rexnode/Symbol.g4
  kernel/sql-federation/optimizer/src/main/antlr4/org/apache/shardingsphere/rexnode/autogen/SQLOptimizerRexNode.g4
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/rexnode/SQLOptimizerRexNodeVisitor.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/rexnode/StringToRexNodeUtils.java
  src/resources/spotbugs.xml
Labels: type: refactor, feature: query-optimization

#25089 Add more mysql schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/mysql/help_topic.yaml
  infra/common/src/main/resources/schema/mysql/mysql/innodb_index_stats.yaml
  infra/common/src/main/resources/schema/mysql/mysql/innodb_table_stats.yaml
  infra/common/src/main/resources/schema/mysql/mysql/ndb_binlog_index.yaml
  infra/common/src/main/resources/schema/mysql/mysql/plugin.yaml
  infra/common/src/main/resources/schema/mysql/mysql/proc.yaml
  infra/common/src/main/resources/schema/mysql/mysql/procs_priv.yaml
  infra/common/src/main/resources/schema/mysql/mysql/proxies_priv.yaml
  infra/common/src/main/resources/schema/mysql/mysql/server_cost.yaml
  infra/common/src/main/resources/schema/mysql/mysql/servers.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_help_topic.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_innodb_index_stats.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_innodb_table_stats.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_ndb_binlog_index.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_plugin.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_proc.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_procs_priv.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_proxies_priv.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_server_cost.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_mysql_servers.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25091 Code cleanup for OKProxyState
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyState.java
Labels: in: proxy, type: refactor

#25094 Set consoleOutput configuration for checkstyle-plugin
  pom.xml
Labels: type: build

#25097 Adjust pmd plugin
  pom.xml
Labels: type: build

#25108 Throw exception instead of reply directly in MySQLAuthenticationEngine
  dialect-exception/mysql/src/main/java/org/apache/shardingsphere/dialect/mysql/exception/AccessDeniedException.java
  dialect-exception/mysql/src/main/java/org/apache/shardingsphere/dialect/mysql/exception/DatabaseAccessDeniedException.java
  dialect-exception/mysql/src/main/java/org/apache/shardingsphere/dialect/mysql/exception/HandshakeException.java
  dialect-exception/mysql/src/main/java/org/apache/shardingsphere/dialect/mysql/mapper/MySQLDialectExceptionMapper.java
  dialect-exception/mysql/src/test/java/org/apache/shardingsphere/dialect/mysql/mapper/MySQLDialectExceptionMapperTest.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/FrontendChannelInboundHandler.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/MySQLAuthenticationEngine.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/MySQLFrontendEngineTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/MySQLAuthenticationEngineTest.java
Labels: in: proxy, type: refactor, db: MySQL

#25111 Keep original table name in pipeline incremental task
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/api/config/ImporterConfiguration.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/MySQLIncrementalDumper.java
  kernel/data-pipeline/dialect/postgresql/src/main/java/org/apache/shardingsphere/data/pipeline/postgresql/ingest/wal/WALEventConverter.java
Labels: type: bug, feature: pipeline

#25110 Remove maven-resources-plugin on shardingsphere-test-e2e module
  test/e2e/operation/pipeline/pom.xml
  test/e2e/operation/showprocesslist/pom.xml
  test/e2e/operation/transaction/pom.xml
  test/e2e/sql/pom.xml
  test/it/parser/pom.xml
Labels: in: test, in: SQL parse

#25120 Hide useless log in test
  proxy/frontend/core/src/test/resources/logback-test.xml
  test/it/pipeline/src/test/resources/logback-test.xml
Labels: in: test

#25043 complete code MaskRuleConfigurationYamlIT and EncryptRuleConfigurationYamlIT
  features/encrypt/core/pom.xml
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/yaml/EncryptRuleConfigurationYamlIT.java
  features/encrypt/core/src/test/resources/yaml/encrypt-rule.yaml
  features/mask/core/pom.xml
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/yaml/MaskRuleConfigurationYamlIT.java
  features/mask/core/src/test/resources/yaml/mask-rule.yaml
Labels: in: test

#25121 Revise #25043
  features/encrypt/core/pom.xml
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/yaml/EncryptRuleConfigurationYamlIT.java
  features/encrypt/core/src/test/resources/yaml/encrypt-rule.yaml
  features/mask/core/pom.xml
Labels: in: test

#25118 Fixes #25113. Optimize usage of PostgreSQLDatabaseType and OpenGaussDatabaseType
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/data/ShardingStatisticsTableCollector.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ProjectionsTokenGenerator.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/segment/select/projection/impl/AggregationProjection.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/segment/table/TablesContext.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilder.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/common/SchemaMetaDataLoader.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SystemSchemaUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/JDBCStreamQueryUtils.java
  kernel/sql-federation/executor/advanced/src/main/java/org/apache/shardingsphere/sqlfederation/advanced/resultset/SQLFederationResultSet.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContexts.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionBackendHandler.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/task/E2EIncrementalTask.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/helper/PipelineCaseHelper.java
Labels: type: refactor

#25124 Fix object not found exception when config opengauss schema name as database name
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SystemSchemaUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SystemSchemaUtilsTest.java
Labels: in: metadata, type: bug fix

#25114 Refactor checkDuplicateRuleNames of ReadwriteSplittingRuleStatementChecker
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingRuleStatementUpdaterTest.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/CreateReadwriteSplittingRuleStatementUpdaterTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/identifier/type/exportable/constant/ExportableConstants.java
Labels: type: enhancement, feature: DistSQL

#25127 upload 2 article to Blog
  docs/blog/content/material/2023_03_21_Streamlining_Database_Configuration_with_DistSQL's_Export,_Import,_and_YAML_Conversion.en.md
  docs/blog/content/material/2023_04_03_ShardingSphere_5.3.2_Release_Apollo_Integration,_Better_Data_Migration,_and_Stronger_Encryption.en.md
  docs/blog/content/material/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana.en.md
  docs/blog/static/img/2023_04_03_ShardingSphere_5.3.2_Release_Apollo_Integration,_Better_Data_Migration,_and_Stronger_Encryption1.png
  docs/blog/static/img/2023_04_03_ShardingSphere_5.3.2_Release_Apollo_Integration,_Better_Data_Migration,_and_Stronger_Encryption2.png
  docs/blog/static/img/2023_04_03_ShardingSphere_5.3.2_Release_Apollo_Integration,_Better_Data_Migration,_and_Stronger_Encryption3.png
  docs/blog/static/img/2023_04_03_ShardingSphere_5.3.2_Release_Apollo_Integration,_Better_Data_Migration,_and_Stronger_Encryption4.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana1.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana2.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana3.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana4.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana5.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana6.png
  docs/blog/static/img/2023_04_11_Monitoring_SQL_Performance_with_ShardingSphere-Agent,_Prometheus_and_Grafana7.png
Labels: in: blog

#25117 Add mysql performance_schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/performance_schema/cond_instances.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_current.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_history.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_history_long.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_summary_by_account_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_summary_by_host_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_summary_by_thread_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_summary_by_user_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_stages_summary_global_by_event_name.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_accounts.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_cond_instances.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_current.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_history.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_history_long.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_summary_by_account_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_summary_by_host_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_summary_by_thread_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_summary_by_user_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_stages_summary_global_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25125 bug fixed: NoSuchElementException occurred when create mask rule.
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SchemaMetaDataUtils.java
Labels: type: refactor, feature: mask

#25134 Add more mysql performance_schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_current.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_history.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_history_long.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_account_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_digest.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_host_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_program.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_thread_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_by_user_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_statements_summary_global_by_event_name.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_current.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_history.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_history_long.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_account_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_digest.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_host_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_program.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_thread_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_by_user_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_statements_summary_global_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25129 Remove redundant check in shadow rule
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/checker/ShadowRuleStatementChecker.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/AlterShadowRuleStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/CreateShadowRuleStatementUpdater.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/AlterShadowRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/CreateShadowRuleStatementUpdaterTest.java
  features/shadow/distsql/statement/src/main/java/org/apache/shardingsphere/shadow/distsql/parser/segment/ShadowAlgorithmSegment.java
Labels: feature: shadow, feature: DistSQL, type: bug fix

#25137 Revise code style in PostgreSQLException
  dialect-exception/postgresql/src/main/java/org/apache/shardingsphere/dialect/postgresql/exception/PostgreSQLException.java
Labels: type: refactor

#25075 Improve properties verification of ShadowAlgorithms #24749
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/ColumnRegexMatchShadowAlgorithmTest.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/ColumnValueMatchShadowAlgorithmTest.java
Labels: type: enhancement, feature: shadow

#25140 Refactor : disable the massive magic number check in checkstyle rules…
  src/resources/checkstyle.xml
Labels: type: build

#25142 Fix : fix the pmd config since pmd upgrade
  src/resources/checkstyle.xml
  src/resources/pmd.xml
Labels: type: build

#25143 Add more mysql performance_schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_current.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_history.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_history_long.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_summary_by_account_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_summary_by_host_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_summary_by_thread_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_summary_by_user_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_transactions_summary_global_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_current.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_history.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_current.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_history.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_history_long.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_summary_by_account_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_summary_by_host_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_summary_by_thread_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_summary_by_user_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_transactions_summary_global_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_current.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_history.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25133 change default h2 dep scope to test
  agent/plugins/metrics/core/pom.xml
  mode/type/standalone/repository/provider/jdbc/h2/pom.xml
  pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/fixture/pom.xml
Labels: type: refactor, type: dependencies

#25146 Add more mysql performance_schema tables
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRule.java
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_history_long.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_by_account_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_by_host_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_by_instance.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_by_thread_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_by_user_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/events_waits_summary_global_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/file_instances.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/file_summary_by_event_name.yaml
  infra/common/src/main/resources/schema/mysql/performance_schema/file_summary_by_instance.yaml
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderRuleTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilderTest.java
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_history_long.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_by_account_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_by_host_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_by_instance.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_by_thread_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_by_user_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_events_waits_summary_global_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_file_instances.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_file_summary_by_event_name.xml
  test/e2e/sql/src/test/resources/cases/dql/dataset/db/select_mysql_performance_schema_file_summary_by_instance.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema.xml
Labels: type: enhancement, in: metadata

#25150 Add useCache in QueryContext for sql federation parse
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/QueryContext.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  kernel/sql-federation/executor/core/src/main/java/org/apache/shardingsphere/sqlfederation/executor/FilterableTableScanExecutor.java
  kernel/sql-federation/executor/core/src/main/java/org/apache/shardingsphere/sqlfederation/executor/TranslatableTableScanExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/Portal.java
Labels: type: refactor, in: kernel, feature: query-optimization

#25145 Add check for CREATE/ALTER SHARDING TABLE RULE with NoneShardingStrategy
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/strategy/InvalidShardingStrategyConfigurationException.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/checker/ShardingRuleStatementCheckerTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateShardingTableRuleStatementUpdaterTest.java
Labels: type: enhancement, feature: sharding, feature: DistSQL

#25152 Remove : remove class in test package from xref (#25135)
  pom.xml
Labels: type: build

#25153 Rename ReadwriteSplittingStrategy to ReadwriteSplittingGroup
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/group/ReadwriteSplittingGroup.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/group/type/StaticReadwriteSplittingGroup.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/standard/StandardReadwriteSplittingDataSourceRouter.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingDataSourceRule.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRule.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRuleTest.java
Labels: type: refactor, feature: readwrite-splitting

#25151 Modify the sort of SHOW DIST VARIABLES alphabetically
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutorTest.java
  test/e2e/sql/src/test/resources/cases/ral/dataset/empty_rules/show_dist_variables.xml
Labels: type: refactor, feature: DistSQL

#25144 Fix the error of incremental tasks caused by datetime containing zero value in MySQL
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/time/MySQLDatetime2BinlogProtocolValue.java
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/datasource/config/impl/ShardingSpherePipelineDataSourceConfiguration.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/MySQLClient.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/general/MySQLTimeTypesMigrationE2EIT.java
Labels: type: bug, feature: pipeline

#25148 Rename InstanceTypeUtil to InstanceTypeUtils
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/PipelineJobIdUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/util/InstanceTypeUtils.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/job/util/InstanceTypeUtilsTest.java
Labels: type: refactor

#25122 improve properties verification of key generate algorithms
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/keygen/SnowflakeKeyGenerateAlgorithm.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/keygen/SnowflakeKeyGenerateAlgorithmTest.java
  features/sharding/plugin/cosid/src/main/java/org/apache/shardingsphere/sharding/cosid/algorithm/keygen/CosIdSnowflakeKeyGenerateAlgorithm.java
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/keygen/CosIdSnowflakeKeyGenerateAlgorithmTest.java
Labels: type: enhancement, feature: sharding

#25158 Aggregate javadoc
  pom.xml
Labels: type: build

#25157 Revise-24187, remove DISCARD from DistSQL keyword.
  distsql/parser/src/main/antlr4/imports/Keyword.g4
Labels: type: refactor, feature: DistSQL

#25044 pg, set valueformat of row description in bind command
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/PostgreSQLColumnDescription.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/Portal.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PortalTest.java
Labels: in: proxy, db: PostgreSQL, type: bug fix

#25159 feat:modify blog en content
  docs/blog/content/material/2023_03_21_Streamlining_Database_Configuration_with_DistSQL's_Export,_Import,_and_YAML_Conversion.en.md
  docs/blog/resources/_gen/assets/scss/scss/tale.scss_5ad6f408b0e3e473c748aac88af0ea18.content
  docs/blog/themes/tale4zh/assets/scss/tale/_code.scss
Labels: in: document

#25147 Add xa transaction data source privilege checker
  docs/document/content/dev-manual/transaction.cn.md
  docs/document/content/dev-manual/transaction.en.md
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/XAShardingSphereTransactionManager.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/checker/DataSourcePrivilegeChecker.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/checker/DefaultDataSourcePrivilegeChecker.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/checker/dialect/MySQLDataSourcePrivilegeChecker.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/exception/XATransactionCheckPrivilegeFailedException.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/exception/XATransactionPrivilegeException.java
  kernel/transaction/type/xa/core/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.xa.jta.datasource.checker.DataSourcePrivilegeChecker
  kernel/transaction/type/xa/core/src/test/java/org/apache/shardingsphere/transaction/xa/jta/datasource/checker/MySQLDataSourcePrivilegeCheckerTest.java
Labels: type: enhancement, feature: transaction

#25160 Add runtime scope for h2 in jdbc-core & bootstrap
  jdbc/core/pom.xml
  proxy/bootstrap/pom.xml
Labels: type: refactor, mode: standalone

#25165 Add xa transaction required privilege document
  docs/document/content/features/transaction/appendix.cn.md
  docs/document/content/features/transaction/appendix.en.md
Labels: in: document

#25169 Unify the format of jdbc:opengauss
  infra/common/src/test/java/org/apache/shardingsphere/infra/database/metadata/dialect/OpenGaussDataSourceMetaDataTest.java
Labels: type: refactor

#25176 Refactor WriteCompleteEvent
  db-protocol/core/src/main/java/org/apache/shardingsphere/db/protocol/event/WriteCompleteEvent.java
  db-protocol/core/src/main/java/org/apache/shardingsphere/db/protocol/netty/ProxyFlowControlHandler.java
  db-protocol/core/src/test/java/org/apache/shardingsphere/db/protocol/netty/ProxyFlowControlHandlerTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/netty/MySQLSequenceIDInboundHandlerTest.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/command/CommandExecutorTask.java
Labels: type: refactor

#24271 Initialize the generateStandardMetadata Maven Profile of all module
  .github/workflows/nightly-build-artifact.yml
  distribution/proxy-native/access-filter.json
  distribution/proxy-native/caller-filter.json
  distribution/proxy-native/pom.xml
  distribution/proxy-native/src/main/release-docs/LICENSE
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/util/pom.xml
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/expr/EspressoInlineExpressionParser.java
  pom.xml
Labels: type: build

#25181 Supports compilation through OpenJDK 20 and its downstream distributions
  .github/workflows/ci.yml
  .github/workflows/nightly-ci.yml
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/pom.xml
Labels: type: build

#25183 Add JVMInlineExpressionParser to process groovy expr for different JVM
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/checker/ReadwriteSplittingRuleConfigurationChecker.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRule.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/complex/ComplexInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/hint/HintInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/TableRule.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/fixture/sharding/CoreHintShardingAlgorithmFixture.java
  infra/util-groovy/src/main/java/org/apache/shardingsphere/infra/util/groovy/expr/HotspotInlineExpressionParser.java
  infra/util-groovy/src/main/java/org/apache/shardingsphere/infra/util/groovy/expr/JVMInlineExpressionParser.java
  infra/util-groovy/src/test/java/org/apache/shardingsphere/infra/util/groovy/expr/HotspotInlineExpressionParserTest.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/expr/EspressoInlineExpressionParser.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/expr/InlineExpressionParser.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/expr/InlineExpressionParserTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportChecker.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/dataset/DataSet.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/composer/BatchE2EContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/DataSetEnvironmentManager.java
Labels: type: refactor, in: kernel

#25179 Add reset for property AGENT_PLUGINS_ENABLED in unit test
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/PluginContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariableExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableUpdaterTest.java
Labels: type: refactor, in: test

#25187 Add : add sonarcloud into github action
  .github/workflows/check-sonarcloud.yml
Labels: type: build

#25189 Trim functions support
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/LiteralExpressionConverter.java
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
  test/it/optimizer/src/test/java/org/apache/shardingsphere/test/it/optimize/SQLNodeConverterEngineIT.java
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: type: enhancement, feature: query-optimization

#25196 Remove useless method refresh from AuthorityRule.
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/rule/AuthorityRuleTest.java
Labels: type: refactor, feature:authority

#25199 Fix : fix the incorrect sonar token
  .github/workflows/check-sonarcloud.yml
Labels: type: build

#25202 Refactor : refactor sonarcloud workflow
  .github/workflows/check-checkstyle.yml
  .github/workflows/check-sonarcloud.yml
Labels: type: build

#25185 Refactor : upgrade the maven report related plugin version
  pom.xml
Labels: type: build

#25009 Improve properties verification of EncryptAlgorithm
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/AESEncryptAlgorithm.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/RC4EncryptAlgorithm.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/AESEncryptAlgorithmTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/RC4EncryptAlgorithmTest.java
Labels: type: enhancement, feature: encrypt

#25205 Simplify ContextManagerLifecycleListener interface and remove mode config is null judge
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  kernel/data-pipeline/cdc/core/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/core/job/CDCJobIdTest.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/context/PipelineContextKey.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/PipelineJobIdUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/listener/PipelineContextManagerLifecycleListener.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/listener/ShardingSphereDataContextManagerLifecycleListener.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/context/PipelineContextKeyTest.java
  kernel/data-pipeline/scenario/migration/src/test/java/org/apache/shardingsphere/data/pipeline/core/job/PipelineJobIdUtilsTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/listener/ContextManagerLifecycleListener.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/initializer/BootstrapInitializer.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/JobConfigurationBuilder.java
Labels: mode: cluster, type: refactor, in: kernel

#25207 Improve pipeline importer job write exception
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/config/ingest/InventoryDumperConfiguration.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/exception/job/PipelineImporterJobWriteException.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/DataSourceImporter.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/InventoryDumper.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyCheckerTest.java
Labels: type: enhancement, feature: pipeline

#25068 fix nightly build
  .github/workflows/nightly-build-example.yml
Labels: type: build

#25214 Support null sharding condition pass to sharding algorithm to allow user control null value route
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/complex/ComplexInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/AutoIntervalShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/hint/HintInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/mod/HashModShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/mod/ModShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/range/AbstractRangeShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/data/NullShardingValueException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/ExpressionConditionUtils.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/InsertClauseShardingConditionEngine.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/InsertClauseShardingConditionEngineTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutorTest.java
Labels: feature: sharding, type: bug fix

#25215 fix encrypt example
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/TestQueryAssistedShardingEncryptAlgorithm.ftl
Labels: in: example

#25213 Rename internal props to temporary props
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/temporary/TemporaryConfigurationProperties.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/temporary/TemporaryConfigurationPropertyKey.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaData.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/execute/ShardingSphereDataJobWorker.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariableExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableUpdater.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariableExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableUpdaterTest.java
Labels: type: refactor, in: kernel

#25206 Add : add sonarcloud badges
  README.md
  README_ZH.md
Labels: in: document

#25216 Fix pmd check for UselessParentheses
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/codec/MySQLPacketCodecEngine.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/integer/MySQLBitBinlogProtocolValue.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptProjectionTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/InsertCipherNameTokenGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingInsertValuesTokenGenerator.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/datatype/DataTypeLoader.java
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/context/SQLRewriteContext.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/util/ColumnValueConvertUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/DataRecordMerger.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/DataSourceImporter.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/client/netty/MySQLNegotiateHandler.java
  kernel/sql-federation/executor/advanced/src/main/java/org/apache/shardingsphere/sqlfederation/advanced/resultset/SQLFederationResultSet.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/metadata/watcher/MetaDataChangedWatcher.java
  sql-parser/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/impl/MySQLStatementSQLVisitor.java
Labels: type: refactor

#25217 Rename unused catch exception to ignored
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/PostgreSQLDataRowPacket.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/like/CharDigestLikeEncryptAlgorithm.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/MaskAlgorithmPropsChecker.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/replace/TelephoneRandomReplaceAlgorithm.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/WeightReadQueryLoadBalanceAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/AutoIntervalShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/WhereClauseShardingConditionEngine.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/enums/ShardingStrategyType.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/util/ResultSetUtils.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/exception/external/sql/type/generic/UnsupportedSQLOperationException.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/props/TypedPropertyValue.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ConnectionManager.java
  kernel/sql-translator/provider/jooq/src/main/java/org/apache/shardingsphere/sqltranslator/jooq/JooQSQLTranslator.java
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleStatementUpdater.java
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/swapper/DataSourceSwapper.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/datasource/JDBCBackendDataSource.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/enums/VariableEnum.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableUpdater.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/RULBackendHandlerFactory.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/arguments/BootstrapArguments.java
Labels: type: refactor

#25218 Exclude PreserveStackTrace rule for pmd
  src/resources/pmd.xml
Labels: type: build

#25212 Remove property proxy-backend-executor-suitable
  docs/document/content/user-manual/shardingsphere-proxy/yaml-config/props.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/yaml-config/props.en.md
  examples/shardingsphere-proxy-example/shardingsphere-proxy-distsql-example/src/main/resources/server/server.yaml
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/BackendExecutorType.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/ConfigurationPropertyKey.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/config/props/ConfigurationPropertiesTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutorTest.java
  proxy/bootstrap/src/main/resources/conf/server.yaml
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyState.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyStateTest.java
  test/e2e/operation/pipeline/src/test/resources/env/opengauss/server.yaml
  test/e2e/operation/pipeline/src/test/resources/env/postgresql/server.yaml
  test/e2e/operation/transaction/src/test/resources/env/opengauss/server.yaml
  test/e2e/operation/transaction/src/test/resources/env/postgresql/server.yaml
Labels: in: proxy, in: API

#25221 Add unwrap mysql connection exception FAQ doc
  docs/document/content/faq/_index.cn.md
  docs/document/content/faq/_index.en.md
Labels: in: document
