Repository apache/shardingsphere, pull requests merged in 2023-01, with the labels that each got.

#23206 Update mask.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/mask.en.md
Labels: in: document

#23241 Simplify dependencies of Guava
  agent/core/pom.xml
  agent/pom.xml
  pom.xml
Labels: type: dependencies

#23236 Add `count mask rule` DistSQL unit test
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/CountMaskRuleResultSetTest.java
Labels: in: test, feature: DistSQL

#23233 Add `show mask rule` DistSQL unit test
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/MaskRuleResultSetTest.java
Labels: type: refactor, in: test, feature: DistSQL

#23238 Add `MaskRuleStatementConverter` unit test
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/converter/MaskRuleStatementConverterTest.java
Labels: in: test, feature: DistSQL

#23242 Add plugin-core to lib folder
  agent/plugins/core/pom.xml
  agent/plugins/pom.xml
Labels: type: build, feature: agent

#23245 Add shade common config in root pom
  agent/core/pom.xml
  agent/plugins/core/pom.xml
  agent/plugins/logging/base/pom.xml
  agent/plugins/metrics/core/pom.xml
  agent/plugins/metrics/type/prometheus/pom.xml
  agent/plugins/tracing/type/jaeger/pom.xml
  agent/plugins/tracing/type/opentelemetry/pom.xml
  agent/plugins/tracing/type/opentracing/pom.xml
  agent/plugins/tracing/type/zipkin/pom.xml
  pom.xml
Labels: type: build

#23156 Update the module hierarchy for the parser example
  examples/README.md
  examples/README_ZH.md
  examples/other-example/pom.xml
  examples/pom.xml
  examples/shardingsphere-parser-example/pom.xml
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/mysql/format/MySQLParserFormatExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/mysql/statement/MySQLParserStatementExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/opengauss/statement/OpenGaussParserStatementExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/oracle/statement/OracleParserStatementExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/postgresql/statement/PostgreSQLParserStatementExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/sql92/statement/SQL92ParserStatementExample.java
  examples/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/sqlserver/statement/SQLServerParserStatementExample.java
Labels: in: example

#23243 Refactor ifNotExists of CREATE SHADOW RULE.
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/CreateDefaultShadowAlgorithmStatementUpdater.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/CreateShadowRuleStatementUpdater.java
Labels: type: refactor, feature: DistSQL

#23239 Close heartbeat job when drop discovery rule
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/rule/DatabaseDiscoveryRule.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/DropDatabaseDiscoveryRuleStatementUpdater.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaData.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/identifier/type/DynamicDataSourceContainedRule.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/rule/RuleDefinitionBackendHandler.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/rdl/BaseRDLE2EIT.java
Labels: type: refactor, feature: db-discovery, feature: DistSQL

#23252 Move agent config files into META-INF/conf folders
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/loader/AdvisorConfigurationLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/yaml/loader/YamlAdvisorsConfigurationLoaderTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/yaml/swapper/YamlAdvisorsConfigurationSwapperTest.java
  agent/core/src/test/resources/META-INF/conf/advisors.yaml
  agent/core/src/test/resources/META-INF/conf/empty-advisors.yaml
  agent/plugins/logging/type/base/src/main/resources/META-INF/conf/baselogging-advisors.yaml
  agent/plugins/metrics/core/src/test/resources/conf/agent.yaml
  agent/plugins/metrics/type/prometheus/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/wrapper/PrometheusWrapperFactory.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-jdbc-advisors.yaml
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-metrics.yaml
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-proxy-advisors.yaml
  agent/plugins/metrics/type/prometheus/src/test/resources/META-INF/conf/prometheus-metrics.yaml
  agent/plugins/tracing/type/jaeger/src/main/resources/META-INF/conf/jaeger-jdbc-advisors.yaml
  agent/plugins/tracing/type/jaeger/src/main/resources/META-INF/conf/jaeger-proxy-advisors.yaml
  agent/plugins/tracing/type/opentelemetry/src/main/resources/META-INF/conf/opentelemetry-jdbc-advisors.yaml
  agent/plugins/tracing/type/opentelemetry/src/main/resources/META-INF/conf/opentelemetry-proxy-advisors.yaml
  agent/plugins/tracing/type/opentracing/src/main/resources/META-INF/conf/opentracing-jdbc-advisors.yaml
  agent/plugins/tracing/type/opentracing/src/main/resources/META-INF/conf/opentracing-proxy-advisors.yaml
  agent/plugins/tracing/type/zipkin/src/main/resources/META-INF/conf/zipkin-jdbc-advisors.yaml
  agent/plugins/tracing/type/zipkin/src/main/resources/META-INF/conf/zipkin-proxy-advisors.yaml
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
Labels: type: refactor, feature: agent

#23258 Refactor shade folder of agent plugin
  agent/plugins/logging/type/base/pom.xml
  agent/plugins/logging/type/pom.xml
  agent/plugins/metrics/type/pom.xml
  agent/plugins/metrics/type/prometheus/pom.xml
Labels: type: refactor, feature: agent

#23257 Add : add query test for agent matrics E2E (#23256)
  test/e2e/agent/plugins/metrics/src/test/assembly/shardingsphere-proxy-agent-metrics-assembly.xml
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/MetricsPluginE2EIT.java
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/result/MetricsMetaDataResult.java
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/result/MetricsQueryResult.java
  test/e2e/agent/plugins/metrics/src/test/resources/docker/agent/conf/agent.yaml
  test/e2e/agent/plugins/metrics/src/test/resources/docker/docker-compose.yml
  test/e2e/agent/plugins/metrics/src/test/resources/docker/prometheus/conf/prometheus.yml
  test/e2e/agent/plugins/metrics/src/test/resources/env/engine-env.properties
Labels: in: test, feature: agent

#23259 Rename agent-logging-base to agent-logging-file
  agent/core/src/test/resources/conf/agent.yaml
  agent/distribution/pom.xml
  agent/distribution/src/main/resources/conf/agent.yaml
  agent/plugins/logging/type/file/pom.xml
  agent/plugins/logging/type/file/src/main/java/org/apache/shardingsphere/agent/plugin/logging/file/FileLoggingPluginBootService.java
  agent/plugins/logging/type/file/src/main/java/org/apache/shardingsphere/agent/plugin/logging/file/advice/MetaDataContextsFactoryAdvice.java
  agent/plugins/logging/type/file/src/main/resources/META-INF/conf/file-advisors.yaml
  agent/plugins/logging/type/file/src/main/resources/META-INF/services/org.apache.shardingsphere.agent.spi.PluginBootService
  agent/plugins/logging/type/pom.xml
  docs/document/content/dev-manual/agent.cn.md
  docs/document/content/dev-manual/agent.en.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
  test/e2e/agent/plugins/metrics/src/test/resources/docker/agent/conf/agent.yaml
  test/e2e/agent/plugins/opentelemetry/src/test/resources/docker/agent/conf/agent.yaml
  test/e2e/agent/plugins/zipkin/src/test/resources/docker/agent/conf/agent.yaml
Labels: type: refactor, feature: agent

#23248 Update ExportDatabaseConfigurationHandler
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportDatabaseConfigurationHandler.java
Labels: type: enhancement, feature: DistSQL

#23250 Update ConvertYamlConfigurationHandler
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/constant/DistSQLScriptConstants.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ConvertYamlConfigurationHandler.java
Labels: type: refactor, feature: DistSQL

#23249 Update ImportDatabaseConfigurationHandler
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationHandler.java
Labels: type: enhancement, feature: DistSQL

#23255 update SQL hint document
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/readwrite-splitting/hint.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/readwrite-splitting/hint.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/sharding/hint.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/sharding/hint.en.md
Labels: type: enhancement, in: document

#23253 [#22941] Add test cases for TimeRecorder
  agent/plugins/core/src/test/java/org/apache/shardingsphere/agent/plugin/core/util/TimeRecorderTest.java
Labels: in: test, feature: agent

#23262 Revise TimeRecorderTest
  agent/plugins/core/src/main/java/org/apache/shardingsphere/agent/plugin/core/util/TimeRecorder.java
  agent/plugins/core/src/test/java/org/apache/shardingsphere/agent/plugin/core/util/TimeRecorderTest.java
Labels: in: test, feature: agent

#23263 Revise TimeRecorderTest
  agent/plugins/core/src/test/java/org/apache/shardingsphere/agent/plugin/core/util/TimeRecorderTest.java
Labels: in: test, feature: agent

#23266 Use PropertiesBuilder in db-discovery module
  features/db-discovery/distsql/handler/pom.xml
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/converter/DatabaseDiscoveryRuleStatementConverterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/query/DatabaseDiscoveryHeartbeatResultSetTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/query/DatabaseDiscoveryTypeResultSetTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryHeartbeatStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryProviderAlgorithmStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryHeartbeatStatementUpdaterTest.java
  features/db-discovery/provider/mysql/pom.xml
  features/db-discovery/provider/mysql/src/test/java/org/apache/shardingsphere/dbdiscovery/mysql/type/MGRDatabaseDiscoveryProviderAlgorithmTest.java
  features/db-discovery/provider/mysql/src/test/java/org/apache/shardingsphere/dbdiscovery/mysql/type/MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithmTest.java
Labels: type: refactor, in: test

#23267 Use PropertiesBuilder in encrypt module
  features/encrypt/core/pom.xml
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/AESEncryptAlgorithmTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/MD5EncryptAlgorithmTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/RC4EncryptAlgorithmTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/like/CharDigestLikeEncryptAlgorithmTest.java
  features/encrypt/distsql/handler/pom.xml
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/converter/EncryptRuleStatementConverterTest.java
  features/encrypt/distsql/parser/pom.xml
  features/encrypt/plugin/sm/pom.xml
  features/encrypt/plugin/sm/src/test/java/org/apache/shardingsphere/encrypt/sm/algorithm/SM3EncryptAlgorithmTest.java
  features/encrypt/plugin/sm/src/test/java/org/apache/shardingsphere/encrypt/sm/algorithm/SM4EncryptAlgorithmTest.java
Labels: type: refactor, in: test

#23269 Use PropertiesBuilder in readwrite-splitting module
  features/readwrite-splitting/core/pom.xml
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/FixedReplicaWeightReadQueryLoadBalanceAlgorithmTest.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/TransactionWeightReadQueryLoadBalanceAlgorithmTest.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/WeightReadQueryLoadBalanceAlgorithmTest.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/checker/ReadwriteSplittingRuleConfigurationCheckerTest.java
  features/readwrite-splitting/distsql/handler/pom.xml
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ReadwriteSplittingRuleResultSetTest.java
Labels: type: refactor, in: test

#23272 Use PropertiesBuilder in sharding module
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/converter/ShadowRuleStatementConverterTest.java
  features/sharding/core/pom.xml
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/keygen/SnowflakeKeyGenerateAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/classbased/ClassBasedShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/complex/ComplexInlineShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/AutoIntervalShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/hint/HintInlineShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/mod/HashModShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/mod/ModShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/range/BoundaryBasedRangeShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/range/VolumeBasedRangeShardingAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/fixture/AbstractRoutingEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingInsertStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingUpdateStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/TableRuleTest.java
  features/sharding/distsql/handler/pom.xml
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/checker/ShardingRuleStatementCheckerTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/converter/ShardingRuleStatementConverterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShardingAlgorithmResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShardingDefaultShardingStrategyResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShardingTableRuleResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAlgorithmResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAuditorResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedKeyGeneratorResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/UnusedShardingAlgorithmsResultSetTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterDefaultShardingStrategyStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterShardingTableRuleStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateDefaultShardingStrategyStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateShardingTableRuleStatementUpdaterTest.java
  features/sharding/plugin/cache/pom.xml
  features/sharding/plugin/cache/src/test/java/org/apache/shardingsphere/sharding/cache/checker/ShardingRouteCacheableCheckerTest.java
  features/sharding/plugin/cosid/pom.xml
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/keygen/CosIdKeyGenerateAlgorithmTest.java
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/keygen/CosIdSnowflakeKeyGenerateAlgorithmTest.java
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/sharding/interval/CosIdSnowflakeIntervalShardingAlgorithmTest.java
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/sharding/interval/fixture/IntervalShardingAlgorithmDataFixture.java
  features/sharding/plugin/cosid/src/test/java/org/apache/shardingsphere/sharding/cosid/algorithm/sharding/mod/CosIdModShardingAlgorithmTest.java
Labels: type: refactor, in: test

#23270 Refactor YamlAuthorityRuleConfiguration and remove duplicated configuration classes.
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/user/ShardingSphereUser.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/user/yaml/config/YamlUserConfiguration.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/user/yaml/config/YamlUsersConfigurationConverter.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/user/yaml/swapper/YamlUserSwapper.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/user/yaml/swapper/YamlUserSwapperTest.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityConfiguration.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityRuleConfiguration.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityUserConfiguration.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/swapper/YamlAuthorityRuleConfigurationSwapper.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/yaml/swapper/YamlAuthorityRuleConfigurationSwapperTest.java
  mode/core/src/test/resources/yaml/persist/data-global-rule.yaml
  mode/type/cluster/core/src/test/resources/yaml/authority-rule.yaml
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoader.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/config/yaml/YamlProxyServerConfiguration.java
Labels: type: refactor, feature:authority

#23265 Add some integration test case for DistSQL RAL
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/cluster/show_compute_node_info.xml
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/cluster/show_compute_node_mode.xml
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/standalone/show_compute_node_info.xml
  test/e2e/suite/src/test/resources/cases/ral/dataset/empty_rules/standalone/show_compute_node_mode.xml
  test/e2e/suite/src/test/resources/cases/ral/ral-integration-test-cases.xml
Labels: type: refactor, in: test

#23268 Refactor ifNotExists of CREATE READWRITE_SPLITTING RULE.
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/CreateReadwriteSplittingRuleStatementUpdater.java
Labels: type: refactor, feature: DistSQL

#22857 Condition engine refactoring
  docs/document/content/dev-manual/sharding.cn.md
  docs/document/content/dev-manual/sharding.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngineFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/impl/DefaultShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/impl/InsertClauseShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/impl/WhereClauseShardingConditionEngine.java
  features/sharding/core/src/main/resources/META-INF/services/org.apache.shardingsphere.sharding.route.engine.condition.engine.ShardingConditionEngine
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDeciderTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngineFactoryTest.java
Labels: feature: sharding, type: refactor

#23274 Remove : remove the maven settings for spring (#23273)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-build-example.yml
  .github/workflows/nightly-e2e.yml
Labels: type: build

#23279 Update agent development manual documentation
  docs/document/content/dev-manual/agent.cn.md
  docs/document/content/dev-manual/agent.en.md
Labels: in: document, feature: agent

#23276 Revise ShardingConditionEngine logic
  docs/document/content/dev-manual/sharding.cn.md
  docs/document/content/dev-manual/sharding.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/audit/DMLShardingConditionsShardingAuditAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDecider.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/ShardingSQLRouter.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngineFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/impl/DefaultShardingConditionEngine.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDeciderTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/ShardingConditionEngineFactoryTest.java
Labels: feature: sharding, type: refactor

#23280 Fix ColumnValueConvertUtilTest unit test error
  kernel/data-pipeline/cdc/core/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/util/ColumnValueConvertUtilTest.java
Labels: in: test

#23277 Use structure function to replace pass in a null value
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/pojo/AlterSchemaMetaDataPOJO.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/pojo/AlterSchemaPOJO.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/index/AlterIndexStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/index/CreateIndexStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/index/DropIndexStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/schema/AlterSchemaStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/table/AlterTableStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/table/CreateTableStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/table/DropTableStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/table/RenameTableStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/view/AlterViewStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/view/CreateViewStatementSchemaRefresher.java
  infra/context/src/main/java/org/apache/shardingsphere/infra/context/refresher/type/view/DropViewStatementSchemaRefresher.java
Labels: type: refactor, in: kernel

#23282 fix the mask example error
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/config/mask.ftl
Labels: in: example, feature: mask

#23281 Remove unused check
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdater.java
Labels: type: refactor, feature: DistSQL

#23285 Update create-mask-rule.en.md
  docs/document/content/reference/distsql/syntax/rdl/rule-definition/mask/create-mask-rule.en.md
Labels: in: document

#23284 Update show-encrypt-rule.en.md
  docs/document/content/reference/distsql/syntax/rql/rule-query/encrypt/show-encrypt-rule.en.md
Labels: in: document

#23286 Update metadata-repository.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/metadata-repository.en.md
Labels: in: document

#23288 Remove : remove the H2 data.zip from shaded artifact (#23287)
  agent/pom.xml
Labels: type: build, feature: agent

#23291 Add `refresh database metadata` DistSQL document
  docs/document/content/reference/distsql/syntax/ral/refresh-database-metadata.cn.md
  docs/document/content/reference/distsql/syntax/ral/refresh-database-metadata.en.md
  docs/document/content/reference/distsql/syntax/ral/refresh-table-metadata-from-storage-unit.cn.md
  docs/document/content/reference/distsql/syntax/ral/refresh-table-metadata-from-storage-unit.en.md
  docs/document/content/reference/distsql/syntax/ral/refresh-table-metadata.cn.md
  docs/document/content/reference/distsql/syntax/ral/refresh-table-metadata.en.md
Labels: in: document, feature: DistSQL

#23293 Add `mask rule` usage DistSQL document
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/db-discovery.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/db-discovery.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/encrypt-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/encrypt-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/mask-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/mask-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/readwirte-splitting-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/readwirte-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/shadow-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/shadow-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/sharding-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/sharding-rule.en.md
Labels: in: document, feature: DistSQL, feature: mask

#23299 Update encrypt image
  docs/document/content/reference/encrypt/_index.cn.md
  docs/document/static/img/encrypt/1n_cn.png
Labels: in: document

#23301 Update reference encrypt cn images
  docs/document/content/reference/encrypt/_index.cn.md
  docs/document/static/img/encrypt/1_cn_v2.png
  docs/document/static/img/encrypt/2_cn_v2.png
  docs/document/static/img/encrypt/3_cn_v2.png
  docs/document/static/img/encrypt/4_cn_v2.png
  docs/document/static/img/encrypt/5_cn_v2.png
  docs/document/static/img/encrypt/6_cn_v2.png
  docs/document/static/img/encrypt/7_cn_v2.png
  docs/document/static/img/encrypt/8_cn_v2.png
Labels: type: refactor, in: document

#23307 Fix DistSQL documents display order issue
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/reserved-word.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/reserved-word.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/_index.en.md
Labels: in: document, feature: DistSQL

#23297 Update limitations.en.md
  docs/document/content/features/transaction/limitations.en.md
Labels: in: document

#23303 Remove mozilla suffix file
  agent/pom.xml
Labels: type: build, feature: agent

#23309 Revise agent/README.md
  agent/README.md
Labels: in: document, feature: agent

#23310 Refactor MetaDataPersistServiceTest
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/MetaDataPersistServiceTest.java
Labels: type: refactor, in: test

#23312 Rename YamlPluginsConfiguration to YamlAgentConfiguration
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/config/loader/AgentConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/config/yaml/entity/YamlAgentConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/config/yaml/swapper/YamlPluginsConfigurationSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/config/loader/AgentConfigurationLoaderTest.java
Labels: type: refactor, feature: agent

#23313 Revise MilitaryIdentityNumberRandomReplaceAlgorithm and update document
  docs/document/content/dev-manual/mask.cn.md
  docs/document/content/dev-manual/mask.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/mask.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/mask.en.md
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/replace/MilitaryIdentityNumberRandomReplaceAlgorithm.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/replace/MilitaryIdentityNumberRandomReplaceAlgorithmTest.java
Labels: type: refactor, feature: mask

#23314 Update hint.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/readwrite-splitting/hint.en.md
Labels: in: document

#23316 update agent doc
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
Labels: in: document, feature: agent

#23319 Refactor : exclude H2 dependency from agent plugins (#23318)
  agent/plugins/metrics/type/prometheus/pom.xml
  agent/plugins/tracing/type/pom.xml
  agent/pom.xml
Labels: type: refactor, type: dependencies, feature: agent

#23320 CDC client add openGauss importer implementation
  kernel/data-pipeline/cdc/client/pom.xml
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/CDCClient.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/handler/LoginRequestHandler.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/handler/SubscriptionRequestHandler.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/importer/Importer.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/importer/ImporterFactory.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/importer/OpenGaussImporter.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/parameter/StartCDCClientParameter.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/sqlbuilder/AbstractSQLBuilder.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/sqlbuilder/OpenGaussSQLBuilder.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/sqlbuilder/SQLBuilder.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/sqlbuilder/SQLBuilderFactory.java
  kernel/data-pipeline/cdc/client/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/client/util/AnyValueConvert.java
  kernel/data-pipeline/cdc/client/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/client/example/opengauss/Bootstrap.java
  kernel/data-pipeline/cdc/client/src/test/resources/env/opengauss.properties
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/importer/CDCImporter.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/importer/connector/CDCImporterConnector.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/job/CDCJob.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/task/CDCTasksRunner.java
  kernel/data-pipeline/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/util/DataRecordResultConvertUtil.java
  kernel/data-pipeline/cdc/protocol/src/main/proto/CDCResponseProtocol.proto
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/InventoryIncrementalTasksRunner.java
Labels: type: new feature, feature: pipeline

#23324 Add unit test for MaskAlgorithmUtil
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/MaskAlgorithmUtilTest.java
Labels: in: test, feature: mask

#23322 Add `ShadowRuleConfigurationImportChecker`
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShadowRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationHandler.java
Labels: type: enhancement, feature: DistSQL

#23326 Insert mask
  docs/document/content/reference/encrypt/_index.cn.md
  docs/document/content/reference/mask/_index.cn.md
  docs/document/content/reference/mask/_index.en.md
  docs/document/content/reference/observability/_index.cn.md
  docs/document/content/reference/observability/_index.en.md
  docs/document/content/reference/shadow/_index.cn.md
  docs/document/content/reference/shadow/_index.en.md
  docs/document/static/img/encrypt/4_cn_v3.png
  docs/document/static/img/mask/1_cn.png
  docs/document/static/img/mask/1_en.png
  docs/document/static/img/mask/2_cn.png
  docs/document/static/img/mask/2_en.png
  docs/document/static/img/mask/3_cn.png
  docs/document/static/img/mask/3_en.png
Labels: in: document

#23327 Add `EncryptRuleConfigurationImportChecker`
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/EncryptRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationHandler.java
Labels: type: enhancement, feature: DistSQL

#23329 Add `MaskRuleConfigurationImportChecker`
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/EncryptRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/MaskRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationHandler.java
Labels: type: enhancement, feature: DistSQL

#23330 Add single mask integration test
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/authority.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/h2/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/opengauss/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/oracle/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/postgresql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/actual/init-sql/sqlserver/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/h2/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/oracle/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/postgresql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/data/expected/init-sql/sqlserver/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask/proxy/conf/mysql/config-mask.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask/proxy/conf/opengauss/config-mask.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask/proxy/conf/postgresql/config-mask.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask/rules.yaml
Labels: type: enhancement, in: test, feature: mask

#23331 Add unit test for `ShardingRuleConfigurationImportChecker`
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportCheckerTest.java
Labels: in: test, feature: DistSQL

#23335 Optimize error code for encrypt.
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/checker/EncryptRuleConfigurationChecker.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptAssistedQueryColumnNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptAssistedQueryEncryptorNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptCipherColumnNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptEncryptorNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptLikeQueryColumnNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptLikeQueryEncryptorNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/exception/metadata/EncryptTableNotFoundException.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/merge/dal/show/EncryptShowColumnsMergedResult.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/merge/dal/show/EncryptShowCreateTableMergedResult.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/rewriter/EncryptInsertValueParameterRewriter.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptForUseDefaultInsertColumnsTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/checker/EncryptRuleConfigurationCheckerTest.java
Labels: type: enhancement, feature: encrypt

#23338 Add unit test for `DatabaseDiscoveryRuleConfigurationImportChecker`
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/DBDiscoveryRuleConfigurationImportCheckerTest.java
Labels: in: test, feature: DistSQL

#23337 Remove the dependency of encrypt-plugin from encrypt-core.
  features/encrypt/core/pom.xml
  features/encrypt/distsql/handler/pom.xml
  jdbc/core/pom.xml
Labels: type: refactor, feature: encrypt

#23336 Add mask and encrypt integration test
  .github/workflows/e2e.yml
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/e2e/suite/src/test/resources/env/it-env.properties
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/authority.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/h2/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/opengauss/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/oracle/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/postgresql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/actual/init-sql/sqlserver/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/h2/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/oracle/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/postgresql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/data/expected/init-sql/sqlserver/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/proxy/conf/mysql/config-mask-encrypt.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/proxy/conf/opengauss/config-mask-encrypt.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/proxy/conf/postgresql/config-mask-encrypt.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt/rules.yaml
Labels: type: enhancement, in: test, feature: mask

#23339 Optimize error code for encrypt.
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/AESEncryptAlgorithm.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/encrypt/AESEncryptAlgorithmTest.java
  features/encrypt/plugin/sm/pom.xml
  features/encrypt/plugin/sm/src/main/java/org/apache/shardingsphere/encrypt/sm/algorithm/SM3EncryptAlgorithm.java
  features/encrypt/plugin/sm/src/main/java/org/apache/shardingsphere/encrypt/sm/algorithm/SM4EncryptAlgorithm.java
  features/encrypt/plugin/sm/src/test/java/org/apache/shardingsphere/encrypt/sm/algorithm/SM4EncryptAlgorithmTest.java
Labels: type: enhancement, feature: encrypt

#23342 Add : add assertion for zipkin E2E (#23135)
  .github/workflows/e2e.yml
  test/e2e/agent/plugins/common/src/test/java/org/apache/shardingsphere/test/e2e/agent/common/result/JsonConfiguration.java
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/result/MetricsMetaDataResult.java
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/result/MetricsQueryResult.java
  test/e2e/agent/plugins/zipkin/src/test/java/org/apache/shardingsphere/test/e2e/agent/zipkin/ZipkinPluginE2EIT.java
  test/e2e/agent/plugins/zipkin/src/test/resources/env/engine-env.properties
Labels: in: test, feature: agent

#23347 file-advisors.yaml is split into file-jdbc-advisors.yaml and file-proxy-advisors.yaml
  agent/plugins/logging/type/file/src/main/resources/META-INF/conf/file-jdbc-advisors.yaml
  agent/plugins/logging/type/file/src/main/resources/META-INF/conf/file-proxy-advisors.yaml
Labels: type: refactor, feature: agent

#23348 Remove currentRuleConfig non-null judgment for create rule updaters
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryHeartbeatStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryTypeStatementUpdater.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleStatementUpdater.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/CreateMaskRuleStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateBroadcastTableRuleStatementUpdater.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateShardingTableReferenceRuleStatementUpdater.java
Labels: type: refactor, feature: DistSQL

#23345 Alter RuleConfiguration avoid load table from remote
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneModeContextManager.java
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/alter_sharding_rules_show_tables.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/alter_sharding_rules_show_tables.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/create_sharding_rules_show_tables.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/cluster/drop_sharding_rules_show_tables.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/create_sharding_rules_show_tables.xml
  test/e2e/suite/src/test/resources/cases/rdl/dataset/rdl_empty_rules/drop_sharding_rules_show_tables.xml
Labels: mode: cluster, type: refactor

#23315 Update hint.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/readwrite-splitting/hint.en.md
Labels: in: document

#23359 Refactor YamlPluginsConfigurationSwapper
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/config/yaml/swapper/YamlPluginsConfigurationSwapper.java
Labels: type: refactor, feature: agent

#23361 Add `ifExist` for `drop mask rule`
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleStatementUpdater.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleStatementUpdaterTest.java
Labels: type: enhancement, feature: DistSQL

#23363 Refactor ifNotExists of DB_DISCOVERY RULE.
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdaterTest.java
Labels: type: refactor, feature: DistSQL

#23317 Supports specifying the directory for example output
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/ExampleGeneratorMain.java
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/core/ExampleGenerator.java
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/core/ExampleGeneratorFactory.java
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/core/impl/JDBCExampleGenerator.java
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/core/impl/ProxyExampleGenerator.java
  examples/shardingsphere-example-generator/src/main/java/org/apache/shardingsphere/example/generator/core/yaml/config/YamlExampleConfiguration.java
  examples/shardingsphere-example-generator/src/main/resources/config.yaml
Labels: in: example

#23340 Add cluster zookeeper for example genterator
  .github/workflows/nightly-build-example.yml
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/config/Configuration.ftl
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/pom.ftl
Labels: in: example

#23368 Add `ifExist` for `drop rule` DistSQL documents
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-heartbeat.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-heartbeat.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-type.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/db-discovery/drop-db-discovery-type.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt/drop-encrypt-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt/drop-encrypt-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/drop-mask-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/drop-mask-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/drop-readwrite-splitting-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/drop-readwrite-splitting-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-default-shadow-algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-default-shadow-algorithm.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-shadow-algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-shadow-algorithm.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-shadow-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/drop-shadow-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-broadcast-table-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-broadcast-table-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-default-sharding-strategy.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-default-sharding-strategy.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-algorithm.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-key-generator.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-key-generator.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-reference-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-reference-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/drop-sharding-table-rule.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/unregister-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/unregister-storage-unit.en.md
Labels: in: document, feature: DistSQL

#23369 Add NotImplementComparableValueException, InvalidBindingTablesException to handle related exceptions
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/data/NotImplementComparableValueException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/metadata/InvalidBindingTablesException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByMemoryMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByRowComparator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByStreamMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByValue.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/parameter/impl/ShardingGeneratedKeyInsertValueParameterRewriter.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/CursorTokenGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/FetchDirectionTokenGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/impl/InsertClauseShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValue.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
Labels: feature: sharding, type: refactor

#23371 Fix PostgreSQL/openGauss parameter lost if placeholder contains type cast
  sql-parser/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/impl/OpenGaussStatementSQLVisitor.java
  sql-parser/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/impl/PostgreSQLStatementSQLVisitor.java
  test/e2e/suite/src/test/resources/cases/dml/dml-integration-test-cases.xml
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
Labels: type: bug, in: SQL parse, db: PostgreSQL, db: openGauss

#23370 Avoid throw NFE when use `MySQL.NORMAL_REPLICATION` not set delay-milliseconds-threshold
  .github/workflows/e2e-discovery.yml
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/algorithm/DatabaseDiscoveryEngine.java
  features/db-discovery/provider/mysql/src/main/java/org/apache/shardingsphere/dbdiscovery/mysql/type/MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm.java
Labels: type: refactor, feature: db-discovery

#23373 Rename `resource` to `data source`
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/main/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdater.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/AlterDatabaseDiscoveryRuleStatementUpdaterTest.java
  features/db-discovery/distsql/handler/src/test/java/org/apache/shardingsphere/dbdiscovery/distsql/handler/update/CreateDatabaseDiscoveryRuleStatementUpdaterTest.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingRuleStatementUpdaterTest.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/CreateReadwriteSplittingRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/checker/ShadowRuleStatementChecker.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/AlterShadowRuleStatementUpdaterTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/update/CreateShadowRuleStatementUpdaterTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/ShardingSphereResourceMetaData.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/DatabaseDiscoveryRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ReadwriteSplittingRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShadowRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportChecker.java
  proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/AlterReadwriteSplittingStorageUnitStatusStatementHandler.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/database/DatabaseOperateBackendHandlerFactoryTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactoryTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/DBDiscoveryRuleConfigurationImportCheckerTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ReadwriteSplittingRuleConfigurationImportCheckerTest.java
  proxy/backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/common/checker/ShardingRuleConfigurationImportCheckerTest.java
Labels: type: refactor, feature: DistSQL

#23378 Update `error message` for `sql error code document`
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
Labels: in: document, feature: DistSQL

#23372 Add : add E2E for jaeger (#23135)
  test/e2e/agent/plugins/jaeger/pom.xml
  test/e2e/agent/plugins/jaeger/src/test/assembly/shardingsphere-proxy-agent-jaeger-assembly.xml
  test/e2e/agent/plugins/jaeger/src/test/java/org/apache/shardingsphere/test/e2e/agent/jaeger/JaegerPluginE2EIT.java
  test/e2e/agent/plugins/jaeger/src/test/java/org/apache/shardingsphere/test/e2e/agent/jaeger/result/JaegerTraceResult.java
  test/e2e/agent/plugins/jaeger/src/test/resources/docker/agent/conf/agent.yaml
  test/e2e/agent/plugins/jaeger/src/test/resources/docker/docker-compose.yml
  test/e2e/agent/plugins/jaeger/src/test/resources/env/engine-env.properties
  test/e2e/agent/plugins/zipkin/src/test/java/org/apache/shardingsphere/test/e2e/agent/zipkin/ZipkinPluginE2EIT.java
  test/e2e/agent/plugins/zipkin/src/test/resources/env/engine-env.properties
Labels: in: test, feature: agent

#23381 Optimize shadow exception error code and message
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/AbstractColumnMatchedShadowAlgorithm.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/ColumnRegexMatchedShadowAlgorithm.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/ColumnValueMatchedShadowAlgorithm.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/algorithm/shadow/hint/SimpleHintShadowAlgorithm.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/checker/ShadowRuleConfigurationChecker.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/algorithm/NotImplementHintShadowAlgorithmException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/algorithm/ShadowAlgorithmInitializationException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/metadata/InvalidShadowAlgorithmOperationException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/metadata/MissingRequiredShadowAlgorithmException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/metadata/MissingRequiredShadowConfigurationException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/exception/metadata/ShadowDataSourceMappingNotFoundException.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/ShadowTableRule.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/checker/ShardingRuleConfigurationChecker.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/metadata/MissingRequiredShardingAlgorithmException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/metadata/MissingRequiredShardingConfigurationException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/strategy/type/complex/ComplexShardingStrategy.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/strategy/type/hint/HintShardingStrategy.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/strategy/type/standard/StandardShardingStrategy.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/builder/ShardingRuleBuilder.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/rule/YamlShardingAutoTableRuleConfigurationSwapper.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/rule/YamlShardingTableRuleConfigurationSwapper.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/ShardingRuleConfigurationCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/builder/ShardingRuleBuilderTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/yaml/swapper/rule/YamlShardingAutoTableRuleConfigurationSwapperTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/yaml/swapper/rule/YamlShardingTableRuleConfigurationSwapperTest.java
Labels: type: refactor, feature: shadow

#23382 Refactor AgentPathBuilder
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/path/AgentPath.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/yaml/plugin/loader/PluginConfigurationLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/yaml/plugin/loader/PluginConfigurationLoaderTest.java
Labels: type: refactor, feature: agent

#23384 Refactor PluginConfigurationLoaderTest
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/yaml/plugin/loader/PluginConfigurationLoaderTest.java
Labels: in: test, feature: agent

#23386 Remove PluginBootServiceRegistry
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginBootServiceManager.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/spi/PluginBootServiceRegistry.java
Labels: type: refactor, feature: agent

#23391 Rename agent.core.transformer to agent.core.builder
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AdviceFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentJunction.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/MethodAdvisor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/MethodAdvisorBuilder.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/AgentTransformerTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/fixture/advice/BarAdvice.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/fixture/advice/FooAdvice.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/fixture/targeted/TargetObjectFixture.java
Labels: type: refactor, feature: agent

#23394 Add AgentBuilderFactory
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
Labels: type: refactor, feature: agent

#23395 Move LoggingListener into builder package
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/LoggingListener.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/MethodAdvisorBuilder.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/log/LoggerFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginBootServiceManager.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/ConstructorAdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/InstanceMethodAdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/StaticMethodAdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/loader/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/loader/AgentPluginLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/AgentTransformerTest.java
Labels: type: refactor, feature: agent

#23397 Rename AgentLoggingListener
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentLoggingListener.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/AgentTransformerTest.java
Labels: type: refactor, feature: agent

#23355 Remove version management for spring-jdbc
  pom.xml
Labels: type: dependencies

#23398 Remove useless MethodAdvisor
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/advisor/MethodAdvisor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/advisor/MethodAdvisorBuilder.java
Labels: type: refactor, feature: agent

#23399 Add AdviceExecutorFactory
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/MethodAdvisorBuilderDecorator.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/AdviceExecutorFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/AdviceFactory.java
Labels: type: refactor, feature: agent

#23400 Rename MethodAdvisorBuilderDecorator to MethodAdvisorBuilderInterceptor
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/MethodAdvisorBuilderInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/AdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/ConstructorAdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/InstanceMethodAdviceExecutor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/executor/type/StaticMethodAdviceExecutor.java
Labels: type: refactor, feature: agent

#23401 Add AgentBuilderInterceptor
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/interceptor/AgentBuilderInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/interceptor/MethodAdvisorBuilderInterceptor.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/interceptor/TargetAdviceObjectBuilderInterceptor.java
Labels: type: refactor, feature: agent

#23379 Add pipeline E2E IT log and make sure they are serial
  test/e2e/pipeline/pom.xml
  test/e2e/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/general/MySQLMigrationGeneralE2EIT.java
  test/e2e/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/general/PostgreSQLMigrationGeneralE2EIT.java
  test/e2e/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/primarykey/TextPrimaryKeyMigrationE2EIT.java
Labels: in: test, feature: pipeline

#23402 Update error code in shadow document
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
Labels: in: document

#23407 Refactor AgentBuilderFactoryTest
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactoryTest.java
Labels: type: refactor, in: test, feature: agent

#23408 Rename agent E2E test to Agent with MySQL
  .github/workflows/e2e.yml
  agent/core/src/test/resources/logback-test.xml
Labels: in: test, feature: agent

#23406 Update sql-error-code for db-discovery
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/exception/DBDiscoveryDataSourceRuleNotFoundException.java
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/exception/MissingRequiredDBDiscoveryConfigurationException.java
  features/db-discovery/core/src/main/java/org/apache/shardingsphere/dbdiscovery/exception/MissingRequiredGroupNameConfigurationException.java
  features/db-discovery/provider/mysql/src/main/java/org/apache/shardingsphere/dbdiscovery/mysql/exception/replica/DuplicatePrimaryDataSourceException.java
Labels: in: document

#23410 Refactor AgentBuilderFactory
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactoryTest.java
  agent/core/src/test/java/org/apache/shardingsphere/fixture/advice/BarAdvice.java
  agent/core/src/test/java/org/apache/shardingsphere/fixture/advice/FooAdvice.java
  agent/core/src/test/java/org/apache/shardingsphere/fixture/targeted/TargetObjectFixture.java
Labels: type: refactor, feature: agent

#23409 Refactor : make agent test to matrics
  .github/workflows/e2e.yml
Labels: in: test, feature: agent

#23412 add build-in algorithms for `mask rule` in G4 file
  features/mask/distsql/parser/src/main/antlr4/imports/mask/BaseRule.g4
  features/mask/distsql/parser/src/main/antlr4/imports/mask/Keyword.g4
Labels: type: enhancement, feature: DistSQL

#23414 Refactor : make agent test as a standalone workflow
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e.yml
Labels: type: build, feature: agent

#23416 Rename PluginJarLoader
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/loader/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentBuilderFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/builder/AgentTransformer.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/classloader/AgentClassLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/classloader/ClassLoaderContext.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/log/LoggerFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginContext.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginLifecycleServiceManager.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJar.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJarLoader.java
Labels: type: refactor, feature: agent

#23404 Implement LANDLINE_NUMBER_RANDOM_REPLACE Algorithm
  docs/document/content/dev-manual/mask.cn.md
  docs/document/content/dev-manual/mask.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/mask.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/mask.en.md
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/replace/LandlineNumberRandomAlgorithm.java
  features/mask/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mask.spi.MaskAlgorithm
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/algorithm/replace/LandlineNumberRandomAlgorithmTest.java
Labels: type: enhancement, feature: mask

#23393 Refactor : refactor the agent packging structure (#23392)
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJarLoader.java
  agent/distribution/src/main/assembly/shardingsphere-agent-binary-distribution.xml
Labels: type: refactor, type: build, feature: agent

#23415 Refactor : update all E2E test name
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e-discovery.yml
  .github/workflows/e2e-pipeline.yml
  .github/workflows/e2e-showprocesslist.yml
  .github/workflows/e2e-transaction.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-e2e.yml
Labels: in: test, feature: agent

#23422 Add more assertions for PluginConfigurationLoaderTest
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/yaml/loader/PluginConfigurationLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/yaml/loader/PluginConfigurationLoaderTest.java
  agent/core/src/test/resources/conf/agent.yaml
Labels: in: test, feature: agent

#23426 Split PluginConfigurationLoader and YamlPluginConfigurationLoader
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJarLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/yaml/loader/YamlPluginConfigurationLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/PluginConfigurationLoaderTest.java
Labels: type: refactor, feature: agent

#23427 Add agent.core.plugin.config package
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/PluginConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/entity/YamlAgentConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/entity/YamlPluginCategoryConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/entity/YamlPluginConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/loader/YamlPluginConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/swapper/YamlPluginsConfigurationSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/config/PluginConfigurationLoaderTest.java
Labels: type: refactor, feature: agent

#23428 Refactor agent.core.advisor.config package
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/ShardingSphereAgent.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/entity/YamlAdvisorConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/entity/YamlAdvisorsConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/entity/YamlPointcutConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/entity/YamlPointcutParameterConfiguration.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/loader/YamlAdvisorsConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlPointcutConfigurationSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/fixture/YamlAdviceFixture.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/fixture/YamlTargetObjectFixture.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/loader/YamlAdvisorsConfigurationLoaderTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapperTest.java
  agent/core/src/test/resources/META-INF/conf/advisors.yaml
Labels: type: refactor, feature: agent

#23429 Refactor YamlAdvisorsConfigurationSwapper
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlPointcutConfigurationSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapperTest.java
Labels: type: refactor, feature: agent

#23431 Simplify advisor creation process
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationRegistry.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationRegistryFactory.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapper.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationRegistryFactoryTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationRegistryTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapperTest.java
Labels: type: refactor, feature: agent

#23430 Properly handle number sign in MySQL Proxy binary protocol
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacket.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLBinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDateBinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDoubleBinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLFloatBinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt1BinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt2BinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt4BinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt8BinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLStringLenencBinaryProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLTimeBinaryProtocolValue.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/MySQLComStmtExecutePacketTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDateBinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDoubleBinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLFloatBinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt1BinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt2BinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt4BinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLInt8BinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLStringLenencBinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLTimeBinaryProtocolValueTest.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/MySQLServerPreparedStatement.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutor.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutor.java
  proxy/frontend/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareParameterMarkerExtractor.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandPacketFactoryTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/admin/MySQLComResetConnectionExecutorTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/MySQLComStmtSendLongDataExecutorTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutorTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutorTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareParameterMarkerExtractorTest.java
  proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/reset/MySQLComStmtResetExecutorTest.java
  test/e2e/suite/src/test/resources/cases/dml/dataset/passthrough/mysql/insert_min_values_into_single_table_integer.xml
  test/e2e/suite/src/test/resources/cases/dml/dataset/passthrough/mysql/insert_negative_smallint_into_single_table_integer.xml
  test/e2e/suite/src/test/resources/cases/dml/dataset/passthrough/mysql/insert_negative_values_into_single_table_integer.xml
  test/e2e/suite/src/test/resources/cases/dml/dml-integration-test-cases.xml
Labels: type: bug, in: proxy, db: MySQL

#23434 For agent-core code format
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorConfigurationSwapper.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/swapper/YamlAdvisorsConfigurationSwapper.java
Labels: type: refactor, feature: agent

#23432 Fix NPM on Oracle 12.2 when load column metadata
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/dialect/OracleSchemaMetaDataLoader.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/dialect/OracleSchemaMetaDataLoaderTest.java
Labels: type: bug, in: metadata, db: Oracle

#23437 Refactor PrometheusWrapperFactory
  agent/plugins/metrics/type/prometheus/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/wrapper/PrometheusWrapperFactory.java
Labels: type: refactor, feature: agent

#23417 Add mask and sharding integration test
  .github/workflows/e2e.yml
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/e2e/suite/src/test/resources/env/it-env.properties
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/authority.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/h2/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/opengauss/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/oracle/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/postgresql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/actual/init-sql/sqlserver/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/h2/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/oracle/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/postgresql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/data/expected/init-sql/sqlserver/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/proxy/conf/mysql/config-mask-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/proxy/conf/opengauss/config-mask-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/proxy/conf/postgresql/config-mask-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_sharding/rules.yaml
Labels: type: enhancement, in: test, feature: mask

#23439 Remove useless MetaDataContextsFactory
  agent/README.md
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/MetaDataContextsFactoryAdvice.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-jdbc-advisors.yaml
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-proxy-advisors.yaml
Labels: type: refactor, feature: agent

#23438 Correct openGauss spelling mistakes.
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/memory/loader/dialect/OpenGaussQueryResultDataRowLoader.java
  infra/executor/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.executor.sql.execute.result.query.impl.driver.jdbc.type.memory.loader.DialectQueryResultDataRowLoader
Labels: type: enhancement, type: refactor

#23441 Correct a translate issue for document
  docs/document/content/user-manual/shardingsphere-proxy/yaml-config/rules.en.md
Labels: in: document

#23435 Add MySQL Connector/J 8.0.30 client case to E2E actions
  .github/workflows/e2e.yml
Labels: in: proxy, in: test, db: MySQL

#23440 Optimise DistSQL RDL parser test
  features/shadow/distsql/parser/src/main/java/org/apache/shardingsphere/shadow/distsql/parser/core/ShadowDistSQLStatementVisitor.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/RDLStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/drop/DropRuleStatementAssert.java
Labels: type: refactor, in: test, feature: DistSQL

#23450 Rename ProxyRequestCountAdvice and ProxyConnectionCountAdvice
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/FrontendChannelActiveAdvice.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/ProxyConnectionCountAdvice.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/ProxyRequestCountAdvice.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/FrontendChannelReadAdviceTest.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/ProxyConnectionCountAdviceTest.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/ProxyRequestCountAdviceTest.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-proxy-advisors.yaml
Labels: type: refactor, feature: agent

#23445 remove useless constructor for `TableRuleSegment`
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/checker/ShardingRuleStatementCheckerTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/converter/ShardingRuleStatementConverterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterShardingTableRuleStatementUpdaterTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateShardingTableRuleStatementUpdaterTest.java
  features/sharding/distsql/statement/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/segment/table/TableRuleSegment.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/dialect/OracleSchemaMetaDataLoader.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/loader/dialect/OracleSchemaMetaDataLoaderTest.java
Labels: type: refactor, feature: DistSQL

#23451 Rename CurrentConnectionsCountAdvice and TotalRequestsCountAdvice
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/proxy/CurrentConnectionsCountAdvice.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/proxy/TotalRequestsCountAdvice.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/constant/MetricIds.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/MetricsAdviceBaseTest.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/proxy/CurrentConnectionsCountAdviceTest.java
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/proxy/TotalRequestsCountAdviceTest.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-proxy-advisors.yaml
Labels: type: refactor, feature: agent

#23452 Rename metrics ID of total_proxy_requests
  agent/README.md
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/constant/MetricIds.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-metrics.yaml
  agent/plugins/metrics/type/prometheus/src/test/resources/META-INF/conf/prometheus-metrics.yaml
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/MetricsPluginE2EIT.java
Labels: type: refactor, feature: agent

#23449 remove useless constructor for `AutoTableRuleSegment`
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/checker/ShardingRuleStatementCheckerTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/converter/ShardingRuleStatementConverterTest.java
  features/sharding/distsql/statement/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/segment/table/AutoTableRuleSegment.java
Labels: type: refactor, feature: DistSQL

#23448 Remove duplicate newShardingSphereSchema method
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
Labels: mode: cluster, type: refactor

#23446 Refactor ifNotExists of CREATE ENCRYPT RULE.
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleStatementUpdater.java
Labels: type: refactor, feature: DistSQL

#23444 Support more precise matching by prefix length.
  infra/common/src/main/java/org/apache/shardingsphere/infra/database/type/DatabaseTypeEngine.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/database/type/DatabaseTypeEngineTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/fixture/InfraLongLengthPrefixDatabaseTypeFixture.java
  infra/common/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.type.DatabaseType
Labels: type: enhancement, in: metadata

#23455 Support openGauss EXPLAIN PERFORMANCE
  sql-parser/dialect/opengauss/src/main/antlr4/imports/opengauss/DALStatement.g4
  sql-parser/dialect/opengauss/src/main/antlr4/imports/opengauss/OpenGaussKeyword.g4
  test/it/parser/src/main/resources/case/dal/explain.xml
  test/it/parser/src/main/resources/sql/supported/dal/explain.xml
Labels: type: enhancement, in: SQL parse, db: openGauss

#23433 Disable sql-show at pipeline E2E test
  test/e2e/pipeline/src/test/resources/env/mysql/server-5.yaml
  test/e2e/pipeline/src/test/resources/env/mysql/server-8.yaml
  test/e2e/pipeline/src/test/resources/env/opengauss/server.yaml
  test/e2e/pipeline/src/test/resources/env/postgresql/server.yaml
Labels: in: test

#23462 Add parser test for `create mask rule`
  test/it/parser/pom.xml
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/distsql/rdl/MaskColumnAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/distsql/rdl/MaskRuleAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/create/CreateRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/create/impl/CreateMaskRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/distsql/rdl/ExpectedMaskColumn.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/distsql/rdl/ExpectedMaskRule.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rdl/rule/mask/CreateMaskRuleStatementTestCase.java
  test/it/parser/src/main/resources/case/rdl/create.xml
  test/it/parser/src/main/resources/sql/supported/rdl/create.xml
Labels: in: test, feature: DistSQL

#23465 Add parser test for `alter mask rule`
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/alter/AlterRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/alter/impl/AlterEncryptRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/rdl/alter/impl/AlterMaskRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rdl/rule/mask/AlterMaskRuleStatementTestCase.java
  test/it/parser/src/main/resources/case/rdl/alter.xml
  test/it/parser/src/main/resources/sql/supported/rdl/alter.xml
Labels: type: enhancement, in: test

#23456 Add mask, encrypt and sharding integration test
  .github/workflows/e2e.yml
  test/e2e/suite/src/test/resources/cases/dql/dql-integration-test-cases.xml
  test/e2e/suite/src/test/resources/env/it-env.properties
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/authority.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/h2/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/opengauss/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/oracle/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/postgresql/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/actual/init-sql/sqlserver/01-actual-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/databases.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/dataset.xml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/h2/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/oracle/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/postgresql/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/data/expected/init-sql/sqlserver/01-expected-init.sql
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/proxy/conf/mysql/config-mask-encrypt-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/proxy/conf/opengauss/config-mask-encrypt-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/proxy/conf/postgresql/config-mask-encrypt-sharding.yaml
  test/e2e/suite/src/test/resources/env/scenario/mask_encrypt_sharding/rules.yaml
Labels: type: enhancement, in: test

#23459 Agent: metric total_proxy_requests changed to proxy_request_total
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/constant/MetricIds.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-metrics.yaml
  agent/plugins/metrics/type/prometheus/src/test/resources/META-INF/conf/prometheus-metrics.yaml
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/MetricsPluginE2EIT.java
Labels: type: refactor, feature: agent

#23468 Fix failed to parse PostgreSQL/openGauss SQL contains money type
  sql-parser/dialect/opengauss/src/main/antlr4/imports/opengauss/BaseRule.g4
  sql-parser/dialect/opengauss/src/main/antlr4/imports/opengauss/OpenGaussKeyword.g4
  sql-parser/dialect/postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  sql-parser/dialect/postgresql/src/main/antlr4/imports/postgresql/PostgreSQLKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
  test/it/parser/src/main/resources/sql/unsupported/unsupported.xml
Labels: type: bug, in: SQL parse, db: PostgreSQL, db: openGauss

#23436 Refactor agent packaging and class loader
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJarLoader.java
Labels: in: test, type: build, feature: agent

#23471 Add RQL parser test case for `mask rule`
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/rule/mask/CountMaskRuleStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rql/rule/mask/ShowMaskRulesStatementTestCase.java
  test/it/parser/src/main/resources/case/rql/show.xml
  test/it/parser/src/main/resources/sql/supported/rql/show.xml
Labels: in: test, feature: DistSQL

#23480 Add xa transaction support for example generator
  .github/workflows/nightly-build-example.yml
  examples/shardingsphere-example-generator/src/main/resources/config.yaml
  examples/shardingsphere-example-generator/src/main/resources/template/jdbc/java/repository/jdbc/OrderRepository.ftl
Labels: type: build, in: example

#23481 Add more integration test case for encrypt dml statement
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/BatchE2EIT.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/dal/BaseDALE2EIT.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/dml/AdditionalDMLE2EIT.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/dml/BaseDMLE2EIT.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/dml/BatchDMLE2EIT.java
  test/e2e/suite/src/test/java/org/apache/shardingsphere/test/e2e/engine/dml/GeneralDMLE2EIT.java
  test/e2e/suite/src/test/resources/cases/dml/dataset/encrypt/batch_insert_into_user_table.xml
  test/e2e/suite/src/test/resources/cases/dml/dataset/encrypt/delete_user_table.xml
  test/e2e/suite/src/test/resources/cases/dml/dataset/encrypt/update_user_table.xml
  test/e2e/suite/src/test/resources/cases/dml/dataset/encrypt/update_user_table_by_pwd.xml
  test/e2e/suite/src/test/resources/cases/dml/dml-integration-test-cases.xml
  test/e2e/suite/src/test/resources/env/scenario/encrypt/data/actual/dataset.xml
Labels: type: enhancement, feature: encrypt, in: test

#23483 Rename metrics id from proxy_request_total to proxy_requests_total
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/constant/MetricIds.java
  agent/plugins/metrics/type/prometheus/src/main/resources/META-INF/conf/prometheus-metrics.yaml
  agent/plugins/metrics/type/prometheus/src/test/resources/META-INF/conf/prometheus-metrics.yaml
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
  test/e2e/agent/plugins/metrics/src/test/java/org/apache/shardingsphere/test/e2e/agent/metrics/MetricsPluginE2EIT.java
Labels: type: refactor, feature: agent

#23478 Add Readwrite-splitting feature error code
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/FixedReplicaWeightReadQueryLoadBalanceAlgorithm.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/TransactionWeightReadQueryLoadBalanceAlgorithm.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/algorithm/loadbalance/WeightReadQueryLoadBalanceAlgorithm.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/checker/ReadwriteSplittingRuleConfigurationChecker.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/algorithm/MissingRequiredReadDatabaseWeightException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/DataSourceNameExistedException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/DuplicateDataSourceException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/InvalidWeightLoadBalancerConfigurationException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/LoadBalancerAlgorithmNotFoundException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/MissingRequiredAutoAwareDataSourceNameException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/MissingRequiredDataSourceNameException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/MissingRequiredReadDataSourceNamesException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/checker/MissingRequiredWriteDataSourceNameException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/exception/rule/InvalidInlineExpressionDataSourceNameException.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRule.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/checker/ReadwriteSplittingRuleConfigurationCheckerTest.java
Labels: type: refactor, feature: readwrite-splitting

#23487 Migrate openjdk to eclipse-temurin
  distribution/proxy/Dockerfile
  test/e2e/agent/plugins/jaeger/Dockerfile
  test/e2e/agent/plugins/metrics/Dockerfile
  test/e2e/agent/plugins/opentelemetry/Dockerfile
  test/e2e/agent/plugins/zipkin/Dockerfile
  test/e2e/fixture/Dockerfile
Labels: type: build

#23489 Add readwrite-splitting error code doc
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/checker/ReadwriteSplittingRuleConfigurationChecker.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/ReadwriteSplittingRule.java
Labels: in: document

#23492 Add throwable log at pipeline inventory and incremental task.
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/IncrementalTask.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/InventoryTask.java
Labels: type: enhancement, feature: pipeline
