Repository apache/shardingsphere, pull requests merged in 2024-05, with the labels that each got.

#31083 Add test cases for MaskRuleConfigurationChecker
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/checker/MaskRuleConfigurationCheckerTest.java
Labels: in: test, feature: mask

#31085 Move GlobalNodePath to mode-api module
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProvider.java
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProviderTest.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProvider.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/swapper/EncryptRuleConfigurationRepositoryTupleSwapper.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProviderTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProvider.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProviderTest.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProvider.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/swapper/ReadwriteSplittingRuleConfigurationRepositoryTupleSwapper.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProviderTest.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProvider.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/swapper/ShadowRuleConfigurationRepositoryTupleSwapper.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProviderTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingRuleConfigurationRepositoryTupleSwapper.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProviderTest.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/swapper/AuthorityRuleConfigurationRepositoryTupleSwapper.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/core/yaml/swapper/GlobalClockRuleConfigurationRepositoryTupleSwapper.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/swapper/LoggingRuleConfigurationRepositoryTupleSwapper.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProvider.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/swapper/SingleRuleConfigurationRepositoryTupleSwapper.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProviderTest.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/swapper/SQLFederationRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/swapper/SQLParserRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/swapper/SQLTranslatorRuleConfigurationRepositoryTupleSwapper.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/swapper/TrafficRuleConfigurationRepositoryTupleSwapper.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/swapper/TransactionRuleConfigurationRepositoryTupleSwapper.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/path/GlobalNodePath.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/path/rule/RuleNodePath.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/path/rule/item/NamedRuleItemNodePath.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/path/rule/item/UniqueRuleItemNodePath.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/path/rule/root/RuleRootNodePath.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/spi/RuleNodePathProvider.java
  mode/api/src/test/java/org/apache/shardingsphere/mode/path/GlobalNodePathTest.java
  mode/api/src/test/java/org/apache/shardingsphere/mode/path/rule/RuleNodePathTest.java
  mode/api/src/test/java/org/apache/shardingsphere/mode/path/rule/item/NamedRuleItemNodePathTest.java
  mode/api/src/test/java/org/apache/shardingsphere/mode/path/rule/item/UniqueRuleItemNodePathTest.java
  mode/api/src/test/java/org/apache/shardingsphere/mode/path/rule/root/RuleRootNodePathTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/builder/RuleConfigurationEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/watcher/GlobalRuleChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/watcher/PropertiesChangedWatcher.java
Labels: mode: cluster, type: refactor

#31086 Refactor RepositoryTupleSwapper's impl
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/swapper/EncryptRuleConfigurationRepositoryTupleSwapper.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/swapper/ReadwriteSplittingRuleConfigurationRepositoryTupleSwapper.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/swapper/ShadowRuleConfigurationRepositoryTupleSwapper.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingRuleConfigurationRepositoryTupleSwapper.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/swapper/AuthorityRuleConfigurationRepositoryTupleSwapper.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/swapper/LoggingRuleConfigurationRepositoryTupleSwapper.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/swapper/SingleRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/swapper/SQLFederationRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/swapper/SQLParserRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/swapper/SQLTranslatorRuleConfigurationRepositoryTupleSwapper.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/swapper/TrafficRuleConfigurationRepositoryTupleSwapper.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/swapper/TransactionRuleConfigurationRepositoryTupleSwapper.java
Labels: type: refactor

#31088 Refactor BroadcastRuleConfigurationRepositoryTupleSwapper
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapperTest.java
Labels: mode: cluster, type: refactor, feature: broadcast

#31087 Enhance AlterGlobalClockRuleExecutorTest test case
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/update/AlterGlobalClockRuleExecutorTest.java
Labels: in: test

#31089 Refactor MaskRuleConfigurationCheckerTest
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/checker/MaskRuleConfigurationCheckerTest.java
Labels: in: test, feature: mask

#31090 Revise AlterGlobalClockRuleExecutorTest
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/update/AlterGlobalClockRuleExecutorTest.java
Labels: in: test

#31091 Refactor BroadcastRuleConfigurationRepositoryTupleSwapper
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
Labels: type: refactor, feature: broadcast

#31092 Add RepositoryTupleSwapperIT
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/yaml/BroadcastRuleConfigurationRepositoryTupleSwapperIT.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/yaml/BroadcastRuleConfigurationYamlIT.java
  features/broadcast/core/src/test/resources/yaml/broadcast-rule.yaml
  test/it/yaml/pom.xml
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: type: refactor, in: test

#31093 Add AuthorityRuleConfigurationRepositoryTupleSwapperIT
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationRepositoryTupleSwapperIT.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationYamlIT.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapperTest.java
  kernel/authority/core/pom.xml
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationYamlIT.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/yaml/swapper/AuthorityRuleConfigurationRepositoryTupleSwapperTest.java
  kernel/authority/core/src/test/resources/yaml/authority-rule.yaml
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: in: test, feature:authority

#31096 Add SingleRuleConfigurationRepositoryTupleSwapperIT
  kernel/single/core/pom.xml
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationYamlIT.java
  kernel/single/core/src/test/resources/yaml/single-rule.yaml
Labels: in: test, feature: single

#31098 Add ReadwriteSplittingConfigurationRepositoryTupleSwapperIT
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperIT.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingRuleConfigurationYamlIT.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/yaml/swapper/ReadwriteSplittingRuleConfigurationRepositoryTupleSwapperTest.java
  features/readwrite-splitting/core/src/test/resources/yaml/readwrite-splitting-rule.yaml
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/yaml/swapper/ShadowRuleConfigurationRepositoryTupleSwapperTest.java
Labels: in: test, feature: readwrite-splitting

#31099 Add MaskConfigurationRepositoryTupleSwapperIT
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskConfigurationRepositoryTupleSwapperIT.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskRuleConfigurationYamlIT.java
  features/mask/core/src/test/resources/yaml/mask-rule.yaml
Labels: in: test, feature: mask

#31100 Refactor MaskRuleConfigurationYamlIT
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskRuleConfigurationYamlIT.java
Labels: type: refactor, in: test, feature: mask

#31101 Add EncryptRuleConfigurationYamlIT
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/swapper/EncryptRuleConfigurationRepositoryTupleSwapper.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptConfigurationRepositoryTupleSwapperIT.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptRuleConfigurationYamlIT.java
  features/encrypt/core/src/test/resources/yaml/encrypt-rule.yaml
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
Labels: feature: encrypt, in: test

#31102 Refactor RepositoryTupleSwapperIT to simplify assertions
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationRepositoryTupleSwapperIT.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptConfigurationRepositoryTupleSwapperIT.java
  features/encrypt/core/src/test/resources/yaml/encrypt-rule.yaml
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskConfigurationRepositoryTupleSwapperIT.java
  features/mask/core/src/test/resources/yaml/mask-rule.yaml
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperIT.java
  features/readwrite-splitting/core/src/test/resources/yaml/readwrite-splitting-rule.yaml
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationRepositoryTupleSwapperIT.java
  features/shadow/core/src/test/resources/yaml/shadow-rule.yaml
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/authority/core/src/test/resources/yaml/authority-rule.yaml
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/it/GlobalClockRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/global-clock/core/src/test/resources/yaml/global-clock-rule.yaml
  kernel/logging/core/src/test/java/org/apache/shardingsphere/logging/it/LoggingRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/logging/core/src/test/resources/yaml/logging-rule.yaml
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/single/core/src/test/resources/yaml/single-rule.yaml
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/it/SQLFederationRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-federation/core/src/test/resources/yaml/sql-federation-rule.yaml
  kernel/sql-parser/core/src/test/java/org/apache/shardingsphere/parser/it/SQLParserRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-parser/core/src/test/resources/yaml/sql-parser-rule.yaml
  kernel/sql-translator/core/src/test/java/org/apache/shardingsphere/sqltranslator/it/SQLTranslatorRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-translator/core/src/test/resources/yaml/sql-translator-rule.yaml
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/it/TrafficRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/traffic/core/src/test/resources/yaml/traffic-rule.yaml
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/it/TransactionRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/transaction/core/src/test/resources/yaml/transaction-rule.yaml
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: in: test

#31103 Refactor RepositoryTupleSwapperIT's impl
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationRepositoryTupleSwapperIT.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptConfigurationRepositoryTupleSwapperIT.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskConfigurationRepositoryTupleSwapperIT.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperIT.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/it/GlobalClockRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/logging/core/src/test/java/org/apache/shardingsphere/logging/it/LoggingRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/it/SQLFederationRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-parser/core/src/test/java/org/apache/shardingsphere/parser/it/SQLParserRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/sql-translator/core/src/test/java/org/apache/shardingsphere/sqltranslator/it/SQLTranslatorRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/it/TrafficRuleConfigurationRepositoryTupleSwapperIT.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/it/TransactionRuleConfigurationRepositoryTupleSwapperIT.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: in: test

#31111 Refactor AutoRepositoryTupleSwapperEngine
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/AutoRepositoryTupleSwapperEngine.java
Labels: type: refactor, in: kernel

#31112 Refactor RuleNodePathProvider to extend TypedSPI
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProvider.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProvider.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProvider.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProvider.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProvider.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProvider.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/AutoRepositoryTupleSwapperEngine.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/spi/RuleNodePathProvider.java
Labels: type: refactor

#31113 Remove usage of RepositoryTupleSwapper.getRuleTypeName()
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/config/YamlBroadcastRuleConfiguration.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/config/YamlEncryptRuleConfiguration.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/config/YamlMaskRuleConfiguration.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/YamlReadwriteSplittingRuleConfiguration.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/config/YamlShadowRuleConfiguration.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/config/pojo/rule/annotation/RepositoryTupleEntity.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/DropDatabaseRuleOperator.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityRuleConfiguration.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/yaml/config/YamlGlobalClockRuleConfiguration.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/config/YamlLoggingRuleConfiguration.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/RepositoryTupleSwapperEngine.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/database/rule/DatabaseRulePersistService.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/pojo/YamlSingleRuleConfiguration.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/config/YamlSQLFederationRuleConfiguration.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/config/YamlSQLParserRuleConfiguration.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/config/YamlSQLTranslatorRuleConfiguration.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/config/YamlTrafficRuleConfiguration.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/config/YamlTransactionRuleConfiguration.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: type: refactor

#31114 Remove RepositoryTupleSwapper.getRuleTypeName()
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/swapper/EncryptRuleConfigurationRepositoryTupleSwapper.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/swapper/ReadwriteSplittingRuleConfigurationRepositoryTupleSwapper.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/swapper/ShadowRuleConfigurationRepositoryTupleSwapper.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingRuleConfigurationRepositoryTupleSwapper.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/swapper/AuthorityRuleConfigurationRepositoryTupleSwapper.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/yaml/swapper/GlobalClockRuleConfigurationRepositoryTupleSwapper.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/swapper/LoggingRuleConfigurationRepositoryTupleSwapper.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/swapper/SingleRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/swapper/SQLFederationRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/swapper/SQLParserRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/swapper/SQLTranslatorRuleConfigurationRepositoryTupleSwapper.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/swapper/TrafficRuleConfigurationRepositoryTupleSwapper.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/swapper/TransactionRuleConfigurationRepositoryTupleSwapper.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/spi/RepositoryTupleSwapper.java
Labels: type: refactor

#31116 Improve unreasonable formatting in documents
  docs/blog/content/material/Oct_12_8_ShardingSphere_Google_Summer_of_Code_Students_How_Was_Your_Open_Source_Experience.cn.md
Labels: in: document

#31110 Support Mysql change replication with no server ids
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/RLStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/MySQLStatement.g4
  parser/sql/engine/src/main/java/org/apache/shardingsphere/sql/parser/core/database/visitor/SQLVisitorRule.java
  test/it/parser/src/main/resources/case/rl/change.xml
  test/it/parser/src/main/resources/sql/supported/rl/change.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31119 Improve unreasonable formatting in documents and Optimize docs
  docs/blog/content/material/Oct_12_2_A_Distributed_Database_Middleware_Ecosystem_Driven_by_Open_Source.cn.md
  docs/blog/content/material/Oct_12_3_How_Can_Students_Participate_in_Open-Source_Communities.cn.md
  docs/blog/content/material/Oct_12_4_Updates_and_FAQ_Your_1_Minute_Quick_Start_Guide_to_ShardingSphere.cn.md
  docs/blog/content/material/Oct_12_5_E-Hualu_ShardingSphere_Hulu_Story_Data_Processing_Shortcut.cn.md
  docs/blog/content/material/Oct_12_6_AutoTable_Your_Butler-Like_Sharding_Configuration_Tool.cn.md
  docs/blog/content/material/Oct_12_9_ShardingSphere_JD_Baitiao_Story_of_an_Implementation_Journey.cn.md
Labels: type: refactor, in: document

#31109 Refactor AlterGlobalClockRuleExecutorTest Test Case
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/update/AlterGlobalClockRuleExecutorTest.java
Labels: in: test, feature: DistSQL

#31122 Merge RepositoryTupleSwapperEngine and AutoRepositoryTupleSwapperEngine
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/RepositoryTupleSwapperEngine.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/database/rule/DatabaseRulePersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/global/GlobalRulePersistService.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperIT.java
Labels: type: refactor, in: kernel

#31123 Refactor RepositoryTupleSwapperEngineIT
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationRepositoryTupleSwapperEngineIT.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptConfigurationRepositoryTupleSwapperEngineIT.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskConfigurationRepositoryTupleSwapperEngineIT.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperEngineIT.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationRepositoryTupleSwapperEngineIT.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/it/ShardingConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/it/GlobalClockRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/logging/core/src/test/java/org/apache/shardingsphere/logging/it/LoggingRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/it/SQLFederationRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-parser/core/src/test/java/org/apache/shardingsphere/parser/it/SQLParserRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-translator/core/src/test/java/org/apache/shardingsphere/sqltranslator/it/SQLTranslatorRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/it/TrafficRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/it/TransactionRuleConfigurationRepositoryTupleSwapperEngineIT.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperEngineIT.java
Labels: in: test

#31124 Refactor RepositoryTupleSwapperEngine
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperEngineIT.java
Labels: type: refactor

#31127 Fixed link jump 404 error in documentation：The error part of the Chinese document is modified.
  docs/community/content/involved/_index.cn.md
Labels: in: document

#31125 Modify the style of the corresponding Markdown text display in the document to make it normally bold.
  docs/community/content/involved/committer/commiter_rights.cn.md
Labels: in: document

#31130 Revert "Fixed link jump 404 error in documentation：The error part of the Chinese document is modified."
  docs/community/content/involved/_index.cn.md
Labels: in: document

#31129 Remove RepositoryTupleSwapper
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/swapper/BroadcastRuleConfigurationRepositoryTupleSwapper.java
  features/broadcast/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/swapper/EncryptRuleConfigurationRepositoryTupleSwapper.java
  features/encrypt/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/swapper/MaskRuleConfigurationRepositoryTupleSwapper.java
  features/mask/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/swapper/ReadwriteSplittingRuleConfigurationRepositoryTupleSwapper.java
  features/readwrite-splitting/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/swapper/ShadowRuleConfigurationRepositoryTupleSwapper.java
  features/shadow/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingRuleConfigurationRepositoryTupleSwapper.java
  features/sharding/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/swapper/AuthorityRuleConfigurationRepositoryTupleSwapper.java
  kernel/authority/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/yaml/swapper/GlobalClockRuleConfigurationRepositoryTupleSwapper.java
  kernel/global-clock/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/swapper/LoggingRuleConfigurationRepositoryTupleSwapper.java
  kernel/logging/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/swapper/SingleRuleConfigurationRepositoryTupleSwapper.java
  kernel/single/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/swapper/SQLFederationRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-federation/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/swapper/SQLParserRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-parser/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/swapper/SQLTranslatorRuleConfigurationRepositoryTupleSwapper.java
  kernel/sql-translator/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/swapper/TrafficRuleConfigurationRepositoryTupleSwapper.java
  kernel/traffic/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/swapper/TransactionRuleConfigurationRepositoryTupleSwapper.java
  kernel/transaction/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.spi.RepositoryTupleSwapper
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/spi/RepositoryTupleSwapper.java
Labels: type: refactor

#31132 Support Mysql row and column aliases with ON DUPLICATE KEY UPDATE
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31133 Support Mysql CALL sql with mysql prefix
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/call.xml
  test/it/parser/src/main/resources/sql/supported/dml/call.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31136 Fix sonar issue
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperEngineIT.java
Labels: in: test

#31141 Rename RepositoryTupleKeyListNameGenerator
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingBindingTableRepositoryTupleKeyListNameGenerator.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/config/pojo/rule/annotation/RepositoryTupleKeyListNameGenerator.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
Labels: type: refactor

#31143 Removes test modules that are not deployed to Maven Central Repository
  infra/algorithm/core/pom.xml
  infra/algorithm/message-digest/type/md5/pom.xml
  infra/url/core/pom.xml
  kernel/schedule/core/pom.xml
Labels: type: bug

#31145 Migrate the OpenJDK8 used by nightly CI from Temurin to Zulu
  .github/workflows/nightly-ci.yml
Labels: type: build

#31149 Include the 5.5.0 tag in the final generated document
  docs/document/themes/hugo-theme-learn/layouts/partials/language.html
Labels: in: document

#31147 Refactor RepositoryTupleField.type()
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/config/YamlBroadcastRuleConfiguration.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/config/YamlEncryptRuleConfiguration.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/config/YamlMaskRuleConfiguration.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/YamlReadwriteSplittingRuleConfiguration.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/config/YamlShadowRuleConfiguration.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/it/ShardingConfigurationRepositoryTupleSwapperEngineIT.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/config/pojo/rule/annotation/RepositoryTupleField.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
Labels: type: refactor

#31142 Support parsing MySQL LOAD DATA with @ variable
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  test/it/parser/src/main/resources/case/ddl/prepared.xml
  test/it/parser/src/main/resources/case/dml/load-data.xml
  test/it/parser/src/main/resources/sql/supported/ddl/prepared.xml
  test/it/parser/src/main/resources/sql/supported/dml/load-data.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31140 Support parsing MySQL CREATE INDEX with ENGINE_ATTRIBUTE
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DALStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  test/it/parser/src/main/resources/case/dal/create.xml
  test/it/parser/src/main/resources/case/ddl/create-index.xml
  test/it/parser/src/main/resources/sql/supported/dal/create.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-index.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31135 Support Mysql create loadable function returns int/dec
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DALStatement.g4
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/dal/CreateLoadableFunctionTestCase.java
  test/it/parser/src/main/resources/case/dal/create-loadable-function.xml
  test/it/parser/src/main/resources/sql/supported/dal/create-loadable-function.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31137 Support parsing MySQL CREATE TABLESPACE/TABLE in Mysql-8
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  test/it/parser/src/main/resources/case/ddl/create-table.xml
  test/it/parser/src/main/resources/case/ddl/create-tablespace.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-tablespace.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31152 Support parsing MySQL START REPLICA statement
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/RLStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/MySQLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLRLStatementVisitor.java
  parser/sql/engine/src/main/java/org/apache/shardingsphere/sql/parser/core/database/visitor/SQLVisitorRule.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/mysql/rl/MySQLStartReplicaStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/rl/StartReplicaStatementTestCase.java
  test/it/parser/src/main/resources/case/rl/start-replica.xml
  test/it/parser/src/main/resources/sql/supported/rl/start-replica.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31153 Add enum process on RepositoryTupleSwapperEngine
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/config/YamlBroadcastRuleConfiguration.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
Labels: type: refactor, in: kernel

#31155 Add default value on RepositoryTupleField, do not need config if same value and field name
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/config/YamlBroadcastRuleConfiguration.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/config/YamlEncryptRuleConfiguration.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/config/YamlMaskRuleConfiguration.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/YamlReadwriteSplittingRuleConfiguration.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/config/YamlShadowRuleConfiguration.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/config/pojo/rule/annotation/RepositoryTupleField.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/engine/RepositoryTupleSwapperEngine.java
Labels: type: refactor

#31154 Add MultiSourceProperties to support Properties with defaults.
  features/encrypt/api/src/main/java/org/apache/shardingsphere/encrypt/api/config/EncryptRuleConfiguration.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/standard/AESEncryptAlgorithm.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/props/MultiSourceProperties.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/props/MultiSourcePropertiesTest.java
Labels: type: refactor, in: kernel

#31157 Move RepositoryTuple and related into mode-api module
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/yaml/config/YamlBroadcastRuleConfiguration.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/it/BroadcastRuleConfigurationRepositoryTupleSwapperEngineIT.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/yaml/config/YamlEncryptRuleConfiguration.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptConfigurationRepositoryTupleSwapperEngineIT.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/yaml/config/YamlMaskRuleConfiguration.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskConfigurationRepositoryTupleSwapperEngineIT.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/YamlReadwriteSplittingRuleConfiguration.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperEngineIT.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/config/YamlShadowRuleConfiguration.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationRepositoryTupleSwapperEngineIT.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/swapper/ShardingBindingTableRepositoryTupleKeyListNameGenerator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/it/ShardingConfigurationRepositoryTupleSwapperEngineIT.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/DropDatabaseRuleOperator.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityRuleConfiguration.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/it/AuthorityRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/yaml/config/YamlGlobalClockRuleConfiguration.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/it/GlobalClockRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/config/YamlLoggingRuleConfiguration.java
  kernel/logging/core/src/test/java/org/apache/shardingsphere/logging/it/LoggingRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/RepositoryTuplePersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/database/rule/DatabaseRulePersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/global/GlobalRulePersistService.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/pojo/YamlSingleRuleConfiguration.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/it/SingleRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/config/YamlSQLFederationRuleConfiguration.java
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/it/SQLFederationRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/config/YamlSQLParserRuleConfiguration.java
  kernel/sql-parser/core/src/test/java/org/apache/shardingsphere/parser/it/SQLParserRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/config/YamlSQLTranslatorRuleConfiguration.java
  kernel/sql-translator/core/src/test/java/org/apache/shardingsphere/sqltranslator/it/SQLTranslatorRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/config/YamlTrafficRuleConfiguration.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/it/TrafficRuleConfigurationRepositoryTupleSwapperEngineIT.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/config/YamlTransactionRuleConfiguration.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/it/TransactionRuleConfigurationRepositoryTupleSwapperEngineIT.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/RepositoryTuple.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/RepositoryTupleSwapperEngine.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleEntity.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleField.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleKeyListNameGenerator.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleType.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/RepositoryTupleSwapperEngineIT.java
Labels: mode: cluster, type: refactor

#31139 Merge RepositoryTupleType and RepositoryTupleEntity
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/yaml/config/YamlAuthorityRuleConfiguration.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/yaml/config/YamlGlobalClockRuleConfiguration.java
  kernel/logging/core/src/main/java/org/apache/shardingsphere/logging/yaml/config/YamlLoggingRuleConfiguration.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/pojo/YamlSingleRuleConfiguration.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/yaml/config/YamlSQLFederationRuleConfiguration.java
  kernel/sql-parser/core/src/main/java/org/apache/shardingsphere/parser/yaml/config/YamlSQLParserRuleConfiguration.java
  kernel/sql-translator/core/src/main/java/org/apache/shardingsphere/sqltranslator/yaml/config/YamlSQLTranslatorRuleConfiguration.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/yaml/config/YamlTrafficRuleConfiguration.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/yaml/config/YamlTransactionRuleConfiguration.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/RepositoryTupleSwapperEngine.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleEntity.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleType.java
Labels: type: refactor

#31158 Support parsing MySQL json table function
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-join.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31160 Add EncryptRule.getAllTableNames()
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rule/EncryptRuleTest.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/InUsedEncryptStorageUnitRetriever.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutorTest.java
Labels: type: refactor, feature: encrypt

#31161 Remove useless events
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/merge/dal/show/DecoratedEncryptShowCreateTableMergedResultTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/datasource/DataSourceNodesChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/datasource/DataSourceUnitsChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/props/PropertiesChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/rule/GlobalRuleConfigurationsChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/config/event/rule/RuleConfigurationsChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/GlobalRuleChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/PropertiesChangedWatcher.java
  mode/type/cluster/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.cluster.coordinator.registry.GovernanceWatcher
Labels: mode: cluster, type: refactor

#31163 Reuse encryptors when update encrypt tables
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
Labels: mode: cluster, type: refactor, feature: encrypt

#31166 Fixes NativeTest failure under GraalVM Native Image due to class changes
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/base/SeataTest.java
Labels: type: bug

#31170 Refactor AlterSQLFederationRuleExecutorTest Test Case
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/update/AlterSQLFederationRuleExecutorTest.java
Labels: in: test

#31173 Remove useless single and broadcast table index name rewrite in IndexToken
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/context/ShardingSQLRewriteContextDecorator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/IndexToken.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/ShardingSQLRewriterIT.java
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/alter-table.xml
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/create-table.xml
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/index.xml
Labels: feature: sharding, type: refactor

#31174 optimize Process code
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessRegistry.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapper.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessListSwapperTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapperTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutor.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutorTest.java
Labels: type: enhancement, in: kernel

#31177 Move package of DatabaseRuleConfigurationEvent
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/database/AlterDatabaseRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/database/DropDatabaseRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/nodes/AlterStorageNodeEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/nodes/RegisterStorageNodeEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/nodes/UnregisterStorageNodeEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/unit/AlterStorageUnitEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/unit/RegisterStorageUnitEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/unit/UnregisterStorageUnitEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/RuleItemChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ConfigurationChangedSubscriber.java
Labels: mode: cluster, type: refactor

#31178 Move package of StorageNodeDataSource
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/storage/StorageNodeRole.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/StorageNodeDataSource.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/StorageNodeStatusService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlStorageNodeDataSourceSwapper.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/event/StorageNodeChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/StorageNodeStateChangedWatcher.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/StorageNodeStateChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31180 Refactor DropDatabaseRuleOperator
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/DropDatabaseRuleOperator.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/database/rule/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/database/AlterDatabaseRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/database/DropDatabaseRuleConfigurationEvent.java
Labels: mode: cluster, type: refactor

#31181 Rename QualifiedDataSourceNode
  docs/document/content/reference/management/_index.cn.md
  docs/document/content/reference/management/_index.en.md
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/attribute/ReadwriteSplittingStaticDataSourceRuleAttribute.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingStorageUnitStatusExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/datasource/qualified/QualifiedDataSourceDeletedEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/node/QualifiedDataSourceNode.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/StorageNodeStatusService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/StorageNodeStateChangedWatcher.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/node/QualifiedDataSourceNodeTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriberTest.java
Labels: mode: cluster, type: refactor

#31182 Move package of QualifiedDataSourceDeletedEvent
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/attribute/ReadwriteSplittingStaticDataSourceRuleAttribute.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/node/ComputeNodeStatusChangedEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/node/QualifiedDataSourceDeletedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/subscriber/ComputeNodeStatusSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetInstanceStatusExecutor.java
Labels: mode: cluster, type: refactor

#31183 Rename QualifiedDataSourceNode
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/node/QualifiedDataSourceNode.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/StorageNodeStatusService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/node/QualifiedDataSourceNodeTest.java
Labels: mode: cluster, type: refactor

#31185 Remove useless YamlQualifiedDataSourceStatus.replicationDelayMilliseconds
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlQualifiedDataSourceStatus.java
Labels: type: refactor

#31186 Remove useless QualifiedDataSourceStatus.role
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/QualifiedDataSourceStatus.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/QualifiedDataSourceStatusService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlQualifiedDataSourceStatus.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlQualifiedDataSourceStatusSwapper.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/node/QualifiedDataSourceNodeTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/QualifiedDataSourceChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31188 Refactor QualifiedDataSourceStatusService
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingStorageUnitStatusExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/QualifiedDataSourceStatusService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/service/QualifiedDataSourceStatusServiceTest.java
Labels: mode: cluster, type: refactor

#31190 Enhance mysql json function visit statement result
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-expression.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31189 Add PartialRuleUpdateSupported on MaskRule
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/attribute/EncryptTableMapperRuleAttribute.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rule/attribute/EncryptTableMapperRuleAttributeTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/rule/MaskRule.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/rule/attribute/MaskTableMapperRuleAttribute.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/rule/attribute/MaskTableMapperRuleAttributeTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/PartialRuleUpdateSupported.java
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/update/AlterSQLFederationRuleExecutorTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/schema/table/CreateOrAlterTableEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/schema/view/CreateOrAlterViewEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/metadata/watcher/MetaDataChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ResourceMetaDataChangedSubscriber.java
Labels: mode: cluster, type: refactor

#31194 Remove AlterDatabaseRuleConfigurationEvent and DropDatabaseRuleConfigurationEvent
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/binlog/event/QueryEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/AlterGlobalRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/AlterPropertiesEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/database/DropDatabaseRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/config/global/AlterGlobalRuleConfigurationEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/RuleItemChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/GlobalRuleChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/PropertiesChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ConfigurationChangedSubscriber.java
Labels: mode: cluster, type: refactor

#31196 Refactor RuleItemChangedSubscriber
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/RuleItemChangedSubscriber.java
Labels: mode: cluster, type: refactor

#31197 Refactor ContextManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
Labels: mode: cluster, type: refactor

#31198 Refactor ContextManagerBuilderParameter
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManagerBuilderParameter.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerBuilderParameterTest.java
Labels: mode: cluster, type: refactor

#31199 Refactor AlterSQLParserRuleExecutorTest Test Case
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/update/AlterSQLParserRuleExecutorTest.java
Labels: in: test

#31200 Fix code inspection for agent module
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/PluginLifecycleServiceManager.java
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/spi/AgentServiceLoader.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/advisor/config/yaml/fixture/YamlAdviceFixture.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/config/PluginConfigurationLoaderTest.java
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/config/yaml/swapper/YamlPluginsConfigurationSwapperTest.java
  agent/core/src/test/java/org/apache/shardingsphere/fixture/targeted/TargetObjectFixture.java
  agent/core/src/test/java/org/apache/shardingsphere/yaml/AgentYamlEngineTest.java
  agent/plugins/core/src/main/java/org/apache/shardingsphere/agent/plugin/core/spi/PluginServiceLoader.java
  agent/plugins/metrics/type/prometheus/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/PrometheusPluginLifecycleService.java
  agent/plugins/tracing/type/opentelemetry/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/advice/OpenTelemetryJDBCExecutorCallbackAdviceTest.java
  agent/plugins/tracing/type/opentelemetry/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/advice/OpenTelemetryRootSpanAdviceTest.java
  agent/plugins/tracing/type/opentelemetry/src/test/java/org/apache/shardingsphere/agent/plugin/tracing/opentelemetry/advice/OpenTelemetrySQLParserEngineAdviceTest.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/ShardingSphereSavepoint.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/util/JDBCTestSQL.java
Labels: type: refactor, feature: agent

#31205 Refactor Fix code inspection for feature module
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/route/BroadcastSQLRouter.java
  features/encrypt/api/src/main/java/org/apache/shardingsphere/encrypt/api/config/EncryptRuleConfiguration.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/metadata/reviser/index/EncryptIndexReviser.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptPredicateColumnTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptPredicateRightValueTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/it/EncryptRuleConfigurationYamlIT.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/reviser/EncryptMetaDataReviseEntryTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/pojo/EncryptPredicateEqualRightValueTokenTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/pojo/EncryptPredicateFunctionRightValueTokenTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/pojo/EncryptPredicateInRightValueTokenTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/EncryptProjectionTokenGeneratorTest.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/converter/EncryptRuleStatementConverterTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutorTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/MaskAlgorithmPropertiesChecker.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/it/MaskRuleConfigurationYamlIT.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/AlterMaskRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutor.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/AlterMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/CreateMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutorTest.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/attribute/ReadwriteSplittingDataSourceMapperRuleAttribute.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/attribute/ReadwriteSplittingStaticDataSourceRuleAttribute.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/provider/ReadwriteSplittingRuleConfigurationToDistSQLConverterTest.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/DropReadwriteSplittingRuleExecutorTest.java
  features/shadow/api/src/main/java/org/apache/shardingsphere/shadow/api/shadow/ShadowOperationType.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/route/engine/dml/AbstractShadowDMLStatementRouteEngine.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/ShadowTableRule.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/changed/ShadowAlgorithmChangedProcessor.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/algorithm/shadow/column/PreciseColumnShadowValueFixtureBuilder.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationYamlIT.java
  features/shadow/distsql/statement/src/main/java/org/apache/shardingsphere/shadow/distsql/statement/AlterShadowAlgorithmStatement.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/hint/HintInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/ddl/fetch/FetchStreamMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByMemoryMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/aggregation/AverageAggregationUnit.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/groupby/aggregation/DistinctAverageAggregationUnit.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ProjectionsTokenGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/TableToken.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/ShardingConditions.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/complex/ShardingCartesianRoutingEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/BindingTableRule.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByRowComparatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/broadcast/ShardingDataSourceGroupBroadcastRoutingEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingDropTableStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/fixture/sharding/CoreHintShardingAlgorithmFixture.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAuditorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedKeyGeneratorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/DropDefaultShardingStrategyExecutorTest.java
Labels: type: refactor

#31206 Refactor Fix code inspection for binder module
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/engine/ProjectionEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/subquery/engine/SubqueryTableContextEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/table/TablesContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/segment/projection/ProjectionsSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/statement/dml/MergeStatementBinder.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/segment/assign/AssignmentSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/segment/expression/impl/ColumnSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/segment/expression/impl/NotExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/segment/from/impl/JoinTableSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/segment/projection/impl/ShorthandProjectionSegmentBinderTest.java
Labels: type: refactor

#31204 Refactor the pre-acquisition process of NativeTest under GraalVM Native Image
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/jni-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/predefined-classes-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/proxy-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/serialization-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/resource-config.json
  pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/resource-config.json
  test/native/src/test/resources/registry.conf
  test/native/src/test/resources/seata-script-client-conf-file.conf
Labels: type: refactor, in: proxy native

#31207 Refactor Fix code inspection for infra module
  infra/data-source-pool/core/src/main/java/org/apache/shardingsphere/infra/datasource/pool/creator/DataSourcePoolCreator.java
  infra/data-source-pool/core/src/main/java/org/apache/shardingsphere/infra/datasource/pool/props/creator/DataSourcePoolPropertiesCreator.java
  infra/data-source-pool/core/src/main/java/org/apache/shardingsphere/infra/datasource/pool/props/validator/DataSourcePoolPropertiesValidator.java
  infra/data-source-pool/core/src/test/java/org/apache/shardingsphere/infra/datasource/pool/props/creator/DataSourcePoolPropertiesCreatorTest.java
  infra/data-source-pool/core/src/test/java/org/apache/shardingsphere/infra/datasource/pool/props/domain/DataSourcePoolPropertiesTest.java
  infra/data-source-pool/type/hikari/src/main/java/org/apache/shardingsphere/infra/datasource/pool/hikari/metadata/HikariDataSourcePoolMetaData.java
  infra/data-source-pool/type/hikari/src/main/java/org/apache/shardingsphere/infra/datasource/pool/hikari/metadata/HikariDataSourcePoolPropertiesContentValidator.java
  infra/data-source-pool/type/hikari/src/test/java/org/apache/shardingsphere/infra/datasource/pool/hikari/creator/HikariDataSourcePoolCreatorTest.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/IndexMetaDataLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/model/TableMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/enums/QuoteCharacter.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/connector/url/StandardJdbcUrlParserTest.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/type/enums/QuoteCharacterTest.java
  infra/database/type/h2/src/main/java/org/apache/shardingsphere/infra/database/h2/metadata/data/loader/H2MetaDataLoader.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLMetaDataLoader.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/data/loader/OracleMetaDataLoader.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/data/loader/SQLServerMetaDataLoader.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/AlterStorageUnitExecutor.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/ShardingSphereExternalExceptionTest.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/fixture/ShardingSphereFixtureExternalException.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/server/ShardingSphereServerExceptionTest.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/server/fixture/ShardingSphereFixtureServerException.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/internal/ShardingSphereInternalExceptionTest.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/internal/fixture/ShardingSphereFixtureInternalException.java
  infra/exception/dialect/core/src/test/java/org/apache/shardingsphere/infra/exception/dialect/SQLExceptionTransformEngineTest.java
  infra/exception/dialect/type/postgresql/src/main/java/org/apache/shardingsphere/infra/exception/postgresql/exception/PostgreSQLException.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/kernel/thread/ExecutorServiceManager.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/util/ResultSetUtils.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/engine/jdbc/JDBCExecutorCallbackTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/stream/JDBCStreamQueryResultTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/util/ResultSetUtilsTest.java
  infra/expr/type/interval/src/main/java/org/apache/shardingsphere/infra/expr/interval/IntervalInlineExpressionParser.java
  infra/expr/type/literal/src/main/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParser.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRowTest.java
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/ConnectionContext.java
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/core/arg/URLArgumentLine.java
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/core/ShardingSphereURLTest.java
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/close/DataSourcesCloser.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/reflection/fixture/ReflectionFixture.java
Labels: type: refactor

#31202 Refactor AlterSQLTranslatorRuleExecutorTest Test Case
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/update/AlterSQLTranslatorRuleExecutorTest.java
Labels: in: test

#31208 Refactor Fix code inspection for jdbc module
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetUtils.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/state/circuit/resultset/CircuitBreakerResultSet.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/api/ShardingSphereDataSourceFactoryTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ResultSetGetterAdapterTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationPreparedStatementTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedUpdateOperationResultSetTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/state/DriverStateContextTest.java
  kernel/authority/provider/database/src/main/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProvider.java
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/update/AlterSQLTranslatorRuleExecutorTest.java
Labels: type: refactor

#31210 Refactor AlterTrafficRuleExecutorTest Test Case
  kernel/traffic/distsql/handler/src/test/java/org/apache/shardingsphere/traffic/distsql/handler/fixture/DistSQLLoadBalanceAlgorithmFixture.java
  kernel/traffic/distsql/handler/src/test/java/org/apache/shardingsphere/traffic/distsql/handler/update/AlterTrafficRuleExecutorTest.java
  kernel/traffic/distsql/handler/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.algorithm.loadbalancer.core.LoadBalanceAlgorithm
Labels: in: test

#31213 Fix code inspection for proxy module
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoader.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportStorageNodesExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/response/header/update/UpdateResponseHeader.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/QueryableRALBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportDatabaseConfigurationExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportStorageNodesExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowTableMetaDataExecutorTest.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/result/query/HBaseGetResultSet.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/result/update/HBaseDeleteUpdater.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/result/update/HBaseInsertUpdater.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/result/update/HBaseRegionReloadUpdater.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/result/update/HBaseUpdateUpdater.java
  proxy/backend/type/hbase/src/main/java/org/apache/shardingsphere/proxy/backend/hbase/util/HBaseHeterogeneousUtils.java
  proxy/backend/type/hbase/src/test/java/org/apache/shardingsphere/proxy/backend/hbase/result/HBaseSupportedSQLStatement.java
  proxy/backend/type/hbase/src/test/java/org/apache/shardingsphere/proxy/backend/hbase/result/update/HBaseBackendUpdateHandlerTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/connector/sane/MySQLDialectSaneQueryResultEngine.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowFunctionStatusExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcedureStatusExecutor.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/connector/sane/MySQLDialectSaneQueryResultEngineTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/MySQLSetVariableAdminExecutorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowCurrentUserExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutorTest.java
  proxy/backend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/admin/executor/PostgreSQLShowVariableExecutor.java
  proxy/backend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/admin/PostgreSQLAdminExecutorCreatorTest.java
  proxy/backend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/admin/executor/PostgreSQLShowVariableExecutorTest.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/Bootstrap.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/CDCServer.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/ShardingSphereProxy.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/ssl/SSLUtils.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/ssl/SSLUtilsTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutorTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareParameterMarkerExtractorTest.java
  proxy/frontend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/simple/OpenGaussComQueryExecutor.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/authentication/OpenGaussAuthenticationEngineTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/PostgreSQLCommandExecuteEngine.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/Portal.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/simple/PostgreSQLComQueryExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/authentication/PostgreSQLAuthenticationEngineTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
Labels: in: proxy, type: refactor

#31214 Revise #31210
  kernel/traffic/distsql/handler/src/test/java/org/apache/shardingsphere/traffic/distsql/handler/fixture/DistSQLLoadBalanceAlgorithmFixture.java
  kernel/traffic/distsql/handler/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.algorithm.loadbalancer.core.LoadBalanceAlgorithm
Labels: in: test

#31215 Correct OuterJoinExpression getText logic and add text assertion in sql parse test case
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/segment/oracle/join/OuterJoinExpression.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/column/OuterJoinExpressionAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/expr/ExpectedOuterJoinExpression.java
  test/it/parser/src/main/resources/case/ddl/create-view.xml
  test/it/parser/src/main/resources/case/dml/select-join.xml
Labels: type: refactor, in: SQL parse, db: Oracle

#31217 Fix code inspections
  agent/plugins/metrics/type/prometheus/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/collector/type/PrometheusMetricsHistogramCollector.java
  agent/plugins/metrics/type/prometheus/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/collector/type/PrometheusMetricsHistogramCollectorTest.java
  agent/plugins/metrics/type/prometheus/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/collector/type/PrometheusSummaryWrapperTest.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/string/MySQLJsonValueDecoder.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/time/MySQLDatetime2BinlogProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/time/MySQLDatetimeBinlogProtocolValue.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/payload/MySQLPacketPayload.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/string/MySQLJsonValueDecoderTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/binlog/row/column/value/time/MySQLTimestamp2BinlogProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/MySQLFieldCountPacketTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLTimeBinaryProtocolValueTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/text/MySQLTextResultSetRowPacketTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/payload/MySQLPacketPayloadTest.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/util/PostgreSQLBinaryTimestampUtils.java
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLInt8ArrayBinaryProtocolValueTest.java
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/generic/PostgreSQLCommandCompletePacketTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/merge/dal/show/DecoratedEncryptShowCreateTableMergedResultTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/merge/dal/show/MergedEncryptShowCreateTableMergedResultTest.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/checker/ReadwriteSplittingRuleStatementChecker.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/checker/ShadowRuleStatementChecker.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/AutoIntervalShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/ddl/fetch/FetchStreamMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/pagination/TopAndRowNumberDecoratorMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/FetchDirectionToken.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingInsertStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/checker/ShardingRuleChecker.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/cache/checker/ShardingRouteCacheableCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/LimitDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/RowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/TopAndRowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameter/ShardingPaginationParameterRewriterTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/generator/OffsetTokenGeneratorTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  infra/algorithm/key-generator/type/snowflake/src/main/java/org/apache/shardingsphere/infra/algorithm/keygen/snowflake/SnowflakeKeyGenerateAlgorithm.java
  infra/algorithm/key-generator/type/snowflake/src/test/java/org/apache/shardingsphere/infra/algorithm/keygen/snowflake/SnowflakeKeyGenerateAlgorithmTest.java
  infra/algorithm/load-balancer/type/weight/src/main/java/org/apache/shardingsphere/infra/algorithm/loadbalancer/weight/WeightLoadBalanceAlgorithm.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/PaginationContextTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/rule/checker/RuleConfigurationCheckEngine.java
  infra/data-source-pool/type/hikari/src/main/java/org/apache/shardingsphere/infra/datasource/pool/hikari/metadata/HikariDataSourcePoolPropertiesContentValidator.java
Labels: type: refactor

#31218 Remove RepositoryTupleField#value()
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProvider.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/changed/ReadwriteSplittingDataSourceChangedProcessor.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/yaml/config/YamlReadwriteSplittingRuleConfiguration.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProviderTest.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProvider.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/changed/DefaultShadowAlgorithmNameChangedProcessor.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/changed/ShadowAlgorithmChangedProcessor.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/yaml/config/YamlShadowRuleConfiguration.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProviderTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/changed/ShardingAlgorithmChangedProcessor.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/YamlShardingRuleConfiguration.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProviderTest.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/RepositoryTupleSwapperEngine.java
  mode/api/src/main/java/org/apache/shardingsphere/mode/tuple/annotation/RepositoryTupleField.java
Labels: type: refactor, in: metadata

#31219 Rename ContextManagerAware.setContextManager()
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManagerAware.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterModeContextManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneModeContextManager.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableExecutorTest.java
Labels: mode: cluster, type: refactor

#31227 Add EventSubscriberRegistry
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/EventSubscriberRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/subscriber/StandaloneEventSubscriberRegistry.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/subscriber/StandaloneProcessSubscriber.java
Labels: mode: cluster, type: refactor

#31230 Optimize the parsing of match expressions.
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/MatchExpressionConverter.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/extractor/TableExtractor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/util/ExpressionExtractUtils.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/segment/mysql/match/MatchAgainstExpression.java
  src/resources/checkstyle.xml
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/expr/ExpectedMatchExpression.java
  test/it/parser/src/main/resources/case/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#31232 Refactor RegistryCenter
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31233 Refactor RegistryCenter
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/metadata/subscriber/ShardingSphereSchemaDataRegistrySubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ClusterProcessSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStatusSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/subscriber/ComputeNodeStatusSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStatusSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStatusSubscriberTest.java
Labels: mode: cluster, type: refactor

#31234 Refactor ClusterContextManagerBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
Labels: mode: cluster, type: refactor

#31239 Fix : add filter to fix deadlink
  .github/workflows/nightly-check.yml
Labels: in: document, type: fixed

#31237 Modify in transaction judgement of implicitly committed transactions
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
Labels: type: enhancement, in: JDBC, feature: transaction

#31241 Extract duplicate executeWithImplicitCommitTransaction methods
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, feature: transaction, type: refactor

#31243 Refactor ComputeNodeStatusSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/subscriber/ComputeNodeStatusSubscriber.java
Labels: mode: cluster, type: refactor

#31226 sql parser support clickHouse
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/CommonSQLStatementContext.java
  parser/sql/dialect/clickhouse/pom.xml
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/BaseRule.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/DMLStatement.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerAlphabet.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerClickHouseKeyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerComments.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerKeyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerLiterals.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerNumber.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerSymbol.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/ClickHouseStatement.g4
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/parser/ClickHouseLexer.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/parser/ClickHouseParser.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/parser/ClickHouseParserFacade.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/format/ClickHouseFormatVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/ClickHouseStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/ClickHouseStatementVisitorFacade.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseDALStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseDCLStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseDDLStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseDMLStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseRLStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/type/ClickHouseTCLStatementVisitor.java
  parser/sql/dialect/clickhouse/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.api.visitor.format.SQLFormatVisitor
  parser/sql/dialect/clickhouse/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.spi.DialectSQLParserFacade
  parser/sql/dialect/clickhouse/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.spi.SQLStatementVisitorFacade
  parser/sql/dialect/pom.xml
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ClickHouseStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseAlterTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseCreateTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseDropTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseDeleteStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseInsertStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseSelectStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseUpdateStatement.java
Labels: type: new feature, in: SQL parse, db: ClickHouse

#31248 Refactor ClusterStatusService.loadClusterState()
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/event/ClusterStateEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/service/ClusterStatusService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/service/ClusterStatusServiceTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31249 Refactor ClusterStateContext
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/cluster/ClusterStateContext.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/state/ClusterStateContextTest.java
Labels: mode: cluster, type: refactor

#31251 Add LockedClusterException
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  mode/core/src/main/java/org/apache/shardingsphere/mode/exception/LockedClusterException.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exception/NotLockedClusterException.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
Labels: mode: cluster, type: refactor

#31253 Refactor ClusterContextManagerBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
Labels: mode: cluster, type: refactor

#31254 Refactor RegistryCenter
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutorTest.java
Labels: mode: cluster, type: refactor

#31255 Refactor ClusterWorkerIdGenerator
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/workerid/WorkerIdGenerator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/service/ComputeNodeStatusService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/generator/ClusterWorkerIdGenerator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/generator/ClusterWorkerIdGeneratorTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/workerid/generator/StandaloneWorkerIdGenerator.java
Labels: mode: cluster, type: refactor

#31250 Revise code style for clickhouse parse in pr#31226
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Alphabet.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/BaseRule.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/ClickHouseKeyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Comments.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/DMLStatement.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Keyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerClickHouseKeyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/LexerLiterals.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Literals.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Number.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Symbol.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/ClickHouseStatement.g4
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/parser/ClickHouseLexer.java
  parser/sql/dialect/clickhouse/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.api.visitor.format.SQLFormatVisitor
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseAlterTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseCreateTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/ddl/ClickHouseDropTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseDeleteStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseInsertStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseSelectStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/clickhouse/dml/ClickHouseUpdateStatement.java
Labels: type: refactor, in: SQL parse, db: ClickHouse

#31258 Use HikariDataSource to replace SimpleDriverDataSource in doc
  docs/blog/content/material/2023_03_07_ShardingSphere_5.3.x_Update_Spring_Configuration_Update_Guide.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-namespace/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/spring-namespace/_index.en.md
Labels: in: document

#31266 Update sql parser doc and sql parser contribute conduct doc
  docs/community/content/involved/conduct/code.cn.md
  docs/community/content/involved/conduct/code.en.md
  docs/document/content/dev-manual/sql-parser.cn.md
  docs/document/content/dev-manual/sql-parser.en.md
  docs/document/content/reference/db-compatibility/_index.cn.md
  docs/document/content/reference/db-compatibility/_index.en.md
  docs/document/content/reference/sharding/parse.cn.md
  docs/document/content/reference/sharding/parse.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.en.md
Labels: in: document

#31267 Update sql parser contribute conduct english doc
  docs/community/content/involved/conduct/code.en.md
Labels: in: document

#31269 Add Doris, Hive and Presto databaseType in CommonSQLStatementContext
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/CommonSQLStatementContext.java
Labels: type: enhancement, in: SQL parse

#31268 Refactor GovernanceWatcherFactory
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/GovernanceWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/GovernanceWatcherFactory.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/data/ShardingSphereDataChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/metadata/watcher/MetaDataChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/QualifiedDataSourceChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/GlobalRuleChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/PropertiesChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
Labels: mode: cluster, type: refactor

#31265 Rename ClusterStateContext to StateContext and move it to mode
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/state/DriverStateContextTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateServiceTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutorTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/command/CommandExecutorTaskTest.java
Labels: mode: cluster, type: refactor

#31271 Refactor ClusterContextManagerBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
Labels: mode: cluster, type: refactor

#31272 Refactor : remove opengauss from e2e-operation, only keep it in nightly
  .github/workflows/e2e-operation.yml
Labels: type: refactor, type: build

#31273 Remove usage of RegistryCenter
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
Labels: mode: cluster, type: refactor

#31274 Remove ClusterStatusService
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/service/ClusterStatusService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/service/ClusterStatusServiceTest.java
Labels: mode: cluster, type: refactor

#31276 Remove useless RegistryCenter
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
Labels: mode: cluster, type: refactor

#31278 Update seata.cn.md
  docs/blog/content/material/seata.cn.md
Labels: feature: transaction, in: document

#31280 Add caching_sha2_password authentication for mysql
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/constant/MySQLAuthenticationMethod.java
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/handshake/MySQLHandshakePacket.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/MySQLAuthenticationEngine.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/authenticator/MySQLAuthenticatorType.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/authenticator/impl/MySQLCachingSha2PasswordAuthenticator.java
Labels: type: enhancement, feature:authority

#31277 Fix the case-sensitive issue when partially updating encryption rules.
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
Labels: type: refactor, feature: encrypt

#31281 Update code-style-idea.xml
  src/resources/code-style-idea.xml
Labels: type: build

#31270 Add support for the Doris database, including creating tables, field …
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/BaseRule.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DDLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DMLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DorisKeyword.g4
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/DorisStatementVisitor.java
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDDLStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/handler/ddl/CreateTableStatementHandler.java
  test/it/parser/src/main/resources/case/ddl/create-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-table.xml
Labels: type: enhancement, in: SQL parse, db: Doris

#31285 Add difference comment for doris special parse logic and rename test case identifier name
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/BaseRule.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DDLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DMLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DorisKeyword.g4
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/DorisStatementVisitor.java
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDDLStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/handler/ddl/CreateTableStatementHandler.java
  test/it/parser/src/main/resources/case/ddl/create-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-table.xml
Labels: type: refactor, in: SQL parse, db: Doris

#31284 Fixes #31279, make the results of show tables in order
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutor.java
Labels: type: enhancement, in: proxy

#31287 Rename SessionConnectionReconnectListener
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/service/ComputeNodeStatusService.java
  mode/type/cluster/repository/provider/zookeeper/pom.xml
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/ZookeeperRepository.java
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/listener/SessionConnectionReconnectListener.java
Labels: mode: cluster, type: refactor

#31288 Fix sonar issues
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/EventSubscriberRegistry.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/external/loader/PrestoExternalTestParameterLoadTemplate.java
Labels: type: refactor

#31290 Update README.md:Improve unreasonable formatting in documents
  examples/README.md
Labels: in: document

#31291 Remove ComputeNodeInstance.getCurrentInstanceId()
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/InstanceContext.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/repository/provider/zookeeper/src/main/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/listener/SessionConnectionReconnectListener.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportStorageNodesExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetInstanceStatusExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetInstanceStatusExecutorTest.java
Labels: mode: cluster, type: refactor

#31294 Update 2022_03_18_Executor_Engine_Performance_Optimization_Showcase_w…
  docs/blog/content/material/2022_03_18_Executor_Engine_Performance_Optimization_Showcase_with_Apache_ShardingSphere_5.1.0.en.md
Labels: in: blog

#31295 Update _index.cn.md
  docs/document/content/faq/_index.cn.md
Labels: in: document

#31296 Remove ComputeNodeInstance.getCurrentInstanceId()
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstance.java
Labels: mode: cluster, type: refactor

#31286 Replace ThreadLocal with TransmittableThreadLocal in HintManager to support cross Thread usage
  infra/common/pom.xml
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/HintManager.java
Labels: type: bug, in: kernel

#31283 Support parsing Oracle Create Outline SQL
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  parser/sql/dialect/oracle/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/OracleStatement.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  parser/sql/engine/src/main/java/org/apache/shardingsphere/sql/parser/core/database/visitor/SQLVisitorRule.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/statement/ddl/CreateOutlineStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/oracle/ddl/OracleCreateOutlineStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/ddl/CreateOutlineStatementTestCase.java
  test/it/parser/src/main/resources/case/ddl/create-outline.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-outline.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#31299 Refactor ShowTablesExecutor
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutor.java
Labels: type: refactor

#31300 According to the context semantics, the document content is adjusted to make its format conform to the document specification and the context semantics.
  docs/blog/content/material/2022_05_10_What’s_the_Database_Plus_concept_and_what_challenges_can_it_solve.en.md
  docs/blog/content/material/2022_05_19_Apache_ShardingSphere_Enterprise_User_Case_Zhongshang_Huimin’s_Transaction_Middle_Platform_Architecture.en.md
Labels: in: blog

#31302 Optimize docs
  docs/blog/content/material/solution.cn.md
Labels: in: blog

#31303 Rename ComputeNodeInstanceStateChangedEvent
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/InstanceContext.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/InstanceContextTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/event/ComputeNodeInstanceStateChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31305 Refactor ShowTablesExecutor, fix sort without like filter
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutor.java
Labels: type: refactor

#31293 Remove DatabaseMetaDataBasedPersistService and MetaDataBasedPersistService
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/factory/InternalMetaDataFactory.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/MetaDataBasedPersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/MetaDataPersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/database/DatabaseMetaDataBasedPersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/database/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContexts.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterModeContextManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneModeContextManager.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: mode: cluster, type: refactor

#31310 Refactor ComputeNodeInstance.labels as thread safe
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstance.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/InstanceContext.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/InstanceContextTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/service/ComputeNodeStatusService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/service/ComputeNodeStatusServiceTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: mode: cluster, type: refactor

#31312 Refactor switch compute node state and remove lock state
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstance.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/InstanceContext.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/instance/InstanceState.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/instance/InstanceStateContext.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/state/InstanceStateContextTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/state/instance/InstanceStateTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/service/ComputeNodeStatusService.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/state/ProxyStateContext.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/LockProxyStateTest.java
Labels: mode: cluster, type: refactor

#31314 Fix alter transaction rule documentation
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/global-rule/alter-transaction-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/global-rule/alter-transaction-rule.en.md
Labels: feature: transaction, in: document

#31315 Rename ClusterStatus to ClusterState
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/node/ComputeNode.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exception/ClusterStateException.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/event/ClusterStateChangedEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStateSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStateSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterReadWriteLockStrategy.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterWriteLockStrategy.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/impl/ReadOnlyProxyState.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/impl/UnavailableProxyState.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/state/impl/ReadOnlyProxyStateTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/state/impl/UnavailableProxyStateTest.java
Labels: mode: cluster, type: refactor

#31304 Modify the bolded characters in the document to make the bolded characters appear normally.
  docs/blog/content/material/database.en.md
Labels: in: blog

#31317 Refactor WorkerIdAssignedException
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/workerid/WorkerIdAssignedException.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/generator/ClusterWorkerIdGenerator.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/workerid/generator/StandaloneWorkerIdGenerator.java
Labels: mode: cluster, type: refactor, mode: standalone

#31319 Refactor ClusterWorkerIdGenerator
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/workerid/WorkerIdGenerator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/generator/ClusterWorkerIdGenerator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/node/WorkerIdNode.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/node/WorkerIdNodeTest.java
  mode/type/cluster/repository/api/src/main/java/org/apache/shardingsphere/mode/repository/cluster/ClusterPersistRepository.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/workerid/generator/StandaloneWorkerIdGeneratorTest.java
Labels: mode: cluster, type: refactor

#31320 Fixes nativeTest failure under GraalVM Native Image due to class information changes
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.github.ben-manes.caffeine/caffeine/2.9.3/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  pom.xml
Labels: type: build, in: proxy native

#31321 Use mock to instead of WorkerIdGeneratorFixture
  infra/algorithm/key-generator/type/snowflake/src/test/java/org/apache/shardingsphere/infra/algorithm/keygen/snowflake/SnowflakeKeyGenerateAlgorithmTest.java
  infra/algorithm/key-generator/type/snowflake/src/test/java/org/apache/shardingsphere/infra/algorithm/keygen/snowflake/fixture/WorkerIdGeneratorFixture.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstanceContextTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/fixture/WorkerIdGeneratorFixture.java
Labels: in: test

#31322 Optimize method names for StateContext and remove useless methods for ContextManager
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutorTest.java
Labels: type: refactor, in: mode

#31323 Remove event bus for lock and unlock cluster
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStateSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/subscriber/ClusterStateSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterReadWriteLockStrategy.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterWriteLockStrategy.java
Labels: type: refactor, in: mode

#31325 Rename WorkerIdReservationNode
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/generator/ClusterWorkerIdGenerator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/node/WorkerIdReservationNode.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/workerid/node/WorkerIdReservationNodeTest.java
Labels: mode: cluster, type: refactor
