Repository apache/shardingsphere, pull requests merged in 2024-10, with the labels that each got.

#33081 Fix sonar issue
  infra/context/src/main/java/org/apache/shardingsphere/infra/connection/kernel/KernelProcessor.java
Labels: type: refactor, in: kernel

#33082 Refactor PrivilegeProvider.build()
  kernel/authority/api/src/main/java/org/apache/shardingsphere/authority/spi/PrivilegeProvider.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/fixture/PrivilegeProviderFixture.java
  kernel/authority/provider/database/src/main/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProvider.java
  kernel/authority/provider/database/src/test/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProviderTest.java
  kernel/authority/provider/simple/src/main/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProvider.java
  kernel/authority/provider/simple/src/test/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProviderTest.java
Labels: type: refactor, feature:authority

#33083 Refactor PrivilegeProvider.build() as single Grantee
  kernel/authority/api/src/main/java/org/apache/shardingsphere/authority/spi/PrivilegeProvider.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/fixture/PrivilegeProviderFixture.java
  kernel/authority/provider/database/src/main/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProvider.java
  kernel/authority/provider/database/src/test/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProviderTest.java
  kernel/authority/provider/simple/src/main/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProvider.java
  kernel/authority/provider/simple/src/test/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProviderTest.java
Labels: type: refactor, feature:authority

#33084 Add AuthorityRule.getGrantees()
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/rule/AuthorityRuleTest.java
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/utils/StatisticsAssembleUtils.java
Labels: type: refactor, feature:authority

#33085 Add test cases on ConnectionTransaction
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/ConnectionTransactionTest.java
Labels: feature: transaction, in: test

#33086 Rename ConnectionTransaction.isInDistributedTransaction()
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/rule/TransactionRule.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/ConnectionTransactionTest.java
Labels: feature: transaction, type: refactor

#33087 Rename ShardingSphereDistributionTransactionManager to ShardingSphereDistributedTransactionManager
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/spi/ShardingSphereDistributedTransactionManager.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ShardingSphereTransactionManagerEngine.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/ConnectionTransactionTest.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/core/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/core/src/test/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributedTransactionManager
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutor.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributedTransactionManager
  kernel/transaction/type/base/seata-at/src/main/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManager.java
  kernel/transaction/type/base/seata-at/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributedTransactionManager
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/XAShardingSphereTransactionManager.java
  kernel/transaction/type/xa/core/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributedTransactionManager
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/datasource/JDBCBackendDataSource.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManagerTest.java
Labels: feature: transaction, type: refactor

#33088 Remove useless DistributedTransactionOperationType.IGNORE
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/ConnectionTransactionTest.java
Labels: feature: transaction, type: refactor

#33089 Add SavepointReleaseSQLProvider
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/savepoint/ConnectionSavepointManager.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/savepoint/SavepointReleaseSQLProvider.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/savepoint/dialect/MySQLSavepointReleaseSQLProvider.java
  kernel/transaction/core/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.savepoint.SavepointReleaseSQLProvider
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/savepoint/ConnectionSavepointManagerTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
Labels: feature: transaction, type: refactor

#33090 Add more test cases on TransactionRule
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/rule/TransactionRule.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/rule/TransactionRuleTest.java
Labels: feature: transaction, in: test

#33091 Add more test cases on TransactionRule
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/rule/TransactionRuleTest.java
Labels: feature: transaction, in: test

#33092 Add more test cases on ResourceDataSource
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/core/ResourceDataSourceTest.java
Labels: feature: transaction, in: test

#33093 Remove useless log for LoadSingleTableExecutor
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
Labels: type: refactor, feature: DistSQL, feature: single

#33097 Refactor ShowAuthorityRuleExecutor
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
Labels: type: refactor, feature:authority, feature: DistSQL

#33098 Refactor SetDefaultSingleTableStorageUnitExecutorTest
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutor.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutorTest.java
Labels: in: test, feature: DistSQL, feature: single

#33099 Refactor ShowSingleTablesExecutorTest
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/query/ShowSingleTablesExecutorTest.java
Labels: in: test, feature: DistSQL, feature: single

#33101 Refactor LoadSingleTableExecutorTest
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutorTest.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutorTest.java
Labels: in: test, feature: DistSQL, feature: single

#33102 Add AlterTransactionRuleExecutorTest
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/update/AlterSQLTranslatorRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutor.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutorTest.java
Labels: in: test, feature: DistSQL

#33103 Add more assertions for AlterGlobalClockRuleExecutorTest
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/query/ShowGlobalClockRuleExecutorTest.java
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/update/AlterGlobalClockRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: global clock

#33105 Add more assertions for AlterSQLParserRuleExecutorTest
  kernel/sql-parser/distsql/handler/pom.xml
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/query/ShowSQLParserRuleExecutorTest.java
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/update/AlterSQLParserRuleExecutorTest.java
Labels: in: test, feature: DistSQL

#33106 refactor ShowBroadcastTableRuleExecutorTest
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/query/ShowBroadcastTableRuleExecutorTest.java
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/query/ShowTransactionRuleExecutorTest.java
Labels: in: test, feature: DistSQL

#33107 Add test cases of CreateBroadcastTableRuleExecutor
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/CreateBroadcastTableRuleExecutor.java
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/update/CreateBroadcastTableRuleExecutorTest.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutorTest.java
Labels: in: test, feature: DistSQL, feature: broadcast

#33108 Add test cases of DropBroadcastTableRuleExecutorTest
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutor.java
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/update/CreateBroadcastTableRuleExecutorTest.java
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: broadcast

#33109 Refactor AlterEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutorTest.java
Labels: feature: encrypt, in: test, feature: DistSQL

#33110 Refactor test cases on AlterMaskRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/AlterMaskRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: mask

#33111 Refactor test cases on CreateEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutorTest.java
Labels: feature: encrypt, in: test, feature: DistSQL

#33113 Refactor test cases on DropEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutorTest.java
Labels: feature: encrypt, in: test, feature: DistSQL

#33114 Refactor test cases on CreateMaskRuleExecutorTest
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/CreateMaskRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: mask

#33115 Fix sonar issue on DropEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutorTest.java
Labels: feature: encrypt, in: test, feature: DistSQL

#33116 Refactor DropMaskRuleExecutorTest
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: mask

#33117 Refactor ShowStatusFromReadwriteSplittingRulesExecutorTest
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowStatusFromReadwriteSplittingRulesExecutorTest.java
Labels: in: test, feature: readwrite-splitting, feature: DistSQL

#33118 Refactor ShowDefaultShardingStrategyExecutorTest
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowDefaultShardingStrategyExecutorTest.java
Labels: feature: sharding, type: refactor, in: test

#33119 Refactor ShowUnusedShardingKeyGeneratorExecutorTest
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowUnusedShardingKeyGeneratorExecutor.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowUnusedShardingKeyGeneratorExecutorTest.java
Labels: feature: sharding, in: test, feature: DistSQL

#33120 Refactor DistSQLQueryExecutor's test cases
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableNodesExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRuleExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAlgorithmExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAuditorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedKeyGeneratorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowUnusedShardingAuditorsExecutorTest.java
Labels: type: refactor, in: test, feature: DistSQL

#33122 Refactor ShowSQLTranslatorRuleExecutorTest
  kernel/sql-parser/distsql/handler/pom.xml
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/query/ShowSQLParserRuleExecutorTest.java
  kernel/sql-translator/distsql/handler/pom.xml
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutorTest.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLGlobalRuleQueryExecutorTest.java
Labels: type: refactor, feature: DistSQL

#33125 Refactor ShowSQLFederationRuleExecutorTest
  kernel/sql-federation/distsql/handler/pom.xml
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutorTest.java
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/query/ShowSQLParserRuleExecutorTest.java
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutorTest.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLGlobalRuleQueryExecutorTest.java
Labels: in: test, feature: SQL federation, feature: DistSQL

#33127 Refactor ShowGlobalClockRuleExecutorTest
  kernel/global-clock/distsql/handler/pom.xml
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/query/ShowGlobalClockRuleExecutorTest.java
Labels: in: test, feature: DistSQL, feature: global clock

#33128 Refactor ShowAuthorityRuleExecutorTest
  kernel/authority/distsql/handler/pom.xml
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
  kernel/authority/distsql/handler/src/test/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutorTest.java
Labels: in: test, feature:authority, feature: DistSQL

#33129 Refactor ShowTransactionRuleExecutorTest
  kernel/transaction/distsql/handler/pom.xml
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/query/ShowTransactionRuleExecutor.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/query/ShowTransactionRuleExecutorTest.java
Labels: feature: transaction, in: test, feature: DistSQL

#33131 Add DistSQLDatabaseRuleQueryExecutorTest
  features/broadcast/distsql/handler/pom.xml
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/query/ShowBroadcastTableRuleExecutorTest.java
  features/encrypt/distsql/handler/pom.xml
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutorTest.java
  features/mask/distsql/handler/pom.xml
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutorTest.java
  features/readwrite-splitting/distsql/handler/pom.xml
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadwriteSplittingRuleExecutorTest.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowStatusFromReadwriteSplittingRulesExecutorTest.java
  features/shadow/distsql/handler/pom.xml
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/query/ShowDefaultShadowAlgorithmExecutorTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/query/ShowShadowAlgorithmsExecutorTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/query/ShowShadowRuleExecutorTest.java
  features/shadow/distsql/handler/src/test/java/org/apache/shardingsphere/shadow/distsql/query/ShowShadowTableRulesExecutorTest.java
  features/sharding/distsql/handler/pom.xml
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowDefaultShardingStrategyExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingAlgorithmExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingAuditorsExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingKeyGeneratorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableReferenceRuleExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRuleExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAlgorithmExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedAuditorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingTableRulesUsedKeyGeneratorExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowUnusedShardingAlgorithmsExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowUnusedShardingAuditorsExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowUnusedShardingKeyGeneratorExecutorTest.java
  kernel/single/distsql/handler/pom.xml
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/query/ShowDefaultSingleTableStorageUnitExecutorTest.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/query/ShowSingleTablesExecutorTest.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLDatabaseRuleQueryExecutorTest.java
Labels: type: refactor, in: test, feature: DistSQL

#33132 Rename wrong typo sharing to sharding in sharding feature related class and document
  RELEASE-NOTES.md
  docs/blog/content/material/2022_04_06_A_Holistic_Pluggable_Platform_for_Data_Sharding_ICDE_2022_Understanding_Apache_ShardingSphere.en.md
  docs/blog/content/material/Feb_18_Apache_ShardingSphere_5.1.0_Now_Avaliable.en.md
  docs/blog/content/material/Jan_28_Blog_Apache_ShardingSphere_Enterprise_Applications.en.md
  docs/document/content/user-manual/common-config/builtin-algorithm/sharding.en.md
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  docs/document/content/user-manual/shardingsphere-proxy/cdc/build.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/cdc/build.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/ComplexInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/algorithm/MismatchedComplexInlineShardingAlgorithmColumnAndValueSizeException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/metadata/DuplicateShardingActualDataNodeException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/checker/ShardingRuleChecker.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/yaml/config/strategy/audit/YamlShardingAuditStrategyConfiguration.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/ShardingRuleTest.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
Labels: feature: sharding, type: refactor, in: document

#33135 Add GlobalRuleDefinitionExecutorTest
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/update/AlterGlobalClockRuleExecutorTest.java
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/update/AlterSQLFederationRuleExecutorTest.java
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/update/AlterSQLParserRuleExecutorTest.java
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/update/AlterSQLTranslatorRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutorTest.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/update/GlobalRuleDefinitionExecutorTest.java
Labels: type: refactor, in: test, feature: DistSQL

#33136 Fix sonar issue on DataSourcePoolPropertiesTest
  infra/data-source-pool/core/src/test/java/org/apache/shardingsphere/infra/datasource/pool/props/domain/DataSourcePoolPropertiesTest.java
Labels: in: test

#33137 Use xml to test DistSQLGlobalRuleQueryExecutor
  kernel/authority/distsql/handler/src/test/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutorTest.java
  kernel/authority/distsql/handler/src/test/resources/cases/show-authority-rule-current-config.yaml
  kernel/authority/distsql/handler/src/test/resources/cases/show-authority-rule.xml
  kernel/global-clock/distsql/handler/src/test/java/org/apache/shardingsphere/globalclock/distsql/handler/query/ShowGlobalClockRuleExecutorTest.java
  kernel/global-clock/distsql/handler/src/test/resources/cases/show-global-clock-rule-current-config.yaml
  kernel/global-clock/distsql/handler/src/test/resources/cases/show-global-clock-rule.xml
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/rule/builder/DefaultSQLFederationRuleConfigurationBuilder.java
  kernel/sql-federation/distsql/handler/src/main/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutor.java
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutorTest.java
  kernel/sql-federation/distsql/handler/src/test/resources/cases/show-sql-federation-rule-current-config.yaml
  kernel/sql-federation/distsql/handler/src/test/resources/cases/show-sql-federation-rule.xml
  kernel/sql-parser/distsql/handler/src/main/java/org/apache/shardingsphere/parser/distsql/handler/query/ShowSQLParserRuleExecutor.java
  kernel/sql-parser/distsql/handler/src/test/java/org/apache/shardingsphere/parser/distsql/handler/query/ShowSQLParserRuleExecutorTest.java
  kernel/sql-parser/distsql/handler/src/test/resources/cases/show-sql-parser-rule-current-config.yaml
  kernel/sql-parser/distsql/handler/src/test/resources/cases/show-sql-parser-rule.xml
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutorTest.java
  kernel/sql-translator/distsql/handler/src/test/resources/cases/show-sql-translator-rule-current-config.yaml
  kernel/sql-translator/distsql/handler/src/test/resources/cases/show-sql-translator-rule.xml
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/query/ShowTransactionRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/resources/cases/show-transaction-rule-current-config.yaml
  kernel/transaction/distsql/handler/src/test/resources/cases/show-transaction-rule.xml
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/PipelineE2EExtension.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLGlobalRuleQueryExecutorAssert.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLRuleQueryExecutorSettings.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLRuleQueryExecutorTestCaseArgumentsProvider.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/jaxb/DistSQLRuleQueryExecutorTestCase.java
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/jaxb/DistSQLRuleQueryExecutorTestCases.java
Labels: type: refactor, in: test, feature: DistSQL

#33096 Support MariaDB DML Returning Clause (#33094)
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dml/DeleteStatement.java
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLDeleteStatement.java
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLInsertStatement.java
  test/it/parser/src/main/resources/case/dml/delete.xml
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/replace.xml
  test/it/parser/src/main/resources/sql/supported/dml/delete.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/replace.xml
Labels: in: SQL parse, db: MySQL

#33138 Check duplicate actual data nodes when create or alter sharding table rule
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingRule.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/checker/ShardingRuleChecker.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/checker/ShardingTableRuleStatementChecker.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/converter/ShardingTableRuleStatementConverter.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterShardingTableRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateShardingTableRuleExecutor.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/AlterShardingTableRuleExecutorTest.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/update/CreateShardingTableRuleExecutorTest.java
Labels: type: enhancement, feature: sharding, feature: DistSQL

#33140 Update release notes
  RELEASE-NOTES.md
Labels: in: document

#33141 Remove useless DistSQLGlobalRuleQueryExecutorTest
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLGlobalRuleQueryExecutorTest.java
Labels: in: test, feature: DistSQL

#33146 Fix SingleSQLRouterTest
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/SingleSQLRouterTest.java
Labels: in: test, feature: single

#33148 Implement DistSQLDatabaseRuleQueryExecutorAssert on ShowBroadcastTableRuleExecutorTest
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/query/ShowBroadcastTableRuleExecutorTest.java
  features/broadcast/distsql/handler/src/test/resources/cases/show-broadcast-table-rules-current-config.yaml
  features/broadcast/distsql/handler/src/test/resources/cases/show-broadcast-table-rules.xml
  test/it/distsql/src/main/java/org/apache/shardingsphere/test/it/distsql/handler/engine/query/DistSQLDatabaseRuleQueryExecutorAssert.java
Labels: in: test, feature: DistSQL

#33150 Refactor LocalDataQueryResultRow to handle "null"
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRowTest.java
Labels: type: refactor, in: kernel

#33152 Add SQLRouteExecutorDecider
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/SQLRouteEngine.java
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/SQLRouteExecutorDecider.java
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/dialect/MySQLSQLRouteExecutorDecider.java
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/type/AllSQLRouteExecutor.java
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/type/PartialSQLRouteExecutor.java
  infra/route/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.route.engine.SQLRouteExecutorDecider
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/SQLRouteEngineTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/dialect/MySQLSQLRouteExecutorDeciderTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/type/AllSQLRouteExecutorTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/type/PartialSQLRouteExecutorTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/fixture/decider/RouteAllSQLStatementFixture.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/fixture/decider/SQLRouteExecutorDeciderFixture.java
  infra/route/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.route.engine.SQLRouteExecutorDecider
Labels: type: refactor, in: infra

#33153 Minor refactor for EncryptRuleConfigurationYamlIT
  RELEASE-NOTES.md
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/yaml/EncryptRuleConfigurationYamlIT.java
Labels: type: refactor, in: test

#33157 Remove useless database-hbase.yaml in proxy module
  proxy/bootstrap/src/main/resources/conf/database-hbase.yaml
Labels: in: proxy, type: refactor

#33156 Update create-mask-rule.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/create-mask-rule.en.md
Labels: in: document

#33158 Update alter-mask-rule.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/alter-mask-rule.en.md
Labels: in: document

#33159 Update drop-mask-rule.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/drop-mask-rule.en.md
Labels: in: document

#33160 Update show-unused-sharding-key-generators.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/show-unused-sharding-key-generators.en.md
Labels: in: document

#33161 Update show-sharding-table-rules-used-algorithm.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/show-sharding-table-rules-used-algorithm.en.md
Labels: in: document

#33162 Update show-sharding-table-rules-used-key-generator.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/show-sharding-table-rules-used-key-generator.en.md
Labels: in: document

#33163 Update show-sharding-table-rules-used-auditor.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/show-sharding-table-rules-used-auditor.en.md
Labels: in: document

#33165 Update show-shadow-table-rule.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/shadow/show-shadow-table-rule.en.md
Labels: in: document

#33166 Update show-shadow-algorithm.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/shadow/show-shadow-algorithm.en.md
Labels: in: document

#33167 Update show-default-shadow-algorithm.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/shadow/show-default-shadow-algorithm.en.md
Labels: in: document

#33170 Update format-sql.en.md for typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rul/format-sql.en.md
Labels: in: document

#33172 Fix documents typo
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/import-database-configuration.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/alter-mask-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/create-mask-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/mask/drop-mask-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/shadow/show-default-shadow-algorithm.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/show-sharding-table-rules-used-algorithm.en.md
Labels: in: document

#33173 Add more test cases on GeneratedKeyInsertValueParameterRewriter
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/parameter/rewriter/keygen/GeneratedKeyInsertValueParameterRewriter.java
  infra/rewrite/src/test/java/org/apache/shardingsphere/infra/rewrite/parameter/rewriter/keygen/GeneratedKeyInsertValueParameterRewriterTest.java
Labels: in: test, in: infra

#33175 Add more test cases on GeneratedKeyInsertValuesTokenGenerator
  infra/rewrite/src/test/java/org/apache/shardingsphere/infra/rewrite/sql/token/keygen/generator/GeneratedKeyInsertValuesTokenGeneratorTest.java
Labels: in: test, in: infra

#33176 Add more test cases on GeneratedKeyAssignmentTokenGenerator and GeneratedKeyForUseDefaultInsertColumnsTokenGenerator
  infra/rewrite/src/test/java/org/apache/shardingsphere/infra/rewrite/sql/token/keygen/generator/GeneratedKeyAssignmentTokenGeneratorTest.java
  infra/rewrite/src/test/java/org/apache/shardingsphere/infra/rewrite/sql/token/keygen/generator/GeneratedKeyForUseDefaultInsertColumnsTokenGeneratorTest.java
Labels: in: test, in: kernel

#33171 Fix table exist exception when execute preview create table statement with exist table
  RELEASE-NOTES.md
  docs/document/content/user-manual/common-config/sql-hint.cn.md
  docs/document/content/user-manual/common-config/sql-hint.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/ShardingSQLRouter.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ShardingStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingAlterIndexStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingAlterTableStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingAlterViewStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateFunctionStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateIndexStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateProcedureStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateTableStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateViewStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingDropIndexStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingDropTableStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingPrepareStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingRenameTableStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingCopyStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingDeleteStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingInsertStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingLoadDataStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingLoadXMLStatementValidator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingUpdateStatementValidator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingAlterIndexStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingAlterTableStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingAlterViewStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateFunctionStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateIndexStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateProcedureStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateTableStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateViewStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingDropIndexStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingDropTableStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingRenameTableStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingCopyStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingDeleteStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingInsertStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingLoadDataStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingLoadXMLStatementValidatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/ShardingUpdateStatementValidatorTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/HintValueContext.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/SQLHintPropertiesKey.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/hint/SQLHintUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/hint/SQLHintUtilsTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/route/SingleSQLRouter.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/route/engine/SingleRouteEngineFactory.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/route/engine/SingleStandardRouteEngine.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/SingleRouteEngineFactoryTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/SingleStandardRouteEngineTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
Labels: type: bug, in: kernel, feature: DistSQL

#33178 update lombok version to 1.18.30 in examples (#33177)
  examples/shardingsphere-jdbc-example-generator/src/main/resources/template/pom.ftl
Labels: type: build, in: example

#33180 Add more test cases on DecoratorMergedResult
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/decorator/DecoratorMergedResultTest.java
Labels: in: test, in: infra

#33181 Add more test cases on LocalDataQueryResultRow
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataMergedResultTest.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRowTest.java
Labels: in: test, in: kernel

#33183 Add more test cases on StreamMergedResult
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/stream/StreamMergedResultTest.java
Labels: in: test, in: kernel

#33184 Minor refactor for EncryptRule build RuleAttributes
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
Labels: type: refactor, feature: encrypt

#33185 Add test cases on TransactionConnectionContext
  infra/session/src/test/java/org/apache/shardingsphere/infra/session/connection/transaction/TransactionConnectionContextTest.java
Labels: in: test, in: infra

#33187 Add test cases on ShardingSphereURL
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/core/ShardingSphereURLTest.java
Labels: in: test, in: infra

#33188 Add test cases on URLArgumentLine
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/core/arg/URLArgumentLine.java
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/core/arg/URLArgumentLineTest.java
Labels: in: test, in: infra

#33189 Add more test cases on WeightLoadBalanceAlgorithm
  infra/algorithm/type/load-balancer/type/weight/src/main/java/org/apache/shardingsphere/infra/algorithm/loadbalancer/weight/WeightLoadBalanceAlgorithm.java
  infra/algorithm/type/load-balancer/type/weight/src/test/java/org/apache/shardingsphere/infra/algorithm/loadbalancer/weight/WeightLoadBalanceAlgorithmTest.java
Labels: in: test

#33193 Refactor ProjectionIdentifierExtractEngineTest
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/extractor/ProjectionIdentifierExtractEngineTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/extractor/dialect/OpenGaussProjectionIdentifierExtractorTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/extractor/dialect/OracleProjectionIdentifierExtractorTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/extractor/dialect/PostgreSQLProjectionIdentifierExtractorTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/select/projection/extractor/ProjectionIdentifierExtractEngineTest.java
Labels: in: test

#33195 Implement DistSQLDatabaseRuleQueryExecutorAssert on ShowEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/resources/cases/show-encrypt-rules-current-config.yaml
  features/encrypt/distsql/handler/src/test/resources/cases/show-encrypt-rules.xml
Labels: feature: encrypt, in: test, feature: DistSQL

#33196 Add more test cases on ShorthandProjection
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ShorthandProjection.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ShorthandProjectionTest.java
Labels: in: test

#33198 Fix ShowEncryptRuleExecutorTest
  features/encrypt/distsql/handler/src/test/resources/cases/show-encrypt-rules-current-config.yaml
  features/encrypt/distsql/handler/src/test/resources/cases/show-encrypt-rules.xml
Labels: in: test, feature: DistSQL

#33200 Minor refactor SchemaMetaDataLoader to add excludedTables filter logic
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
  infra/database/type/mysql/src/test/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLSchemaMetaDataLoaderTest.java
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/data/loader/OpenGaussSchemaMetaDataLoaderTest.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLSchemaMetaDataLoaderTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/datanode/SingleTableDataNodeLoader.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
Labels: type: refactor, in: metadata

#33201 Refactor : update the license file
  distribution/proxy/src/main/release-docs/LICENSE
Labels: type: refactor

#33202 Move getAggregatedDataSourceMap from SingleTableLoadUtils to PhysicalResourceAggregator
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/ShardingTable.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/PhysicalResourceAggregator.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
  infra/database/type/mysql/src/test/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLSchemaMetaDataLoaderTest.java
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/data/loader/OpenGaussSchemaMetaDataLoaderTest.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLSchemaMetaDataLoaderTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/datanode/SingleTableDataNodeLoader.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/decorator/SingleRuleConfigurationDecorator.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/util/SingleTableLoadUtils.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/query/ShowUnloadedSingleTablesExecutor.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutorTest.java
Labels: type: refactor, in: kernel

#33203 Update docs for storage unit RDL
  RELEASE-NOTES.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/alter-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/alter-storage-unit.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/register-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/register-storage-unit.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/unregister-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/unregister-storage-unit.en.md
Labels: in: document

#33205 Revise loadSchemaTableNames method javadoc
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
Labels: type: refactor, in: metadata

#33204 Update docs for storage unit RDL
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/alter-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/alter-storage-unit.en.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/register-storage-unit.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rdl/storage-unit-definition/register-storage-unit.en.md
Labels: in: document, feature: DistSQL

#33207 Add more test cases on OrderByItem
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/orderby/OrderByItemTest.java
Labels: in: test

#33208 Add test cases on SubqueryTableContextEngine
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/subquery/engine/SubqueryTableContextEngineTest.java
Labels: in: test

#33211 Fix is need accumulate logic
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnector.java
Labels: type: bug, in: proxy

#33025 Support compiling and using ShardingSphere under OpenJDK 23
  .github/workflows/nightly-ci.yml
  .mvn/wrapper/maven-wrapper.properties
  RELEASE-NOTES.md
  agent/core/src/test/java/org/apache/shardingsphere/agent/core/plugin/PluginLifecycleServiceManagerTest.java
  mvnw
  mvnw.cmd
  pom.xml
Labels: type: build, type: dependencies

#33213 Add test cases on TablesContext
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/table/TablesContext.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/table/TablesContextTest.java
Labels: in: test

#33214 Add more test cases on ExecutionContextBuilder
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/context/ExecutionContextBuilder.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/context/ExecutionContextBuilderTest.java
Labels: in: test

#33215 Update release note for 5.1.1 version which related to sql parser, sql federation, sharding and encrypt
  RELEASE-NOTES.md
Labels: in: document

#33212 Support Hive integration module to connect to HiveServer2 4.0.1
  RELEASE-NOTES.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/HiveTest.java
Labels: type: enhancement, db: Hive

#33217 Add more test cases on JDBCQueryResultMetaData
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/metadata/JDBCQueryResultMetaDataTest.java
Labels: in: test

#33218 Update 5.5.1 release note for pr#32395
  RELEASE-NOTES.md
Labels: in: document

#33222 Minor refactor for SubqueryExtractUtils
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/enums/SubqueryType.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/util/SubqueryExtractUtils.java
Labels: type: refactor, in: kernel

#33225 Add more test cases on JDBCStreamQueryResult
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/stream/JDBCStreamQueryResultTest.java
Labels: in: test

#33226 Add more test cases on ResultSetUtils
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/util/ResultSetUtils.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/util/ResultSetUtilsTest.java
Labels: in: test

#33224 Support building Example module with OpenJDK 23
  RELEASE-NOTES.md
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.en.md
  examples/pom.xml
  infra/expr/type/espresso/pom.xml
  pom.xml
Labels: type: enhancement

#33210 Implement DistSQLDatabaseRuleQueryExecutorAssert on ShowMaskRuleExecutorTest
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/resources/cases/show-mask-rules-current-config.yaml
  features/mask/distsql/handler/src/test/resources/cases/show-mask-rules.xml
Labels: in: test

#33227 Add more test cases on JdbcUrlAppender
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/connector/url/JdbcUrlAppender.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/connector/url/JdbcUrlAppenderTest.java
Labels: in: test

#33228 Add more test cases on JdbcUrlAppender
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/connector/url/JdbcUrlAppender.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/connector/url/JdbcUrlAppenderTest.java
Labels: in: test

#33229 Add more test cases on DatabaseTypeRegistry
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/resultset/ResultSetMapper.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/type/DatabaseTypeRegistryTest.java
Labels: in: test

#33230 Add test cases for ResultSetMapper
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/resultset/ResultSetMapper.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/resultset/ResultSetMapperTest.java
Labels: in: test

#33232 Add test cases for QuoteCharacter
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/type/enums/QuoteCharacterTest.java
Labels: in: test

#33233 Add test cases for NullsOrderType
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/type/enums/NullsOrderTypeTest.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/insert/InsertExecClauseAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/MergeStatementAssert.java
Labels: in: test

#33231 Mark ALL_PERMITTED privilege provider as deprecated
  docs/document/content/user-manual/shardingsphere-proxy/yaml-config/authority.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/yaml-config/authority.en.md
  kernel/authority/provider/simple/src/main/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProvider.java
Labels: type: refactor

#33235 Modify dataSourceName property of SingleRule to use CaseInsensitiveSet
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
Labels: type: refactor, in: kernel

#33237 Add more test cases for DatabaseTypedSPILoader
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/spi/DatabaseTypedSPILoaderTest.java
Labels: in: test

#33239 Refactor : update the license file
  distribution/proxy/src/main/release-docs/LICENSE
Labels: type: refactor

#33238 Refactor DialectPipelineSQLBuilder.buildEstimatedCountSQL()
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/inventory/calculator/InventoryRecordsCountCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/dialect/DialectPipelineSQLBuilder.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelinePrepareSQLBuilder.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/sqlbuilder/MySQLPipelineSQLBuilder.java
  kernel/data-pipeline/dialect/mysql/src/test/java/org/apache/shardingsphere/data/pipeline/mysql/sqlbuilder/MySQLPipelineSQLBuilderTest.java
  kernel/data-pipeline/dialect/opengauss/src/main/java/org/apache/shardingsphere/data/pipeline/opengauss/sqlbuilder/OpenGaussPipelineSQLBuilder.java
  kernel/data-pipeline/dialect/postgresql/src/main/java/org/apache/shardingsphere/data/pipeline/postgresql/sqlbuilder/PostgreSQLPipelineSQLBuilder.java
Labels: type: refactor, feature: pipeline

#33240 Remove useless DatabaseTypeUtils
  infra/common/src/main/java/org/apache/shardingsphere/infra/util/DatabaseTypeUtils.java
Labels: type: refactor

#33242 Add more test cases for Grantee
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/user/GranteeTest.java
Labels: in: test

#33243 Add more test cases for ShardingSphereMetaData
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaDataTest.java
Labels: in: test

#33245 Add test cases on ResourceMetaData
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/ResourceMetaData.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/resource/ResourceMetaDataTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/resource/node/StorageNodeTest.java
Labels: in: test

#33246 Refactor test cases on YamlSchemaSwapper
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/model/ShardingSphereView.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlSchemaSwapperTest.java
  infra/common/src/test/resources/yaml/schema/empty-schema.yaml
  infra/common/src/test/resources/yaml/schema/schema.yaml
Labels: in: test

#33247 Add YamlColumnSwapper
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlColumnSwapper.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlConstraintSwapper.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlIndexSwapper.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlTableSwapper.java
Labels: type: refactor

#33250 Remove useless YamlSchemaSwapper
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlSchemaSwapper.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlTableSwapperTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/yaml/schema/swapper/YamlViewSwapperTest.java
  infra/common/src/test/resources/yaml/schema/empty-table.yaml
  infra/common/src/test/resources/yaml/schema/table.yaml
  infra/common/src/test/resources/yaml/schema/view.yaml
Labels: type: refactor

#33253 Add test cases on JsonUtils
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/json/JsonConfigurationFixture.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/json/JsonUtilsTest.java
Labels: in: test

#33254 Add test cases on GroovyUtils
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/groovy/GroovyUtilsTest.java
Labels: in: test

#33256 Add more test cases on MultiSourceProperties
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/props/MultiSourcePropertiesTest.java
Labels: in: test

#33257 Add more test cases on DataSourcesCloser
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/close/DataSourcesCloserTest.java
Labels: in: test

#33259 Add more test cases on LiteralInlineExpressionParser
  infra/expr/type/literal/src/main/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParser.java
  infra/expr/type/literal/src/test/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParserTest.java
Labels: in: test

#33260 Add more test cases on IntervalInlineExpressionParser
  infra/expr/type/interval/src/main/java/org/apache/shardingsphere/infra/expr/interval/IntervalInlineExpressionParser.java
  infra/expr/type/interval/src/test/java/org/apache/shardingsphere/infra/expr/interval/IntervalInlineExpressionParserTest.java
  infra/expr/type/literal/src/test/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParserTest.java
Labels: in: test

#33262 Add more test cases on GroovyInlineExpressionParser
  infra/expr/type/groovy/src/test/java/org/apache/shardingsphere/infra/expr/groovy/GroovyInlineExpressionParserTest.java
  infra/expr/type/literal/src/test/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParserTest.java
Labels: in: test

#33264 Change the Base Docker Image of ShardingSphere Proxy Native
  RELEASE-NOTES.md
  distribution/proxy-native/Dockerfile
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/expr/type/espresso/src/test/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParserTest.java
Labels: type: refactor

#33266 Refactor : refactor jacoco aggregation directories
  .github/workflows/resources/scripts/unit-test-coverage-merge/code-coverage-merge.sh
Labels: type: refactor

#33267 Add more cases on InstanceMetaDataBuilder
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/metadata/jdbc/JDBCInstanceMetaDataBuilderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/metadata/proxy/ProxyInstanceMetaDataBuilderTest.java
Labels: in: test

#33269 Add more test cases on MySQLPacketPayload
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/payload/MySQLPacketPayloadTest.java
Labels: in: test

#33271 Add more test cases on MySQLAuthSwitchResponsePacket
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/handshake/MySQLAuthMoreDataPacketTest.java
  db-protocol/mysql/src/test/java/org/apache/shardingsphere/db/protocol/mysql/packet/handshake/MySQLAuthSwitchResponsePacketTest.java
Labels: in: test

#33273 Remove useless WhereAvailable cast in encrypt rewrite token generator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/context/EncryptSQLRewriteContextDecorator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/rewriter/EncryptInsertPredicateParameterRewriter.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptInsertPredicateColumnTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptInsertPredicateRightValueTokenGenerator.java
Labels: type: refactor, feature: encrypt

#33275 Add more test cases on ShardingSpherePipelineDataSourceConfiguration
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/type/StandardPipelineDataSourceConfiguration.java
  kernel/data-pipeline/api/src/test/java/org/apache/shardingsphere/data/pipeline/api/type/ShardingSpherePipelineDataSourceConfigurationTest.java
Labels: in: test, feature: pipeline

#33274 Add query parameters and check for mysql kill processId
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDALStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dal/KillStatement.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/KillProcessExecutor.java
Labels: type: enhancement, in: proxy

#33276 Add more test cases on StandardPipelineDataSourceConfiguration
  kernel/data-pipeline/api/src/main/java/org/apache/shardingsphere/data/pipeline/api/type/StandardPipelineDataSourceConfiguration.java
  kernel/data-pipeline/api/src/test/java/org/apache/shardingsphere/data/pipeline/api/type/ShardingSpherePipelineDataSourceConfigurationTest.java
  kernel/data-pipeline/api/src/test/java/org/apache/shardingsphere/data/pipeline/api/type/StandardPipelineDataSourceConfigurationTest.java
  kernel/data-pipeline/api/src/test/resources/yaml/shardingsphere-pipeline-datasource-config.yaml
  kernel/data-pipeline/api/src/test/resources/yaml/standard-pipeline-datasource-config.yaml
Labels: in: test, feature: pipeline

#33278 Remove InstanceTypeUtils
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/metadata/InstanceType.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/metadata/InstanceTypeTest.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/id/PipelineJobIdUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/InstanceTypeUtils.java
Labels: type: refactor, feature: pipeline

#33280 Add test cases on PipelineJdbcUtils
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineJdbcUtils.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineJdbcUtilsTest.java
Labels: in: test, feature: pipeline

#33283 Add test cases on JobDataNodeEntry
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datanode/JobDataNodeEntry.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/datanode/JobDataNodeEntryTest.java
Labels: in: test, feature: pipeline

#33288 Refactor CoordinatorRegistryCenterInitializer
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/registrycenter/elasticjob/CoordinatorRegistryCenterInitializer.java
Labels: type: refactor, feature: pipeline

#33294 Add more test cases on PipelineDataConsistencyCalculateSQLBuilder
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelineDataConsistencyCalculateSQLBuilderTest.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelineImportSQLBuilderTest.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelineInventoryDumpSQLBuilderTest.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelineSQLSegmentBuilderTest.java
Labels: in: test, feature: pipeline

#33295 Refactor e2e-operation.yml
  .github/workflows/e2e-operation.yml
Labels: type: build

#33297 Refactor nightly-ci.yml
  .github/workflows/nightly-ci.yml
Labels: type: build

#33300 Refactor nightly-e2e-operation-dynamic.yml
  .github/workflows/nightly-e2e-operation-dynamic.yml
Labels: type: build

#33301 Refactor : refactor the trigger and variables in PR workflow
  .github/workflows/ci.yml
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e-operation.yml
  .github/workflows/e2e-sql.yml
Labels: type: refactor

#33304 Add more test cases on PipelineSQLSegmentBuilder
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/sql/PipelineSQLSegmentBuilderTest.java
Labels: in: test, feature: pipeline

#33305 Fix sonar issues
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/CDCJob.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/GlobalConfigurationManager.java
Labels: type: refactor

#33303 Use Multimap and CaseInsensitiveString to replace CaseInsensitiveMap for supporting mysql multi table join with same table alias
  RELEASE-NOTES.md
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/assign/AssignmentSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/column/InsertColumnsSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/ExpressionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/BinaryOperationExpressionBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/ColumnSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/ExistsSubqueryExpressionBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/FunctionExpressionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/InExpressionBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/NotExpressionBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/SubquerySegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/from/TableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/DeleteMultiTableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/JoinTableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/SimpleTableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/SubqueryTableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/lock/LockSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/projection/ProjectionsSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/projection/type/ColumnProjectionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/projection/type/ShorthandProjectionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/projection/type/SubqueryProjectionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/where/WhereSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/SQLStatementBinderContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/DeleteStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/SelectStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/UpdateStatementBinder.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/assign/AssignmentSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/BinaryOperationExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/ColumnSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/ExistsSubqueryExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/FunctionExpressionSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/InExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/NotExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/expression/type/SubquerySegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/JoinTableSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/SimpleTableSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/from/type/SubqueryTableSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/projection/type/ShorthandProjectionSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/where/WhereSegmentBinderTest.java
Labels: type: bug, in: SQL bind
