Repository apache/shardingsphere, pull requests merged in 2024-02, with the labels that each got.

#29940 Refactor the execution of batches in jdbc adapter
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#29945 Remove : remove the table detail part since it doesn't work
  README.md
Labels: in: document, type: fixed

#29922 Fix weblogic.utils.zip.ZipURLConnection cannot be cast to java.net.JarURLConnection issue.
  mode/type/standalone/repository/provider/jdbc/src/main/java/org/apache/shardingsphere/mode/repository/standalone/jdbc/sql/JDBCRepositorySQLLoader.java
Labels: type: bug, mode: standalone

#29938 Read underlying value of BLOB and CLOB
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/column/ColumnValueReaderEngine.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/task/E2EIncrementalTask.java
Labels: type: refactor, feature: pipeline

#29946 Fix jdbc auto commit in implicit commit transaction
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/commitrollback/ImplicitCommitTransactionTestCase.java
Labels: type: bug, in: JDBC, feature: transaction

#29947 Remove DatabaseRuleDropExecutor.isExistRuleConfig
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableReferenceExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/rdl/rule/spi/database/DatabaseRuleDropExecutor.java
Labels: type: refactor, feature: DistSQL

#29949 Refactor DatabaseRuleDropExecutor.hasAnyOneToBeDropped()
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/DropReadwriteSplittingRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropDefaultShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowAlgorithmExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropDefaultShardingStrategyExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAlgorithmExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAuditorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingKeyGeneratorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableRuleExecutor.java
Labels: type: refactor, feature: DistSQL

#29951 Remove DatabaseRuleDropExecutor.getIdenticalData
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/DropReadwriteSplittingRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAlgorithmExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAuditorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingKeyGeneratorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableReferenceExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableRuleExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/rdl/rule/spi/database/DatabaseRuleDropExecutor.java
Labels: type: refactor, feature: DistSQL

#29948 Adjust Literal Antlr file to support SQL Server escape
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/Literals.g4
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-join.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29952 Fix xa auto commit in executeQuery
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: type: bug, in: JDBC, feature: transaction

#29942 Fix : fix the workflow plugins warning
  .github/workflows/ci.yml
  .github/workflows/e2e-agent.yml
  .github/workflows/e2e-operation.yml
  .github/workflows/e2e-sql.yml
  .github/workflows/graalvm.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-check.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/nightly-e2e-operation.yml
  .github/workflows/nightly-sql-parser.yml
  .github/workflows/required-check.yml
  .github/workflows/required-reusable.yml
  .github/workflows/schedule-report.yml
Labels: type: build, type: fixed

#29950 Support parsing SQL Server UPDATE OPENQUERY sql #29184
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/Keyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/handler/dml/UpdateStatementHandler.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/sqlserver/dml/SQLServerUpdateStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/UpdateStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/dml/UpdateStatementTestCase.java
  test/it/parser/src/main/resources/case/dml/update.xml
  test/it/parser/src/main/resources/sql/supported/dml/update.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29958 Add filter DatabaseRule in alterRuleConfiguration method to avoid clear datasources in TransactionRule
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/context/ConfigurationContextManager.java
Labels: type: bug, mode: cluster

#29959 Refactor MySQLTest
  RELEASE-NOTES.md
  docs/blog/content/material/2022_09_08_Apache_ShardingSphere_5.2.0_is_Released,_Bringing_New_Cloud_Native_Possibilities.en.md
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/MySQLTest.java
Labels: in: test

#29962 Rename configurations to configs for variable name
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/checker/ShadowRuleConfigurationChecker.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/config/yaml/swapper/YamlProxyConfigurationSwapper.java
Labels: type: refactor

#29963 Rename properties to props for variable name
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/AlterStorageUnitExecutorTest.java
Labels: type: refactor

#29960 Support parsing SQL Server UPDATE Production.Product sql #29183
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  test/it/parser/src/main/resources/case/dml/update.xml
  test/it/parser/src/main/resources/sql/supported/dml/update.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29964 Fix load table type from MySQL
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLMetaDataLoader.java
Labels: type: bug, in: metadata

#29966 Refactor package of distsql.handler.type.ral
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/provider/EncryptConvertRuleConfigurationProvider.java
  features/encrypt/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.ral.convert.ConvertRuleConfigurationProvider
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/provider/MaskConvertRuleConfigurationProvider.java
  features/mask/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.ral.convert.ConvertRuleConfigurationProvider
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/provider/ReadwriteSplittingConvertRuleConfigurationProvider.java
  features/readwrite-splitting/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.ral.convert.ConvertRuleConfigurationProvider
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/provider/ShadowConvertRuleConfigurationProvider.java
  features/shadow/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.ral.convert.ConvertRuleConfigurationProvider
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/provider/ShardingConvertRuleConfigurationProvider.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.ral.convert.ConvertRuleConfigurationProvider
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/ral/algorithm/AlgorithmMetaDataQueryResultRow.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/ral/algorithm/AlgorithmMetaDataQueryResultRows.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/ral/convert/ConvertRuleConfigurationProvider.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/ral/convert/DistSQLScriptConstants.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckAlgorithmsExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ConvertYamlConfigurationExecutor.java
Labels: type: refactor, feature: DistSQL

#29967 Refactor unit tests for IntervalShardingAlgorithm
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithmTest.java
Labels: in: test

#29971 Refactor ProxyBackendHandlerFactory
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxySQLComQueryParser.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLComQueryPacketExecutor.java
  proxy/frontend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/simple/OpenGaussComQueryExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/simple/PostgreSQLComQueryExecutor.java
Labels: in: proxy, type: refactor

#29972 Move RuleNotExistedException to distsql module
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/exception/rule/RuleNotExistedException.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnector.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
Labels: type: refactor, feature: DistSQL

#29974 Move RuleDefinitionExecuteEngine to distsql module
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/RuleDefinitionExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/legacy/LegacyDatabaseRuleDefinitionExecuteEngine.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/RDLBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/rule/RuleDefinitionBackendHandler.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactoryTest.java
Labels: type: refactor, feature: DistSQL

#29975 Make IntervalShardingAlgorithm loosely match `String`
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithm.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/sharding/datetime/IntervalShardingAlgorithmTest.java
Labels: type: enhancement

#29978 Add DistSQLExecutorRequiredChecker
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/required/DistSQLExecutorRequiredChecker.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/database/DatabaseRuleDefinitionExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/legacy/LegacyDatabaseRuleDefinitionExecuteEngine.java
Labels: type: refactor, feature: DistSQL

#29977 Support parsing SQL Server SELECT page_count, sql
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29976 Added unit tests for DatabaseNameUtils
  infra/distsql-handler/pom.xml
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/util/DatabaseNameUtilsTest.java
Labels: in: test, feature: DistSQL

#29981 Refactor DistSQLQueryExecuteEngine
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/DistSQLQueryExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/RuleDefinitionExecuteEngine.java
Labels: type: refactor, feature: DistSQL

#29984 Refactor DatabaseNameUtilsTest
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/util/DatabaseNameUtilsTest.java
Labels: type: refactor, in: test

#29983 Support parsing SQL Server INSERT INTO sql #29187
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/segment/generic/OutputSegment.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/output/OutputClauseAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/output/ExpectedOutputClause.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/segment/impl/output/ExpectedOutputColumn.java
  test/it/parser/src/main/resources/case/dml/delete.xml
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/update.xml
  test/it/parser/src/main/resources/sql/supported/dml/delete.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29986 Remove useless code on OutputClauseAssert
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/segment/output/OutputClauseAssert.java
Labels: type: refactor, in: test

#29985 Add EOF to throw exception when parse distsql rollback migration statement
  parser/sql/dialect/oracle/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/OracleStatement.g4
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/InternalSQLParserIT.java
  test/it/parser/src/main/resources/sql/unsupported/unsupported.xml
Labels: in: SQL parse, db: Oracle

#29965 Allow drop active CDC jobs via DistSQL
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/CDCJobAPI.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/handler/CDCBackendHandler.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/PipelineContainerComposer.java
Labels: type: enhancement, feature: pipeline

#29987 Add DistSQLExecutorAwareSetter
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/aware/DistSQLExecutorAwareSetter.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/DistSQLQueryExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/QueryableRALBackendHandlerTest.java
Labels: type: refactor, feature: DistSQL

#29991 Refactor DistSQLExecutorAwareSetter and DistSQLExecutorRequiredChecker
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/aware/DistSQLExecutorAwareSetter.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/required/DistSQLExecutorRequiredChecker.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/DistSQLQueryExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/database/DatabaseRuleDefinitionExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/legacy/LegacyDatabaseRuleDefinitionExecuteEngine.java
Labels: type: refactor, feature: DistSQL

#29993 Refactor DistSQLExecutorRequiredChecker
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/AlterMaskRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/DropReadwriteSplittingRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/AlterDefaultShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/AlterShadowRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropDefaultShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/update/DropShadowRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterDefaultShardingStrategyExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterShardingTableReferenceRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/AlterShardingTableRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/CreateShardingTableReferenceRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropDefaultShardingStrategyExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAlgorithmExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingAuditorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingKeyGeneratorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableReferenceExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/update/DropShardingTableRuleExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/required/DistSQLExecutorCurrentRuleRequired.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/required/DistSQLExecutorRequiredChecker.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/database/DatabaseRuleDefinitionExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/rule/engine/legacy/LegacyDatabaseRuleDefinitionExecuteEngine.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/UnloadSingleTableExecutor.java
Labels: type: refactor, feature: DistSQL

#29996 Fix system schema query test
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-system-schema-mysql.xml
Labels: type: bug, in: proxy, in: test

#29994 Rename RuleCountExecutor
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/rql/count/RuleCountExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.query.DistSQLQueryExecutor
Labels: type: refactor, feature: DistSQL

#29992 Refactor : refactor the jandex and source plugin into release profile (#29990)
  distribution/agent/pom.xml
  distribution/jdbc/pom.xml
  distribution/proxy/pom.xml
  pom.xml
Labels: type: refactor, type: build

#29998 Support parsing SQL Server SELECT SCHEMA_NAME(schema_id) sql #29180
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-join.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#29999 Refactor EncryptRule.configuration
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/EncryptRule.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/changed/EncryptTableChangedProcessor.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/changed/EncryptorChangedProcessor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutor.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutorTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/ShowRulesUsedStorageUnitExecutor.java
Labels: type: refactor, feature: encrypt

#30000 Refactor ConditionValueInOperatorGenerator logic
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGenerator.java
Labels: feature: sharding, type: refactor

#29997 Fix the issue where the current thread's class loader may fail to load resources.
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilder.java
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParser.java
  mode/type/standalone/repository/provider/jdbc/src/main/java/org/apache/shardingsphere/mode/repository/standalone/jdbc/sql/JDBCRepositorySQLLoader.java
Labels: type: bug, in: kernel

#30003 Avoid using hardcoded ports in nativeTest
  distribution/proxy-native/pom.xml
  distribution/proxy/src/main/release-docs/LICENSE
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/bin.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/bin.en.md
  pom.xml
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/FileTestUtils.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/MSSQLServerTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/PostgresTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/EncryptTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/MaskTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ReadWriteSplittingTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ShadowTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ShardingTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/mode/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/mode/cluster/ZookeeperTest.java
  test/native/src/test/resources/test-native/yaml/mode/cluster/etcd.yaml
  test/native/src/test/resources/test-native/yaml/mode/cluster/zookeeper.yaml
Labels: type: refactor, in: test, type: dependencies

#30006 Remove useless RALBackendHandlerFactory
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/RALBackendHandlerFactory.java
Labels: type: refactor, feature: DistSQL

#30007 Add UnregisterStorageUnitRuleUsageChecker
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/UnregisterStorageUnitBroadcastRuleUsageChecker.java
  features/broadcast/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.UnregisterStorageUnitRuleUsageChecker
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/resource/UnregisterStorageUnitRuleUsageChecker.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/UnregisterStorageUnitSingleRuleUsageChecker.java
  kernel/single/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.UnregisterStorageUnitRuleUsageChecker
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
Labels: type: refactor, feature: DistSQL

#30009 Move ProxyContext.getDatabase to ContextManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnector.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/context/ProxyContext.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxySQLComQueryParser.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/admin/DatabaseAdminQueryBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/admin/executor/AbstractDatabaseMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/data/impl/UnicastDatabaseBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLQueryBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLUpdateBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/RefreshDatabaseMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/YamlDatabaseConfigurationImportExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/DatabaseAdminQueryBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/executor/DefaultDatabaseMetaDataExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/data/impl/UnicastDatabaseBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/QueryableRALBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/RefreshTableMetaDataUpdaterTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutorTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLAdminExecutorCreator.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/UnicastResourceShowExecutor.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLAdminExecutorCreatorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/information/SelectInformationSchemataExecutorTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/Portal.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PortalTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/bind/PostgreSQLComBindExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutorTest.java
Labels: in: proxy, type: refactor

#30010 Implement load table type for Oracle
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/data/loader/OracleMetaDataLoader.java
Labels: type: enhancement, in: metadata, db: Oracle

#30013 Rename MSSQLServerTest to SQLServerTest
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/SQLServerTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/resource-config.json
  test/native/src/test/resources/test-native/yaml/databases/sqlserver.yaml
Labels: in: test, in: proxy native

#30015 Refactor variable name
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLMetaDataLoader.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/data/loader/OracleMetaDataLoader.java
Labels: type: refactor, db: MySQL, in: metadata, db: Oracle

#30016 Refactor DistSQLUpdateExecuteEngine
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/DistSQLQueryExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/DistSQLUpdateExecuteEngine.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLQueryBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLUpdateBackendHandler.java
Labels: type: refactor, feature: DistSQL

#30017 Remove NewConfigurationChangedSubscriber to mode-cluster-core module
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/NewConfigurationChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/NewContextManagerSubscriberFacade.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/NewStandaloneContextManagerBuilder.java
Labels: mode: cluster, type: refactor

#29979 Identify primary key and unique key in constraint definition
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDDLStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/segment/ddl/constraint/ConstraintDefinitionSegment.java
Labels: type: enhancement, in: SQL parse, db: MySQL

#29980 Add map xa exception in SingleXAResource
  kernel/transaction/type/xa/spi/src/main/java/org/apache/shardingsphere/transaction/xa/spi/SingleXAResource.java
Labels: type: enhancement, feature: transaction

#30020 fix sonar issue
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
Labels: type: enhancement, in: SQL parse

#30018 Refactor DistSQLQueryExecuteEngine
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/DistSQLQueryExecuteEngine.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLQueryBackendHandler.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/QueryableRALBackendHandlerTest.java
Labels: type: refactor, feature: DistSQL

#30023 Fix sonar issue
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLUUIDBinaryProtocolValueTest.java
Labels: type: refactor, in: test

#30024 Fix sonar issue
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProviderTest.java
Labels: in: test

#30019 Fix show consistency check status `stop_time` display
  kernel/data-pipeline/scenario/consistencycheck/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/api/ConsistencyCheckJobAPI.java
Labels: type: bug, feature: pipeline

#30026 Bump GraalVM SDK version to 23.1.2 to allow `infra-expr-espresso` to be used under Hotspot JDK 21
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.en.md
  infra/expr/type/espresso/pom.xml
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParser.java
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/ReflectContext.java
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/ReflectValue.java
  infra/expr/type/espresso/src/test/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParserTest.java
  pom.xml
Labels: type: refactor, type: dependencies

#30027 Refactor ShowSPIImplementationsExecutor
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/query/rql/ShowSPIImplementationsExecutor.java
Labels: type: refactor, feature: DistSQL

#30028 Refactor UnregisterStorageUnitExecutorTest
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/fixture/FixtureUnregisterStorageUnitRule.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/fixture/FixtureUnregisterStorageUnitRuleUsageChecker.java
  proxy/backend/core/src/test/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.UnregisterStorageUnitRuleUsageChecker
Labels: in: test, feature: DistSQL

#30025 Fix sonar in ShardingConditions
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/ShardingConditions.java
Labels: feature: sharding, type: refactor

#30029 Refactor AlterStorageUnitExecutorTest
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/AlterStorageUnitExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/RegisterStorageUnitExecutorTest.java
Labels: in: test, feature: DistSQL

#30030 Rename StorageUnitDefinitionProcessor
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/StorageUnitBroadcastDefinitionProcessor.java
  features/broadcast/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.StorageUnitDefinitionProcessor
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/resource/StorageUnitDefinitionProcessor.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/StorageUnitSingleDefinitionProcessor.java
  kernel/single/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.StorageUnitDefinitionProcessor
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/fixture/FixtureStorageUnitDefinitionProcessor.java
  proxy/backend/core/src/test/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.type.update.rdl.resource.StorageUnitDefinitionProcessor
Labels: type: refactor, feature: DistSQL

#30021 Ignore failed save point test cases
  test/e2e/operation/transaction/src/test/resources/env/it-env.properties
Labels: type: bug, in: test, db: MySQL

#30031 Fixes `@EnabledInNativeImage` failure in some unit tests
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/PostgresTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/SQLServerTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/mode/cluster/EtcdTest.java
Labels: in: test

#30034 Add generic type on StorageUnitDefinitionProcessor
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/StorageUnitBroadcastDefinitionProcessor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/resource/StorageUnitDefinitionProcessor.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/StorageUnitSingleDefinitionProcessor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/fixture/FixtureStorageUnitDefinitionProcessor.java
Labels: type: refactor, feature: DistSQL

#30035 Fix UnregisterStorageUnitExecutor compile error
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
Labels: type: refactor, feature: DistSQL

#30036 Rename StorageUnitDefinitionProcessor.getRuleClass()
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/update/StorageUnitBroadcastDefinitionProcessor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/type/update/rdl/resource/StorageUnitDefinitionProcessor.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/StorageUnitSingleDefinitionProcessor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/UnregisterStorageUnitExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rdl/resource/fixture/FixtureStorageUnitDefinitionProcessor.java
Labels: type: refactor, feature: DistSQL

#30033 Fix nightly build CI on Windows 11
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbstractAbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/AbstractClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLManagerTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProviderTest.java
Labels: type: refactor, in: test

#30039 Move StorageNodeStatusService to mode-core module
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/node/StorageNode.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/StorageNodeStatusService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlStorageNodeDataSource.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlStorageNodeDataSourceSwapper.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/NewRegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/RegistryCenter.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/StorageNodeStatusSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/StorageNodeStateChangedWatcher.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/node/StorageNodeTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/service/StorageNodeStatusServiceTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/StorageNodeStatusSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/readwritesplitting/AlterReadwriteSplittingStorageUnitStatusExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/readwritesplitting/ShowStatusFromReadwriteSplittingRulesExecutor.java
Labels: mode: cluster, type: refactor

#30041 Add final for AbsolutePathWithEnvironmentURLProvider
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
Labels: type: refactor

#30044 Refactor show processlist and kill logic
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/YamlProcess.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapper.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/NewProcessListChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutorTest.java
Labels: type: refactor, in: kernel

#30048 Fix #30046
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/RuleItemChangedSubscriber.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/NewStandaloneContextManagerBuilder.java
Labels: type: refactor, mode: standalone

#30038 Refactor InlineExpressionParser to prevent exposing Groovy API
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/hint/HintInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/ComplexInlineShardingAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/fixture/sharding/CoreHintShardingAlgorithmFixture.java
  infra/expr/core/src/test/java/org/apache/shardingsphere/infra/expr/core/InlineExpressionParserFactoryTest.java
  infra/expr/spi/pom.xml
  infra/expr/spi/src/main/java/org/apache/shardingsphere/infra/expr/spi/InlineExpressionParser.java
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParser.java
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/ReflectValue.java
  infra/expr/type/espresso/src/test/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParserTest.java
  infra/expr/type/groovy/pom.xml
  infra/expr/type/groovy/src/main/java/org/apache/shardingsphere/infra/expr/groovy/GroovyInlineExpressionParser.java
  infra/expr/type/groovy/src/test/java/org/apache/shardingsphere/infra/expr/groovy/GroovyInlineExpressionParserTest.java
  infra/expr/type/literal/src/test/java/org/apache/shardingsphere/infra/expr/literal/LiteralInlineExpressionParserTest.java
Labels: type: refactor

#30045 Remove DataSourceDisabledEvent event
  mode/core/src/main/java/org/apache/shardingsphere/mode/event/storage/DataSourceDisabledEvent.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/service/StorageNodeStatusService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/StorageNodeStatusSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/StorageNodeStatusSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/readwritesplitting/AlterReadwriteSplittingStorageUnitStatusExecutor.java
Labels: mode: cluster, type: refactor, feature: DistSQL

#30050 Move RuleCountExecutor to executor package
  features/broadcast/distsql/handler/src/main/java/org/apache/shardingsphere/broadcast/distsql/handler/query/BroadcastCountResultRowBuilder.java
  features/broadcast/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/EncryptCountResultRowBuilder.java
  features/encrypt/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/MaskCountResultRowBuilder.java
  features/mask/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ReadwriteSplittingCountResultRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShadowCountResultRowBuilder.java
  features/shadow/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShardingCountResultRowBuilder.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/rule/CountResultRowBuilder.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/rule/RuleCountExecutor.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/query/SingleCountResultRowBuilder.java
  kernel/single/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.rule.CountResultRowBuilder
Labels: type: refactor, feature: DistSQL

#30049 Refactor show processlist and kill logic
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapper.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/NewProcessListChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
Labels: type: refactor, in: kernel

#30051 Refactor SHOW SHARDING ALGORITHM IMPLEMENTATIONS
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/show-implementation/sharding/show-sharding-algorithm-implementations.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/show-implementation/sharding/show-sharding-algorithm-implementations.en.md
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmImplementationsResultRowBuilder.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.spi.ShowSPIImplementationsResultRowBuilder
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingAlgorithmImplementationsResultRowBuilderTest.java
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/rql/spi/ShowSPIImplementationsExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/rql/spi/ShowSPIImplementationsResultRowBuilder.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
Labels: feature: sharding, type: refactor, feature: DistSQL

#30053 Add ShowRulesUsedStorageUnitRowBuilder
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRulesUsedStorageUnitRowBuilder.java
  features/encrypt/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.ShowRulesUsedStorageUnitRowBuilder
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRulesUsedStorageUnitRowBuilder.java
  features/mask/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.ShowRulesUsedStorageUnitRowBuilder
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadwriteSplittingRulesUsedStorageUnitRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.ShowRulesUsedStorageUnitRowBuilder
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowRulesUsedStorageUnitRowBuilder.java
  features/shadow/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.ShowRulesUsedStorageUnitRowBuilder
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingRulesUsedStorageUnitRowBuilder.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.ShowRulesUsedStorageUnitRowBuilder
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/rql/ShowRulesUsedStorageUnitRowBuilder.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/ShowRulesUsedStorageUnitExecutor.java
Labels: type: refactor, feature: DistSQL

#30054 Block unit tests that execute EspressoInlineExpressionParserTest on MacOS and Windows
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.cn.md
  docs/document/content/user-manual/common-config/builtin-algorithm/expr.en.md
  infra/expr/type/espresso/src/test/java/org/apache/shardingsphere/infra/expr/espresso/EspressoInlineExpressionParserTest.java
Labels: in: test

#30055 Refactor ShowRulesUsedStorageUnitRowBuilder
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRulesUsedStorageUnitRowBuilder.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRulesUsedStorageUnitRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadwriteSplittingRulesUsedStorageUnitRowBuilder.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowRulesUsedStorageUnitRowBuilder.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingRulesUsedStorageUnitRowBuilder.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/rql/ShowRulesUsedStorageUnitRowBuilder.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/ShowRulesUsedStorageUnitExecutor.java
Labels: type: refactor, feature: DistSQL

#30058 Add RegexUtils
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/regex/RegexUtils.java
  infra/util/src/test/java/org/apache/shardingsphere/infra/util/regex/RegexUtilsTest.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/query/ShowSingleTableExecutor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/util/SQLUtils.java
  parser/sql/statement/src/test/java/org/apache/shardingsphere/sql/parser/sql/common/util/SQLUtilsTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowDistVariablesExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rql/ShowLogicalTableExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowDatabasesExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowTablesExecutor.java
Labels: type: refactor, in: kernel

#30064 Fix compile error
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmImplementationsResultRowBuilder.java
Labels: type: refactor, feature: DistSQL

#30063 Rename ShowSPIImplementationsExecutor to ShowPluginExecutor
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmPluginResultRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.rql.spi.ShowSPIImplementationsResultRowBuilder
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmPluginResultRowBuilderTest.java
  features/readwrite-splitting/distsql/parser/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/core/ReadwriteSplittingDistSQLStatementVisitor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmPluginResultRowBuilder.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.plugin.ShowPluginResultRowBuilder
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingAlgorithmPluginResultRowBuilderTest.java
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/plugin/ShowPluginExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/plugin/ShowPluginResultRowBuilder.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
  parser/distsql/statement/src/main/java/org/apache/shardingsphere/distsql/statement/ral/queryable/show/ShowPluginStatement.java
Labels: type: refactor, feature: DistSQL

#30066 Rename ShowPluginsExecutor and move from RQL to RAL
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmPluginsResultRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.ral.plugin.ShowPluginsResultRowBuilder
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmPluginsResultRowBuilderTest.java
  features/readwrite-splitting/distsql/parser/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/core/ReadwriteSplittingDistSQLStatementVisitor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmPluginsResultRowBuilder.java
  features/sharding/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.ral.plugin.ShowPluginsResultRowBuilder
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowShardingAlgorithmPluginsResultRowBuilderTest.java
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/ShowPluginsExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/ShowPluginsResultRowBuilder.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
  parser/distsql/statement/src/main/java/org/apache/shardingsphere/distsql/statement/ral/queryable/show/ShowPluginsStatement.java
Labels: type: refactor, feature: DistSQL

#30068 Move ShowAuthorityRuleExecutor package
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/executor/query/ShowAuthorityRuleExecutor.java
  kernel/authority/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
  kernel/authority/distsql/handler/src/test/java/org/apache/shardingsphere/authority/distsql/handler/executor/query/ShowAuthorityRuleExecutorTest.java
Labels: type: refactor, feature:authority, feature: DistSQL

#30067 Remove heldByConnection flag and call connect and disconnect in ShardingSphereConnection
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/kernel/model/ExecutionGroupReportContext.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/YamlProcess.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapper.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessListSwapperTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapperTest.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutor.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutorTest.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutorTest.java
Labels: type: refactor, in: kernel

#30002 Support parsing SQL Server INSERT INTO sql #29193
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/case/dml/update.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/update.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#30070 Remove useless pipeline distsql fixtures
  kernel/data-pipeline/distsql/handler/src/test/java/org/apache/shardingsphere/data/pipeline/spi/ratelimit/InputJobRateLimitAlgorithmFixture.java
  kernel/data-pipeline/distsql/handler/src/test/java/org/apache/shardingsphere/data/pipeline/spi/ratelimit/OutputJobRateLimitAlgorithmFixture.java
  kernel/data-pipeline/distsql/handler/src/test/resources/META-INF/services/org.apache.shardingsphere.data.pipeline.core.ratelimit.JobRateLimitAlgorithm
Labels: in: test, feature: pipeline

#30075 Refactor show processlist and kill logic
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/exception/SQLExecutionInterruptedException.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/engine/driver/jdbc/JDBCExecutorCallback.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/engine/raw/callback/RawSQLExecutorCallback.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessRegistry.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/yaml/swapper/YamlProcessSwapper.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngineTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/NewProcessListChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/subscriber/ProcessListChangedSubscriberTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/subscriber/StandaloneProcessSubscriber.java
Labels: type: refactor, in: kernel

#30077 Refactor PrivilegeProvider
  kernel/authority/api/src/main/java/org/apache/shardingsphere/authority/spi/PrivilegeProvider.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
  kernel/authority/core/src/test/java/org/apache/shardingsphere/authority/fixture/PrivilegeProviderFixture.java
  kernel/authority/provider/database/src/main/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProvider.java
  kernel/authority/provider/database/src/test/java/org/apache/shardingsphere/authority/provider/database/DatabasePermittedPrivilegeProviderTest.java
  kernel/authority/provider/simple/src/main/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProvider.java
  kernel/authority/provider/simple/src/test/java/org/apache/shardingsphere/authority/provider/simple/AllPermittedPrivilegeProviderTest.java
Labels: type: refactor, feature:authority

#30078 Remove useless codes on AuthenticatorFactory
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authentication/AuthenticatorFactory.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/rule/AuthorityRule.java
Labels: type: refactor, feature:authority

#30081 Add SPIMatchedCheckerTest to verify invalid SPI registry
  proxy/bootstrap/src/test/java/org/apache/shardingsphere/proxy/SPIMatchedCheckerTest.java
Labels: in: test

#30080 Refactor DistSQL syntax show xxx implementations to show xxx plugins
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/Keyword.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RALStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/EncryptDistSQLStatement.g4
  features/encrypt/distsql/parser/src/main/java/org/apache/shardingsphere/encrypt/distsql/parser/core/EncryptDistSQLStatementVisitor.java
  features/mask/distsql/parser/src/main/antlr4/imports/mask/Keyword.g4
  features/mask/distsql/parser/src/main/antlr4/imports/mask/RALStatement.g4
  features/mask/distsql/parser/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/MaskDistSQLStatement.g4
  features/mask/distsql/parser/src/main/java/org/apache/shardingsphere/mask/distsql/parser/core/MaskDistSQLStatementVisitor.java
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/Keyword.g4
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/RALStatement.g4
  features/readwrite-splitting/distsql/parser/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/ReadwriteSplittingDistSQLStatement.g4
  features/readwrite-splitting/distsql/parser/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/core/ReadwriteSplittingDistSQLStatementVisitor.java
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/Keyword.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/RALStatement.g4
  features/shadow/distsql/parser/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/ShadowDistSQLStatement.g4
  features/shadow/distsql/parser/src/main/java/org/apache/shardingsphere/shadow/distsql/parser/core/ShadowDistSQLStatementVisitor.java
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Keyword.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/RALStatement.g4
  features/sharding/distsql/parser/src/main/antlr4/sharding/org/apache/shardingsphere/distsql/parser/autogen/ShardingDistSQLStatement.g4
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  parser/distsql/engine/src/main/antlr4/imports/Keyword.g4
  parser/distsql/engine/src/main/antlr4/imports/RALStatement.g4
  parser/distsql/engine/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/KernelDistSQLStatement.g4
  parser/distsql/engine/src/main/java/org/apache/shardingsphere/distsql/parser/core/kernel/KernelDistSQLStatementVisitor.java
Labels: type: refactor, feature: DistSQL

#30082 Refactor ShowAuthorityRuleExecutor and test case
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
  kernel/authority/distsql/handler/src/test/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutorTest.java
Labels: type: refactor, feature:authority, feature: DistSQL

#30084 Refactor DistSQLQueryExecuteEngine
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/DistSQLQueryExecuteEngine.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/DistSQLUpdateExecuteEngine.java
Labels: type: refactor, feature: DistSQL

#30086 Adjust order of DistSQLQueryExecutor's impl methods
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingJobStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingListExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckAlgorithmsExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationJobStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationListExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationSourceStorageUnitsExecutor.java
Labels: type: refactor, feature: DistSQL

#30087 Fix ral e2e failure
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/ral/plugin/PluginMetaDataQueryResultRows.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/ShowPluginsExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/type/ShowKeyGenerateAlgorithmPluginsResultRowBuilder.java
  infra/distsql-handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.ral.plugin.ShowPluginsResultRowBuilder
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
  kernel/authority/distsql/handler/src/test/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutorTest.java
Labels: in: test, feature: DistSQL

#30085 Add GraalVM Reachability Metadata and corresponding nativeTest for Atomikos and Narayana integration
  distribution/proxy-native/pom.xml
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.atomikos/transactions/6.0.0/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.h2database/h2/2.2.224/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.jboss.narayana.jta/jta/5.12.4.Final/reflect-config.json
  pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/ZookeeperTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/xa/AtomikosTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/xa/NarayanaTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/resource-config.json
  test/native/src/test/resources/jbossts-properties.xml
  test/native/src/test/resources/test-native/yaml/modes/cluster/etcd.yaml
  test/native/src/test/resources/test-native/yaml/modes/cluster/zookeeper.yaml
  test/native/src/test/resources/test-native/yaml/transactions/xa/atomikos.yaml
  test/native/src/test/resources/test-native/yaml/transactions/xa/narayana.yaml
Labels: type: enhancement, feature: transaction

#30090 Refactor ShowPluginsExecutor
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptAlgorithmPluginsResultRowBuilder.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskAlgorithmPluginsResultRowBuilder.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadQueryLoadBalanceAlgorithmPluginsResultRowBuilder.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowAlgorithmPluginsResultRowBuilder.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmPluginsResultRowBuilder.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/ral/plugin/PluginMetaDataQueryResultRows.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/ShowPluginsExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/ShowPluginsResultRowBuilder.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/ral/plugin/type/ShowKeyGenerateAlgorithmPluginsResultRowBuilder.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckAlgorithmsExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowCommonPluginsResultRowBuilder.java
Labels: type: refactor, feature: DistSQL

#30095 Merge 2 constructors became 1 on LocalDataQueryResultRow
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowRuleExecutor.java
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataMergedResultTest.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationSourceStorageUnitsExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/MySQLSystemVariableQueryExecutor.java
Labels: type: refactor, feature: DistSQL

#30096 Refactor ShowMigrationSourceStorageUnitsExecutor
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShadowAlgorithmTypeAndClassMapper.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShardingAlgorithmTypeAndClassMapper.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationSourceStorageUnitsExecutor.java
Labels: type: refactor, feature: pipeline, feature: DistSQL

#30098 Remove invalid Jakarta EE 8 dependency LICENSE
  distribution/proxy/src/main/release-docs/LICENSE
  distribution/proxy/src/main/release-docs/licenses/LICENSE-jakarta.annotation-api.txt
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCase.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/TestCaseAssertion.java
  pom.xml
Labels: type: refactor, type: license, type: dependencies

#30097 Add convert on LocalDataQueryResultRow
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowReadwriteSplittingRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowStatusFromReadwriteSplittingRulesExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowDefaultShadowAlgorithmExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowAlgorithmsExecutor.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAuditorsExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingKeyGeneratorExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowUnusedShardingAlgorithmsExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowUnusedShardingAuditorsExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowUnusedShardingKeyGeneratorExecutor.java
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  kernel/authority/distsql/handler/src/main/java/org/apache/shardingsphere/authority/distsql/handler/query/ShowAuthorityRuleExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationJobStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationListExecutor.java
  kernel/global-clock/distsql/handler/src/main/java/org/apache/shardingsphere/globalclock/distsql/handler/query/ShowGlobalClockRuleExecutor.java
  kernel/sql-federation/distsql/handler/src/main/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutor.java
  kernel/sql-translator/distsql/handler/src/main/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutor.java
  kernel/traffic/distsql/handler/src/main/java/org/apache/shardingsphere/traffic/distsql/handler/query/ShowTrafficRuleExecutor.java
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/query/ShowTransactionRuleExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowComputeNodeModeExecutor.java
Labels: type: refactor, feature: DistSQL

#30099 Fix transaction deadlock test case
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/deadlock/TransactionDeadlockTestCase.java
Labels: type: bug, feature: transaction, in: test

#30101 Refactor usage of LocalDataQueryResultRow
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutor.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/ShowStatusFromReadwriteSplittingRulesExecutorTest.java
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/query/ShowShadowAlgorithmsExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowDefaultShardingStrategyExecutor.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/query/ShowDefaultShardingStrategyExecutorTest.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingJobStatusExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingListExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationCheckStatusExecutor.java
  kernel/sql-federation/distsql/handler/src/main/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutor.java
  kernel/sql-federation/distsql/handler/src/test/java/org/apache/shardingsphere/sqlfederation/distsql/handler/query/ShowSQLFederationRuleExecutorTest.java
Labels: type: refactor, feature: DistSQL

#30102 Remove the use of jbossts-properties.xml in nativeTest via Narayana Java API
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/xa/NarayanaTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/resource-config.json
  test/native/src/test/resources/jbossts-properties.xml
Labels: in: test

#30103 Fix javadoc
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/SystemSchemaBuilder.java
Labels: type: refactor

#30104 Replace ShardingSphereURLProvider.accept to getPrefix
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProvider.java
Labels: in: JDBC, type: refactor

#30106 Remove duplicate code on DistSQLQueryExecuteEngine
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/query/DistSQLQueryExecuteEngine.java
Labels: type: refactor, feature: DistSQL

#30107 Fix test case of count-broadcast-rule
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
Labels: in: test, feature: DistSQL

#30110 Add LocalDataQueryResultRowTest
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingTableRuleExecutor.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/props/PropertiesConverterTest.java
  infra/merge/pom.xml
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRowTest.java
  kernel/sql-translator/distsql/handler/src/test/java/org/apache/shardingsphere/sqltranslator/distsql/handler/update/AlterSQLTranslatorRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutorTest.java
Labels: type: refactor, in: test

#30112 Add Optional process logic in LocalDataQueryResultRow
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRowTest.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingJobStatusExecutor.java
Labels: type: refactor, feature: DistSQL

#30113 Refactor usage of LocalDataQueryResultRow
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowDefaultShardingStrategyExecutor.java
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingTableRuleExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/resource/ShowStorageUnitExecutor.java
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataQueryResultRow.java
  infra/merge/src/test/java/org/apache/shardingsphere/infra/merge/result/impl/local/LocalDataMergedResultTest.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingListExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/query/ShowMigrationJobStatusExecutor.java
  kernel/sql-translator/distsql/handler/src/main/java/org/apache/shardingsphere/sqltranslator/distsql/handler/query/ShowSQLTranslatorRuleExecutor.java
  kernel/traffic/distsql/handler/src/main/java/org/apache/shardingsphere/traffic/distsql/handler/query/ShowTrafficRuleExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowComputeNodeInfoExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowComputeNodeModeExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowComputeNodesExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ShowTableMetaDataExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowVersionExecutor.java
Labels: type: refactor, feature: DistSQL

#30114 Refactor ArgsUtils.getConfigurationSubject()
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/ShowEncryptRuleExecutor.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProvider.java
Labels: in: JDBC, type: refactor

#30115 Rename ShardingSphereURLProvider.getConfigurationType()
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProvider.java
Labels: in: JDBC, type: refactor

#30116 Refactor ShardingSphereURLProvider.getContent()
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProvider.java
Labels: in: JDBC, type: refactor

#30117 Fix test cases of ShardingSphereURLProvider
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProviderTest.java
Labels: in: JDBC, type: refactor, in: test

#30118 Refactor AbsolutePathWithEnvironmentURLProviderTest
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProviderTest.java
Labels: in: JDBC, type: refactor, in: test

#30120 Use placeholder type instead of config type in ShardingSphereURLProvider
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/reader/ConfigurationContentReaderType.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/absolutepath/AbsolutePathWithEnvironmentURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentPlaceholderType.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
  jdbc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.driver.jdbc.core.driver.url.ShardingSphereURLProvider
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithEnvironmentURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/spi/classpath/ClasspathWithSystemPropsURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManagerTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReaderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProviderTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/MySQLTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/OpenGaussTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/ZookeeperTest.java
Labels: in: JDBC, type: refactor

#30122 Add ShardingSphereURLArgument
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ShardingSphereURLArgument.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReaderTest.java
Labels: in: JDBC, type: refactor

#30123 Rename URLArgumentLine
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ShardingSphereURLArgument.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/URLArgumentLine.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/URLArgumentPlaceholderType.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReader.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReaderTest.java
Labels: in: JDBC, type: refactor

#30124 Add URLArgumentPlaceholderTypeFactory
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/URLArgumentPlaceholderTypeFactory.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
Labels: in: JDBC, type: refactor

#30125 Rename ArgsUtils to ShardingSphereURLParser
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURL.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/ArgsUtils.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30126 Refactor ShardingSphereURLManager
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURL.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManagerTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30127 Add SingletonSPI on ShardingSphereURLProvider
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLProvider.java
Labels: in: JDBC, type: refactor

#30128 Refactor ShardingSphereURLManager
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManagerTest.java
Labels: in: JDBC, type: refactor

#30130 Remove useless ShardingSphereURLManager.getContent()
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
Labels: in: JDBC, type: refactor

#30121 Updates Known Implementation documentation for ShardingSphere JDBC Driver
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
Labels: in: document

#30131 Merge ShardingSphereURLManager and ShardingSphereURL
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURL.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManager.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProvider.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProvider.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLManagerTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClasspathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30133 Rename ClassPathURLProvider
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLProvider.java
  jdbc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.driver.jdbc.core.driver.url.ShardingSphereURLProvider
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30134 Rename ClassPathURLProvider to ShardingSphereURLLoader
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLLoader.java
  jdbc/core/src/main/resources/META-INF/services/org.apache.shardingsphere.driver.jdbc.core.driver.url.ShardingSphereURLLoader
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30135 Add ShardingSphereURLTest
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLTest.java
Labels: in: JDBC, in: test

#30136 Rname YamlShardingSphereDataSourceFactory.RULE_CONFIG_SWAPPER
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlShardingSphereDataSourceFactory.java
Labels: in: JDBC, type: refactor

#30139 Refactor ConfigurationContentReader
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURL.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLLoader.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReaderTest.java
Labels: in: JDBC, type: refactor

#30140 Rename ConfigurationContentReader to URLArgumentLineRender
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/URLArgumentLineRender.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/reader/ConfigurationContentReader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLLoader.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/arg/URLArgumentLineRenderTest.java
Labels: in: JDBC, type: refactor

#30141 Refactor ClassPathURLLoader and AbsolutePathURLLoader
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLLoader.java
Labels: in: JDBC, type: refactor

#30142 Add ShardingSphereURLLoadEngine
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLLoadEngine.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/ShardingSphereURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLLoader.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLLoader.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/AbsolutePathURLProviderTest.java
  jdbc/core/src/test/java/org/apache/shardingsphere/driver/jdbc/core/driver/url/type/ClassPathURLProviderTest.java
Labels: in: JDBC, type: refactor

#30143 Remove useless jdbc-core dependency in Proxy bootstrap module
  proxy/bootstrap/pom.xml
Labels: in: proxy, type: dependencies

#30149 Rename package of AbsolutePathURLLoader
  infra/url/type/absolutepath/src/main/java/org/apache/shardingsphere/infra/url/type/absolutepath/AbsolutePathURLLoader.java
  infra/url/type/absolutepath/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.url.ShardingSphereURLLoader
  infra/url/type/absolutepath/src/test/java/org/apache/shardingsphere/infra/url/type/absolutepath/AbsolutePathURLLoaderTest.java
Labels: type: refactor, in: kernel

#30150 Refactor ShardingSphereURL.parameters to queryProps
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/ShardingSphereURL.java
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/ShardingSphereURLLoadEngine.java
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/arg/URLArgumentPlaceholderTypeFactory.java
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/ShardingSphereURLTest.java
  infra/url/spi/src/main/java/org/apache/shardingsphere/infra/url/ShardingSphereURLLoader.java
  infra/url/type/absolutepath/src/main/java/org/apache/shardingsphere/infra/url/type/absolutepath/AbsolutePathURLLoader.java
  infra/url/type/absolutepath/src/test/java/org/apache/shardingsphere/infra/url/type/absolutepath/AbsolutePathURLLoaderTest.java
  infra/url/type/classpath/src/main/java/org/apache/shardingsphere/infra/url/type/classpath/ClassPathURLLoader.java
  infra/url/type/classpath/src/test/java/org/apache/shardingsphere/infra/url/type/classpath/ClassPathURLLoaderTest.java
Labels: type: refactor, in: kernel

#30151 Add test cases for URLArgumentPlaceholderTypeFactory
  infra/url/core/pom.xml
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/arg/URLArgumentPlaceholderTypeFactoryTest.java
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/exception/URLProviderNotFoundExceptionTest.java
Labels: in: test, in: kernel

#30147 Enhance Oracle createMaterializedView SQL parse
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  test/it/parser/src/main/resources/case/ddl/create-materialized-view.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-materialized-view.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#30154 Support parsing SQL Server SELECT d.name, sql #29181
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/sqlserver/dml/SQLServerSelectStatement.java
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-join.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#30146 Bump `io.seata:seata-all` for testing to 2.0.0
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.en.md
  kernel/transaction/type/base/seata-at/pom.xml
  kernel/transaction/type/base/seata-at/src/test/resources/file.conf
  kernel/transaction/type/base/seata-at/src/test/resources/seata.conf
  pom.xml
Labels: feature: transaction, in: test, in: document, type: dependencies

#30156 Remove deprecated schemaName in YamlRootConfiguration
  infra/common/src/main/java/org/apache/shardingsphere/infra/yaml/config/pojo/YamlRootConfiguration.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlJDBCConfiguration.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/config/ProxyConfigurationLoader.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/config/yaml/YamlProxyDatabaseConfiguration.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutorTest.java
Labels: type: refactor, in: kernel

#30157 Add YamlJDBCConfiguration.rebuild()
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlJDBCConfiguration.java
  jdbc/core/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlShardingSphereDataSourceFactory.java
Labels: in: JDBC, type: refactor

#30132 Updates Narayana Implementation documentation for CoreEnvironmentBean.nodeIdentifier
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/narayana.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/narayana.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
Labels: in: document
