Repository apache/shardingsphere, pull requests merged in 2024-09, with the labels that each got.

#32678 Improve the parsing of methods in MySQL
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#32758 Add PipelineJobPreparer
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/preparer/PipelineJobPreparer.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/incremental/IncrementalTaskPositionManager.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/metadata/processor/MigrationJobConfigurationChangedProcessor.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/preparer/MigrationJobPreparer.java
Labels: type: refactor, feature: pipeline

#32759 Merge AbstractInseparablePipelineJob and CDCJob
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/AbstractInseparablePipelineJob.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/CDCJob.java
Labels: type: refactor, feature: pipeline

#32760 Refactor CDCJobPreparer
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/CDCJob.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/prepare/CDCJobPreparer.java
Labels: type: refactor, feature: pipeline

#32761 Refactor CDCJobPreparer
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/prepare/CDCJobPreparer.java
Labels: type: refactor, feature: pipeline

#32762 Add PipelineJobExecutor
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/executor/DistributedPipelineJobExecutor.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/executor/DistributedPipelineJobExecutorCallback.java
  kernel/data-pipeline/scenario/consistencycheck/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckJob.java
  kernel/data-pipeline/scenario/consistencycheck/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/ConsistencyCheckJobExecutorCallback.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJob.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJobExecutorCallback.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/scenario/consistencycheck/ConsistencyCheckJobExecutorCallbackTest.java
Labels: type: refactor, feature: pipeline

#32766 Refactor TransmissionTasksRunner
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/runner/TransmissionTasksRunner.java
Labels: type: refactor, feature: pipeline

#32763 Fix the generated key column name case insensitivity error(#32756)
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/insert/keygen/engine/GeneratedKeyContextEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContext.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/insert/keygen/engine/GeneratedKeyContextEngineTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/model/ShardingSphereSchema.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/model/ShardingSphereTable.java
  test/e2e/sql/src/test/resources/cases/dml/dataset/db/insert_single_with_generate_key_column.xml
  test/e2e/sql/src/test/resources/cases/dml/e2e-dml-insert.xml
  test/e2e/sql/src/test/resources/env/scenario/db/data/actual/init-sql/mysql/01-actual-init.sql
Labels: type: bug, in: kernel

#32764 Move the teardown code for the DML E2E test to the finally block.
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/GeneralDMLE2EIT.java
Labels: in: test

#32769 Refactor MigrationJobPreparer
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/runner/TransmissionTasksRunner.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/preparer/MigrationJobPreparer.java
Labels: type: refactor, feature: pipeline

#32755 Make mask syntax consistent with upper and lower case
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutor.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutor.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutorTest.java
Labels: type: refactor, feature: DistSQL

#32770 Add more TODO comments on DataConsistencyCheckUtils
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/DataConsistencyCheckUtils.java
Labels: type: refactor, feature: pipeline

#32771 Refactor ShowMaskRuleExecutorTest
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/ShowMaskRuleExecutorTest.java
Labels: in: test

#32773 Revise javadoc of PipelineDataSource
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datasource/PipelineDataSource.java
Labels: type: refactor, feature: pipeline

#32774 Remove useless TODO on PipelineContextManagerLifecycleListener
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/listener/PipelineContextManagerLifecycleListener.java
Labels: type: refactor, feature: pipeline

#32775 Rename PipelineJobUpdateProgress
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/ConsistencyCheckJobItemProgressContext.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/MatchingTableInventoryChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/SingleChannelConsumerImporter.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/sink/PipelineSink.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/sink/type/PipelineDataSourceSink.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/progress/listener/PipelineJobProgressListener.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/job/progress/listener/PipelineJobUpdateProgress.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/context/CDCJobItemContext.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/importer/CDCImporter.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/importer/sink/PipelineCDCSocketSink.java
  kernel/data-pipeline/scenario/cdc/core/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/core/importer/sink/PipelineCDCSocketSinkTest.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyChecker.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/context/MigrationJobItemContext.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/fixture/algorithm/FixtureTransmissionJobItemContext.java
Labels: type: refactor, feature: pipeline

#32780 Add todo on InventoryRecordsCountCalculator
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/inventory/calculator/InventoryRecordsCountCalculator.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/core/prepare/CDCJobPreparer.java
Labels: type: refactor, feature: pipeline

#32781 Fix sonar issue of InsertStatementContext
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContext.java
Labels: type: refactor, in: kernel

#32783 Add : add swap to sonar checkstyle
  .github/workflows/nightly-check.yml
Labels: type: refactor

#32782 Design a longer wait time before executing INSERT SQL in nativeTest of Zookeeper and Etcd
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/TestShardingService.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/ZookeeperTest.java
Labels: type: refactor, in: test, in: proxy native

#32784 Refactor : update the swap script since apache does not accept the pierotofy action
  .github/workflows/nightly-check.yml
Labels: type: refactor

#32785 Refactor : update the checkstyle command
  .github/workflows/nightly-check.yml
Labels: type: refactor

#32787 Refactor : update the checkstyle action for sonarcloud
  .github/workflows/nightly-check.yml
Labels: type: refactor

#32788 Fix sonar issue on ComputeNodeInstanceContext
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstanceContext.java
Labels: mode: cluster, type: refactor

#32767 Improve the parsing of methods in MySQL and Doris
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: in: test, in: SQL parse, db: MySQL, db: Doris

#32789 Improve the parsing of methods in MySQL and Doris
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: type: enhancement, in: SQL parse, db: MySQL, db: Doris

#32794 Bump the Presto JDBC Driver version used in the unit test
  pom.xml
Labels: type: dependencies

#32791 Optimize MetaDataRefreshEngine, use storage unit database type when refresh metadata
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/MetaDataRefreshEngine.java
Labels: type: enhancement, in: metadata

#32803 Refactor ShowTableStatusMergedResult
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dal/show/ShowTableStatusMergedResult.java
Labels: type: refactor

#32806 Add more test cases on JDBCRepository
  mode/type/standalone/repository/provider/jdbc/src/main/java/org/apache/shardingsphere/mode/repository/standalone/jdbc/JDBCRepository.java
  mode/type/standalone/repository/provider/jdbc/src/test/java/org/apache/shardingsphere/mode/repository/standalone/jdbc/JDBCRepositoryTest.java
  mode/type/standalone/repository/provider/jdbc/src/test/resources/logback-test.xml
Labels: type: refactor, mode: standalone

#32807 Add more test cases on StandaloneWorkerIdGenerator
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/workerid/StandaloneWorkerIdGeneratorTest.java
Labels: in: test, mode: standalone

#32790 Bump `opentelemetry-bom` to 1.41.0
  agent/plugins/tracing/type/opentelemetry/pom.xml
  pom.xml
Labels: type: dependencies

#32808 Add more test cases on StandaloneProcessPersistService
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandaloneProcessPersistServiceTest.java
Labels: in: test, mode: standalone

#32811 Add more test cases on ZookeeperExceptionHandler
  mode/type/cluster/repository/provider/zookeeper/src/test/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/handler/ZookeeperExceptionHandlerTest.java
Labels: mode: cluster, in: test

#32779 #31892 Refactor: Removed redundant indents from g4 files.
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/BaseRule.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/Literals.g4
  features/mask/distsql/parser/src/main/antlr4/imports/mask/BaseRule.g4
  features/mask/distsql/parser/src/main/antlr4/imports/mask/Literals.g4
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/BaseRule.g4
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/Keyword.g4
  features/readwrite-splitting/distsql/parser/src/main/antlr4/imports/readwrite-splitting/Literals.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/BaseRule.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/Keyword.g4
  features/shadow/distsql/parser/src/main/antlr4/imports/shadow/Literals.g4
  features/sharding/distsql/parser/src/main/antlr4/imports/sharding/Keyword.g4
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/Literals.g4
  kernel/data-pipeline/distsql/parser/src/main/antlr4/imports/migration/RALStatement.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/BaseRule.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/ClickHouseKeyword.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/DMLStatement.g4
  parser/sql/dialect/clickhouse/src/main/antlr4/imports/clickhouse/Keyword.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/BaseRule.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DALStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DDLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DMLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/Keyword.g4
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/BaseRule.g4
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DMLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/Keyword.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DALStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/Keyword.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/BaseRule.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/DALStatement.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/DDLStatement.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/DMLStatement.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/Keyword.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/Literals.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/OpenGaussKeyword.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DCLStatement.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/Keyword.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/OracleKeyword.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/PLSQL.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/BaseRule.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/DALStatement.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/DDLStatement.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/Literals.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/ModeLexer.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/PostgreSQLKeyword.g4
  parser/sql/dialect/presto/src/main/antlr4/imports/presto/BaseRule.g4
  parser/sql/dialect/presto/src/main/antlr4/imports/presto/DALStatement.g4
  parser/sql/dialect/presto/src/main/antlr4/imports/presto/DMLStatement.g4
  parser/sql/dialect/presto/src/main/antlr4/imports/presto/Keyword.g4
  parser/sql/dialect/sql92/src/main/antlr4/imports/sql92/BaseRule.g4
  parser/sql/dialect/sql92/src/main/antlr4/imports/sql92/DMLStatement.g4
  parser/sql/dialect/sql92/src/main/antlr4/imports/sql92/Keyword.g4
Labels: type: refactor

#32818 Remove duplicate e2e case in db, tbl scenario
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-select-join.xml
Labels: type: refactor, in: test

#32819 Add test cases on SessionConnectionReconnectListener
  mode/type/cluster/repository/provider/zookeeper/src/test/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/listener/SessionConnectionReconnectListenerTest.java
Labels: in: test, mode: standalone

#32820 Fix sonar issue on StandaloneProcessPersistServiceTest
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandaloneProcessPersistServiceTest.java
Labels: type: refactor, in: test

#32821 Add test cases for StandaloneMetaDataManagerPersistService
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/pojo/AlterSchemaPOJO.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandaloneMetaDataManagerPersistServiceTest.java
Labels: in: test, mode: standalone

#32823 Enhance Oracle update statement as alias parse and add test case
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  test/it/parser/src/main/resources/sql/supported/dml/update.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#32824 Modify InsertStatement#getTable method return Optional to adapt Oracle insert multi statements
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/rewriter/EncryptInsertOnDuplicateKeyUpdateValueParameterRewriter.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/rewriter/EncryptInsertValueParameterRewriter.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertCipherNameTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDefaultColumnsTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDerivedColumnsTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertOnUpdateTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertValuesTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDerivedColumnsTokenGeneratorTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertOnUpdateTokenGeneratorTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/InsertClauseShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/dml/impl/ShardingInsertStatementValidator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/InsertClauseShardingConditionEngineTest.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/insert/keygen/engine/GeneratedKeyContextEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinder.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/statement/InsertStatementBinderTest.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/statement/insert/InsertStatementConverter.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dml/InsertStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/util/TableExtractor.java
  parser/sql/statement/core/src/test/java/org/apache/shardingsphere/sql/parser/statement/core/util/TableExtractorTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareParameterMarkerExtractor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/InsertStatementAssert.java
Labels: type: refactor, in: SQL parse, in: kernel

#32825 update jacoco check workflow to avoid useless analysis
  .github/workflows/nightly-check.yml
  .github/workflows/resources/scripts/unit-test-coverage-merge/code-coverage-merge.sh
  pom.xml
Labels: type: refactor

#32826 Set default character set of mysql5 to utf8mb4 for pipeline E2E
  test/e2e/operation/pipeline/src/test/resources/env/mysql/mysql5/my.cnf
  test/e2e/operation/pipeline/src/test/resources/env/scenario/create-table-generator/mysql/create-table-sql-generator.xml
Labels: type: refactor, in: test

#32828 Minor refactor for sharding insert clause condition handle logic
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/InsertClauseShardingConditionEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/table/TablesContext.java
  test/e2e/sql/src/test/resources/cases/dml/dataset/tbl/batch_insert_all_into_order_table.xml
Labels: feature: sharding, type: refactor

#32833 Add test cases for ClusterContextManagerBuilder
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstanceContext.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/PersistServiceFacade.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilderTest.java
Labels: mode: cluster, in: test

#32817 URLArgumentLine to support multiple expressions on the one line
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
  infra/url/core/src/main/java/org/apache/shardingsphere/infra/url/core/arg/URLArgumentLine.java
  infra/url/core/src/test/java/org/apache/shardingsphere/infra/url/core/arg/URLArgumentLineTest.java
Labels: type: enhancement, in: infra

#32834 Add test cases for StandaloneContextManager
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilderTest.java
Labels: in: test, mode: standalone

#32836 Support cte with postgres and openGauss
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/DMLStatement.g4
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/OpenGaussStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/PostgreSQLStatementVisitor.java
Labels: type: enhancement, db: PostgreSQL, db: openGauss

#32838 Add test cases for ClusterPersistServiceBuilder and StandalonePersistServiceBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterPersistServiceBuilderTest.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandalonePersistServiceBuilderTest.java
Labels: mode: cluster, in: test

#32839 Add test cases for ReservationPersistService
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ReservationPersistServiceTest.java
Labels: mode: cluster, in: test

#32841 Remove duplicate SubstitutableColumnNameToken judgments in SQL Builder
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/sql/impl/AbstractSQLBuilder.java
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/sql/impl/DefaultSQLBuilder.java
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/sql/impl/RouteSQLBuilder.java
Labels: type: refactor, in: kernel

#32845 Support array type prepared param in PostgreSQL
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/PostgreSQLColumnType.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/text/impl/PostgreSQLTextArrayValueParser.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/text/impl/PostgreSQLVarcharArrayValueParser.java
Labels: type: bug, in: proxy, db: PostgreSQL, in: portocol

#32842 Refactor ShardingSphereJdbcContainer.
  test/e2e/env/pom.xml
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/ITContainers.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereJdbcContainer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/container/compose/mode/StandaloneContainerComposer.java
Labels: type: refactor, in: test

#32844 Add more test cases on ReservationPersistService
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ReservationPersistServiceTest.java
Labels: mode: cluster, in: test

#32847 Refactor : refactor schedule workflow
  .github/workflows/nightly-check.yml
  .github/workflows/schedule-report.yml
Labels: type: refactor

#32850 Use annotation to instead of cluster mode check for pipeline dist sql executors
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/update/MigrateTableExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/update/RegisterMigrationSourceStorageUnitExecutor.java
Labels: type: refactor, feature: pipeline, feature: DistSQL

#32848 For #32846, add binary protocol value for text array for PostgreSQL
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLBinaryProtocolValueFactory.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLTextArrayBinaryProtocolValue.java
Labels: type: bug, in: proxy, db: PostgreSQL, in: portocol

#32837 Restructures known implementations documentation for JDBC Driver
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/jdbc-driver/known-implementation/_index.en.md
Labels: in: document

#32851 Refactor MigrateTableExecutor
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/handler/update/MigrateTableExecutor.java
Labels: type: refactor, feature: pipeline, feature: DistSQL

#32854 Add test cases on ReadwriteSplittingDataSourceRouter
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingDataSourceRouter.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingDataSourceRouterTest.java
Labels: in: test, feature: readwrite-splitting

#32855 Refactor ProcessOperationLockRegistry
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/lock/ProcessOperationLockRegistry.java
Labels: mode: cluster, type: refactor

#32856 Add test cases on ClusterMetaDataManagerPersistService
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistServiceTest.java
Labels: mode: cluster, type: refactor

#32858 Add test cases on ClusterMetaDataManagerPersistService
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/pojo/AlterSchemaMetaDataPOJO.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistServiceTest.java
Labels: mode: cluster, in: test

#32861 Add test cases on ClusterWorkerIdGenerator
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/workerid/ClusterWorkerIdGenerator.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/workerid/ClusterWorkerIdGeneratorTest.java
  mode/type/cluster/core/src/test/resources/logback-test.xml
Labels: mode: cluster, in: test

#32865 Add test cases on YamlShadowRuleConfigurationSwapperTest
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/yaml/swapper/YamlShadowRuleConfigurationSwapperTest.java
Labels: in: test, feature: shadow

#32866 Add more assertions on YamlEncryptRuleConfigurationSwapperTest
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/yaml/swapper/YamlEncryptRuleConfigurationSwapperTest.java
Labels: feature: encrypt, in: test

#32867 Refactor SelectStatementContext
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContext.java
Labels: type: refactor, in: SQL bind

#32862 Modify readwrite-splitting and shadow order
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/constant/ReadwriteSplittingOrder.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/constant/ShadowOrder.java
Labels: type: refactor, in: kernel

#32868 Refactor DataChangedEventListenerRegistry
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor

#32870 Fix sonar issue
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#32869 For #32857, support binary type bool value for PostgreSQL
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLBinaryProtocolValueFactory.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLBoolBinaryProtocolValue.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLMetaDataLoader.java
Labels: type: bug, in: proxy, db: PostgreSQL, in: portocol

#32873 Add GlobalMetaDataChangedListener
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ListenerAssistedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DatabaseMetaDataChangedListener.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/GlobalMetaDataChangedListener.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistryTest.java
Labels: mode: cluster, type: refactor

#32874 Remove DataChangedEventListenerManager
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ListenerAssistedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerManager.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistry.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistryTest.java
Labels: mode: cluster, type: refactor

#32875 Add test cases for GlobalMetaDataChangedListener
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/GlobalMetaDataChangedListenerTest.java
Labels: mode: cluster, in: test

#32876 Refactor LoadSingleTableExecutor
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
Labels: type: refactor

#32877 Add test cases for DatabaseMetaDataChangedListener
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DatabaseMetaDataChangedListener.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/DatabaseMetaDataChangedListenerTest.java
Labels: mode: cluster, in: test

#32878 Refactor DatabaseMetaDataChangedListenerTest
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/DatabaseMetaDataChangedListenerTest.java
Labels: mode: cluster, in: test

#32879 Use MemberAccessor for set fields
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingDataSourceRouterTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByValueTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/ShardingTokenGenerateBuilderTest.java
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/AlterStorageUnitExecutorTest.java
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/RegisterStorageUnitExecutorTest.java
  infra/parser/src/test/java/org/apache/shardingsphere/infra/parser/cache/SQLStatementCacheLoaderTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/StatementAdapterTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/MetaDataPersistServiceTest.java
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManagerTest.java
  kernel/transaction/type/xa/core/src/test/java/org/apache/shardingsphere/transaction/xa/XAShardingSphereTransactionManagerTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ProcessListChangedSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/listener/DatabaseMetaDataChangedListenerTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistServiceTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/workerid/ClusterWorkerIdGeneratorTest.java
  mode/type/cluster/repository/api/src/test/java/org/apache/shardingsphere/mode/repository/cluster/lock/impl/DefaultDistributedLockTest.java
  mode/type/cluster/repository/provider/etcd/src/test/java/org/apache/shardingsphere/mode/repository/cluster/etcd/EtcdRepositoryTest.java
  mode/type/cluster/repository/provider/zookeeper/src/test/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/listener/SessionConnectionReconnectListenerTest.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandaloneMetaDataManagerPersistServiceTest.java
  parser/sql/engine/src/test/java/org/apache/shardingsphere/sql/parser/api/SQLParserExecutorTest.java
  parser/sql/engine/src/test/java/org/apache/shardingsphere/sql/parser/core/database/cache/ParseTreeCacheLoaderTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/MockConnectionUtils.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportMetaDataExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionBackendHandlerFactoryTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLComQueryPacketExecutorTest.java
Labels: in: test

#32880 Refactor ShardingTokenGenerateBuilderTest
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingDataSourceRouterTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/ShardingTokenGenerateBuilderTest.java
  kernel/transaction/type/base/seata-at/src/test/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManagerTest.java
Labels: type: refactor, in: test

#32881 Add test cases for DatabaseDataChangedSubscriber
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/DatabaseDataChangedSubscriberTest.java
Labels: mode: cluster, in: test

#32882 Add test cases for GlobalRuleConfigurationEventSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/GlobalRuleConfigurationEventSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/GlobalRuleConfigurationEventSubscriberTest.java
Labels: mode: cluster, in: test

#32883 Add test cases for ListenerAssistedSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ListenerAssistedDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/GlobalRuleConfigurationEventSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ListenerAssistedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ListenerAssistedSubscriberTest.java
Labels: mode: cluster, in: test

#32884 Add more test cases for MetaDataChangedSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/MetaDataChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/MetaDataChangedSubscriberTest.java
Labels: mode: cluster, in: test

#32885 Add more test cases for ProcessListChangedSubscriber
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ProcessListChangedSubscriberTest.java
Labels: mode: cluster, in: test

#32886 Refactor ComputeNodeStateSubscriberTest
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ComputeNodeStateSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ComputeNodeStateSubscriberTest.java
Labels: mode: cluster, in: test

#32887 Add test cases for PropertiesEventSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/PropertiesEventSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/PropertiesEventSubscriberTest.java
Labels: mode: cluster, in: test

#32889 Add test cases on QualifiedDataSourceSubscriber
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/QualifiedDataSourceSubscriberTest.java
Labels: mode: cluster, in: test

#32890 Add test cases on RuleItemChangedSubscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ComputeNodeStateSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/GlobalRuleConfigurationEventSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ListenerAssistedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/ProcessListChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/PropertiesEventSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/QualifiedDataSourceSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/RuleItemChangedSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/StorageUnitEventSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/RuleItemChangedSubscriberTest.java
Labels: mode: cluster, in: test

#32891 Add test cases on StateChangedSubscriber
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/StateChangedSubscriberTest.java
Labels: mode: cluster, in: test

#32893 Rename DeliverQualifiedDataSourceSubscriberTest
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/deliver/DeliverQualifiedDataSourceSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/subscriber/dispatch/QualifiedDataSourceSubscriberTest.java
Labels: mode: cluster, in: test

#32894 Rename package of cluster.fixture
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/QualifiedDataSourceNodeTest.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/ReservationNodeTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/fixture/ClusterPersistRepositoryFixture.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/fixture/ProcessListClusterPersistRepositoryFixture.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/fixture/RuleConfigurationFixture.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/fixture/YamlRuleConfigurationFixture.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/fixture/YamlRuleConfigurationSwapperFixture.java
  mode/type/cluster/core/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.yaml.config.swapper.rule.YamlRuleConfigurationSwapper
  mode/type/cluster/core/src/test/resources/META-INF/services/org.apache.shardingsphere.mode.repository.cluster.ClusterPersistRepository
Labels: in: test

#32895 Refactor QualifiedDataSourceDispatchEventBuilderTest
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/QualifiedDataSourceDispatchEventBuilderTest.java
Labels: mode: cluster, in: test

#32896 Refactor DispatchEventBuilder.getSubscribedKey() from Keys to Key
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/DispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/GlobalRuleDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ListenerAssistedDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/PropertiesDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/QualifiedDataSourceDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ShardingSphereDataDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor

#32897 Refactor ComputeNodeOnlineDispatchEventBuilderTest
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilderTest.java
Labels: mode: cluster, type: refactor, in: test

#32898 Refactor ClusterStateDispatchEventBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilder.java
Labels: mode: cluster, type: refactor

#32899 Add more test cases on ComputeNodeStateDispatchEventBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilderTest.java
Labels: mode: cluster, in: test

#32900 Add test cases on GlobalRuleDispatchEventBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/GlobalRuleDispatchEventBuilderTest.java
Labels: mode: cluster, in: test

#32903 Add more test cases on QualifiedDataSourceDispatchEventBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/QualifiedDataSourceDispatchEventBuilderTest.java
Labels: mode: cluster, in: test

#32906 Add test cases for SchemaMetaDataManager
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/MetaDataLoader.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/SchemaMetaDataManager.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/manager/SchemaMetaDataManagerTest.java
Labels: mode: cluster, in: test

#32908 Refactor ContextManagerLifecycleListener
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/listener/ContextManagerLifecycleListener.java
Labels: mode: cluster, type: refactor

#32909 Refactor StateContext
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
Labels: mode: cluster, type: refactor

#32910 Refactor ClusterStateDispatchEventBuilderTest
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilderTest.java
Labels: mode: cluster, in: test

#32911 Add more test cases on StatePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/StatePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/StatePersistServiceTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterReadWriteLockStrategy.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/lock/impl/ClusterWriteLockStrategy.java
Labels: mode: cluster, type: refactor

#32912 Add more test cases on ComputeNodePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/ComputeNodePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/ComputeNodePersistServiceTest.java
  mode/core/src/test/resources/logback-test.xml
Labels: mode: cluster, in: test

#32913 Add more test cases on ComputeNodePersistService
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/update/AlterReadwriteSplittingStorageUnitStatusExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/QualifiedDataSourceStatePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/QualifiedDataSourceStatePersistServiceTest.java
Labels: mode: cluster, in: test

#32915 Add more test cases on QualifiedDataSourceStatePersistService
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/QualifiedDataSourceStatePersistServiceTest.java
Labels: mode: cluster, in: test

#32917 Move cluster state and listener assisted node to StatesNode
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/node/ComputeNode.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/node/StatesNode.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/StatesNodeTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/ListenerAssistedPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/StatePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/ListenerAssistedPersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/persist/service/StatePersistServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ListenerAssistedDispatchEventBuilder.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ClusterStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ListenerAssistedDispatchEventBuilderTest.java
Labels: mode: cluster, type: refactor

#32827 Provides nightly builds on ghcr.io for ShardingSphere Agent
  .github/workflows/nightly-build.yml
  distribution/agent/Dockerfile
  distribution/agent/pom.xml
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.en.md
Labels: feature: agent

#32918 Add ShowProcessListDispatchEventBuilder and KillProcessDispatchEventBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeOnlineDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/KillProcessDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ShowProcessListDispatchEventBuilder.java
  mode/type/cluster/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.cluster.event.builder.DispatchEventBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ComputeNodeStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/KillProcessDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ShowProcessListDispatchEventBuilderTest.java
Labels: mode: cluster, type: refactor

#32919 Refactor GenericSchemaManager
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/manager/GenericSchemaManager.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/GenericSchemaManagerTest.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/MetaDataPersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/database/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/StandaloneMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#32920 Add test cases on RuleConfigurationPersistDecorateEngine
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/decorator/RuleConfigurationPersistDecorateEngineTest.java
Labels: mode: cluster, in: test

#32921 Refactor DatabaseRuleConfigurationManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/DatabaseRuleConfigurationManager.java
Labels: mode: cluster, type: refactor

#32922 Add test cases on StatisticsCollectJob
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJob.java
  kernel/schedule/core/src/test/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobTest.java
Labels: in: test

#32925 Add test cases on StatisticsCollectJobWorker
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorker.java
  kernel/schedule/core/src/test/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorkerTest.java
Labels: in: test

#32924 Fix sonar issues
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ShardingSphereDataDispatchEventBuilderTest.java
Labels: type: refactor, in: test

#32871 Merge test container
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/container/ITContainers.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/container/MySQLContainer.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/container/ShardingSphereJdbcAgentContainer.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/container/ShardingSphereProxyContainer.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/agent/engine/src/test/resources/env/jdbc/conf/config.yaml
  test/e2e/agent/engine/src/test/resources/env/mysql/init.sql
  test/e2e/agent/engine/src/test/resources/env/prometheus/prometheus.yml
  test/e2e/agent/engine/src/test/resources/env/proxy/conf/database-db.yaml
  test/e2e/agent/engine/src/test/resources/env/proxy/conf/global.yaml
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/DockerITContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/ITContainers.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereJdbcContainer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/nested/NestedTransactionTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/engine/base/TransactionContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/jdbc/ShardingSphereJDBCContainer.java
  test/e2e/operation/transaction/src/test/resources/env/jdbc/mysql/database-sharding-local.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/opengauss/database-sharding-local.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/opengauss/database-sharding-xa-atomikos.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/opengauss/database-sharding-xa-narayana.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/postgresql/database-sharding-local.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/postgresql/database-sharding-xa-atomikos.yaml
  test/e2e/operation/transaction/src/test/resources/env/jdbc/postgresql/database-sharding-xa-narayana.yaml
Labels: type: refactor, in: test

#32926 Refactor ShardingSphereDataDispatchEventBuilderTest
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/event/builder/ShardingSphereDataDispatchEventBuilderTest.java
Labels: type: refactor, in: test

#32928 Add test cases on StatisticsCollectContextManagerLifecycleListener
  kernel/schedule/core/src/test/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectContextManagerLifecycleListenerTest.java
Labels: in: test

#32932 Refactor GlobalClockRule
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/rule/GlobalClockRule.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutor.java
Labels: type: refactor, feature: global clock

#32933 Remove TransactionHookAdapter
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/spi/TransactionHookAdapter.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManager.java
Labels: type: refactor, feature: global clock

#32936 Minor refactor in GeneratedKeyContextEngine to avoid IndexOutOfBoundException
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/insert/keygen/engine/GeneratedKeyContextEngine.java
Labels: type: refactor, in: kernel

#32939 Add insert select rewrite for encrypt
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/context/EncryptSQLRewriteContextDecorator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/EncryptParameterRewriterBuilder.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/parameter/rewriter/EncryptInsertPredicateParameterRewriter.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/EncryptTokenGenerateBuilder.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptInsertPredicateColumnTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptInsertPredicateRightValueTokenGenerator.java
  test/e2e/sql/src/test/resources/cases/dml/dataset/encrypt/insert_select_user_table.xml
  test/e2e/sql/src/test/resources/cases/dml/e2e-dml-insert.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/insert/insert-select.xml
Labels: type: enhancement, feature: encrypt

#32942 Refactor GlobalClockTransactionHook
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
Labels: type: refactor, feature: global clock

#32944 Add test cases on GlobalClockTransactionHook
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/type/OpenGaussGlobalClockTransactionExecutor.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHookTest.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/executor/type/OpenGaussGlobalClockTransactionExecutorTest.java
Labels: in: test, feature: global clock

#32945 Supports building ShardingSphere Agent's Docker Image locally
  .github/workflows/nightly-build.yml
  distribution/agent/pom.xml
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.en.md
Labels: type: enhancement, feature: agent

#32948 Add test cases on GlobalClockTransactionHook
  kernel/global-clock/core/pom.xml
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
  kernel/global-clock/core/src/test/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHookTest.java
Labels: in: test, feature: global clock

#32949 Move global-clock-tso-provider-core module to global-clock-tso-provider-local
  jdbc/pom.xml
  kernel/global-clock/type/tso/pom.xml
  kernel/global-clock/type/tso/provider/local/pom.xml
  kernel/global-clock/type/tso/provider/local/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/local/LocalTSOProvider.java
  kernel/global-clock/type/tso/provider/local/src/main/resources/META-INF/services/org.apache.shardingsphere.globalclock.provider.GlobalClockProvider
  kernel/global-clock/type/tso/provider/pom.xml
  kernel/global-clock/type/tso/provider/redis/pom.xml
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/redis/RedisTSOPropertyKey.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/redis/RedisTSOProvider.java
  kernel/global-clock/type/tso/provider/redis/src/main/resources/META-INF/services/org.apache.shardingsphere.globalclock.provider.GlobalClockProvider
  proxy/backend/core/pom.xml
Labels: type: refactor, feature: global clock

#32950 Revise javadoc for TSOProvider
  kernel/global-clock/type/tso/spi/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/TSOProvider.java
Labels: type: refactor, feature: global clock

#32951 Add test cases on LocalTSOProvider
  kernel/global-clock/type/tso/provider/local/src/test/java/org/apache/shardingsphere/globalclock/type/tso/provider/local/LocalTSOProviderTest.java
  kernel/global-clock/type/tso/provider/redis/src/main/java/org/apache/shardingsphere/globalclock/type/tso/provider/redis/RedisTSOProvider.java
Labels: in: test, feature: global clock

#32952 Add test cases on SingleRuleConfiguration
  kernel/single/api/src/test/java/org/apache/shardingsphere/single/config/SingleRuleConfigurationTest.java
Labels: in: test, feature: single

#32953 Refactor SingleTableSegment
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/datanode/SingleTableDataNodeLoaderTest.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutor.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutorTest.java
  kernel/single/distsql/parser/src/main/java/org/apache/shardingsphere/single/distsql/parser/core/SingleDistSQLStatementVisitor.java
  kernel/single/distsql/statement/src/main/java/org/apache/shardingsphere/single/distsql/segment/SingleTableSegment.java
  kernel/single/distsql/statement/src/test/java/org/apache/shardingsphere/single/distsql/segment/SingleTableSegmentTest.java
Labels: type: refactor, feature: single

#32955 Refactor DataNode.format()
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingTableNodesExecutor.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNode.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/exception/kernel/metadata/datanode/UnsupportedActualDataNodeStructureException.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SchemaMetaDataUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/datanode/DataNodeTest.java
Labels: type: refactor, in: infra

#32958 Add more test cases on MetaDataPersistService
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/MetaDataPersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/MetaDataPersistServiceTest.java
Labels: in: test, in: metadata

#32961 Support for federated query NOT operator
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/operator/common/SQLExtensionOperatorTable.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/LiteralExpressionConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/NotExpressionConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/mysql/MySQLOperatorTable.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/mysql/impl/MySQLNotFunction.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/planner/util/SQLFederationPlannerUtils.java
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-select.xml
  test/it/optimizer/src/test/resources/converter/select.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, feature: SQL federation

#32963 Revise code style for MySQLNotFunction
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/mysql/impl/MySQLNotFunction.java
Labels: type: refactor, feature: SQL federation

#32964 Refactor DataNode format
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNode.java
Labels: type: refactor, in: infra

#32965 Add test cases on ShardingSphereDataPersistService
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/data/ShardingSphereDataPersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/data/ShardingSphereDataPersistServiceTest.java
Labels: in: test, in: metadata

#32966 Refactor DataNode
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNode.java
Labels: type: refactor, in: infra

#32968 Refactor ShardingSphereDataPersistService.persist
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/data/ShardingSphereDataPersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/data/ShardingSphereDataPersistServiceTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/ClusterMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#32969 Add more test cases on ShardingSphereDataNode
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/ShardingSphereDataNodeTest.java
Labels: in: test, in: metadata

#32971 Add more test cases on DatabaseMetaDataNode
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/DatabaseMetaDataNodeTest.java
Labels: in: test, in: metadata

#32972 Add more test cases on DataSourceMetaDataNode
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/metadata/DataSourceMetaDataNodeTest.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/metadata/DatabaseRuleMetaDataNodeTest.java
Labels: in: test, in: metadata

#32973 Add more test cases on TableMetaDataNode
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/metadata/TableMetaDataNodeTest.java
Labels: in: test, in: metadata

#32974 Add more test cases on ViewMetaDataNode
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/node/metadata/ViewMetaDataNodeTest.java
Labels: in: test, in: metadata

#32970 Support like concat nested concat statement rewrite with encrypt feature
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptPredicateRightValueTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/pojo/EncryptPredicateFunctionRightValueToken.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/pojo/EncryptPredicateFunctionRightValueTokenTest.java
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-select-aggregate.xml
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-where.xml
Labels: type: enhancement, feature: encrypt

#32975 Add test cases on MetaDataVersionPersistService
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/service/version/MetaDataVersionPersistServiceTest.java
Labels: in: test, in: metadata

#32978 Add test cases on DatabaseMetaDataPersistService
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/database/DatabaseMetaDataPersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/service/database/DatabaseMetaDataPersistServiceTest.java
Labels: in: test, in: metadata

#32981 Refactor ShardingSphereTableRowDataPersistServiceTest
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/service/schema/ShardingSphereTableRowDataPersistServiceTest.java
Labels: in: test

#32982 Add test cases on TableMetaDataPersistService
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/schema/TableMetaDataPersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/service/schema/TableMetaDataPersistServiceTest.java
Labels: in: test, in: metadata

#32985 Add test cases on RepositoryTuplePersistService
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/RepositoryTuplePersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/database/DatabaseRulePersistService.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/persist/service/config/global/GlobalRulePersistService.java
  kernel/metadata/core/src/test/java/org/apache/shardingsphere/metadata/persist/service/config/RepositoryTuplePersistServiceTest.java
Labels: in: test, in: metadata
