Repository apache/shardingsphere, pull requests merged in 2024-06, with the labels that each got.

#31515 Refactor ShardingSphereStatement.metaData
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractStatementAdapter.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutorTest.java
Labels: in: JDBC, type: refactor

#31455 Fix xa doc error
  docs/document/content/features/transaction/_index.en.md
Labels: in: document

#31518 Fix table formats for docs
  docs/document/content/features/transaction/_index.cn.md
  docs/document/content/features/transaction/_index.en.md
Labels: in: document

#31521 Add metaData as field for DriverExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: type: refactor

#31522 Refactor TrafficExecutorCallback
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/executor/TrafficExecutor.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/executor/TrafficExecutorCallback.java
Labels: in: JDBC, type: refactor

#31523 Remove duplicated replay on ShardingSphereStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31524 Refactor ShardingSphereStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31525 Rename DriverExecutor.execute()
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31528 Rename DriverExecutor.getResultSet()
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31514 Fix NPE when import metadata
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/rule/checker/RuleConfigurationCheckEngine.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/ExportMetaDataExecutor.java
Labels: type: bug, in: metadata, feature: DistSQL

#31537 Refactor SQLAuditEngine
  features/sharding/api/src/main/java/org/apache/shardingsphere/sharding/spi/ShardingAuditAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/algorithm/audit/DMLShardingConditionsShardingAuditAlgorithm.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/auditor/ShardingSQLAuditor.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/algorithm/audit/DMLShardingConditionsShardingAuditAlgorithmTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/auditor/ShardingSQLAuditorTest.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/audit/SQLAuditEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/audit/SQLAuditor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
  test/e2e/fixture/src/test/java/org/apache/shardingsphere/test/e2e/fixture/ITShardingAuditAlgorithmFixture.java
Labels: type: refactor, feature: audit

#31541 Add GeneratedKeyColumnProvider
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/keygen/GeneratedKeyColumnProvider.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/keygen/MySQLGeneratedKeyColumnProvider.java
  infra/database/type/mysql/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.keygen.GeneratedKeyColumnProvider
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31542 Remove useless ShardingSpherePreparedStatement.parameterSets
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31543 Refactor ShardingSphereStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31539 Update concept.cn.md
  docs/document/content/features/sharding/concept.cn.md
Labels: in: document

#31540 Update concept.en.md
  docs/document/content/features/sharding/concept.en.md
Labels: in: document

#31544 Refactor ShardingSphereStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31545 Refactor ShardingSpherePreparedStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31569 Refactor DriverExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutor.java
Labels: in: JDBC, type: refactor

#31570 Use ResourceMetaData instead of DataSourceMap for DatabaseRuleBuilder
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/rule/builder/BroadcastRuleBuilder.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/rule/builder/BroadcastRuleBuilderTest.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/builder/EncryptRuleBuilder.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rule/builder/EncryptRuleBuilderTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/rule/builder/MaskRuleBuilder.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/rule/builder/MaskRuleBuilderTest.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/rule/builder/ReadwriteSplittingRuleBuilder.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/rule/builder/ReadwriteSplittingRuleBuilderTest.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/rule/builder/ShadowRuleBuilder.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/rule/builder/ShadowRuleBuilderTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/builder/ShardingRuleBuilder.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rule/builder/ShardingRuleBuilderTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/ShardingSphereDatabase.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/ResourceMetaData.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/builder/database/DatabaseRuleBuilder.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/builder/database/DatabaseRulesBuilder.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/rule/builder/database/DatabaseRulesBuilderTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/rule/builder/fixture/FixtureDatabaseRuleBuilder.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/factory/InternalMetaDataFactory.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/builder/SingleRuleBuilder.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/builder/SingleRuleBuilderTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/service/manager/ConfigurationManager.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/fixture/ModeRuleBuilderFixture.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/YamlDatabaseConfigurationImportExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportDatabaseConfigurationExecutorTest.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: type: refactor, in: infra

#31571 Improve sharding_and_encrypt scenario use standard table
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-join.xml
  test/e2e/sql/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_single_table.xml
  test/e2e/sql/src/test/resources/cases/rql/dataset/sharding_and_encrypt/show_single_tables.xml
  test/e2e/sql/src/test/resources/cases/rql/rql-integration-show.xml
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/dataset.xml
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/h2/01-actual-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/h2/actual-encrypt_ds_0-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/h2/actual-encrypt_ds_1-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/mysql/01-actual-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/opengauss/01-actual-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/actual/init-sql/postgresql/01-actual-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/expected/dataset.xml
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/expected/init-sql/h2/01-expected-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/sql/src/test/resources/env/scenario/sharding_and_encrypt/data/expected/init-sql/postgresql/01-expected-init.sql
Labels: type: refactor, in: test

#31574 Move package of StatementAddCallback and StatementReplayCallback
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/StatementAddCallback.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/StatementReplayCallback.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31573 Fixes the connection of Remote HiveServer2 through HiveServer2 JDBC Driver
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.en.md
  infra/common/src/main/java/org/apache/shardingsphere/infra/database/DatabaseTypeEngine.java
  infra/database/type/clickhouse/src/test/java/org/apache/shardingsphere/infra/database/clickhouse/connector/ClickHouseConnectionPropertiesTest.java
  infra/database/type/clickhouse/src/test/java/org/apache/shardingsphere/infra/database/clickhouse/metadata/database/ClickHouseDatabaseMetaDataTest.java
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/connector/HiveConnectionPropertiesParser.java
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaData.java
  infra/database/type/hive/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.connector.ConnectionPropertiesParser
  infra/database/type/hive/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.DialectDatabaseMetaData
  infra/database/type/hive/src/test/java/org/apache/shardingsphere/infra/database/hive/connector/HiveConnectionPropertiesTest.java
  infra/database/type/hive/src/test/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaDataTest.java
Labels: type: bug, db: Hive

#31575 Fix javadoc format
  infra/common/src/main/java/org/apache/shardingsphere/infra/database/DatabaseTypeEngine.java
Labels: type: refactor, db: Hive

#31577 Remove default DistributedLockHolder in ClusterContextManagerBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/lock/GlobalLockPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/fixture/ClusterPersistRepositoryFixture.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/process/ProcessListClusterPersistRepositoryFixture.java
  proxy/bootstrap/src/test/java/org/apache/shardingsphere/proxy/fixture/ClusterPersistRepositoryFixture.java
Labels: type: refactor, in: mode

#31579 Refactor HiveDatabaseMetaData
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaData.java
Labels: type: refactor, db: Hive

#31578 Move the initialization of cluster state from ClusterContextManagerBuilder to StateContext
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/LockClusterExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/UnlockClusterExecutorTest.java
Labels: type: refactor, in: mode

#31582 Add DriverExecuteBatchExecutor
  infra/database/type/hive/src/test/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaDataTest.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/keygen/GeneratedKeyCallback.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31583 Removed the unused class LogLoader
  test/e2e/agent/plugins/logging/file/src/test/java/org/apache/shardingsphere/test/e2e/agent/file/loader/LogLoader.java
Labels: in: test, feature: agent

#31585 Modify the getDataNodesByTableName method without using stream
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNodes.java
Labels: type: refactor, in: kernel

#31586 Decouple ShardingSpherePreparedStatement and BatchPreparedStatementExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/replay/PreparedStatementParametersReplayCallback.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31588 Refactor DriverExecuteBatchExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31591 Code format for DriverExecuteExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteExecutor.java
Labels: in: JDBC, type: refactor

#31590 Remove dataSourceStates from StateContext
  agent/plugins/metrics/type/prometheus/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/PrometheusPluginLifecycleServiceTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/StateContext.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/state/StateContextTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilder.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/DatabaseAdminQueryBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/QueryableRALBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableExecutorTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/protocol/FrontDatabaseProtocolTypeFactoryTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyStateTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/PostgreSQLCommandExecuteEngineTest.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: type: refactor, in: mode

#31592 Refactor : make default value for AnonymousInnerClassMayBeStatic as false
  src/resources/idea/inspections.xml
Labels: type: refactor

#31594 Use CaseInsensitiveSet in broadcast rule
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/rule/BroadcastRule.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNodes.java
  infra/rewrite/src/main/java/org/apache/shardingsphere/infra/rewrite/sql/impl/AbstractSQLBuilder.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleTableMapperRuleAttribute.java
Labels: type: refactor, in: kernel

#31595 Move ShardingSpherePreparedStatement.executionContext into DriverExecuteBatchExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31597 Refactor DriverExecuteBatchExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecuteBatchExecutor.java
Labels: in: JDBC, type: refactor

#31598 Refactor DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31596 Refactor DataSourceStateManager
  infra/common/src/main/java/org/apache/shardingsphere/infra/database/DatabaseTypeEngine.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/ShardingSphereDatabase.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/datasource/DataSourceStateManager.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/database/DatabaseTypeEngineTest.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/factory/ExternalMetaDataFactory.java
  kernel/metadata/core/src/main/java/org/apache/shardingsphere/metadata/factory/InternalMetaDataFactory.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/decorator/SingleRuleConfigurationDecorator.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/version/ShardingSphereProxyVersion.java
Labels: type: refactor, in: mode

#31600 Modify mysql e2e sql mode config to support mysql select column not in aggregate column
  test/e2e/sql/src/test/resources/env/mysql/my.cnf
Labels: type: refactor, in: test

#31601 Remove useless class and method
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/datasource/exception/UnavailableDataSourceException.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
Labels: type: refactor, in: mode

#31602 Fix the wrong IP was generated when the jdbc instance starts in the cluster
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/metadata/InstanceMetaDataFactory.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/metadata/jdbc/JDBCInstanceMetaData.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/instance/metadata/InstanceMetaDataFactoryTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/service/ComputeNodePersistServiceTest.java
Labels: in: JDBC, type: refactor, in: mode

#31603 Update community docs
  docs/community/content/involved/conduct/code.cn.md
  docs/community/content/involved/conduct/code.en.md
  docs/community/content/team/_index.cn.md
  docs/community/content/team/_index.en.md
Labels: in: document

#31604 Move ShardingSphereSavepoint's package
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/savepoint/ShardingSphereSavepoint.java
Labels: in: JDBC, type: refactor

#31606 Simplify generated logic of ShardingSphereSavepoint.savepointName
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/savepoint/ShardingSphereSavepoint.java
Labels: in: JDBC, type: refactor

#31607 Remove useless codes on ShardingSpherePreparedStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31610 Add driver.executor.engine package
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/engine/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchExecutionUnit.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverJDBCExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchExecutionUnitTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchPreparedStatementExecutorTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchStatementExecutorTest.java
Labels: in: JDBC, type: refactor

#31612 Refactor DriverExecuteBatchExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31613 Refactor DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/batch/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31615 Fix failed to persist labels at startup
  infra/common/src/main/java/org/apache/shardingsphere/infra/instance/ComputeNodeInstance.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
Labels: type: refactor, in: mode

#31616 Refactor DriverJDBCExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverJDBCExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/statement/BatchExecutionUnit.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/statement/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/statement/BatchStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchExecutionUnitTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchPreparedStatementExecutorTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/statement/BatchStatementExecutorTest.java
Labels: in: JDBC, type: refactor

#31617 Reduce repeated calls to DataSourceMapperRuleAttribute
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/datanode/ReadwriteSplittingDataNodeBuilder.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/datanode/ShadowDataNodeBuilder.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNodes.java
Labels: type: refactor, in: kernel

#31624 Add ComputeNodeOnlineWatcher and event subscriber
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/event/InstanceOfflineEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/event/InstanceOnlineEvent.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/subscriber/ComputeNodeOnlineSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/watcher/ComputeNodeOnlineWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterEventSubscriberRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriber.java
  mode/type/cluster/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.cluster.coordinator.registry.GovernanceWatcher
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/subscriber/ComputeNodeOnlineSubscriberTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/watcher/ComputeNodeOnlineWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/StateChangedSubscriberTest.java
Labels: type: refactor, in: mode

#31627 Refactor BroadcastSQLRouter and add TODO
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/route/BroadcastSQLRouter.java
Labels: type: refactor, feature: broadcast

#31630 Bump the minimum GraalVM CE version required to compile ShardingSphere's GraalVM Native Image artifacts to JDK22
  .github/workflows/graalvm.yml
  .github/workflows/nightly-ci.yml
  distribution/proxy-native/pom.xml
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/expr/type/espresso/src/main/java/org/apache/shardingsphere/infra/expr/espresso/ReflectContext.java
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/TestShardingService.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/repository/AddressRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/repository/OrderItemRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/commons/repository/OrderRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/ClickHouseTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/MySQLTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/OpenGaussTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/PostgresTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/EncryptTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/MaskTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ReadWriteSplittingTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ShadowTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/features/ShardingTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/ZookeeperTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/base/SeataTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/xa/AtomikosTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/xa/NarayanaTest.java
Labels: type: refactor, type: build, in: proxy native

#31633 Fix feature tuple swapper engine it
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/it/ReadwriteSplittingConfigurationRepositoryTupleSwapperEngineIT.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/it/ShadowRuleConfigurationRepositoryTupleSwapperEngineIT.java
Labels: in: test

#31635 Refactor DriverJDBCExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverJDBCExecutor.java
Labels: in: JDBC, type: refactor

#31636 Merge DriverJDBCExecutor into DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverJDBCExecutor.java
Labels: in: JDBC, type: refactor

#31638 Refactor DriverExecuteQueryExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
Labels: in: JDBC, type: refactor

#31639 Add DriverPushDownExecuteQueryExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/execute/ExecuteQueryCallbackFactory.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteQueryExecutor.java
Labels: in: JDBC, type: refactor

#31640 Add ShardingSphereResultSetFactory
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetFactory.java
Labels: in: JDBC, type: refactor

#31641 Adjust SQLAuditEngine.audit on DriverExecuteUpdateExecutor and DriverExecuteExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
Labels: in: JDBC, type: refactor

#31642 Refactor DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
Labels: in: JDBC, type: refactor

#31645 Add DriverPushDownExecuteUpdateExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteUpdateExecutor.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/rule/TransactionRule.java
Labels: in: JDBC, type: refactor

#31646 Refactor DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31648 Add ExecuteUpdateCallbackFactory
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/execute/ExecuteUpdateCallbackFactory.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteUpdateExecutor.java
Labels: in: JDBC, type: refactor

#31649 Add DriverPushDownExecuteExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/execute/ExecuteCallbackFactory.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteExecutor.java
Labels: in: JDBC, type: refactor

#31628 Add InternalEventSubscriberRegistry
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/storage/subscriber/internal/InternalQualifiedDataSourceSubscriber.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/InternalEventSubscriberRegistry.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/subscriber/QualifiedDataSourceStateSubscriberTest.java
Labels: type: refactor, in: mode

#31629 Add : add debug mode for transaction E2E
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/config/AdaptorContainerConfiguration.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/config/ProxyClusterContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyClusterContainer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/container/config/proxy/PipelineProxyClusterContainerConfigurationFactory.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/env/TransactionE2EEnvironment.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/config/proxy/ProxyClusterContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/param/TransactionTestParameter.java
  test/e2e/operation/transaction/src/test/resources/env/it-env.properties
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/container/config/ProxyClusterContainerConfigurationFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/container/config/ProxyStandaloneContainerConfigurationFactory.java
Labels: in: test

#31643 Fix the error in parsing the MySQL query with index hints.
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: bug, in: SQL parse, db: MySQL

#31626 Pass inheritedTables into SelectStatementContext to support subquery find table metadata by column
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/common/IteratorStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ddl/ShardingDDLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByMemoryMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByRowComparatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByValueTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/LimitDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/RowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/TopAndRowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/generator/ShardingRemoveTokenGeneratorTest.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/table/TablesContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactory.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/CursorStatementContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContext.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/PaginationContextTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/engine/ProjectionsContextEngineTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContextTest.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/metadata/generator/PipelineDDLGenerator.java
  kernel/traffic/core/src/test/java/org/apache/shardingsphere/traffic/rule/TrafficRuleTest.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/extractor/TableExtractor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutorTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutorTest.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MySQLContainer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/dataset/row/DataSetRow.java
Labels: type: refactor, in: SQL bind

#31655 Add DriverPushDownExecuteExecutor.getResultSet()
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31654 Update Jan_28_Blog_PG_Create_a_Distributed_Database_Solution_Based_on…
  docs/blog/content/material/Jan_28_Blog_PG_Create_a_Distributed_Database_Solution_Based_on_PostgreSQL_&_openGauss.en.md
Labels: in: blog

#31663 Refactor BatchStatementExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/statement/BatchStatementExecutor.java
Labels: in: JDBC, type: refactor

#31662 Add HiveMetaDataLoader, PrestoConnectionPropertiesParser and PrestoDatabaseMetaData spi implementation
  infra/database/type/hive/pom.xml
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/data/loader/HiveMetaDataLoader.java
  infra/database/type/hive/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.data.loader.DialectMetaDataLoader
  infra/database/type/presto/pom.xml
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/connector/PrestoConnectionPropertiesParser.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/PrestoDatabaseMetaData.java
  infra/database/type/presto/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.connector.ConnectionPropertiesParser
  infra/database/type/presto/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.DialectDatabaseMetaData
Labels: type: enhancement, db: Hive, db: Presto

#31664 Refactor DriverPushDownExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteUpdateExecutor.java
Labels: in: JDBC, type: refactor

#31653 Revert #15409 to save driverClassName related properties
  infra/data-source-pool/core/src/main/java/org/apache/shardingsphere/infra/datasource/pool/creator/DataSourcePoolReflection.java
  infra/data-source-pool/core/src/test/java/org/apache/shardingsphere/infra/datasource/pool/creator/DataSourcePoolCreatorTest.java
  infra/data-source-pool/core/src/test/java/org/apache/shardingsphere/infra/datasource/pool/props/domain/DataSourcePoolPropertiesTest.java
  infra/data-source-pool/type/hikari/src/test/java/org/apache/shardingsphere/infra/datasource/pool/hikari/creator/HikariDataSourcePoolCreatorTest.java
  kernel/metadata/core/src/test/resources/yaml/persist/data-source-foo.yaml
Labels: type: bug, in: infra

#31668 Remove useless DriverPushDownExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/DriverPushDownExecuteUpdateExecutor.java
Labels: in: JDBC, type: refactor

#31669 OracleDatabaseMetaData add datatype NUMBER.
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
Labels: type: enhancement, in: metadata, db: Oracle

#31671 Refactor ShardingSpherePreparedStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: in: JDBC, type: refactor

#31672 Refactor ShardingSpherePreparedStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: JDBC, type: refactor

#31673 Move package of DriverExecuteBatchExecutor
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/BatchExecutionUnit.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/preparedstatement/BatchExecutionUnitTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/preparedstatement/BatchPreparedStatementExecutorTest.java
Labels: in: JDBC, type: refactor

#31676 Refactor ShardingSphereResultSet
  infra/common/src/main/java/org/apache/shardingsphere/infra/state/instance/InstanceState.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/adapter/AbstractResultSetAdapter.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSet.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetFactory.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetMetaData.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetUtils.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ResultSetAdapterTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/adapter/ResultSetGetterAdapterTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetUtilsTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationResultSetTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedUpdateOperationResultSetTest.java
Labels: in: JDBC, type: refactor

#31677 Add SelectStatementContext.containsDerivedProjections
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContext.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetMetaData.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetUtils.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetUtilsTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnector.java
Labels: type: refactor

#31675 Fix the error in parsing the Doris query with index hints.
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DMLStatement.g4
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDMLStatementVisitor.java
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: Doris

#31678 Remove useless parameter
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextsFactory.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
Labels: type: refactor, in: mode

#31681 Update shardingsphere optional plugin doc
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.en.md
Labels: in: document

#31682 Refactor DriverDatabaseConnectionManager
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
Labels: in: JDBC, type: refactor

#31679 Remove useless cachedStatements when statement is close and close cachedStatements when close connection
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/StatementManager.java
  test/e2e/agent/plugins/logging/file/src/test/java/org/apache/shardingsphere/test/e2e/agent/file/FilePluginE2EIT.java
Labels: in: JDBC, type: refactor

#31688 Refactor ShardingSphereDataSource
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
Labels: in: JDBC, type: refactor

#31690 Refactor ShardingSphereDataSource
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
Labels: in: JDBC, type: refactor

#31691 Refactor ContextManagerLifecycleListener
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/listener/PipelineContextManagerLifecycleListener.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectContextManagerLifecycleListener.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/listener/ContextManagerLifecycleListener.java
  proxy/bootstrap/src/main/java/org/apache/shardingsphere/proxy/initializer/BootstrapInitializer.java
Labels: type: refactor

#31694 Use ThreadLocalRandom instead of unnecessary SecureRandom
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/handshake/MySQLRandomGenerator.java
  db-protocol/opengauss/src/main/java/org/apache/shardingsphere/db/protocol/opengauss/packet/authentication/OpenGaussAuthenticationHexData.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/handshake/PostgreSQLRandomGenerator.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/replace/GenericTableRandomReplaceAlgorithm.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/channel/MultiplexPipelineChannelTest.java
Labels: type: refactor, in: kernel

#31695 Move package of YamlJDBCConfiguration
  jdbc/src/main/java/org/apache/shardingsphere/driver/api/yaml/YamlShardingSphereDataSourceFactory.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/yaml/YamlJDBCConfiguration.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/yaml/YamlJDBCConfigurationTest.java
Labels: in: JDBC, type: refactor

#31696 Use SecureRandom in necessary scenarios
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/handshake/MySQLRandomGenerator.java
  db-protocol/opengauss/src/main/java/org/apache/shardingsphere/db/protocol/opengauss/packet/authentication/OpenGaussAuthenticationHexData.java
  db-protocol/postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/handshake/PostgreSQLRandomGenerator.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/algorithm/replace/GenericTableRandomReplaceAlgorithm.java
Labels: type: refactor, in: portocol

#31693 Remove disable from FilePluginE2EIT
  agent/plugins/logging/type/file/src/main/resources/META-INF/conf/file-advisors.yaml
  test/e2e/agent/plugins/logging/file/src/test/java/org/apache/shardingsphere/test/e2e/agent/file/FilePluginE2EIT.java
Labels: in: test, feature: agent

#31704 Refactor ShardingSphereDriverUtils
  agent/plugins/core/src/main/java/org/apache/shardingsphere/agent/plugin/core/context/PluginContext.java
  agent/plugins/core/src/main/java/org/apache/shardingsphere/agent/plugin/core/util/ShardingSphereDriverUtils.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/exporter/impl/jdbc/JDBCMetaDataInfoExporter.java
  agent/plugins/metrics/core/src/main/java/org/apache/shardingsphere/agent/plugin/metrics/core/exporter/impl/jdbc/JDBCStateExporter.java
Labels: type: refactor, feature: agent

#31705 Refactor ShardingSphereDriverUtils
  agent/plugins/core/src/main/java/org/apache/shardingsphere/agent/plugin/core/util/ShardingSphereDriverUtils.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/ShardingSphereDriver.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/driver/DriverDataSourceCache.java
Labels: type: refactor, feature: agent

#31706 Move ConnectionSession.grantee into ConnectionContext
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/unicast/ShardingUnicastRoutingEngineTest.java
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/ConnectionContext.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
  kernel/authority/core/src/main/java/org/apache/shardingsphere/authority/checker/AuthorityChecker.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/admin/executor/AbstractDatabaseMetaDataExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/data/impl/UnicastDatabaseBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/database/DropDatabaseBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/session/ConnectionSession.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/executor/DefaultDatabaseMetaDataExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/database/DatabaseOperateBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/database/DropDatabaseBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/session/ConnectionSessionTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowCurrentUserExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowDatabasesExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/UseDatabaseExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/information/SelectInformationSchemataExecutor.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowCurrentUserExecutorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowDatabasesExecutorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/UseDatabaseExecutorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/information/SelectInformationSchemataExecutorTest.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/command/CommandExecutorTask.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/FrontendChannelInboundHandler.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/netty/FrontendChannelInboundHandlerTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/admin/initdb/MySQLComInitDbExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
Labels: type: refactor, in: kernel

#31707 Refactor DriverDatabaseConnectionManagerTest
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
Labels: type: refactor, in: test

#31687 Fix Sharding column not tracked through aliases
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/WhereClauseShardingConditionEngine.java
  test/it/rewriter/src/test/resources/scenario/sharding/case/dml/select.xml
Labels: type: bug, feature: sharding

#31701 Support sql federation bit_count function for mysql
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/resultset/converter/impl/MySQLColumnTypeConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/mysql/MySQLBitCountFunction.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/planner/util/SQLFederationFunctionUtils.java
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select.xml
Labels: type: enhancement, feature: SQL federation

#31711 Update driver MINOR_DRIVER_VERSION
  jdbc/src/main/java/org/apache/shardingsphere/driver/ShardingSphereDriver.java
Labels: in: JDBC, type: refactor

#31712 Refactor ShardingSphereConnection
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
Labels: in: JDBC, type: refactor

#31714 Extract the usage of cachedConnections.values
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
Labels: type: enhancement, feature: transaction

#31717 Support ShardingSphereConnection.createClob
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/unsupported/AbstractUnsupportedOperationConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/state/circuit/connection/CircuitBreakerConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationConnectionTest.java
Labels: in: JDBC, type: refactor

#31713 Add unit tests for ShardingSphereStatistics
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/statistics/ShardingSphereStatisticsTest.java
Labels: in: test

#31719 Remove useless ShardingSphereConnection.getConnectionContext()
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
Labels: in: JDBC, type: refactor

#31720 Refactor ShardingSphereConnection
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
Labels: in: JDBC, type: refactor

#31721 Remove immature JDBC impl on ShardingSphereConnection
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/unsupported/AbstractUnsupportedOperationConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/state/circuit/connection/CircuitBreakerConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationConnectionTest.java
Labels: in: JDBC, type: refactor

#31722 Fix test cases on ShardingSphereConnectionTest
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
Labels: in: JDBC, type: refactor

#31723 Refactor UnsupportedOperationConnectionTest
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/unsupported/UnsupportedOperationConnectionTest.java
Labels: in: JDBC, type: refactor

#31716 Rename YamlQualifiedDataSourceStatus to YamlQualifiedDataSourceState
  mode/core/src/main/java/org/apache/shardingsphere/mode/service/persist/QualifiedDataSourceStatePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlQualifiedDataSourceState.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/storage/yaml/YamlQualifiedDataSourceStateSwapper.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/storage/watcher/QualifiedDataSourceWatcher.java
Labels: type: refactor, in: mode

#31726 Refactor ConnectionContext
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/ConnectionContext.java
Labels: type: refactor

#31725 Add auto commit test case
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/autocommit/AutoCommitTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/autocommit/MySQLAutoCommitTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/autocommit/PostgreSQLAutoCommitTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/base/BaseTransactionTestCase.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/commitrollback/MultiOperationsCommitAndRollbackTestCase.java
Labels: feature: transaction, in: test

#31724 Add unit tests for ShardingIndexReviser
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/reviser/index/ShardingIndexReviserTest.java
Labels: in: test

#31728 Remove useless grantee on DriverDatabaseConnectionManager's constructor
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/ConnectionContext.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
Labels: in: JDBC, type: refactor

#31730 Refactor DriverDatabaseConnectionManager
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
Labels: in: JDBC, type: refactor

#31731 Code format for DriverDatabaseConnectionManager
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
Labels: in: JDBC, type: refactor

#31733 Remove useless constructors of ConnectionContext
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/SQLRouteCountAdviceTest.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/route/BroadcastSqlRouterTest.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/ReadwriteSplittingSQLRouterTest.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/route/qualified/type/QualifiedReadwriteSplittingTransactionalDataSourceRouterTest.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/route/ShadowSQLRouterTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactoryTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/standard/assertion/ShardingRouteAssert.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/unicast/ShardingUnicastRoutingEngineTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/execute/engine/jdbc/JDBCExecutorTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/AllSQLRouteExecutorTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/SQLRouteEngineTest.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/impl/PartialSQLRouteExecutorTest.java
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/ConnectionContext.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/SingleSQLRouterTest.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/extended/bind/OpenGaussComBatchBindExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLAggregatedBatchedStatementsCommandExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: type: refactor, in: kernel

#31734 Fix sonar issue
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/reviser/index/ShardingIndexReviserTest.java
Labels: type: refactor, in: test

#31736 Fix sonar issue for MySQLBitCountFunction
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/mysql/MySQLBitCountFunction.java
Labels: type: refactor

#31737 Refactor StorageUnit to use CatalogSwitchableDataSource only necessary
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnit.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/config/database/impl/DataSourceGeneratedDatabaseConfigurationTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/config/database/impl/DataSourceProvidedDatabaseConfigurationTest.java
Labels: type: refactor

#31699 Remove useless OnlineDatabaseConnectionManager and AnalyzeDatabaseConnectionManager, add databaseName parameter in getConnections method
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/AbstractExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/ExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DatabaseConnectionManager.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DriverExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/OnlineDatabaseConnectionManager.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/raw/RawExecutionPrepareEngine.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteQueryExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/raw/DriverRawPushDownExecuteUpdateExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSourceTest.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/executor/TrafficExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManager.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandlerTest.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/extended/bind/OpenGaussComBatchBindExecutorTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLAggregatedBatchedStatementsCommandExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutorTest.java
Labels: type: refactor, in: kernel

#31698 Decouple sql-federation-core in sharding and broadcast module, and refactor sql federation logic
  features/broadcast/core/pom.xml
  features/sharding/core/pom.xml
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDecider.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/ShardingSQLRouter.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ShardingStatementValidatorFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/impl/ShardingCreateViewStatementValidator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/decider/ShardingSQLFederationDeciderTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactoryTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/ddl/ShardingCreateViewStatementValidatorTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/decider/SingleSQLFederationDecider.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngineTest.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/exception/SQLFederationSQLException.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/exception/SQLFederationUnsupportedSQLException.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnector.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/DatabaseConnectorTest.java
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-expression.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-order-by.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-pagination-group-by-order-by.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select-pagination.xml
  test/e2e/sql/src/test/resources/cases/dql/dql-integration-select.xml
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/actual/init-sql/mysql/actual-logic_db-init.sql
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/actual/init-sql/opengauss/actual-logic_db-init.sql
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/actual/init-sql/postgresql/actual-logic_db-init.sql
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/expected/init-sql/mysql/01-expected-init.sql
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/expected/init-sql/opengauss/01-expected-init.sql
  test/e2e/sql/src/test/resources/env/scenario/db_tbl_sql_federation/data/expected/init-sql/postgresql/01-expected-init.sql
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: type: refactor, feature: SQL federation

#31738 Adjust SQLFederationDeciderMatchFixture order to 1 to avoid conflict with ShardingOrder
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/engine/fixture/decider/SQLFederationDeciderMatchFixture.java
Labels: type: refactor, feature: SQL federation

#31739 Adjust SQLFederationDeciderNotMatchFixture order to 11 to avoid conflict with EncryptOrder
  kernel/sql-federation/core/src/test/java/org/apache/shardingsphere/sqlfederation/engine/fixture/decider/SQLFederationDeciderNotMatchFixture.java
Labels: type: refactor, feature: SQL federation

#31740 Fix transaction context not cleaned up when xa transaction is committed
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
Labels: type: bug, feature: transaction

#31747 For codes format
  kernel/data-pipeline/dialect/opengauss/src/main/java/org/apache/shardingsphere/data/pipeline/opengauss/check/datasource/OpenGaussDataSourceChecker.java
  kernel/data-pipeline/dialect/postgresql/src/main/java/org/apache/shardingsphere/data/pipeline/postgresql/check/datasource/PostgreSQLDataSourceChecker.java
  test/e2e/driver/src/test/java/org/apache/shardingsphere/test/e2e/driver/statement/ShardingPreparedStatementTest.java
  test/e2e/driver/src/test/java/org/apache/shardingsphere/test/e2e/driver/statement/ShardingStatementTest.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/classictransfer/ClassicTransferTestCase.java
Labels: type: refactor

#31746 Use ConnectionPropertiesParser spi to parse jdbcUrl to solve oracle url parse error
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/route/BroadcastSqlRouterTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/node/StorageNodeAggregator.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnit.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnitNodeMapCreator.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaDataTest.java
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/UnregisterStorageUnitExecutorTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/SingleSQLRouterTest.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/rule/TransactionRuleTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/ImportMetaDataExecutorTest.java
  proxy/bootstrap/src/test/java/org/apache/shardingsphere/proxy/version/ShardingSphereProxyVersionTest.java
  test/fixture/database/src/main/java/org/apache/shardingsphere/test/fixture/connector/MockedConnectionPropertiesParser.java
  test/it/optimizer/src/test/java/org/apache/shardingsphere/test/it/optimizer/converter/SQLNodeConverterEngineIT.java
Labels: type: bug, in: kernel

#31750 Refactor StorageUnit
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnit.java
Labels: type: refactor, in: kernel

#31751 Refactor ProcessEngine
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/kernel/model/ExecutionGroupReportContext.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngine.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/BatchPreparedStatementExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/executor/batch/preparedstatement/BatchPreparedStatementExecutorTest.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/traffic/core/src/main/java/org/apache/shardingsphere/traffic/executor/TrafficExecutor.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/FrontendChannelInboundHandler.java
Labels: type: refactor

#31748 Add savepoint without name E2E
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/cases/savepoint/BaseSavePointTestCase.java
  test/e2e/operation/transaction/src/test/resources/env/it-env.properties
Labels: feature: transaction, in: test

#31753 Remove useless method in Process, remove mysql judge logic in ProcessEngine, refactor ProcessRegistry#merge logic
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessRegistry.java
Labels: type: refactor, in: kernel

#31755 Refactor Process
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/Process.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessRegistry.java
Labels: type: refactor, in: kernel

#31756 Add TableAvailable interface for CloseStatementContext, MoveStatementContext, FetchStatementContext and fix sql rewrite test case
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/TableTokenGenerator.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/CloseStatementContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/FetchStatementContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/MoveStatementContext.java
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/close.xml
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/fetch.xml
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/move.xml
Labels: type: bug, in: SQL bind

#31759 Fix sonar issue
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactory.java
Labels: type: refactor

#31758 Move CheckpointStatement to tcl package and visitor logic to tcl visitor, remove LockTableStatement
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/DMLStatement.g4
  parser/sql/dialect/opengauss/src/main/antlr4/imports/opengauss/TCLStatement.g4
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/type/OpenGaussDMLStatementVisitor.java
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/type/OpenGaussTCLStatementVisitor.java
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/PLSQL.g4
  parser/sql/dialect/oracle/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/OracleStatement.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDMLStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleTCLStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/DMLStatement.g4
  parser/sql/dialect/postgresql/src/main/antlr4/imports/postgresql/TCLStatement.g4
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/type/PostgreSQLDMLStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/type/PostgreSQLTCLStatementVisitor.java
  parser/sql/engine/src/main/java/org/apache/shardingsphere/sql/parser/core/database/visitor/SQLVisitorRule.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/statement/dml/CheckpointStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/statement/dml/LockTableStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/statement/tcl/CheckpointStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/opengauss/tcl/OpenGaussCheckpointStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/oracle/dml/OracleLockStatement.java
  parser/sql/statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/dialect/statement/postgresql/dml/PostgreSQLCheckpointStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/resources/case/dml/lock-table.xml
Labels: type: refactor, in: SQL parse

#31762 Use DispatchEventBuilder instead of GovernanceWatcher and remove GovernanceWatcherFactory
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/listener/watch/ListenerAssistedChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/DispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/GovernanceWatcherFactory.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/data/ShardingSphereDataChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/watcher/ComputeNodeOnlineWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/storage/watcher/QualifiedDataSourceWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/GlobalRuleChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/watcher/PropertiesChangedWatcher.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterDispatchEventSubscriberRegistry.java
  mode/type/cluster/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.cluster.coordinator.registry.DispatchEventBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/watcher/ComputeNodeOnlineWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateChangedWatcherTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/QualifiedDataSourceWatcherTest.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutor.java
Labels: type: refactor, in: mode

#31764 Rename GovernanceEventWatcher to DispatchEventBuilder
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/listener/watch/ListenerAssistedDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/data/event/builder/ShardingSphereDataDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/global/event/builder/GlobalRuleDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/global/event/builder/PropertiesDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/event/builder/ComputeNodeOnlineDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/storage/event/builder/QualifiedDataSourceDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/event/builder/ClusterStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/event/builder/ComputeNodeStateDispatchEventBuilder.java
  mode/type/cluster/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.cluster.coordinator.registry.DispatchEventBuilder
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/nodes/compute/online/watcher/ComputeNodeOnlineDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/cluster/watcher/ClusterStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/compute/watcher/ComputeNodeStateDispatchEventBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/registry/status/storage/watcher/QualifiedDataSourceDispatchEventBuilderTest.java
Labels: type: refactor, in: mode

#31768 Refactor DriverExecutorFacade
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/DriverExecutorFacade.java
Labels: in: JDBC, type: refactor

#31769 Optimize dependency.
  infra/database/type/hive/pom.xml
  kernel/global-clock/type/tso/provider/redis/pom.xml
  pom.xml
Labels: type: dependencies

#31766 Avoid send mistake storge unit event
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/listener/MetaDataChangedListener.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ConfigurationChangedSubscriber.java
Labels: mode: cluster, type: refactor

#31774 Remove org.glassfish.javax.el dependency of hive
  pom.xml
Labels: type: dependencies

#31777 Move MetaDataContextManager from service to mode metadata package
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/ConfigurationManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/ResourceMetaDataManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/RuleItemManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/ShardingSphereDatabaseManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, in: mode

#31779 Refactor RuleItemChangedSubscriber and move ResourceSwitchManager to MetaDataContextManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/ConfigurationManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/ResourceSwitchManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/SwitchingResource.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/subsciber/RuleItemChangedSubscriber.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/switcher/SwitchingResourceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/ClusterDispatchEventSubscriberRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/coordinator/subscriber/RuleItemChangedSubscriber.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, in: mode

#31780 Fixes #31773, support logic data source when set default single table storage unit.
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutor.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutorTest.java
Labels: type: bug, feature: DistSQL, feature: single

#31752 Refactor begin transaction if needed when auto commit is false
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManagerTest.java
  jdbc/src/test/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnectionTest.java
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/spi/ShardingSphereDistributionTransactionManager.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ShardingSphereTransactionManagerEngine.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/core/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/core/src/test/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributionTransactionManager
  kernel/transaction/distsql/handler/src/main/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutor.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/fixture/ShardingSphereTransactionManagerFixture.java
  kernel/transaction/distsql/handler/src/test/java/org/apache/shardingsphere/transaction/distsql/handler/update/AlterTransactionRuleExecutorTest.java
  kernel/transaction/distsql/handler/src/test/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributionTransactionManager
  kernel/transaction/type/base/seata-at/src/main/java/org/apache/shardingsphere/transaction/base/seata/at/SeataATShardingSphereTransactionManager.java
  kernel/transaction/type/base/seata-at/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributionTransactionManager
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/XAShardingSphereTransactionManager.java
  kernel/transaction/type/xa/core/src/main/resources/META-INF/services/org.apache.shardingsphere.transaction.spi.ShardingSphereDistributionTransactionManager
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/datasource/JDBCBackendDataSource.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManagerTest.java
Labels: feature: transaction, type: refactor

#31783 Move package of SingleRuleConfiguration
  kernel/single/api/src/main/java/org/apache/shardingsphere/single/config/SingleRuleConfiguration.java
  kernel/single/api/src/main/java/org/apache/shardingsphere/single/constant/SingleTableConstants.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/datanode/SingleTableDataNodeLoader.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/decorator/SingleRuleConfigurationDecorator.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProvider.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleMutableDataNodeRuleAttribute.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/builder/DefaultSingleRuleConfigurationBuilder.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/builder/SingleRuleBuilder.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/changed/DefaultDataSourceChangedProcessor.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/changed/SingleTableChangedProcessor.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/util/SingleTableLoadUtils.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/pojo/YamlSingleRuleConfiguration.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/yaml/config/swapper/YamlSingleRuleConfigurationSwapper.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/reviser/SingleMetaDataReviseEntryTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/SingleSQLRouterTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/SingleDatabaseBroadcastRouteEngineTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/SingleStandardRouteEngineTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/SingleRuleTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/builder/DefaultSingleRuleConfigurationBuilderTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/builder/SingleRuleBuilderTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/yaml/config/swapper/YamlSingleRuleConfigurationSwapperTest.java
Labels: type: refactor, in: API, feature: single
