Repository apache/shardingsphere, pull requests merged in 2025-07, with the labels that each got.

#35846 Remove useless test dependencies on infra-binder-core module
  infra/binder/core/pom.xml
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngine.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngine.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/LimitPaginationContextEngineTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngineTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/TopPaginationContextEngineTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjectionTest.java
Labels: type: refactor, in: test, in: SQL bind

#35843 Add PomTemplateTest and update pom.ftl for standalone JDBC example
  examples/shardingsphere-jdbc-example-generator/src/main/resources/template/pom.ftl
  examples/shardingsphere-jdbc-example-generator/src/test/java/PomTemplateTest.java
Labels: type: bug, in: JDBC, in: example, mode: standalone

#35852 Rename InsertStatementContextTest.assertContainsInsertColumnsWithSetAssignment
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/type/dml/InsertStatementContextTest.java
Labels: in: test, in: SQL bind

#35849 Fix LocalDate type cast
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDateBinaryProtocolValue.java
Labels: type: enhancement, in: proxy

#35853 Reduce the number of getResultSet method calls
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/QueryResult.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/memory/JDBCMemoryQueryResult.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/impl/driver/jdbc/type/stream/JDBCStreamQueryResult.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/callback/execute/ExecuteQueryCallback.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSetFactory.java
Labels: in: JDBC, type: refactor

#35855 Add DialectPaginationOption.containsTop
  db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/command/query/binary/execute/protocol/MySQLDateBinaryProtocolValue.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/RowNumberDecoratorMergedResultTest.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngine.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngine.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/TopProjectionExtractor.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngineTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngineTest.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/pagination/DialectPaginationOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/result/query/QueryResult.java
Labels: type: refactor, in: SQL bind

#35857 Remove useless test dependencies on shardingsphere-encrypt-core
  features/encrypt/core/pom.xml
Labels: type: refactor, feature: encrypt

#35861 Fix example compile error
  examples/pom.xml
  examples/shardingsphere-jdbc-example-generator/pom.xml
  examples/shardingsphere-jdbc-example-generator/src/test/java/PomTemplateTest.java
Labels: in: example

#35862 Merge AlterUserStatement and SQLServerAlterUserStatement
  examples/shardingsphere-jdbc-example-generator/src/test/java/PomTemplateTest.java
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDCLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDCLStatementVisitor.java
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/type/OpenGaussDCLStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDCLStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/type/PostgreSQLDCLStatementVisitor.java
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/type/SQLServerDCLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/dcl/AlterUserStatement.java
  parser/sql/statement/type/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/statement/sqlserver/dcl/SQLServerAlterUserStatement.java
Labels: type: refactor, in: SQL parse

#35863 Move and rename OracleAnalyzeStatement
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/statement/oracle/ddl/OracleAnalyzeStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ddl/DDLStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ddl/impl/AnalyzeStatementAssert.java
Labels: type: refactor, in: SQL parse, db: Oracle

#35869 Refactor IndexContextAvailable
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/AlterIndexStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/AlterTableStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/CreateIndexStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/CreateTableStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/DropIndexStatementContext.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/IndexMetaDataUtils.java
Labels: type: refactor, in: SQL bind

#35867 Fix the connection leak caused by rollback failure in Proxy
  RELEASE-NOTES.md
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManager.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/FrontendChannelInboundHandler.java
Labels: type: bug, in: proxy

#35871 Use CursorSQLStatementAttribute instead of CursorContextAvailable
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/route/engine/BroadcastRouteEngineFactory.java
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/route/engine/type/unicast/BroadcastUnicastRouteEngine.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/route/engine/BroadcastRouteEngineFactoryTest.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/route/engine/type/unicast/BroadcastUnicastRouteEngineTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/ddl/fetch/FetchStreamMergedResult.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/context/ShardingSQLRewriteContextDecorator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingCursorTokenGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/ShardingSQLRouter.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/unicast/ShardingUnicastRouteEngine.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ddl/ShardingDDLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ddl/fetch/FetchStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingCursorTokenGeneratorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactoryTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/unicast/ShardingUnicastRouteEngineTest.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/CloseStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/CursorStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/FetchStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/ddl/MoveStatementContext.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactoryTest.java
  infra/route/core/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/TablelessRouteEngineFactory.java
  infra/route/core/src/test/java/org/apache/shardingsphere/infra/route/engine/tableless/TablelessRouteEngineFactoryTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/attribute/type/CursorSQLStatementAttribute.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/CloseStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/CursorStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/FetchStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/MoveStatement.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/StandardDatabaseConnector.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ddl/impl/CloseStatementAssert.java
Labels: type: refactor, in: SQL bind

#35870 Optimize exception for close cached connections in proxy
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManager.java
Labels: in: proxy, type: refactor

#35877 Add alter table metadata check
  RELEASE-NOTES.md
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/SimpleTableSegmentBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/util/AlterTableMetadataCheckUtils.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/util/AlterTableMetadataCheckUtilsTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/exception/kernel/metadata/DuplicateColumnException.java
  test/it/binder/src/test/java/org/apache/shardingsphere/test/it/sql/binder/SQLBinderIT.java
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/ddl/alter/alter-table.xml
  test/it/rewriter/src/test/resources/scenario/sharding/case/ddl/index.xml
Labels: type: enhancement, in: SQL bind

#35883 Refactor IndexTokenTest
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/pojo/IndexTokenTest.java
Labels: feature: sharding, in: test

#35884 Refactor ShardingTableBroadcastRouteEngineTest
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/broadcast/ShardingTableBroadcastRouteEngineTest.java
Labels: feature: sharding, in: test

#35885 Refactor EncryptShowCreateTableMergedResultTest
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/merge/dal/show/EncryptShowCreateTableMergedResultTest.java
Labels: feature: encrypt, in: test

#35886 Refactor EncryptCreateTableTokenGeneratorTest
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/ddl/EncryptCreateTableTokenGeneratorTest.java
Labels: feature: encrypt, in: test

#35889 Refactor EncryptDALResultDecoratorTest
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/merge/dal/EncryptDALResultDecoratorTest.java
Labels: feature: encrypt, in: test

#35890 Rename CreateIndexStatement.anonymousIndexStartIndex
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingCreateIndexSupportedCheckerTest.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CreateIndexStatementBinder.java
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/type/OpenGaussDDLStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/type/PostgreSQLDDLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/index/CreateIndexStatement.java
Labels: type: refactor, in: SQL parse

#35891 Use new CommonSQLStatementContext instead of mock
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/route/engine/type/unicast/BroadcastUnicastRouteEngineTest.java
  infra/context/src/test/java/org/apache/shardingsphere/infra/connection/kernel/KernelProcessorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/data/DatabaseBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandlerFactoryTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLAdminExecutorCreatorTest.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/UseDatabaseExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorFactoryTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandPacketFactoryTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/MySQLComStmtSendLongDataExecutorTest.java
Labels: in: test

#35893 Refactor CreateIndexPushDownMetaDataRefresher
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/IndexMetaDataUtils.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/util/IndexMetaDataUtilsTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/CreateIndexPushDownMetaDataRefresher.java
Labels: type: refactor, in: metadata

#35896 Add DatabaseType into SQLStatement
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/cache/checker/ShardingRouteCacheableCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/standard/assertion/ShardingRouteAssert.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/SQLStatementContextFactory.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/type/dal/ExplainStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/SQLBindEngine.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactoryTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/type/dal/ExplainStatementContextTest.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/metadata/generator/PipelineDDLDecorator.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/implementor/EnumerableScanImplementor.java
  parser/sql/engine/src/main/java/org/apache/shardingsphere/sql/parser/api/SQLStatementVisitorEngine.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/SQLStatement.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLAdminExecutorCreator.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/MySQLSetVariableAdminExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/UnicastResourceShowExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/fieldlist/MySQLComFieldListPacketExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/extended/bind/OpenGaussComBatchBindExecutorTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/parse/PostgreSQLComParseExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
  test/it/binder/src/test/java/org/apache/shardingsphere/test/it/sql/binder/SQLBinderIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: type: refactor, in: SQL parse

#35895 Sync Firebird parser changes with upstream
  parser/sql/dialect/firebird/src/main/antlr4/imports/firebird/BaseRule.g4
  parser/sql/dialect/firebird/src/main/antlr4/imports/firebird/DMLStatement.g4
  parser/sql/dialect/firebird/src/main/antlr4/imports/firebird/FirebirdKeyword.g4
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/FirebirdStatementVisitor.java
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/type/FirebirdDMLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-pagination.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-pagination.xml
Labels: type: enhancement, in: SQL parse, db: Firebird

#35899 Revert "Add database type setter on Statement binder"
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dal/ExplainStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/AlterIndexStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/AlterTableStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/AlterViewStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CreateIndexStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CreateTableStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CreateViewStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CursorStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/DropIndexStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/DropTableStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/DropViewStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/RenameTableStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/TruncateStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/DeleteStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/SelectStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/UpdateStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLLoadDataStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLLoadXMLStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLOptimizeTableStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLShowColumnsStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLShowCreateTableStatementBinder.java
  infra/binder/dialect/mysql/src/main/java/org/apache/shardingsphere/infra/binder/mysql/bind/type/MySQLShowIndexStatementBinder.java
  infra/binder/dialect/postgresql/src/main/java/org/apache/shardingsphere/infra/binder/postgresql/bind/type/PostgreSQLCopyStatementBinder.java
  infra/binder/dialect/sqlserver/src/main/java/org/apache/shardingsphere/infra/binder/sqlserver/bind/type/SQLServerDenyUserStatementBinder.java
Labels: type: refactor

#35901 Refactor SQLStatement as final for not implement
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/CommentStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/schema/AlterSchemaStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/schema/CreateSchemaStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/ddl/schema/DropSchemaStatement.java
Labels: type: refactor, in: SQL parse

#35902 Remove useless sql statement dependencies on distsql-handler module
  features/broadcast/distsql/handler/pom.xml
  features/encrypt/distsql/handler/pom.xml
  features/mask/distsql/handler/pom.xml
  features/readwrite-splitting/distsql/handler/pom.xml
  features/shadow/distsql/handler/pom.xml
  features/sharding/distsql/handler/pom.xml
  kernel/authority/distsql/handler/pom.xml
  kernel/data-pipeline/distsql/handler/pom.xml
  kernel/global-clock/distsql/handler/pom.xml
  kernel/single/distsql/handler/pom.xml
  kernel/sql-federation/distsql/handler/pom.xml
  kernel/sql-parser/distsql/handler/pom.xml
  kernel/sql-translator/distsql/handler/pom.xml
  kernel/transaction/distsql/handler/pom.xml
Labels: type: refactor, type: dependencies

#35903 Add feature-shadow profile
  distribution/jdbc/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  jdbc/pom.xml
  proxy/backend/core/pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/driver/pom.xml
  test/native/pom.xml
Labels: type: release, feature: shadow

#35904 Refactor AlterTableMetadataCheckUtils
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/util/AlterTableMetadataCheckUtils.java
Labels: type: refactor, in: SQL bind

#35910 Fix could not to show columns info after index created
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/CreateIndexPushDownMetaDataRefresher.java
Labels: type: refactor, in: metadata

#35915 Rename isInTransaction method to isInDistributedTransaction
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/datasource/JDBCBackendDataSource.java
Labels: feature: transaction, type: refactor

#35911 fix：Full support for xml methods
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#35916 Move package of AlterTransmissionRuleStatementTestCase
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/type/pipeline/AlterTransmissionRuleStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/type/pipeline/UpdatablePipelineRALStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/ral/AlterTransmissionRuleStatementTestCase.java
Labels: type: refactor, in: test, in: SQL parse

#35873 Refactor PostgreSQLBinaryProtocolValue related test cases #35841
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLBoolBinaryProtocolValueTest.java
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLInt4BinaryProtocolValueTest.java
  db-protocol/postgresql/src/test/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/bind/protocol/PostgreSQLTimeBinaryProtocolValueTest.java
Labels: type: refactor, in: test

#35926 Fix copyright for test sql
  test/e2e/env/src/test/resources/container/init-sql/mariadb/00-init-authority.sql
  test/e2e/env/src/test/resources/container/init-sql/mariadb/99-be-ready.sql
Labels: in: test

#35927 Refactor dependency of commons-csv
  pom.xml
  test/it/parser/pom.xml
Labels: type: refactor, type: dependencies

#35928 fix:Support for the LAG and LEAD analytical functions
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#35932 Refactor CDCDataNodeUtils
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/CDCJobAPI.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/StreamDataParameter.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/handler/CDCBackendHandler.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/util/CDCDataNodeUtils.java
  kernel/data-pipeline/scenario/cdc/core/src/test/java/org/apache/shardingsphere/data/pipeline/cdc/util/CDCDataNodeUtilsTest.java
Labels: type: refactor, feature: pipeline

#35934 Refactor StreamDataParameter
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datanode/JobDataNodeLineConvertUtils.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/datanode/JobDataNodeLineConvertUtilsTest.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/CDCJobAPI.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/api/StreamDataParameter.java
Labels: type: refactor, feature: pipeline

#35931 Persist table metadata to repository by default
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/ConfigurationPropertyKey.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/factory/MetaDataContextsFactory.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/factory/init/type/LocalConfigurationMetaDataContextsInitFactory.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/factory/init/type/RegisterCenterMetaDataContextsInitFactory.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/MetaDataPersistFacade.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/DatabaseMetaDataPersistFacade.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistDisabledService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistEnabledService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/PersistServiceFacade.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/TableMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/factory/MetaDataContextsFactoryTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/MetaDataPersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/DatabaseMetaDataPersistFacadeTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistEnabledServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilder.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/variable/ShowDistVariablesExecutorTest.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/state/impl/OKProxyStateTest.java
  test/e2e/sql/src/test/resources/cases/ral/dataset/empty_rules/show_dist_variables.xml
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: type: refactor, in: metadata

#35943 Add feature-broadcast profile
  distribution/jdbc/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  jdbc/pom.xml
  proxy/backend/core/pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/driver/pom.xml
  test/native/pom.xml
Labels: type: dependencies, feature: broadcast

#35945 Refactor TableMapperRuleAttribute
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rule/attribute/EncryptTableMapperRuleAttribute.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/rule/attribute/MaskTableMapperRuleAttribute.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rule/attribute/ShardingTableNamesRuleAttribute.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleTableMapperRuleAttribute.java
Labels: type: refactor

#35946 Move PipelineDataNodeUtils to pipeline-core module
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineDataNodeUtils.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineDataNodeUtilsTest.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/handler/CDCBackendHandler.java
Labels: type: refactor, feature: pipeline

#35948 fix:Support Hive DROP DATABASE statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DDLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/HiveStatement.g4
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDDLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/drop-database.xml
  test/it/parser/src/main/resources/sql/supported/ddl/drop-database.xml
Labels: type: enhancement, in: SQL parse, db: Hive

#35951 Persist tables to repository when persistSchemasEnabled turned on
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/factory/init/type/LocalConfigurationMetaDataContextsInitFactory.java
Labels: mode: cluster, type: refactor, mode: standalone

#35952 Refactor ImporterConfiguration.tableAndShardingColumnsMap
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/ImporterConfiguration.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/sink/type/PipelineDataSourceSink.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/record/RecordUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/ShardingColumnsExtractor.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/CDCJob.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJobExecutorCallback.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/core/importer/sink/type/PipelineDataSourceSinkTest.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: type: refactor, feature: pipeline

#35957 Refactor usage of PipelineRequiredColumnsExtractor
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/CDCJob.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/MigrationJobExecutorCallback.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: type: refactor, feature: pipeline

#35959 Fix the bug that nativeTest test suite cannot recognize modules without source code
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  pom.xml
  test/native/pom.xml
  test/native/src/test/resources/META-INF/native-image/io.grpc/grpc-netty-shaded/native-image.properties
Labels: in: test, in: proxy native

#35966 Refactor ProxySQLComQueryParser
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxySQLComQueryParser.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLComQueryPacketExecutor.java
  proxy/frontend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/simple/OpenGaussComQueryExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/simple/PostgreSQLComQueryExecutor.java
Labels: type: refactor, in: SQL parse

#35968 Refactor SchemaMetaDataPersistServiceTest
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistServiceTest.java
Labels: mode: cluster, in: test

#35969 Rename SQLStatement variable from statement to sqlStatement
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/SQLBindEngine.java
  kernel/sql-federation/compiler/src/main/java/org/apache/shardingsphere/sqlfederation/compiler/exception/SQLFederationSQLNodeConvertException.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TransactionalErrorAllowedSQLStatementHandler.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/ParseDistSQLExecutorTest.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/transaction/OpenGaussTransactionalErrorAllowedSQLStatementHandler.java
  proxy/backend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/transaction/PostgreSQLTransactionalErrorAllowedSQLStatementHandler.java
Labels: type: refactor

#35970 Fixes javadoc on TransactionalErrorAllowedSQLStatementHandler
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TransactionalErrorAllowedSQLStatementHandler.java
Labels: in: proxy, feature: transaction, type: refactor

#35977 Fixes compile error on Firebird protocol
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/prepare/FirebirdReturnColumnPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/payload/FirebirdPacketPayload.java
  proxy/backend/type/firebird/src/test/java/org/apache/shardingsphere/proxy/backend/firebird/handler/admin/FirebirdAdminExecutorCreatorTest.java
  proxy/frontend/type/firebird/src/main/java/org/apache/shardingsphere/proxy/frontend/firebird/command/query/statement/prepare/FirebirdPrepareStatementCommandExecutor.java
Labels: type: refactor, db: Firebird

#35980 Remove firebird driver dependency from jdbc module
  db-protocol/firebird/pom.xml
  jdbc/pom.xml
Labels: db: Firebird, dependencies

#35982 fix:Support for the NCHAR function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#35987 Add error log when sql federation execution failed
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
Labels: type: refactor, feature: SQL federation

#35989 fix:Support for the NTILE function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#35988 Decouple H2 dependency
  agent/plugins/metrics/core/pom.xml
  agent/plugins/metrics/type/prometheus/pom.xml
  agent/plugins/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  jdbc/pom.xml
  proxy/backend/core/pom.xml
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/imports/ImportMetaDataExecutorTest.java
  test/native/pom.xml
Labels: dependencies

#35992 Fix sonar issues for FireBird
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/FirebirdArchType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/FirebirdConstant.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/FirebirdUserDataType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/FirebirdInfoPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/common/FirebirdCommonInfoPacketType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/sql/FirebirdSQLInfoReturnValue.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/handshake/FirebirdConnectPacket.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingTableNodesExecutorTest.java
Labels: type: refactor, db: Firebird

#35995 Add javadoc on shardingsphere-firebird-protocol module if missing in class
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/buffer/FirebirdParameterBuffer.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/buffer/FirebirdParameterBufferType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/buffer/type/FirebirdDatabaseParameterBufferType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/buffer/type/FirebirdTransactionParameterBufferType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/protocol/FirebirdProtocol.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/constant/protocol/FirebirdProtocolVersion.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/err/FirebirdStatusVector.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/admin/FirebirdUnsupportedCommandPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/FirebirdInfoPacketType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/database/FirebirdDatabaseInfoPacketType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/database/FirebirdDatabaseInfoReturnPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/sql/FirebirdSQLInfoPacketType.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/info/type/sql/FirebirdSQLInfoReturnPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/FirebirdAllocateStatementPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/FirebirdFetchStatementPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/FirebirdFreeStatementPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/execute/protocol/util/FirebirdDateTimeUtil.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/command/query/statement/prepare/FirebirdPrepareStatementReturnPacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/generic/FirebirdGenericResponsePacket.java
  db-protocol/firebird/src/main/java/org/apache/shardingsphere/db/protocol/firebird/packet/handshake/FirebirdAcceptDataPacket.java
Labels: type: refactor, db: Firebird

#35996 Fixes code format for proxy-frontend-firebird and proxy-backend-firebird
  proxy/backend/type/firebird/src/main/java/org/apache/shardingsphere/proxy/backend/firebird/handler/admin/executor/FirebirdShowVariableExecutor.java
  proxy/frontend/type/firebird/src/main/java/org/apache/shardingsphere/proxy/frontend/firebird/authentication/FirebirdAuthenticationEngine.java
  proxy/frontend/type/firebird/src/main/java/org/apache/shardingsphere/proxy/frontend/firebird/authentication/authenticator/impl/FirebirdLegacyAuthenticator.java
  proxy/frontend/type/firebird/src/main/java/org/apache/shardingsphere/proxy/frontend/firebird/authentication/authenticator/impl/FirebirdSRPAuthenticator.java
Labels: type: refactor, db: Firebird

#35997 Refactor usage of DialectSaneQueryResultEngine
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/executor/callback/ProxyJDBCExecutorCallback.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/sane/SaneQueryResultEngine.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/sane/SaneQueryResultEngineTest.java
Labels: in: proxy, type: refactor

#35991 fix:Support for the RANK function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36000 fix:Support for WITH ROLLUP
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36002 fix:Support for the COLLATE rule
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36007 fix:Support for the operators PIVOT and UNPIVOT
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36015 Add feature-encrypt profile
  distribution/jdbc/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  jdbc/pom.xml
  proxy/backend/core/pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/driver/pom.xml
Labels: feature: encrypt, dependencies

#36018 fix:Support Hive DROP TABLE statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DDLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/HiveStatement.g4
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDDLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/drop-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/drop-table.xml
Labels: type: enhancement, in: SQL parse, db: Hive

#36019 fix:Support for three-level naming of table-valued function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36023 Fix TableCoordinatorChangedHandler
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/state/coordinator/TableCoordinatorChangedHandler.java
Labels: mode: cluster, type: refactor

#36025 Support transaction E2E use native mode
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/engine/base/TransactionContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/transaction/src/test/resources/env/it-env.properties
Labels: type: enhancement, feature: transaction, in: test

#36012 Support comment statement SQL bind
  RELEASE-NOTES.md
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CommentStatementBinder.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/type/DDLStatementBindEngine.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/statement/ddl/CommentStatementBinderTest.java
  test/it/binder/src/test/resources/cases/ddl/comment.xml
  test/it/binder/src/test/resources/sqls/ddl/comment.xml
Labels: type: enhancement, in: SQL bind

#36028 Support XA transaction enlist multiple XA connections by one data source
  kernel/transaction/type/xa/core/src/main/java/org/apache/shardingsphere/transaction/xa/jta/datasource/XATransactionDataSource.java
  kernel/transaction/type/xa/core/src/test/java/org/apache/shardingsphere/transaction/xa/jta/datasource/XATransactionDataSourceTest.java
  kernel/transaction/type/xa/spi/src/main/java/org/apache/shardingsphere/transaction/xa/spi/SingleXAResource.java
Labels: type: enhancement, feature: transaction

#36029 Remove unnecessary transaction type parameter from createConnection m…
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/datasource/JDBCBackendDataSource.java
Labels: in: proxy, feature: transaction, type: refactor

#36032 Use set to deduplicate parameterMarkers
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/type/dml/InsertStatementContextTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/SQLStatement.java
Labels: type: refactor, in: SQL parse

#36035 Move IteratorStreamMergedResult to infra-merge module
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/ddl/ShardingDDLResultMerger.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMerger.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ddl/ShardingDDLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMergerTest.java
  infra/merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/stream/IteratorStreamMergedResult.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/StandardDatabaseConnector.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutor.java
Labels: type: refactor, in: kernel

#36038 Rename and move QualifiedColumn
  docs/blog/content/material/2022_03_23_Apache_ShardingSphere_Proxy_Performance_with_PostgreSQL_is_Improved_26.8%_with_Version_5.1.0.en.md
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/data/ShardingValueDataTypeException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/WhereClauseShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGeneratorFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueBetweenOperatorGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueCompareOperatorGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGenerator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGeneratorFactoryTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueBetweenOperatorGeneratorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueCompareOperatorGeneratorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGeneratorTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedColumn.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedColumnTest.java
Labels: type: refactor, in: kernel

#36039 Rename HashColumn
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/exception/data/ShardingValueDataTypeException.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/engine/WhereClauseShardingConditionEngine.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGeneratorFactory.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueBetweenOperatorGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueCompareOperatorGenerator.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGenerator.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/ConditionValueGeneratorFactoryTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueBetweenOperatorGeneratorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueCompareOperatorGeneratorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/condition/generator/impl/ConditionValueInOperatorGeneratorTest.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/HashColumn.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/HashColumnTest.java
Labels: type: refactor, in: kernel

#36042 Refactor PipelineYamlRuleConfigurationReviser
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datasource/creator/ShardingSpherePipelineDataSourceCreator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datasource/yaml/PipelineYamlRuleConfigurationReviser.java
  kernel/data-pipeline/feature/sharding/src/main/java/org/apache/shardingsphere/data/pipeline/sharding/ShardingPipelineYamlRuleConfigurationReviser.java
Labels: type: refactor, feature: pipeline

#36033 fix:Support for static methods of the form dataTypeName::methodName
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36045 fix:Support for the STRING AGG aggregation function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36037 Remove requirement for `--report-unsupported-elements-at-runtime` buildArg when building GraalVM Native Image
  .github/workflows/graalvm.yml
  .github/workflows/nightly-ci-dynamic.yml
  .github/workflows/nightly-ci.yml
  .mvn/wrapper/maven-wrapper.properties
  distribution/proxy-native/Dockerfile-linux-dynamic
  distribution/proxy-native/Dockerfile-linux-mostly
  distribution/proxy-native/Dockerfile-linux-static
  distribution/proxy-native/pom.xml
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.mysql/mysql-connector-j/8.3.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.mysql/mysql-connector-j/8.3.0/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/jni-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/predefined-classes-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/proxy-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/serialization-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/native-image.properties
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.junit.jupiter/junit-jupiter/5.11.1/resource-config.json
  pom.xml
  test/native/native-image-filter/user-code-filter.json
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/EtcdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/modes/cluster/ZookeeperTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/reachability-metadata.json
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/reflect-config.json
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/resource-config.json
Labels: type: refactor, in: proxy native

#36048 fix:Support for the PERCENTILE function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36058 Merge TransmissionProcessConfigurationSegmentConverter and ShowTransmissionRuleQueryResult
  kernel/data-pipeline/distsql/handler/pom.xml
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/distsql/handler/transmission/update/AlterTransmissionRuleExecutor.java
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/distsql/handler/transmission/update/TransmissionProcessConfigurationSegmentConverter.java
  proxy/backend/core/pom.xml
Labels: type: refactor, feature: pipeline

#36057 fix:Support for the DENSE_RANK function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36061 Refactor data-pipeline-scenario-migration-distsql-handler's pom
  kernel/data-pipeline/scenario/migration/distsql/handler/pom.xml
Labels: type: refactor, feature: pipeline

#36062 fix:Support for the PERCENT_RANK function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36066 fix:Support Hive ALTER TABLE statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DDLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/HiveKeyword.g4
  parser/sql/dialect/hive/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/HiveStatement.g4
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDDLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/alter-table.xml
  test/it/parser/src/main/resources/case/ddl/drop-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/alter-table.xml
  test/it/parser/src/main/resources/sql/supported/ddl/drop-table.xml
Labels: type: enhancement, in: SQL parse, db: Hive

#36065 fix:Support for table hints
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36069 fix:Support for join hints
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/generic/table/JoinTableSegment.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#36068 Fix is unable to find the outer table in the ExistsSubqueryExpressionBinder.
  RELEASE-NOTES.md
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/ExpressionSegmentBinder.java
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-select-expression.xml
Labels: type: bug, in: SQL bind

#36070 fix:Support for the OVER clause of aggregation function
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36071 fix:Support for naming of the four parts
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36067 Prevent `generateMetadata` Profiles from generating GraalVM Reachability Metadata for arrays and `JdkLogger`
  .github/workflows/graalvm.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-ci-dynamic.yml
  .github/workflows/nightly-ci.yml
  distribution/proxy-native/Dockerfile-linux-mostly
  distribution/proxy-native/Dockerfile-linux-static
  distribution/proxy-native/pom.xml
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/ch.qos.logback/logback-classic/1.2.13/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.atomikos/transactions/6.0.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.github.docker-java/docker-java-api/3.4.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.mysql/mysql-connector-j/8.3.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.zaxxer/HikariCP/4.0.3/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.calcite/calcite-core/1.38.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.groovy/groovy/4.0.22/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hadoop/hadoop-common/3.3.6/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hadoop/hadoop-common/3.3.6/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.3.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.firebirdsql.jdbc/jaybird/5.0.6.java8/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.jboss.narayana.jta/jta/5.12.7.Final/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.jboss.narayana.jta/jta/5.12.7.Final/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.junit.jupiter/junit-jupiter/5.11.1/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.junit.jupiter/junit-jupiter/5.11.1/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.testcontainers/junit-jupiter/1.20.1/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.testcontainers/junit-jupiter/1.20.1/resource-config.json
  pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/pom.xml
Labels: type: refactor, in: proxy native

#36076 Add support for COLON_ parameter marker in Oracle
  RELEASE-NOTES.md
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
Labels: type: enhancement, in: SQL parse

#36077 Simplify pipeline distsql statements
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/CDCRALStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/queryable/QueryableCDCRALStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/queryable/ShowStreamingListStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/queryable/ShowStreamingRuleStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/queryable/ShowStreamingStatusStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/updatable/DropStreamingStatement.java
  kernel/data-pipeline/scenario/cdc/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/statement/updatable/UpdatableCDCRALStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/MigrationRALStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/QueryableMigrationRALStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/ShowMigrationCheckStatusStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/ShowMigrationListStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/ShowMigrationRuleStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/ShowMigrationSourceStorageUnitsStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/queryable/ShowMigrationStatusStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/CheckMigrationStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/CommitMigrationStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/DropMigrationCheckStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/MigrateTableStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/RegisterMigrationSourceStorageUnitStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/RollbackMigrationStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/StartMigrationCheckStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/StartMigrationStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/StopMigrationCheckStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/StopMigrationStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/UnregisterMigrationSourceStorageUnitStatement.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/migration/distsql/statement/updatable/UpdatableMigrationRALStatement.java
Labels: type: refactor, feature: pipeline, feature: DistSQL

#36080 Refactor EncryptDistSQLStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/BaseRule.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/Keyword.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RALStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RQLStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/org/apache/shardingsphere/distsql/parser/autogen/EncryptDistSQLStatement.g4
  test/it/parser/src/main/resources/case/dal/explain.xml
  test/it/parser/src/main/resources/sql/supported/dal/explain.xml
Labels: type: refactor, feature: encrypt, feature: DistSQL

#36083 Refactor g4 of shardingsphere-encrypt-distsql-parser
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/BaseRule.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RDLStatement.g4
  features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RQLStatement.g4
Labels: type: refactor, feature: encrypt, feature: DistSQL

#36078 Refactor NativeTest to prevent failures in building GraalVM Native Image
  .github/workflows/graalvm.yml
  .github/workflows/nightly-ci-dynamic.yml
  .github/workflows/nightly-ci.yml
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reachability-metadata.json
  pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/repository/AddressRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/repository/OrderItemRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/repository/OrderRepository.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/FirebirdTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/MySQLTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/hive/AcidTableTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/hive/IcebergTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/hive/StandaloneMetastoreTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/hive/ZookeeperServiceDiscoveryTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/proxy/databases/MySQLTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/proxy/databases/PostgresTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/proxy/transactions/base/SeataTest.java
  test/native/src/test/resources/container-license-acceptance.txt
  test/native/src/test/resources/test-native/yaml/jdbc/databases/clickhouse.yaml
  test/native/src/test/resources/test-native/yaml/jdbc/databases/postgresql.yaml
  test/native/src/test/resources/test-native/yaml/jdbc/databases/sqlserver.yaml
  test/native/src/test/resources/test-native/yaml/jdbc/transactions/base/seata.yaml
Labels: in: test, in: proxy native

#36075 fix:Support for ON clause in SELECT INTO statements
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36084 Remove bindLiterals in Oracle.
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  test/it/parser/src/main/resources/case/dal/explain.xml
  test/it/parser/src/main/resources/sql/supported/dal/explain.xml
Labels: type: refactor, in: SQL parse

#36091 Add e2e test case for show create table, explain table and desc table with db, tbl scenario
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/it/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/resources/cases/dal/dataset/db/mysql/desc_table.xml
  test/e2e/sql/src/test/resources/cases/dal/dataset/db/mysql/show_create_table.xml
  test/e2e/sql/src/test/resources/cases/dal/dataset/tbl/mysql/desc_table.xml
  test/e2e/sql/src/test/resources/cases/dal/dataset/tbl/mysql/show_create_table.xml
  test/e2e/sql/src/test/resources/cases/dal/e2e-dal-explain.xml
  test/e2e/sql/src/test/resources/cases/dal/e2e-dal-show.xml
Labels: feature: sharding, in: test

#36094 Unify package name of shardingsphere-data-pipeline-cdc
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingJobStatusExecutor.java
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingListExecutor.java
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/query/ShowStreamingRuleExecutor.java
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/distsql/handler/update/DropStreamingExecutor.java
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.query.DistSQLQueryExecutor
  kernel/data-pipeline/scenario/cdc/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.engine.update.DistSQLUpdateExecutor
Labels: type: refactor, feature: pipeline

#36099 Decouple MigrationJobAPI and MigrateTableStatement
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPI.java
  kernel/data-pipeline/scenario/migration/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/distsql/handler/update/MigrateTableExecutor.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPITest.java
Labels: type: refactor, feature: pipeline

#36093 fix:Support for the OPENDATASOURCE function in INSERT statements
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36103 Refactor MigrateTableStatement.sourceTargetEntries
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/distsql/statement/updatable/MigrateTableStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/ral/type/pipeline/migration/update/MigrateTableStatementAssert.java
Labels: type: refactor, feature: migration

#36104 Rename MigrateSourceTargetEntry
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPI.java
  kernel/data-pipeline/scenario/migration/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/distsql/handler/update/MigrateTableExecutor.java
  kernel/data-pipeline/scenario/migration/distsql/statement/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/distsql/statement/pojo/MigrateSourceTargetEntry.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPITest.java
Labels: type: refactor, feature: migration

#36105 Move MigrateSourceTargetEntry to shardingsphere-data-pipeline-scenario-migration-core module
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPI.java
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationSourceTargetEntry.java
  kernel/data-pipeline/scenario/migration/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/distsql/handler/update/MigrateTableExecutor.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/migration/api/MigrationJobAPITest.java
Labels: type: refactor, feature: pipeline

#36112 Fixes native tests
  test/native/pom.xml
Labels: in: test, in: proxy native

#36113 Add IdentifierValueUtils
  features/broadcast/distsql/parser/src/main/java/org/apache/shardingsphere/broadcast/distsql/parser/core/BroadcastDistSQLStatementVisitor.java
  features/encrypt/distsql/parser/src/main/java/org/apache/shardingsphere/encrypt/distsql/parser/core/EncryptDistSQLStatementVisitor.java
  features/mask/distsql/parser/src/main/java/org/apache/shardingsphere/mask/distsql/parser/core/MaskDistSQLStatementVisitor.java
  features/readwrite-splitting/distsql/parser/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/parser/core/ReadwriteSplittingDistSQLStatementVisitor.java
  features/sharding/distsql/parser/src/main/java/org/apache/shardingsphere/sharding/distsql/parser/core/ShardingDistSQLStatementVisitor.java
  kernel/global-clock/distsql/parser/src/main/java/org/apache/shardingsphere/globalclock/distsql/parser/core/GlobalClockDistSQLStatementVisitor.java
  kernel/single/distsql/parser/src/main/java/org/apache/shardingsphere/single/distsql/parser/core/SingleDistSQLStatementVisitor.java
  kernel/sql-federation/distsql/parser/src/main/java/org/apache/shardingsphere/sqlfederation/distsql/parser/core/SQLFederationDistSQLStatementVisitor.java
  kernel/sql-parser/distsql/parser/src/main/java/org/apache/shardingsphere/parser/distsql/parser/core/SQLParserDistSQLStatementVisitor.java
  kernel/sql-translator/distsql/parser/src/main/java/org/apache/shardingsphere/sqltranslator/distsql/parser/core/SQLTranslatorDistSQLStatementVisitor.java
  kernel/transaction/distsql/parser/src/main/java/org/apache/shardingsphere/transaction/distsql/parser/core/TransactionDistSQLStatementVisitor.java
  parser/distsql/engine/src/main/java/org/apache/shardingsphere/distsql/parser/core/kernel/KernelDistSQLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/util/IdentifierValueUtils.java
Labels: type: refactor, in: SQL parse

#36115 Refactor ShadowRuleStatementConverter
  features/shadow/distsql/handler/src/main/java/org/apache/shardingsphere/shadow/distsql/handler/converter/ShadowRuleStatementConverter.java
Labels: type: refactor, feature: shadow

#36116 Refactor ShardingIndexTokenGeneratorTest
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingIndexTokenGeneratorTest.java
Labels: feature: sharding, in: test

#36110 fix:Support for the LANGUAGE identifier
  parser/sql/dialect/sqlserver/src/main/antlr4/imports/sqlserver/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36114 Eliminate HiveServer2 integration's dependency on Hive Metastore Client
  RELEASE-NOTES.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.en.md
  infra/database/type/hive/pom.xml
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/data/loader/HiveMetaDataLoader.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/data/loader/PrestoMetaDataLoader.java
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hadoop/hadoop-common/3.3.6/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hadoop/hadoop-common/3.3.6/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hive/hive-jdbc/4.0.1/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reachability-metadata.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reachability-metadata.json
  pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/hive/SystemSchemasTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/reachability-metadata.json
  test/native/src/test/resources/test-native/yaml/jdbc/databases/hive/system-schemas.yaml
Labels: type: refactor, db: Hive

#36119 Minor refactor for ColumnSegmentBinder
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/ColumnSegmentBinder.java
Labels: type: refactor, in: SQL bind

#36121 For code format of nightly-ci.yml
  .github/workflows/nightly-ci.yml
Labels: type: refactor, type: build

#36120 fix:Support Hive CREATE VIEW statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DDLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/HiveStatement.g4
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDDLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/create-view.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-view.xml
Labels: type: enhancement, in: SQL parse, db: Hive

#36122 fix:Support Hive DROP VIEW statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/hive/src/main/antlr4/imports/hive/DDLStatement.g4
  parser/sql/dialect/hive/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/HiveStatement.g4
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDDLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/drop-view.xml
  test/it/parser/src/main/resources/sql/supported/ddl/drop-view.xml
Labels: type: enhancement, in: SQL parse, db: Hive

#36128 Refactor OpenGaussSystemCatalogAdminQueryExecutor
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreator.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemFunctionQueryExecutorCreator.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemTableQueryExecutorCreator.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectDatCompatibilityExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectPasswordDeadlineExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectPasswordNotifyTimeExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectVersionExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussShowVariableExecutor.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreatorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorFactoryTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemFunctionQueryExecutorCreatorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemTableQueryExecutorCreatorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectDatCompatibilityExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectPasswordDeadlineExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectPasswordNotifyTimeExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussSelectVersionExecutorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/executor/OpenGaussShowVariableExecutorTest.java
Labels: in: proxy, type: refactor
