Repository apache/shardingsphere, pull requests merged in 2025-04, with the labels that each got.

#35122 Refactor SQLWrapperException
  infra/exception/core/src/main/java/org/apache/shardingsphere/infra/exception/core/external/sql/type/wrapper/SQLWrapperException.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/sql/type/wrapper/SQLWrapperExceptionTest.java
Labels: type: refactor

#35099 Enhance combineType in DMLStatement.g4 to support EXCEPT ALL and INTE…
  RELEASE-NOTES.md
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
Labels: type: enhancement, in: SQL parse

#35100 Optimize PluginJarLoader, filter out hidden jar file
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/plugin/jar/PluginJarLoader.java
Labels: type: enhancement, feature: agent

#35124 Fix transaction lock when commit
  kernel/global-clock/core/src/main/java/org/apache/shardingsphere/globalclock/executor/GlobalClockTransactionHook.java
  kernel/transaction/api/src/main/java/org/apache/shardingsphere/transaction/spi/TransactionHook.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
Labels: type: bug, feature: transaction

#35125 Add select with concat in subquery rewrite case
  test/it/rewriter/src/test/resources/scenario/encrypt/case/query-with-cipher/dml/select/select-subquery.xml
Labels: feature: encrypt, in: test

#35127 Refactor SQLWrapperException
  infra/exception/core/src/main/java/org/apache/shardingsphere/infra/exception/core/external/sql/type/wrapper/SQLWrapperException.java
  infra/exception/core/src/test/java/org/apache/shardingsphere/infra/exception/core/external/sql/type/wrapper/SQLWrapperExceptionTest.java
Labels: type: refactor

#35129 Fix duplicate result when show rules used storage unit with readwrite-splitting rule
  RELEASE-NOTES.md
  features/readwrite-splitting/distsql/handler/src/main/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/InUsedReadwriteSplittingStorageUnitRetriever.java
  features/readwrite-splitting/distsql/handler/src/test/java/org/apache/shardingsphere/readwritesplitting/distsql/handler/query/InUsedReadwriteSplittingStorageUnitRetrieverTest.java
Labels: type: bug, feature: DistSQL

#35141 Modify sql federation e2e test to add order in subquery
  test/e2e/sql/src/test/resources/cases/dql/cases/db_tbl_sql_federation/e2e-dql-select-for-db-tbl-sql-federation.xml
Labels: type: refactor, in: test, feature: SQL federation

#35137 Support parsing MySQL stored procedure syntax
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DCLStatement.g4
  test/it/parser/src/main/resources/case/dcl/revoke.xml
  test/it/parser/src/main/resources/sql/supported/dcl/revoke-user.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#35142 Fix conflicting dependencies of BASE transaction integration module
  RELEASE-NOTES.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/special-api/transaction/seata.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  kernel/transaction/type/base/seata-at/src/test/resources/file.conf
  pom.xml
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/base/SeataTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/proxy/transactions/base/SeataTest.java
  test/native/src/test/resources/seata-script-client-conf-file.conf
Labels: type: dependencies

#35119 Update PostgreSQL version for ShardingSphere-Proxy to support BigDecimal with infinity
  distribution/proxy/src/main/release-docs/LICENSE
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/testcontainers/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/testcontainers/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/seata-at/_index.en.md
  examples/pom.xml
  pom.xml
Labels: type: build, type: dependencies

#35150 Refactor SQLRewriterIT
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: in: test

#35151 Refactor SQLRewriterIT.loadRootConfiguration()
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/EncryptSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/MixSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/ShardingSQLRewriterIT.java
Labels: in: test

#35152 Remove useless SQLRewriterIT.mockDataSource()
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/EncryptSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/MixSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/ShardingSQLRewriterIT.java
Labels: in: test

#35153 Refactor SQLRewriterIT's resourceMetaData creation
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: in: test

#35156 Refactor SQLRewriterIT.createDatabaseRules()
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/EncryptSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/MixSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/ShardingSQLRewriterIT.java
Labels: in: test

#35157 Refactor SQLRewriterIT.createGlobalRules()
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: type: refactor, in: test

#35158 Fix error that AdvisorConfigurationLoader cannot read the configuration file in the window environment
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
Labels: type: enhancement, feature: agent

#35161 Refactor SQLRewriterIT.bind()
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: in: test

#35162 Refactor SQLRewriterIT.TestCaseArgumentsProvider
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/SQLRewriterIT.java
Labels: in: test

#35160 Add log when configuration file for advice of plugins is not found
  agent/core/src/main/java/org/apache/shardingsphere/agent/core/advisor/config/AdvisorConfigurationLoader.java
Labels: type: enhancement, feature: agent

#35163 Remove useless InUsedStorageUnitRetriever of encrypt and mask
  features/encrypt/distsql/handler/src/main/java/org/apache/shardingsphere/encrypt/distsql/handler/query/InUsedEncryptStorageUnitRetriever.java
  features/encrypt/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.resource.InUsedStorageUnitRetriever
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/query/InUsedEncryptStorageUnitRetrieverTest.java
  features/mask/distsql/handler/src/main/java/org/apache/shardingsphere/mask/distsql/handler/query/InUsedMaskStorageUnitRetriever.java
  features/mask/distsql/handler/src/main/resources/META-INF/services/org.apache.shardingsphere.distsql.handler.executor.rql.resource.InUsedStorageUnitRetriever
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/query/InUsedMaskStorageUnitRetrieverTest.java
Labels: type: refactor, feature: DistSQL

#35165 Refactor ShardingSQLRewriterIT
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewrite/engine/scenario/ShardingSQLRewriterIT.java
Labels: in: test

#35168 Revise javadoc of ClusterPersistRepository
  mode/type/cluster/repository/api/src/main/java/org/apache/shardingsphere/mode/repository/cluster/ClusterPersistRepository.java
Labels: mode: cluster, type: refactor

#35170 Add DialectDatabaseMetaData.isSupportAutoCommitInNestedTransaction
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionBackendHandler.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/transaction/TransactionBackendHandlerTest.java
Labels: feature: transaction, type: refactor

#35171 Rename TransactionBackendHandler to TCLBackendHandler
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/SetTransactionHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TransactionalErrorAllowedSQLStatementHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/XATCLHandler.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandlerFactoryTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandlerTest.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/transaction/OpenGaussTransactionalErrorAllowedSQLStatementHandler.java
  proxy/backend/type/opengauss/src/main/resources/META-INF/services/org.apache.shardingsphere.proxy.backend.handler.tcl.TransactionalErrorAllowedSQLStatementHandler
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/transaction/OpenGaussTransactionalErrorAllowedSQLStatementHandlerTest.java
  proxy/backend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/transaction/PostgreSQLTransactionalErrorAllowedSQLStatementHandler.java
  proxy/backend/type/postgresql/src/main/resources/META-INF/services/org.apache.shardingsphere.proxy.backend.handler.tcl.TransactionalErrorAllowedSQLStatementHandler
  proxy/backend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/transaction/PostgreSQLTransactionalErrorAllowedSQLStatementHandlerTest.java
Labels: in: proxy, feature: transaction, type: refactor

#35172 Refactor resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
Labels: type: refactor, in: proxy native

#35174 Remove useless DialectDatabaseMetaData.isReservedWord()
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
Labels: type: refactor, in: metadata

#35175 Code format on JoinTableSegmentBinder
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/JoinTableSegmentBinder.java
Labels: type: refactor, in: SQL bind

#35176 Refactor ColumnProjection.getColumnName()
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjection.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjectionTest.java
Labels: type: refactor, in: SQL bind

#35177 Add DialectDatabaseMetaData.isJoinUsingColumnsByProjectionOrder() and isRightColumnsOrderFirstOnJoin()
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/JoinTableSegmentBinder.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
Labels: type: refactor, in: SQL bind

#35178 Revert "Refactor ColumnProjection.getColumnName()"
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjection.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjectionTest.java
Labels: type: refactor, in: SQL bind

#35179 Add JoinOrderOption
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/JoinTableSegmentBinder.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/option/JoinOrderOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
Labels: type: refactor, in: kernel

#35180 Add TransactionOption
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/option/TransactionOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteUpdateExecutor.java
  kernel/data-pipeline/scenario/cdc/core/src/main/java/org/apache/shardingsphere/data/pipeline/cdc/handler/CDCBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandler.java
Labels: type: refactor, in: kernel

#35181 Rename DialectDatabaseJoinOrderOption and DialectDatabaseTransactionOption
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/JoinTableSegmentBinder.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/option/DialectDatabaseJoinOrderOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/option/DialectDatabaseTransactionOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteUpdateExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
Labels: type: refactor, in: kernel

#35183 Add DialectDataTypeOption
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/datatype/DataTypeLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/DefaultDataTypeOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/DialectDataTypeOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/option/MySQLDataTypeOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDataTypeOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleDataTypeOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLDataTypeOption.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/util/SQLFederationDataTypeUtils.java
Labels: type: refactor, in: kernel

#35184 Move method position of DialectDatabaseMetaData.getDefaultNullsOrderType()
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
Labels: type: refactor, in: kernel

#35185 Refactor package of metadata.database.metadata.option
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/JoinTableSegmentBinder.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/datatype/DefaultDataTypeOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/datatype/DialectDataTypeOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/join/DialectJoinOrderOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/transaction/DialectTransactionOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/option/MySQLDataTypeOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDataTypeOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleDataTypeOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLDataTypeOption.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/pushdown/jdbc/DriverJDBCPushDownExecuteUpdateExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
Labels: type: refactor, in: kernel

#35187 Fix typo of metadata.option.schema
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/schema/DefaultSchemaOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/schema/DialectSchemaOption.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/metadata/database/fixture/TrunkDialectDatabaseMetaData.java
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleSchemaOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/PrestoDatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
Labels: type: refactor, in: kernel

#35188 Add DialectConnectionOption
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/node/StorageNodeAggregator.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnit.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/resource/unit/StorageUnitNodeMapCreator.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SchemaMetaDataUtils.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/connection/DialectConnectionOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rql/resource/ShowStorageUnitExecutor.java
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/information/SelectInformationSchemataExecutorTest.java
Labels: type: refactor, in: kernel

#35189 Add DialectTableOption
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/enums/EncryptDerivedColumnSuffix.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/TableMetaDataLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/DialectTableOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/test/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaDataTest.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaDataTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/util/TableRefreshUtils.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/DataSetEnvironmentManager.java
Labels: type: refactor, in: kernel

#35190 Add DatabaseTypeRegistry.formatTableNamePattern()
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/enums/EncryptDerivedColumnSuffix.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/TableMetaDataLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/TableNamePatternType.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/type/DatabaseTypeRegistry.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/test/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaDataTest.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaDataTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/util/TableRefreshUtils.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/DataSetEnvironmentManager.java
Labels: type: refactor, in: kernel

#35191 Remove useless cache on DatabaseTypeRegistry
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/type/DatabaseTypeRegistry.java
Labels: type: refactor, in: kernel

#35193 Refactor ColumnProjection to remove instance of MySQLDatabaseType
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjection.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/impl/ColumnProjectionTest.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/column/DialectColumnOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
Labels: type: refactor, in: SQL bind

#35194 Optimize properties data export in ClusterExportMetaDataGenerator
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/ClusterExportMetaDataGenerator.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/export/ExportMetaDataExecutorTest.java
Labels: type: enhancement, in: proxy, feature: DistSQL

#35197 Fix InUsedShardingStorageUnitRetriever
  features/sharding/distsql/handler/src/main/java/org/apache/shardingsphere/sharding/distsql/handler/query/InUsedShardingStorageUnitRetriever.java
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/handler/query/InUsedShardingStorageUnitRetrieverTest.java
Labels: type: bug, feature: DistSQL

#35201 Use provided dataSourceNames instead of usedDataSourceNames.
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/TablelessRouteEngineFactory.java
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/type/unicast/TablelessDataSourceUnicastRouteEngine.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/tableless/type/unicast/TablelessDataSourceUnicastRouteEngineTest.java
Labels: type: refactor

#35202 split alter schema into tables and views for MetaDataManagerPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/AlterViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/CreateViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/DropViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/AlterIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/CreateIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/DropIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/AlterTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/RenameTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/AlterViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/CreateViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/DropViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/MetaDataManagerPersistService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#35204 Optimize startup log, print instance id, IP and port.
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/datasource/ShardingSphereDataSource.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/ShardingSphereProxy.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyContainer.java
Labels: type: refactor

#35207 Decouple MySQL dependencies on ProjectionsContextTest
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/ProjectionsContextTest.java
Labels: in: test

#35208 Decouple MySQL dependencies on DatabaseRulesBuilderTest
  infra/common/src/test/java/org/apache/shardingsphere/infra/rule/builder/database/DatabaseRulesBuilderTest.java
Labels: in: test

#35209 Decouple MySQL dependencies on MaskRuleBuilderTest
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/rule/builder/MaskRuleBuilderTest.java
Labels: in: test, feature: mask

#35210 Decouple MySQL dependencies on proxy-backend-core module
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/variable/SetDistVariableExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/variable/SetDistVariableUpdatableRALBackendHandlerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/session/ConnectionSessionTest.java
Labels: in: proxy, in: test

#35206 Fix Operation not allowed after ResultSet closed exception when use sql federation
  RELEASE-NOTES.md
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DriverExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/ExecutorStatementManager.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/SQLExecutionUnitBuilder.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/jdbc/builder/PreparedStatementExecutionUnitBuilder.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/jdbc/builder/StatementExecutionUnitBuilder.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/StatementManager.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/processor/SQLFederationProcessor.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/processor/impl/StandardSQLFederationProcessor.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationTable.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/statement/JDBCBackendStatement.java
  proxy/frontend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/frontend/opengauss/command/query/extended/bind/OpenGaussComBatchBindExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLAggregatedBatchedStatementsCommandExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
Labels: type: bug, feature: SQL federation

#35213 Add insert statement assignments bind
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinder.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactoryTest.java
  test/it/binder/src/test/resources/cases/dml/insert.xml
  test/it/binder/src/test/resources/sqls/dml/insert.xml
Labels: type: enhancement, in: SQL bind

#35215 Fix the error message of AlgorithmInitializationException
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  infra/algorithm/core/src/main/java/org/apache/shardingsphere/infra/algorithm/core/exception/AlgorithmInitializationException.java
Labels: type: bug, in: infra

#35216 Fix the error message of AlgorithmExecuteException
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  infra/algorithm/core/src/main/java/org/apache/shardingsphere/infra/algorithm/core/exception/AlgorithmExecuteException.java
Labels: type: bug, in: infra

#35217 Print the SQL while exception occurred for ColumnMetaDataLoader
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/MetaDataLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/ColumnMetaDataLoader.java
Labels: type: refactor, in: metadata

#35220 Refactor PushDownMetaDataRefresher
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/PushDownMetaDataRefreshEngine.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/PushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/AlterIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/CreateIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/index/DropIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/schema/AlterSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/schema/CreateSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/schema/DropSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/AlterTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/CreateTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/DropTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/table/RenameTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/AlterViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/CreateViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/pushdown/type/view/DropViewPushDownMetaDataRefresher.java
Labels: type: refactor, in: metadata

#35222 Decouple MySQL dependencies on single-core test cases
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/engine/SingleRouteEngineTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/builder/SingleRuleBuilderTest.java
Labels: in: test, feature: single

#34943 Enhance parsing the Doris create materialized view
  RELEASE-NOTES.md
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DDLStatement.g4
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DorisKeyword.g4
  parser/sql/dialect/doris/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/DorisStatement.g4
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDDLStatementVisitor.java
  parser/sql/statement/type/doris/src/main/java/org/apache/shardingsphere/sql/parser/statement/doris/ddl/DorisCreateMaterializedViewStatement.java
  test/it/parser/src/main/resources/case/ddl/create-materialized-view.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-materialized-view.xml
Labels: type: enhancement, in: SQL parse, db: Doris

#35154 Support parsing MySQL stored procedure syntax part1
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  test/it/parser/src/main/resources/case/ddl/create-procedure.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-procedure.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#35218 Remove the force start parameter in startup script
  distribution/proxy/src/main/resources/bin/start.sh
  test/e2e/fixture/src/test/assembly/bin/start.sh
Labels: in: proxy, type: refactor

#35224 Drop the deleted table after the table reloaded
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
Labels: mode: cluster, type: refactor, mode: standalone

#35225 Use DialectIndexOption to instead of DialectObjectUniquenessLevelProvider
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingIndexTokenGenerator.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/index/DialectIndexOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/object/MySQLObjectUniquenessLevelProvider.java
  infra/database/type/mysql/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.object.DialectObjectUniquenessLevelProvider
  infra/database/type/mysql/src/test/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/object/MySQLObjectUniquenessLevelProviderTest.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/object/OpenGaussObjectUniquenessLevelProvider.java
  infra/database/type/opengauss/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.object.DialectObjectUniquenessLevelProvider
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/object/OpenGaussObjectUniquenessLevelProviderTest.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/object/OracleObjectUniquenessLevelProvider.java
  infra/database/type/oracle/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.object.DialectObjectUniquenessLevelProvider
  infra/database/type/oracle/src/test/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/object/OracleObjectUniquenessLevelProviderTest.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/object/PostgreSQLObjectUniquenessLevelProvider.java
  infra/database/type/postgresql/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.object.DialectObjectUniquenessLevelProvider
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/object/PostgreSQLObjectUniquenessLevelProviderTest.java
  infra/database/type/sqlserver/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.metadata.database.object.DialectObjectUniquenessLevelProvider
  infra/database/type/sqlserver/src/test/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/object/SQLServerObjectUniquenessLevelProviderTest.java
Labels: type: refactor, in: kernel

#35226 Remove useless DialectObjectUniquenessLevelProvider
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/object/DialectObjectUniquenessLevelProvider.java
Labels: type: refactor, in: kernel

#35230 Support MySQL lock in combines and parenthesized selects SQL parsing
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/insert.xml
  test/it/parser/src/main/resources/case/dml/select-lock.xml
  test/it/parser/src/main/resources/sql/supported/dml/insert.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-lock.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#35232 Refactor ShardingFetchDirectionTokenGenerator
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingFetchDirectionTokenGenerator.java
Labels: feature: sharding, type: refactor

#35231 Refactor mysql combine parse rule to support intersect priority
  parser/sql/dialect/doris/src/main/antlr4/imports/doris/DMLStatement.g4
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/DorisStatementVisitor.java
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/format/MySQLFormatVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/OpenGaussStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/PostgreSQLStatementVisitor.java
  test/it/parser/src/main/resources/case/ddl/create-table.xml
  test/it/parser/src/main/resources/case/ddl/create-view.xml
  test/it/parser/src/main/resources/case/dml/select-combine.xml
  test/it/parser/src/main/resources/case/dml/select-lock.xml
  test/it/parser/src/main/resources/case/dml/select-with.xml
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/case/dml/table.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-combine.xml
Labels: type: refactor, in: SQL parse, db: MySQL

#35235 Support Oracle join with brackets SQL parsing
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DMLStatement.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDMLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-join.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-join.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#35238 Support Oracle json_object function parsing
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/Keyword.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/OracleKeyword.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: in: SQL parse, db: Oracle

#35242 Move framework to engine package
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/E2ETestCasesLoader.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/E2ETestCaseArgumentsProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/E2ETestCaseSettings.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/context/E2ETestContext.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/E2EExtension.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/database/DatabaseAssertionMetaData.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/database/DatabaseAssertionMetaDataFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/database/impl/PostgreSQLDatabaseAssertionMetaData.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/ClusterTestParameterArrayGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/E2ETestParameterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/E2ETestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/ProxyStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/AssertionTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/CaseTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/E2ETestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/type/SQLCommandType.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/type/SQLExecuteType.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dql/GeneralDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentEngine.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentSetupProcessor.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/ContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/ContainerComposerRegistry.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/StandaloneContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/config/ProxyClusterContainerConfigurationFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/config/ProxyStandaloneContainerConfigurationFactory.java
Labels: type: refactor, in: test

#35243 Refactor E2EEnvironmentAware
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentAware.java
Labels: type: refactor, in: test

#35244 Add final with E2ETestContext
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/context/E2ETestContext.java
Labels: type: refactor, in: test

#35246 Add javadoc on E2EEnvironmentSetupProcessor
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentAware.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentSetupProcessor.java
Labels: in: test

#35247 Remove useless TotalSuitesCountCalculator
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/TotalSuitesCountCalculator.java
Labels: type: refactor, in: test

#35248 Refactor usage of E2EEnvironmentAware
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentSetupProcessor.java
Labels: type: refactor, in: test

#35249 Rename E2EEnvironmentSetupExtension
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentAware.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentSetupExtension.java
Labels: in: test

#35250 Refactor package of test.e2e.engine.type
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: in: test

#35251 Add SQLE2EIT
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/SQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentAware.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentSetupExtension.java
Labels: type: refactor, in: test

#35252 Refactor E2EEnvironmentEngine
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/SQLScriptUtils.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/E2EEnvironmentEngine.java
Labels: type: refactor, in: test

#35253 Remove useless SQLScriptUtils.executeBatch()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/SQLScriptUtils.java
Labels: type: refactor, in: test

#35254 Rename SQLE2EITEnvironmentExtension and E2ESettingExtension
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/E2ETestCaseSettings.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/E2ESettingExtension.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/SQLE2EIT.java
Labels: in: test

#35255 Rename SQLE2EITSettings
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/SQLE2EITSettings.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/SQLE2ETestCaseArgumentsProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: in: test

#35256 Rename SQLE2EEnvironmentEngine
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/SQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/SQLE2EEnvironmentEngine.java
Labels: in: test

#35257 Rename SQLE2ETestCases
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/SQLE2ETestCases.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/SQLE2ETestCasesXMLLoader.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/casse/SQLE2ETestCase.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/casse/SQLE2ETestCaseContext.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/casse/assertion/SQLE2ETestCaseAssertion.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/casse/assertion/SQLE2ETestCaseAssertionSQL.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/context/E2ETestContext.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/array/E2ETestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/AssertionTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/CaseTestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/param/model/E2ETestParameter.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
Labels: type: refactor, in: test

#35258 Rename SQLE2ETestContext
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/context/SQLE2ETestContext.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: in: test

#35259 Rename SQLE2ESettingExtension
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/arg/SQLE2EITSettings.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/SQLE2ESettingExtension.java
Labels: in: test

#35260 Refactor GeneralDMLE2EIT
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
Labels: in: test

#35261 Rename SQLE2EITSettingsExtension
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/SQLE2EITSettings.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/SQLE2EITSettingsExtension.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/arg/SQLE2ETestCaseArgumentsProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: type: refactor, in: test

#35262 Rename SQLE2EITArgumentsProvider
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/SQLE2EITArgumentsProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: type: refactor, in: test

#35263 Refactor SQLE2EITArgumentsProvider
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/framework/SQLE2EITArgumentsProvider.java
Labels: in: test

#35264 Refactor SQLE2ETestContext.sql
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/context/SQLE2ETestContext.java
Labels: in: test

#35265 Refactor RDLE2EIT
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
Labels: type: refactor, in: test

#35266 Rename SQLE2ETestContext to SQLE2EITContext and update references
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/SQLE2EITContext.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/BaseDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/engine/type/sql/dql/GeneralDQLE2EIT.java
Labels: in: test

#35271 Update section header for AI abstraction in README
  README.md
Labels: in: document

#35275 Refactor SQLFederationEngine and SystemSchemaUtils for improved schema handling
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SystemSchemaUtils.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
Labels: type: refactor

#35277 Fix mysql match against statement visit
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: bug, in: SQL parse, db: MySQL

#35278 Add OpenGauss and PostgreSQL schema option implementations
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/SimpleTableSegmentBinder.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/schema/DialectSchemaOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussSchemaOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLSchemaOption.java
Labels: type: refactor, in: metadata

#35281 Refactor EnumerableScanExecutor to use DatabaseTypeRegistry for system table option checks
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/utils/StatisticsAssembleUtils.java
Labels: type: refactor, feature: SQL federation

#35282 Refactor PipelineContainerComposer to use try-with-resources for statement management
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/PipelineContainerComposer.java
Labels: type: refactor, in: test

#35283 Enhance system table option handling by adding isSystemTable method and refactoring related logic
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/DefaultSystemTableOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/DialectSystemTableOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussSystemTableOption.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/constant/EnumerableConstants.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/utils/StatisticsAssembleUtils.java
Labels: type: refactor, feature: SQL federation

#35284 Refactor system table option handling to use driver query system catalog option
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/util/SystemSchemaUtils.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/DefaultSystemTableOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/table/DialectDriverQuerySystemCatalogOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDriverQuerySystemCatalogOption.java
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussSystemTableOptionTest.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/utils/StatisticsAssembleUtils.java
Labels: type: refactor, feature: SQL federation

#35287 Remove testcontainers database module and related references from documentation and code
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/testcontainers/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/testcontainers/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/optional-plugins/_index.en.md
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/connector/url/StandardJdbcUrlParserTest.java
  infra/database/type/pom.xml
  infra/database/type/sqlserver/src/test/java/org/apache/shardingsphere/infra/database/sqlserver/connector/SQLServerConnectionPropertiesParserTest.java
  infra/database/type/testcontainers/pom.xml
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcClickHouseDatabaseType.java
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcMySQLDatabaseType.java
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcOracleDatabaseType.java
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcPostgreSQLDatabaseType.java
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcSQLServerDatabaseType.java
  infra/database/type/testcontainers/src/main/java/org/apache/shardingsphere/infra/database/testcontainers/type/TcTiDBDatabaseType.java
  infra/database/type/testcontainers/src/test/java/org/apache/shardingsphere/infra/database/testcontainers/type/TestcontainersDatabaseTypeTest.java
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/testcontainers/TcPostgreSQLDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/testcontainers/TcSQLServerDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/testcontainers/TestcontainersDatabaseType.java
  test/native/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.type.DatabaseType
Labels: in: test, in: document

#35288 Refactor PaginationContextEngineTest to use dynamic DatabaseType retrieval
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngineTest.java
Labels: type: refactor, in: test

#35291 Add DialectAlterTableOption for alter table operations support
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/ddl/EncryptAlterTableTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/ddl/EncryptAlterTableTokenGeneratorTest.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/altertable/DialectAlterTableOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
Labels: type: refactor, feature: encrypt

#35292 Refactor getAlterTableOption method to return Optional<DialectAlterTableOption>
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/ddl/EncryptAlterTableTokenGenerator.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
Labels: type: refactor

#35295 Fix sonar issues
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussSystemTableOptionTest.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/PipelineContainerComposer.java
Labels: type: refactor

#35300 Refactor GenericSchemaBuilder
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/builder/GenericSchemaBuilder.java
Labels: type: refactor, in: metadata

#35298 Improve data consistency check table without unique key with DATA_MATCH
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/DataMatchTableDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/MatchingTableInventoryChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/TableInventoryChecker.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/DataMatchTableInventoryCheckerTest.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyChecker.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyCheckerTest.java
Labels: type: enhancement, feature: pipeline

#35301 Refactor TableMetadataReviseEngineTest
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/reviser/table/TableMetadataReviseEngineTest.java
Labels: type: refactor, in: test, in: metadata

#35303 Refactor EncryptProjectionTokenGenerator to use DialectDatabaseMetaData for quote character retrieval
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/projection/EncryptProjectionTokenGenerator.java
Labels: type: refactor, feature: encrypt

#35304 Refactor EncryptProjectionTokenGenerator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/projection/EncryptProjectionTokenGenerator.java
Labels: type: refactor, feature: encrypt
