Repository apache/shardingsphere, pull requests merged in 2025-05, with the labels that each got.

#35305 refactor(infra): optimize schema names loading logic
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
Labels: type: refactor, in: metadata

#35306 refactor(metadata): turn SchemaMetaDataLoader into a utility class
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
  infra/database/type/mysql/src/test/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLSchemaMetaDataLoaderTest.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/data/loader/OpenGaussMetaDataLoader.java
  infra/database/type/opengauss/src/test/java/org/apache/shardingsphere/infra/database/opengauss/metadata/data/loader/OpenGaussSchemaMetaDataLoaderTest.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLMetaDataLoader.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLSchemaMetaDataLoaderTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/datanode/SingleTableDataNodeLoader.java
Labels: type: refactor, in: metadata

#35307 Optimize table type array in SchemaMetaDataLoader
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
Labels: type: refactor, in: metadata

#35308 Refactor StandardPipelineTableMetaDataLoader
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/metadata/loader/StandardPipelineTableMetaDataLoader.java
Labels: type: refactor, in: metadata

#35309 Remove PipelineJdbcUtils and use DialectDataTypeOption instead
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/datatype/DefaultDataTypeOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/datatype/DialectDataTypeOption.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/datatype/DefaultDataTypeOptionTest.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/option/MySQLDataTypeOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDataTypeOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleDataTypeOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLDataTypeOption.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/inventory/splitter/InventoryDumperContextSplitter.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineJdbcUtilsTest.java
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/incremental/binlog/data/binary/MySQLBinlogBinaryStringHandler.java
Labels: type: refactor, feature: pipeline

#35311 Remove unused column type check methods
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/util/PipelineJdbcUtils.java
Labels: type: refactor, feature: pipeline

#35312 Rename dataTypeOption to delegate in DataTypeOption classes
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/option/MySQLDataTypeOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDataTypeOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleDataTypeOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLDataTypeOption.java
Labels: type: refactor

#35313 Optimize data type option implementations
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/option/MySQLDataTypeOption.java
  infra/database/type/opengauss/pom.xml
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussDataTypeOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleDataTypeOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLDataTypeOption.java
Labels: type: refactor

#35315 Rename table name pattern to identifier pattern
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/enums/EncryptDerivedColumnSuffix.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/TableMetaDataLoader.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/IdentifierNamePatternType.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/type/DatabaseTypeRegistry.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/util/TableRefreshUtils.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/DataSetEnvironmentManager.java
Labels: type: refactor

#35316 Rename IdentifierPatternType
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/IdentifierPatternType.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/type/DatabaseTypeRegistry.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
Labels: type: refactor

#35317 Move getIdentifierPatternType method
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/metadata/database/fixture/BranchDialectDatabaseMetaData.java
  infra/database/core/src/test/java/org/apache/shardingsphere/infra/database/core/metadata/database/fixture/TrunkDialectDatabaseMetaData.java
  infra/database/type/clickhouse/src/main/java/org/apache/shardingsphere/infra/database/clickhouse/metadata/database/ClickHouseDatabaseMetaData.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/h2/src/main/java/org/apache/shardingsphere/infra/database/h2/metadata/database/H2DatabaseMetaData.java
  infra/database/type/hive/src/main/java/org/apache/shardingsphere/infra/database/hive/metadata/database/HiveDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/PrestoDatabaseMetaData.java
  infra/database/type/sql92/src/main/java/org/apache/shardingsphere/infra/database/sql92/metadata/database/SQL92DatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
  test/fixture/database/src/main/java/org/apache/shardingsphere/test/fixture/database/DialectDatabaseMetaDataFixture.java
Labels: type: refactor

#35318 Reorganize schema option method in database metadata
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
Labels: type: refactor

#35319 Abstract default system schema logic
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/schema/DefaultSchemaOption.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/schema/DialectSchemaOption.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/option/OpenGaussSchemaOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleSchemaOption.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/option/PostgreSQLSchemaOption.java
Labels: type: refactor

#35320 Improve code readability in SchemaMetaDataLoader
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/loader/type/SchemaMetaDataLoader.java
Labels: type: refactor, in: metadata

#35321 Add duplicate entry error for MySQL
  infra/exception/core/src/main/java/org/apache/shardingsphere/infra/exception/core/external/sql/sqlstate/XOpenSQLState.java
  infra/exception/dialect/type/mysql/src/main/java/org/apache/shardingsphere/infra/exception/mysql/vendor/MySQLVendorError.java
Labels: type: refactor, db: MySQL

#35325 Improve DatabaseTypeEngineTest with more generic approach
  infra/common/src/test/java/org/apache/shardingsphere/infra/database/DatabaseTypeEngineTest.java
Labels: type: refactor, in: test

#35326 Refactor PostgreSQLMetaDataLoaderTest to use DatabaseType
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/data/loader/PostgreSQLMetaDataLoaderTest.java
Labels: in: test, db: PostgreSQL

#35327 refactor(postgresql): Remove redundant PostgreSQLDatabaseType usage
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PortalTest.java
Labels: in: test, db: PostgreSQL

#35329 Replace new OracleDatabaseType() with TypedSPILoader in RowNumberPaginationContextEngineTest
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngineTest.java
Labels: in: test

#35330 Remove redundant OracleDatabaseType instantiation
  infra/database/type/oracle/src/test/java/org/apache/shardingsphere/infra/database/oracle/metadata/data/loader/OracleMetaDataLoaderTest.java
Labels: in: test, db: Oracle

#35331 Optimize Oracle database handling in container composers
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/container/compose/NativeContainerComposer.java
Labels: type: refactor, in: test

#35333 Replace H2DatabaseType with DatabaseType in H2MetaDataLoaderTest
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/fixture/ShardingRouteEngineFixtureBuilder.java
  infra/database/type/h2/src/test/java/org/apache/shardingsphere/infra/database/h2/metadata/data/loader/H2MetaDataLoaderTest.java
Labels: in: test, in: metadata

#35335 Optimize MySQLMetaDataLoaderTest and ensure resource safety
  infra/database/type/mysql/src/test/java/org/apache/shardingsphere/infra/database/mysql/metadata/data/loader/MySQLMetaDataLoaderTest.java
Labels: in: test, db: MySQL

#35336 Replace MySQLDatabaseType with DatabaseType in tests
  proxy/backend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/executor/ShowProcessListExecutorTest.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/execute/MySQLComStmtExecuteExecutorTest.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MySQLContainer.java
Labels: type: refactor, in: test, db: MySQL

#35337 Format code in database container classes
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MySQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/OpenGaussContainer.java
Labels: type: refactor, in: test

#35338 Ignored table in data consistency check handled as successful
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/result/TableDataConsistencyCheckResult.java
  kernel/data-pipeline/scenario/consistency-check/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/api/ConsistencyCheckJobAPI.java
  kernel/data-pipeline/scenario/consistency-check/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/task/ConsistencyCheckTasksRunner.java
Labels: type: enhancement, feature: pipeline

#35340 Improve "show migration check status jobId": update table formatting
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedTable.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedTableTest.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyChecker.java
Labels: type: enhancement, feature: pipeline

#35341 Fix table metadata check uniformed
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/reviser/schema/ShardingSchemaTableAggregationReviser.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/reviser/schema/ShardingSchemaTableAggregationReviserTest.java
Labels: in: metadata

#35342 Remove useless SQLFederationStatistic in sql federation
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationSchema.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationTable.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/statistic/SQLFederationStatistic.java
Labels: type: refactor, feature: SQL federation

#35347 Minor refactor for SQLFederationProcessor
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/processor/SQLFederationProcessor.java
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/processor/impl/StandardSQLFederationProcessor.java
Labels: type: refactor, feature: SQL federation

#35348 Fix `show processlist` not wait for all nodes
  RELEASE-NOTES.md
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/lock/ProcessOperationLock.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/process/lock/ProcessOperationLockRegistry.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/lock/ProcessOperationLockRegistryTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistServiceTest.java
Labels: type: bug, in: proxy, feature: DistSQL

#35349 Replace mock(DatabaseType.class) with databaseType in test cases
  infra/rewrite/src/test/java/org/apache/shardingsphere/infra/rewrite/sql/token/common/pojo/generic/SubstitutableColumnNameTokenTest.java
Labels: in: test

#35350 Minor refactor for SQLFederationEngine and SQLFederationDataTypeBuilder
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/utils/EnumeratorUtils.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/datatype/SQLFederationDataTypeBuilder.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationDatabase.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationSchema.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/schema/SQLFederationTable.java
Labels: type: refactor, feature: SQL federation

#35352 Optimize execution prepare engine for high frequency invocation
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/AbstractExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DriverExecutionPrepareEngine.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/jdbc/builder/PreparedStatementExecutionUnitBuilder.java
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/raw/RawExecutionPrepareEngine.java
Labels: type: refactor, in: kernel

#35353 Refactor AbstractExecutionPrepareEngine
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/AbstractExecutionPrepareEngine.java
Labels: type: refactor

#35354 Revert "Update README.md with DeepWiki badge"
  README.md
Labels: in: document

#35357 Add runtime scope for database infrastructure dependencies
  db-protocol/opengauss/pom.xml
  db-protocol/postgresql/pom.xml
  proxy/backend/core/pom.xml
  proxy/bootstrap/pom.xml
Labels: in: proxy, type: dependencies

#35358 Move parser dependencies to runtime scope
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/fixture/pom.xml
  test/e2e/operation/pipeline/pom.xml
  test/e2e/operation/transaction/pom.xml
  test/it/spi/pom.xml
  test/native/pom.xml
Labels: in: proxy, type: refactor, type: dependencies

#35359 Move default dependencies to a separate profile
  distribution/proxy/pom.xml
  docs/community/content/involved/release/shardingsphere.cn.md
  docs/community/content/involved/release/shardingsphere.en.md
Labels: type: refactor, type: build

#35360 Add Hive JDBC dependency for testing
  infra/database/type/hive/pom.xml
  pom.xml
Labels: type: refactor, type: dependencies, db: Hive

#35361 Add database-specific profiles for proxy module
  distribution/proxy/pom.xml
Labels: in: proxy, type: build

#35362 Activate default-dep profile by default
  .github/workflows/e2e-agent.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-e2e-agent.yml
  agent/README.md
  distribution/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
  docs/blog/content/material/Oct_12_4_Updates_and_FAQ_Your_1_Minute_Quick_Start_Guide_to_ShardingSphere.cn.md
  docs/blog/content/material/Oct_12_4_Updates_and_FAQ_Your_1_Minute_Quick_Start_Guide_to_ShardingSphere.en.md
  docs/community/content/involved/contribute/contributor.cn.md
  docs/community/content/involved/contribute/contributor.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/observability/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/observability/_index.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/docker.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/docker.en.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/startup/graalvm-native-image.en.md
  examples/README.md
Labels: type: refactor, type: build

#35363 Remove unused dependencies in pom.xml
  jdbc/pom.xml
  kernel/data-pipeline/core/pom.xml
  kernel/data-pipeline/scenario/cdc/core/pom.xml
  proxy/backend/core/pom.xml
  proxy/backend/type/mysql/pom.xml
  proxy/backend/type/opengauss/pom.xml
  proxy/backend/type/postgresql/pom.xml
  test/e2e/agent/fixture/jdbc-fixture/pom.xml
  test/e2e/driver/pom.xml
  test/e2e/operation/pipeline/pom.xml
  test/it/pipeline/pom.xml
Labels: type: refactor, type: build

#35364 Add parser dependencies for MySQL, OpenGauss and PostgreSQL
  kernel/data-pipeline/dialect/mysql/pom.xml
  kernel/data-pipeline/dialect/opengauss/pom.xml
  kernel/data-pipeline/dialect/postgresql/pom.xml
Labels: type: refactor, type: build

#35365 Update dependencies and reorganize pom structure
  agent/plugins/metrics/core/pom.xml
  distribution/pom.xml
  proxy/bootstrap/pom.xml
  test/e2e/fixture/pom.xml
  test/e2e/operation/pipeline/pom.xml
  test/e2e/operation/transaction/pom.xml
  test/it/spi/pom.xml
  test/native/pom.xml
Labels: type: build

#35366 Update netty version to 4.1.121.Final
  distribution/proxy/src/main/release-docs/LICENSE
  pom.xml
Labels: type: refactor, type: dependencies

#35368 Remove unused MySQL dependency
  db-protocol/core/pom.xml
Labels: in: test, type: dependencies

#35369 Remove unused shardingsphere-db-protocol-core dependency
  proxy/bootstrap/pom.xml
  proxy/frontend/core/pom.xml
  proxy/frontend/spi/pom.xml
Labels: in: proxy, type: dependencies

#35370 Adjust frontend module dependencies and structure
  proxy/frontend/core/pom.xml
  proxy/frontend/type/mysql/pom.xml
  proxy/frontend/type/opengauss/pom.xml
  proxy/frontend/type/postgresql/pom.xml
Labels: type: refactor, type: dependencies

#35372 Update dependencies and adjust protocol for different databases
  proxy/backend/core/pom.xml
  proxy/backend/type/mysql/pom.xml
  proxy/backend/type/opengauss/pom.xml
  proxy/backend/type/postgresql/pom.xml
Labels: type: refactor, type: dependencies

#35373 Support Oracle SQL parsing V1 keywords as identifiers
  RELEASE-NOTES.md
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/DDLStatement.g4
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/OracleKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: in: SQL parse, db: Oracle

#35375 Update dependencies and remove duplicates
  distribution/pom.xml
  proxy/backend/core/pom.xml
  proxy/bootstrap/pom.xml
  proxy/frontend/core/pom.xml
Labels: type: refactor, type: dependencies

#35376 Update database protocol type test to use FIXTURE instead of PostgreSQL
  proxy/frontend/core/pom.xml
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/protocol/FrontDatabaseProtocolTypeFactoryTest.java
Labels: in: proxy, in: test

#35377 Reorganize exception package structure
  infra/exception/dialect/core/src/main/java/org/apache/shardingsphere/infra/exception/dialect/exception/connection/AccessDeniedException.java
  infra/exception/dialect/core/src/main/java/org/apache/shardingsphere/infra/exception/dialect/exception/syntax/column/ColumnNotFoundException.java
  infra/exception/dialect/type/mysql/src/main/java/org/apache/shardingsphere/infra/exception/mysql/mapper/MySQLDialectExceptionMapper.java
  infra/exception/dialect/type/mysql/src/test/java/org/apache/shardingsphere/infra/exception/mysql/mapper/MySQLDialectExceptionMapperTest.java
  infra/exception/dialect/type/postgresql/src/main/java/org/apache/shardingsphere/infra/exception/postgresql/mapper/PostgreSQLDialectExceptionMapper.java
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/netty/CDCChannelInboundHandler.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/MySQLAuthenticationEngine.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareParameterMarkerExtractor.java
  proxy/frontend/type/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/authentication/MySQLAuthenticationEngineTest.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/describe/PostgreSQLComDescribeExecutorTest.java
Labels: type: refactor

#35378 Remove dialect exception dependencies
  jdbc/pom.xml
Labels: type: refactor, type: build

#35380 Minor refactor for EncryptAssignmentTokenGenerator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptAssignmentTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptInsertAssignmentTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptUpdateAssignmentTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptAssignmentTokenGeneratorTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptInsertAssignmentTokenGeneratorTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/assignment/EncryptUpdateAssignmentTokenGeneratorTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/enums/SubqueryType.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/generic/bound/ColumnSegmentBoundInfo.java
Labels: type: refactor, feature: encrypt

#35384 Support Oracle in literal sql parsing
  RELEASE-NOTES.md
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#35386 Use loaded database type in front database protocol type to replace default definition
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/protocol/FrontDatabaseProtocolTypeFactory.java
  proxy/frontend/core/src/test/java/org/apache/shardingsphere/proxy/frontend/protocol/FrontDatabaseProtocolTypeFactoryTest.java
Labels: in: proxy, type: refactor

#35388 Add default isolation level for databases
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/transaction/DialectTransactionOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/SetTransactionHandler.java
Labels: feature: transaction, type: refactor

#35389 Refactor MySQLComStmtPrepareExecutor
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareExecutor.java
Labels: in: proxy, type: refactor, db: MySQL

#35391 Remove useless MySQLTableStatement
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLTableStatement.java
Labels: type: refactor, in: SQL parse, db: MySQL

#35397 Use ShowCreateUserStatement on ProxyBackendHandlerFactory
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
Labels: in: proxy, type: refactor

#35398 Update sharding not support doc
  docs/document/content/features/sharding/limitation.cn.md
  docs/document/content/features/sharding/limitation.en.md
Labels: in: document

#35399 Refactor ProxyBackendHandlerFactory
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
Labels: in: proxy, type: refactor

#35400 Replace MySQL-specific show statement classes with core show statement classes
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/data/DatabaseBackendHandlerFactory.java
Labels: in: proxy, type: refactor

#35401 Generalize SQL statement handling in UnavailableProxyState
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/impl/UnavailableProxyState.java
Labels: in: proxy, type: refactor

#35394 Add indexes to repository table and refactor index metadata loading i…
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/data/model/IndexMetaData.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/data/loader/OracleMetaDataLoader.java
  mode/type/standalone/repository/provider/jdbc/src/main/resources/sql/H2.xml
Labels: type: performance, db: Oracle, mode: standalone

#35403 Fix dorny/paths-filter error in Operation E2E
  .github/workflows/e2e-operation.yml
Labels: type: build

#35404 Add extractAllExpressions method to replace extractAndPredicates
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/checker/sql/predicate/EncryptPredicateColumnSupportedChecker.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/condition/EncryptConditionEngine.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptPredicateColumnTokenGenerator.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ColumnExtractor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ExpressionExtractor.java
  parser/sql/statement/core/src/test/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ExpressionExtractorTest.java
Labels: type: enhancement, in: kernel

#35407 Fix Operation E2E dependencies error
  test/e2e/fixture/pom.xml
Labels: type: build, type: dependencies

#35408 Fix shardingsphere-test-e2e-pipeline
  test/e2e/fixture/pom.xml
Labels: in: test, feature: pipeline

#35409 Fix shardingsphere-test-e2e-transaction
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/config/proxy/ProxyClusterContainerConfigurationFactory.java
Labels: feature: transaction, in: test

#35410 Remove useless shardingsphere-proxy-frontend-core dependency
  test/e2e/operation/pipeline/pom.xml
  test/e2e/operation/transaction/pom.xml
Labels: feature: transaction, in: test, feature: pipeline

#35411 Replace ThreadLocalRandom with SecureRandom for better security
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/type/unicast/TablelessDataSourceUnicastRouteEngine.java
Labels: type: refactor, feature: single

#35412 Remove useless Etcd dependency from e2e test fixture
  test/e2e/fixture/pom.xml
Labels: type: refactor, in: test

#35414 Revert "Replace ThreadLocalRandom with SecureRandom for better security"
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/type/unicast/TablelessDataSourceUnicastRouteEngine.java
Labels: type: refactor

#35415 Add high frequency invocation annotation for tableless route engine
  infra/route/src/main/java/org/apache/shardingsphere/infra/route/engine/tableless/type/unicast/TablelessDataSourceUnicastRouteEngine.java
Labels: type: refactor, feature: single

#35417 Add generated key support check for database dialects
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/keygen/DialectGeneratedKeyOption.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/StandardDatabaseConnector.java
Labels: type: refactor, in: kernel

#35418 Fix "show migration list" getting job sharding infos failure when job is inactive
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/distsql/handler/migration/query/ShowMigrationListExecutor.java
Labels: type: refactor, feature: DistSQL, feature: migration

#35419 Improve default database protocol type handling
  proxy/frontend/core/src/main/java/org/apache/shardingsphere/proxy/frontend/protocol/FrontDatabaseProtocolTypeFactory.java
Labels: in: proxy, type: refactor

#35420 Refactor ShowMigrationListExecutor
  kernel/data-pipeline/distsql/handler/src/main/java/org/apache/shardingsphere/data/pipeline/distsql/handler/migration/query/ShowMigrationListExecutor.java
Labels: type: refactor, feature: pipeline

#35421 Correct SQL state and error message for MySQL duplicate entry errors
  infra/exception/dialect/type/mysql/src/main/java/org/apache/shardingsphere/infra/exception/mysql/vendor/MySQLVendorError.java
Labels: in: proxy, type: refactor, db: MySQL

#35423 Update Oracle option schema available flag
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/option/OracleSchemaOption.java
Labels: type: refactor, in: kernel

#35424 Improve heterogeneous databases migration
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/ImporterConfiguration.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/segment/PipelineSQLSegmentBuilder.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/general/PostgreSQLToMySQLMigrationE2EIT.java
Labels: type: enhancement, feature: pipeline

#35428 Add dev profile to proxy bootstrap module
  proxy/bootstrap/pom.xml
Labels: type: refactor, type: build

#35430 Refactor SQLStatementContextFactoryTest
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactoryTest.java
Labels: type: refactor, in: test

#35431 Split the default-dep profile of Proxy and JDBC
  distribution/jdbc/pom.xml
  distribution/pom.xml
  distribution/proxy-native/pom.xml
  distribution/proxy/pom.xml
Labels: type: refactor, type: build

#35435 Use extractAllExpressions method to replace extractAndPredicates
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/route/retriever/dml/table/column/impl/ShadowDeleteStatementDataSourceMappingsRetriever.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/route/retriever/dml/table/column/impl/ShadowSelectStatementDataSourceMappingsRetriever.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/route/retriever/dml/table/column/impl/ShadowUpdateStatementDataSourceMappingsRetriever.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/RowNumberPaginationContextEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/TopPaginationContextEngine.java
Labels: type: refactor, in: kernel

#35437 Optimize handling of autocommit in transactions
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandler.java
Labels: type: refactor

#35439 Support explain statement sql bind
  RELEASE-NOTES.md
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dal/ExplainStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/type/DALStatementBindEngine.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/type/DMLStatementBindEngine.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dal/ExplainStatement.java
Labels: type: enhancement, in: SQL bind

#35438 Add DialectSQLStatementCreator
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/transaction/DialectTransactionOption.java
  infra/database/type/firebird/src/main/java/org/apache/shardingsphere/infra/database/firebird/metadata/database/FirebirdDatabaseMetaData.java
  infra/database/type/mysql/src/main/java/org/apache/shardingsphere/infra/database/mysql/metadata/database/MySQLDatabaseMetaData.java
  infra/database/type/opengauss/src/main/java/org/apache/shardingsphere/infra/database/opengauss/metadata/database/OpenGaussDatabaseMetaData.java
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/DialectSQLStatementCreator.java
  parser/sql/statement/type/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/statement/opengauss/OpenGaussStatementCreator.java
  parser/sql/statement/type/opengauss/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.statement.core.DialectSQLStatementCreator
  parser/sql/statement/type/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/statement/postgresql/PostgreSQLStatementCreator.java
  parser/sql/statement/type/postgresql/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.statement.core.DialectSQLStatementCreator
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandler.java
Labels: feature: transaction, type: refactor

#35440 Optimize CallStatement structure and parsing logic
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDMLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/type/PostgreSQLDMLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dml/CallStatement.java
  parser/sql/statement/type/doris/src/main/java/org/apache/shardingsphere/sql/parser/statement/doris/dml/DorisCallStatement.java
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLCallStatement.java
  parser/sql/statement/type/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/statement/postgresql/dml/PostgreSQLCallStatement.java
  parser/sql/statement/type/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/statement/sqlserver/dml/SQLServerCallStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/CallStatementAssert.java
Labels: type: refactor, in: SQL parse

#35443 Refactor ShardingCopySupportedCheckerTest for better readability and maintainability
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/dml/ShardingCopySupportedCheckerTest.java
Labels: feature: sharding, type: refactor, in: test

#35445 Optimize DoStatement structure and parsing logic
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/type/DorisDMLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDMLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dml/DoStatement.java
  parser/sql/statement/type/doris/src/main/java/org/apache/shardingsphere/sql/parser/statement/doris/dml/DorisDoStatement.java
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLDoStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/DoStatementAssert.java
Labels: type: refactor, in: SQL parse

#35446 Simplify test cases for ProjectionsContextEngine
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/engine/ProjectionsContextEngineTest.java
Labels: in: test, in: SQL bind

#35447 Remove redundant SimpleTableSegment in SelectStatement
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/DorisStatementVisitor.java
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/type/HiveDMLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/presto/src/main/java/org/apache/shardingsphere/sql/parser/presto/visitor/statement/type/PrestoDMLStatementVisitor.java
  parser/sql/statement/type/doris/src/main/java/org/apache/shardingsphere/sql/parser/statement/doris/dml/DorisSelectStatement.java
  parser/sql/statement/type/hive/src/main/java/org/apache/shardingsphere/sql/parser/statement/hive/dml/HiveSelectStatement.java
  parser/sql/statement/type/mysql/src/main/java/org/apache/shardingsphere/sql/parser/statement/mysql/dml/MySQLSelectStatement.java
  parser/sql/statement/type/presto/src/main/java/org/apache/shardingsphere/sql/parser/statement/presto/dml/PrestoSelectStatement.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/sane/SaneQueryResultEngineTest.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/dml/impl/SelectStatementAssert.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/dml/SelectStatementTestCase.java
Labels: type: refactor, in: SQL parse

#35448 Move package of oracle segment
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/segment/oracle/CursorForLoopStatementSegment.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/segment/oracle/ProcedureBodyEndNameSegment.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/segment/oracle/ProcedureCallNameSegment.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/segment/oracle/SQLStatementSegment.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/statement/oracle/ddl/OracleCreateFunctionStatement.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/statement/oracle/ddl/OracleCreateProcedureStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/plsql/PLSQLStatementAssert.java
Labels: in: SQL parse, db: Oracle

#35449 Adjust SQL parser statement dependencies as pluggable
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingAlterViewSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactoryTest.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngine.java
  infra/route/src/test/java/org/apache/shardingsphere/infra/route/engine/tableless/TablelessRouteEngineFactoryTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/checker/sql/SingleDropSchemaSupportedCheckerTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/checker/sql/SingleDropTableSupportedCheckerTest.java
  parser/sql/dialect/clickhouse/pom.xml
  parser/sql/dialect/doris/pom.xml
  parser/sql/dialect/firebird/pom.xml
  parser/sql/dialect/hive/pom.xml
  parser/sql/dialect/mysql/pom.xml
  parser/sql/dialect/opengauss/pom.xml
  parser/sql/dialect/oracle/pom.xml
  parser/sql/dialect/postgresql/pom.xml
  parser/sql/dialect/presto/pom.xml
  parser/sql/dialect/sql92/pom.xml
  parser/sql/dialect/sqlserver/pom.xml
  parser/sql/engine/pom.xml
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/PostgreSQLCommand.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/PostgreSQLCommandTest.java
  test/it/parser/pom.xml
Labels: type: refactor, in: SQL parse

#35451 Add DialectPaginationOption
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/engine/PaginationContextEngine.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/DialectDatabaseMetaData.java
  infra/database/core/src/main/java/org/apache/shardingsphere/infra/database/core/metadata/database/metadata/option/pagination/DialectPaginationOption.java
  infra/database/type/oracle/src/main/java/org/apache/shardingsphere/infra/database/oracle/metadata/database/OracleDatabaseMetaData.java
  infra/database/type/sqlserver/src/main/java/org/apache/shardingsphere/infra/database/sqlserver/metadata/database/SQLServerDatabaseMetaData.java
Labels: type: refactor

#35452 Change parser dependencies scope to compile for data-pipeline-dialect module
  kernel/data-pipeline/dialect/mysql/pom.xml
  kernel/data-pipeline/dialect/opengauss/pom.xml
  kernel/data-pipeline/dialect/postgresql/pom.xml
Labels: type: refactor, type: dependencies, feature: pipeline

#35453 Generalize subquery statement type
  parser/sql/dialect/clickhouse/src/main/java/org/apache/shardingsphere/sql/parser/clickhouse/visitor/statement/ClickHouseStatementVisitor.java
  parser/sql/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/doris/visitor/statement/DorisStatementVisitor.java
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/FirebirdStatementVisitor.java
  parser/sql/dialect/hive/src/main/java/org/apache/shardingsphere/sql/parser/hive/visitor/statement/HiveStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  parser/sql/dialect/presto/src/main/java/org/apache/shardingsphere/sql/parser/presto/visitor/statement/PrestoStatementVisitor.java
  parser/sql/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/SQL92StatementVisitor.java
  parser/sql/dialect/sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/SQLServerStatementVisitor.java
Labels: type: refactor, in: SQL parse

#35454 Remove useless test fixture database dependency
  proxy/backend/type/postgresql/pom.xml
  proxy/frontend/type/mysql/pom.xml
Labels: type: refactor, in: test

#35450 Fix empty_storage_units e2e exception
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/executor/src/main/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutor.java
  kernel/sql-federation/executor/src/test/java/org/apache/shardingsphere/sqlfederation/executor/enumerable/EnumerableScanExecutorTest.java
  kernel/sql-federation/optimizer/src/test/java/org/apache/shardingsphere/sqlfederation/optimizer/it/SQLStatementCompilerIT.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutorTest.java
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-complex-select-system-schema.xml
Labels: in: test

#35457 Remove useless SimpleTableSegmentBinder.PG_CATALOG
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/SimpleTableSegmentBinder.java
Labels: type: refactor, in: SQL bind

#35460 Fix sonar issues
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/PaginationContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/engine/ProjectionsContextEngineTest.java
Labels: type: refactor, in: test

#35462 Refactor SubquerySegmentBinderTest
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/SubquerySegmentBinderTest.java
Labels: type: refactor, in: test, in: SQL bind

#35463 Fix pg, og system table query exception caused by sql federation refactor
  kernel/sql-federation/core/src/main/java/org/apache/shardingsphere/sqlfederation/engine/SQLFederationEngine.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/expression/impl/FunctionConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/from/impl/SimpleTableConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/converter/segment/generic/OwnerConverter.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/opengauss/OpenGaussFunctionRegister.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/function/postgresql/PostgreSQLFunctionRegister.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/catalog/SQLFederationCatalogReader.java
  kernel/sql-federation/optimizer/src/main/java/org/apache/shardingsphere/sqlfederation/optimizer/metadata/util/SQLFederationValidatorUtils.java
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/OpenGaussStatementVisitor.java
  parser/sql/dialect/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/postgresql/visitor/statement/PostgreSQLStatementVisitor.java
  test/e2e/sql/src/test/resources/cases/dql/e2e-dql-complex-select-system-schema.xml
Labels: type: bug, feature: SQL federation

#35427 Fix nativeTest for Firebird optional module
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/firebird/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.calcite/calcite-core/1.38.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.hadoop/hadoop-common/3.3.6/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.2.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.junit.jupiter/junit-jupiter/5.11.1/reflect-config.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/algorithm/testcontainers/TcPostgreSQLDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/algorithm/testcontainers/TcSQLServerDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/algorithm/testcontainers/TestcontainersDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/proxy/ProxyTestingServer.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/transactions/base/SeataTest.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/proxy/transactions/base/SeataTest.java
  test/native/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.type.DatabaseType
Labels: in: test, db: Firebird

#35464 Remove useless openGauss visit logic
  parser/sql/dialect/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/OpenGaussStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: type: refactor, in: SQL parse, db: openGauss

#35441 Support parsing MySQL stored procedure syntax part5
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/DDLStatement.g4
  test/it/parser/src/main/resources/case/dcl/revoke.xml
  test/it/parser/src/main/resources/case/ddl/create-procedure.xml
  test/it/parser/src/main/resources/sql/supported/dcl/revoke-user.xml
  test/it/parser/src/main/resources/sql/supported/ddl/create-procedure.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#35466 Update dependencies for proxy bootstrap
  proxy/bootstrap/pom.xml
Labels: in: proxy, type: refactor, in: test

#35471 Try to fix sql-e2e
  test/e2e/fixture/pom.xml
Labels: in: test

#35473 Add doc for running nativeTest on Windows 11 and Windows Server 2025
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.en.md
Labels: in: document, in: proxy native

#35472 Refactor DriverExecutionPrepareEngine to use metaData
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DriverExecutionPrepareEngine.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/batch/preparedstatement/DriverExecuteBatchExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/facade/DriverExecutorFacade.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/StandardDatabaseConnector.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutor.java
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
Labels: type: refactor, in: kernel

#35474 Optimize column segment extraction in SQL parsing
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/DeleteStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/UpdateStatementContext.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ColumnExtractor.java
  parser/sql/statement/core/src/test/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ColumnExtractorTest.java
Labels: type: refactor, in: SQL parse

#35475 Support e2e sql execute proxy adapter sql in NATIVE mode
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/data/loader/PrestoMetaDataLoader.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/ITContainers.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereJdbcEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/NativeStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/OpenGaussContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/PostgreSQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/StandaloneContainerComposer.java
  test/e2e/sql/src/test/resources/env/it-env.properties
Labels: type: enhancement, in: test

#35477 Update doc for e2e sql
  docs/document/content/test-manual/integration-test/_index.cn.md
  docs/document/content/test-manual/integration-test/_index.en.md
Labels: in: document

#35484 Add databaseType parameter to federation metadata refresher methods
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/FederationMetaDataRefreshEngine.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/FederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/AlterViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/CreateViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/federation/type/DropViewFederationMetaDataRefresher.java
Labels: type: refactor, feature: SQL federation

#35485 Refactor ShardingDQLResultMerger
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMerger.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/datanode/DataNode.java
  kernel/single/distsql/handler/src/main/java/org/apache/shardingsphere/single/distsql/handler/update/UnloadSingleTableExecutor.java
Labels: feature: sharding, type: refactor

#35487 Refactor ProxySQLExecutor
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
Labels: in: proxy, type: refactor

#35491 Refactor CreateFunctionStatement and CreateProcedureStatement
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/procedure/CursorForLoopStatementSegment.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/procedure/ProcedureBodyEndNameSegment.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/procedure/ProcedureCallNameSegment.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/procedure/SQLStatementSegment.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateFunctionStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateProcedureStatement.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/statement/oracle/ddl/OracleCreateFunctionStatement.java
  parser/sql/statement/type/oracle/src/main/java/org/apache/shardingsphere/sql/parser/statement/oracle/ddl/OracleCreateProcedureStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/asserts/statement/plsql/PLSQLStatementAssert.java
Labels: type: refactor, in: SQL parse, db: Oracle

#35496 Remove unused parserDatabaseType parameter
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/metadata/generator/PipelineDDLDecorator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/datasource/PipelineJobDataSourcePreparer.java
Labels: type: refactor, feature: pipeline

#35497 Rearrange SelectStatementContext constructor parameters
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/common/IteratorStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ddl/ShardingDDLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/ShardingDQLResultMergerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByMemoryMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByRowComparatorTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/groupby/GroupByStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByStreamMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/orderby/OrderByValueTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/LimitDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/RowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/dql/pagination/TopAndRowNumberDecoratorMergedResultTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/generator/impl/ShardingRemoveTokenGeneratorTest.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactory.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/AlterViewStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/CreateViewStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/CursorStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContext.java
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContext.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/select/pagination/PaginationContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/SelectStatementContextTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussSystemCatalogAdminQueryExecutorTest.java
Labels: type: refactor, in: SQL bind

#35476 Refactor ClickHouse's nativeTest
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/development/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/clickhouse/_index.en.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/hiveserver2/_index.en.md
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.github.docker-java/docker-java-api/3.4.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.junit.jupiter/junit-jupiter/5.11.1/reflect-config.json
  pom.xml
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/algorithm/testcontainers/TcClickhouseDatabaseType.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/ClickHouseTest.java
  test/native/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.database.core.type.DatabaseType
  test/native/src/test/resources/test-native/sql/clickhouse-init.sql
  test/native/src/test/resources/test-native/yaml/jdbc/databases/clickhouse.yaml
Labels: in: test

#35501 Remove unused constructor from SQLStatementBinderContext
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/SQLStatementBinderContext.java
Labels: type: refactor, in: SQL bind

#35504 Add GraalVM Reachability Metadata and corresponding nativeTest for Presto Iceberg Connector
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/graalvm-native-image/_index.en.md
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/PrestoDatabaseMetaData.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/option/PrestoDataTypeOption.java
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.facebook.presto/presto-jdbc/0.292/proxy-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.facebook.presto/presto-jdbc/0.292/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.facebook.presto/presto-jdbc/0.292/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.2.0/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.3.0/proxy-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.3.0/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.seata/seata-all/2.3.0/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/reflect-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/generated-reachability-metadata/resource-config.json
  infra/reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere/shardingsphere-infra-reachability-metadata/reflect-config.json
  pom.xml
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/TestShardingService.java
  test/native/src/test/java/org/apache/shardingsphere/test/natived/jdbc/databases/PrestoTest.java
  test/native/src/test/resources/META-INF/native-image/shardingsphere-test-native-test-metadata/reflect-config.json
  test/native/src/test/resources/test-native/properties/presto-iceberg.properties
  test/native/src/test/resources/test-native/yaml/jdbc/databases/presto.yaml
Labels: in: proxy native, db: Presto

#35506 Fix binding method in ProxyBackendHandlerFactory to include database type
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
Labels: in: proxy, type: refactor, in: SQL bind

#35505 Add doc for Presto optional plugin
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.en.md
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/PrestoDatabaseMetaData.java
  infra/database/type/presto/src/main/java/org/apache/shardingsphere/infra/database/presto/metadata/database/option/PrestoDataTypeOption.java
  infra/reachability-metadata/src/main/resources/META-INF/native-image/com.facebook.presto/presto-jdbc/0.292/resource-config.json
Labels: in: document, db: Presto

#35509 Optimize MySQLComFieldListPacketExecutor with DatabaseType
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/fieldlist/MySQLComFieldListPacketExecutor.java
Labels: in: proxy, type: refactor, in: SQL bind

#35510 Optimize MySQL multi-statements handling
  proxy/frontend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/text/query/MySQLMultiStatementsHandler.java
Labels: in: proxy, type: refactor, in: SQL bind

#35512 Refactor PostgreSQLComParseExecutor to utilize DatabaseType in SQL parser engine creation
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/parse/PostgreSQLComParseExecutor.java
Labels: type: refactor, in: SQL bind

#35516 Refactor PostgreSQLBatchedStatementsExecutor to use database type consistently
  proxy/frontend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutor.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLAggregatedBatchedStatementsCommandExecutorTest.java
  proxy/frontend/type/postgresql/src/test/java/org/apache/shardingsphere/proxy/frontend/postgresql/command/query/extended/PostgreSQLBatchedStatementsExecutorTest.java
Labels: type: refactor, db: PostgreSQL, in: SQL bind

#35519 Refactor PreviewExecutor to use database type consistently
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/rul/PreviewExecutor.java
Labels: type: refactor, db: MySQL, in: SQL bind

#35520 Refactor SQL parsing to use DatabaseType consistently on ShardingSpherePreparedStatement and ShardingSphereStatement
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSphereStatement.java
Labels: type: refactor, in: SQL bind

#35495 Improve statistics collect job, collect data at startup
  infra/common/src/main/java/org/apache/shardingsphere/infra/config/props/temporary/TemporaryConfigurationPropertyKey.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectContextManagerLifecycleListener.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJob.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorker.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/listener/StatisticsCollectScheduleJobCronUpdateListener.java
  kernel/schedule/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.manager.listener.StatisticsCollectJobCronUpdateListener
  kernel/schedule/core/src/test/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorkerTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/listener/StatisticsCollectJobCronUpdateListener.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/GlobalConfigurationManager.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/variable/SetDistVariableExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/queryable/variable/ShowDistVariablesExecutorTest.java
  test/e2e/sql/src/test/resources/cases/ral/dataset/empty_rules/show_dist_variables.xml
Labels: type: enhancement, in: proxy

#35523 Fix missing comma in `ALTER SQL_FEDERATION RULE`
  RELEASE-NOTES.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/global-rule/alter-sql-federation-rule.cn.md
  docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/global-rule/alter-sql-federation-rule.en.md
  kernel/sql-federation/distsql/parser/src/main/antlr4/imports/sql-federation/RALStatement.g4
Labels: type: bug, feature: SQL federation, feature: DistSQL

#35527 Fix tbl e2e exception caused by #35520 refactor
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.java
Labels: in: test

#35528 Modify SQLValue to support more e2e test type
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/value/SQLValue.java
Labels: type: refactor, in: test

#35530 Update the outdated description of transaction support in Presto doc
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/optional-plugins/presto/_index.en.md
  test/native/src/test/java/org/apache/shardingsphere/test/natived/commons/TestShardingService.java
Labels: in: document, db: Presto

#35535 Support more e2e type in SQLValue and date format in DateTimeFormatterFactory
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/datetime/DateTimeFormatterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/value/SQLValue.java
Labels: type: refactor, in: test

#35538 Remove useless SQLBindEngine.bind()
  infra/binder/core/src/main/java/org/apache/shardingsphere/infra/binder/engine/SQLBindEngine.java
Labels: type: refactor, in: SQL bind

#35539 Remove redundant database type mock from insert statement tests
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/ExistsSubqueryExpressionBinderTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
Labels: type: refactor, in: test

#35541 Refactor MaskMergedResult logic
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/merge/MaskResultDecoratorEngine.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/merge/dql/MaskDQLResultDecorator.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/merge/dql/MaskMergedResult.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/merge/dql/MaskDQLResultDecoratorTest.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/merge/dql/MaskMergedResultTest.java
Labels: type: refactor, feature: mask

#35545 Extractor interval unit from mysql TIMESTAMPADD function
  kernel/sql-federation/compiler/src/main/java/org/apache/shardingsphere/sqlfederation/compiler/sql/ast/converter/segment/expression/impl/LiteralExpressionConverter.java
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/MySQLKeyword.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
Labels: type: refactor, in: SQL parse, db: MySQL

#35549 Reuse standard SQLStatement and remove unnecessary Firebird SQLStatements
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/type/FirebirdDCLStatementVisitor.java
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/type/FirebirdDDLStatementVisitor.java
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/type/FirebirdDMLStatementVisitor.java
  parser/sql/dialect/firebird/src/main/java/org/apache/shardingsphere/sql/parser/firebird/visitor/statement/type/FirebirdTCLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/AbstractSQLStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dcl/CreateUserStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dcl/GrantStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dcl/RevokeStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/AlterDomainStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/AlterSequenceStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/AlterTableStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/AlterTriggerStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CommentStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateCollationStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateDomainStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateFunctionStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateProcedureStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateSequenceStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/CreateTableStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/DropTableStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/dml/MergeStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dal/FirebirdSetStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dal/FirebirdShowStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdAlterUserStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdCreateRoleStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdCreateUserStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdDropRoleStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdDropUserStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdGrantStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdRenameUserStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dcl/FirebirdRevokeStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdAlterDomainStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdAlterProcedureStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdAlterSequenceStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdAlterTableStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdAlterTriggerStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCommentStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateCollationStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateDomainStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateFunctionStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateProcedureStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateSequenceStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateTableStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdCreateTriggerStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdDropTableStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/ddl/FirebirdExecuteStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/dml/FirebirdMergeStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/tcl/FirebirdCommitStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/tcl/FirebirdRollbackStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/tcl/FirebirdSavepointStatement.java
  parser/sql/statement/type/firebird/src/main/java/org/apache/shardingsphere/sql/parser/statement/firebird/tcl/FirebirdSetTransactionStatement.java
Labels: type: refactor, in: SQL parse, db: Firebird

#35559 Remove DialectSQLStatementCreator
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/DialectSQLStatementCreator.java
  parser/sql/statement/type/opengauss/src/main/java/org/apache/shardingsphere/sql/parser/statement/opengauss/OpenGaussStatementCreator.java
  parser/sql/statement/type/opengauss/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.statement.core.DialectSQLStatementCreator
  parser/sql/statement/type/postgresql/src/main/java/org/apache/shardingsphere/sql/parser/statement/postgresql/PostgreSQLStatementCreator.java
  parser/sql/statement/type/postgresql/src/main/resources/META-INF/services/org.apache.shardingsphere.sql.parser.statement.core.DialectSQLStatementCreator
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandler.java
  test/it/parser/src/main/resources/case/plsql/create-procedure.xml
Labels: type: refactor, in: SQL parse

#35560 Add double millis formatter and update SQLValue parsing logic
  infra/util/src/main/java/org/apache/shardingsphere/infra/util/datetime/DateTimeFormatterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/value/SQLValue.java
Labels: in: test

#35561 Add support for "tinyblob" type in SQLValue parsing logic
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/cases/value/SQLValue.java
Labels: in: test

#35568 Reuse standard SQLStatement and remove unnecessary SQL92 SQLStatements
  agent/plugins/metrics/core/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/core/advice/SQLRouteCountAdviceTest.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/fixture/EncryptGeneratorFixtureBuilder.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingCreateFunctionSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingCreateProcedureSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingCreateTableSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/ddl/ShardingDropTableSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/dml/ShardingDeleteSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/checker/sql/dml/ShardingUpdateSupportedCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/merge/ShardingResultMergerEngineTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/checker/ddl/ShardingDropTableRouteContextCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/checker/dml/ShardingUpdateRouteContextCheckerTest.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/route/engine/type/ShardingRouteEngineFactoryTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/segment/insert/keygen/engine/GeneratedKeyContextEngineTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/SQLStatementContextFactoryTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dcl/GrantStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dcl/RevokeStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/AlterTableStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/CreateTableStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/DropTableStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/ddl/PrepareStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/DeleteStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/InsertStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/context/statement/dml/UpdateStatementContextTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/DeleteStatementBinderTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinderTest.java
  infra/binder/core/src/test/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/UpdateStatementBinderTest.java
  infra/executor/src/test/java/org/apache/shardingsphere/infra/executor/sql/process/ProcessEngineTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/SingleSQLRouterTest.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/route/engine/engine/SingleRouteEngineTest.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/util/AutoCommitUtilsTest.java
  parser/sql/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/type/SQL92DCLStatementVisitor.java
  parser/sql/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/type/SQL92DDLStatementVisitor.java
  parser/sql/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/type/SQL92DMLStatementVisitor.java
  parser/sql/dialect/sql92/src/main/java/org/apache/shardingsphere/sql/parser/sql92/visitor/statement/type/SQL92TCLStatementVisitor.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/dcl/SQL92GrantStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/dcl/SQL92RevokeStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/ddl/SQL92AlterTableStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/ddl/SQL92CreateTableStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/ddl/SQL92DropTableStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/dml/SQL92DeleteStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/dml/SQL92InsertStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/dml/SQL92UpdateStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/tcl/SQL92CommitStatement.java
  parser/sql/statement/type/sql92/src/main/java/org/apache/shardingsphere/sql/parser/statement/sql92/tcl/SQL92SetTransactionStatement.java
Labels: type: refactor, in: SQL parse
