Repository apache/shardingsphere, pull requests merged in 2025-02, with the labels that each got.

#34546 Refactor DatabaseRulesBuilder
  infra/common/src/main/java/org/apache/shardingsphere/infra/rule/builder/database/DatabaseRulesBuilder.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/DatabaseRuleConfigurationManager.java
Labels: type: refactor, in: metadata

#34547 Move MetaDataContextManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/factory/MetaDataContextsFactory.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/database/DatabaseMetaDataManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/ResourceSwitchManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/StorageUnitManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/SwitchingResource.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleConfigurationManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/GlobalConfigurationManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/RuleItemManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/statistics/StatisticsManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/PersistServiceFacade.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/PersistServiceBuilder.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/fixture/PersistServiceBuilderFixture.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/manager/DatabaseMetaDataManagerTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/manager/SwitchingResourceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/StatisticsChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/builder/ClusterPersistServiceBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/builder/ClusterPersistServiceBuilderTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/builder/StandalonePersistServiceBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/builder/StandalonePersistServiceBuilderTest.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34548 Rename DatabaseRuleItemManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleItemManager.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/NamedRuleItemChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/UniqueRuleItemChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandlerTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34549 Refactor DatabaseRuleConfigurationManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/MetaDataContextManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleConfigurationManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleItemManager.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34550 Refactor StorageUnitManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/StorageUnitManager.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/StorageUnitChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandlerTest.java
Labels: type: refactor, in: metadata

#34551 Refactor StorageUnitManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/StorageUnitManager.java
Labels: type: refactor, in: metadata

#34552 Refactor StorageUnitManager
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/resource/StorageUnitManager.java
Labels: type: refactor, in: metadata

#34555 Refactor ComputeNodePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/ComputeNodePersistService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeOnlineHandler.java
Labels: mode: cluster, type: refactor

#34558 Refactor StatisticsNodePath
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorker.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableRowDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/statistics/StatisticsPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/StatisticsNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/ShardingSphereStatisticsNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/StatisticsNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/StatisticsChangedHandler.java
Labels: type: refactor

#34560 Remove DatabaseMetaDataNodePath.getTableRootPath()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/DatabaseMetaDataNodePathTest.java
Labels: type: refactor, in: metadata

#34561 Refactor TableMetaDataNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathTest.java
Labels: mode: cluster, type: refactor

#34562 Refactor ViewMetaDataNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathTest.java
Labels: mode: cluster, type: refactor

#34563 Refactor metadata version type from String to int
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersionTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleItemManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/DatabaseMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathTest.java
  mode/spi/src/main/java/org/apache/shardingsphere/mode/spi/rule/item/alter/AlterNamedRuleItem.java
  mode/spi/src/main/java/org/apache/shardingsphere/mode/spi/rule/item/alter/AlterRuleItem.java
  mode/spi/src/main/java/org/apache/shardingsphere/mode/spi/rule/item/alter/AlterUniqueRuleItem.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/NamedRuleItemChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/UniqueRuleItemChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandlerTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/RuleItemChangedBuilder.java
Labels: mode: cluster, type: refactor

#34564 Refactor StandaloneMetaDataManagerPersistService
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor

#34565 Refactor TableMetaDataNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
Labels: type: refactor, in: metadata

#34566 Refactor ViewMetaDataNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
Labels: type: refactor, in: metadata

#34569 Add RuleItemChangedBuildExecutor
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/RuleItemChangedBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/RuleItemChangedBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, in: metadata

#34572 Refactor MetaDataManagerPersistService
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/update/CreateBroadcastTableRuleExecutorTest.java
  features/broadcast/distsql/handler/src/test/java/org/apache/shardingsphere/broadcast/distsql/handler/update/DropBroadcastTableRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/AlterEncryptRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/CreateEncryptRuleExecutorTest.java
  features/encrypt/distsql/handler/src/test/java/org/apache/shardingsphere/encrypt/distsql/handler/update/DropEncryptRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/AlterMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/CreateMaskRuleExecutorTest.java
  features/mask/distsql/handler/src/test/java/org/apache/shardingsphere/mask/distsql/handler/update/DropMaskRuleExecutorTest.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/AlterDatabaseRuleOperator.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/CreateDatabaseRuleOperator.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/engine/update/rdl/rule/engine/database/type/DropDatabaseRuleOperator.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/AlterStorageUnitExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/UnregisterStorageUnitExecutor.java
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/UnregisterStorageUnitExecutorTest.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/LoadSingleTableExecutorTest.java
  kernel/single/distsql/handler/src/test/java/org/apache/shardingsphere/single/distsql/handler/update/SetDefaultSingleTableStorageUnitExecutorTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/federation/type/AlterViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/federation/type/CreateViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/federation/type/DropViewFederationMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/index/AlterIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/index/CreateIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/index/DropIndexPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/schema/AlterSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/schema/CreateSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/schema/DropSchemaPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/table/AlterTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/table/CreateTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/table/DropTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/table/RenameTablePushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/view/AlterViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/view/CreateViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/metadata/pushdown/type/view/DropViewPushDownMetaDataRefresher.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/MetaDataManagerPersistService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/database/DropDatabaseBackendHandler.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/YamlDatabaseConfigurationImportExecutor.java
Labels: mode: cluster, type: refactor, mode: standalone

#34575 Minor refactor for encrypt insert token generator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertCipherNameTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDerivedColumnsTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDerivedColumnsTokenGeneratorTest.java
Labels: type: refactor, feature: encrypt

#34574 Refactor MetaDataVersionPersistService.getNextVersion()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/manager/rule/DatabaseRuleItemManager.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
Labels: type: refactor, in: metadata

#34576 Refactor MetaDataVersion
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersionTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/RuleItemChangedBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemDroppedBuildExecutor.java
Labels: type: refactor, in: metadata

#34577 Add mode.node.path.config package
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProvider.java
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProviderTest.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProvider.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProviderTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProvider.java
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProviderTest.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProvider.java
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProviderTest.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProvider.java
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProviderTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProviderTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProvider.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProviderTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/RuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/root/RuleRootNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/spi/RuleNodePathProvider.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/root/RuleRootNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/QualifiedDataSourceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/StatisticsNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/tuple/fixture/node/RuleNodePathProviderFixture.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/NamedRuleItemChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/UniqueRuleItemChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandlerTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/RuleItemChangedBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemDroppedBuildExecutor.java
Labels: mode: cluster, type: refactor, mode: standalone

#34580 Use VersionNodePath on other NodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/changed/executor/type/RuleItemDroppedBuildExecutor.java
Labels: mode: cluster, type: refactor, mode: standalone

#34570 Refactor ClusterMetaDataManagerPersistService
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#34583 Refactor DatabaseRuleMetaDataNodePath.getVersionNodePath()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathTest.java
Labels: type: refactor

#34584 Refactor DataSourceMetaDataNodePath.getVersionNodePath()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34585 Refactor TableMetaDataNodePath.getVersionNodePath()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34586 Refactor ViewMetaDataNodePath.getVersionNodePath()
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34587 Add VersionNodePath.isVersionPath()
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
Labels: type: refactor, in: metadata

#34588 Minor refactor for EncryptPredicateColumnTokenGenerator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptPredicateColumnTokenGenerator.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/ViewMetaDataPersistServiceTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ColumnExtractor.java
Labels: type: refactor, feature: encrypt

#34589 Refactor DatabaseRuleMetaDataNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathTest.java
Labels: type: refactor, in: metadata

#34590 Move RuleItemChangedBuilder to mode core
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/RuleItemChangedBuilder.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/RuleItemChangedBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/ViewMetaDataPersistServiceTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/NamedRuleItemChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/type/UniqueRuleItemChangedHandler.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34592 Add VersionNodePath.findIdentifierByActiveVersionPath()
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandlerTest.java
Labels: type: refactor, in: metadata

#34593 Fix sonar issue on EncryptInsertDerivedColumnsTokenGenerator
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDerivedColumnsTokenGenerator.java
Labels: type: refactor, feature: encrypt

#34594 Remove getter of VersionNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
Labels: type: refactor, in: metadata

#34595 Refactor NamedRuleItemNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
Labels: type: refactor, in: metadata

#34596 Refactor UniqueRuleItemNodePath and NamedRuleItemNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePathTest.java
Labels: type: refactor

#34597 Refactor usage of VersionNodePathParser
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
Labels: type: refactor, in: metadata

#34599 Refactor PropertiesPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
Labels: type: refactor, in: metadata

#34600 Support case when then else segment bind
  RELEASE-NOTES.md
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/ExpressionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/CaseWhenExpressionBinder.java
Labels: type: enhancement, in: SQL bind

#34602 For code format
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
Labels: type: refactor

#34603 Fix sonar issue on UniqueRuleItemNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/rule/item/UniqueRuleItemNodePath.java
Labels: type: refactor

#34604 Refactor RuleItemChangedBuilder
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/RuleItemChangedBuilder.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/RuleItemChangedBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34605 Implements formatTableNamePattern for PostgreSQLDatabaseMetaData
  infra/database/type/postgresql/src/main/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaData.java
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaDataTest.java
Labels: type: refactor, in: metadata

#34606 Code format for ClusterMetaDataManagerPersistService
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#34607 Fix sonar issue for PostgreSQLDatabaseMetaDataTest
  infra/database/type/postgresql/src/test/java/org/apache/shardingsphere/infra/database/postgresql/metadata/database/PostgreSQLDatabaseMetaDataTest.java
Labels: in: test

#34609 Rename MetaDataVersion.INIT_VERSION
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
Labels: type: refactor, in: metadata

#34610 Refactor PropertiesPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistServiceTest.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34601 Use DistSQLDatabaseRuleQueryExecutorAssert in ShowShardingAlgorithmExecutorTest
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAlgorithmExecutorTest.java
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-algorithm-current-config.yaml
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-algorithm.xml
Labels: in: test, feature: DistSQL

#34611 Refactor TableMetaDataPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/TableMetaDataPersistServiceTest.java
Labels: type: refactor, in: metadata

#34612 Refactor ViewMetaDataPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/metadata/ViewMetaDataPersistServiceTest.java
Labels: type: refactor, in: metadata

#34613 Refactor GlobalRulePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistServiceTest.java
Labels: type: refactor, in: metadata

#34614 Refactor DataSourceUnitPersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, in: metadata

#34615 Refactor DatabaseRulePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  mode/type/standalone/core/src/test/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistServiceTest.java
Labels: type: refactor, in: metadata

#34616 Remove MetaDataVersionPersistService.switchActiveVersion
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
Labels: type: refactor, in: metadata

#34608 Optimize database admin executor creator
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/statistics/collector/opengauss/OpenGaussStatisticsCollector.java
  infra/common/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.metadata.statistics.collector.DialectDatabaseStatisticsCollector
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLInformationSchemaExecutorFactory.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreator.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreatorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorFactoryTest.java
  proxy/backend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/admin/PostgreSQLAdminExecutorCreator.java
Labels: type: enhancement, in: proxy

#34617 Refactor MetaDataVersionPersistService.switchActiveVersion
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
Labels: type: refactor, in: metadata

#34618 Add MetaDataVersionPersistService.persist
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
Labels: type: refactor, in: metadata

#34619 Support Quoted strings placed next to each other in MySQL parser.
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/format/MySQLFormatVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/MySQLStatementVisitor.java
  parser/sql/dialect/mysql/src/main/java/org/apache/shardingsphere/sql/parser/mysql/visitor/statement/type/MySQLDALStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/value/literal/impl/StringLiteralValue.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-escape.xml
Labels: in: SQL parse, db: MySQL

#34620 Refactor StandaloneMetaDataManagerPersistService
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, mode: standalone

#34623 Private MetaDataVersionPersistService.switchActiveVersion
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
Labels: type: refactor, in: metadata

#34624 Remove useless MetaDataVersion.nextActiveVersion
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
Labels: type: refactor, in: metadata

#34625 Rename MetaDataVersion.activeVersion
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/version/MetaDataVersion.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor, in: metadata

#34626 Remove the versionWildcardPattern of VersionNodePathParser
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathParser.java
Labels: mode: cluster, type: refactor, mode: standalone

#34627 Refactor GlobalRuleNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
Labels: mode: cluster, type: refactor, mode: standalone

#34628 Remove wrong owner set for CommonTableExpressionSegmentBinder
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/with/CommonTableExpressionSegmentBinder.java
  test/it/binder/src/test/resources/cases/dml/select.xml
Labels: type: refactor, in: SQL bind

#34629 Add ReloadMetaDataContextFailedException for ClusterMetaDataManagerPersistService
  docs/document/content/user-manual/error-code/sql-error-code.cn.md
  docs/document/content/user-manual/error-code/sql-error-code.en.md
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/exception/ReloadMetaDataContextFailedException.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
Labels: mode: cluster, type: refactor

#34631 Refactor GlobalRuleNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/GlobalRuleNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34632 Refactor StandaloneMetaDataManagerPersistService
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
Labels: type: refactor

#34633 Remove useless SQLException on MetaDataManagerPersistService
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/AlterStorageUnitExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/RegisterStorageUnitExecutor.java
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/UnregisterStorageUnitExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/MetaDataManagerPersistService.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/YamlDatabaseConfigurationImportExecutor.java
Labels: type: refactor, in: metadata

#34621 Optimize DialectDatabaseStatisticsCollector
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/statistics/collector/DialectDatabaseStatisticsCollector.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/statistics/collector/opengauss/OpenGaussStatisticsCollector.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/statistics/collector/postgresql/PostgreSQLStatisticsCollector.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/statistics/collector/shardingsphere/ShardingSphereStatisticsCollector.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/refresher/statistics/StatisticsRefreshEngine.java
  proxy/backend/type/opengauss/src/main/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreator.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorCreatorTest.java
  proxy/backend/type/opengauss/src/test/java/org/apache/shardingsphere/proxy/backend/opengauss/handler/admin/OpenGaussAdminExecutorFactoryTest.java
  proxy/backend/type/postgresql/src/main/java/org/apache/shardingsphere/proxy/backend/postgresql/handler/admin/PostgreSQLAdminExecutorCreator.java
Labels: type: enhancement, in: proxy

#34634 Fix sonar issues
  infra/distsql-handler/src/test/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/UnregisterStorageUnitExecutorTest.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/SetDistVariableExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/util/MetaDataImportExecutor.java
  proxy/backend/type/mysql/src/main/java/org/apache/shardingsphere/proxy/backend/mysql/handler/admin/MySQLInformationSchemaExecutorFactory.java
Labels: type: refactor

#34635 Move DatabaseMetaDataNodePath.getVersionPath to VersionNodePathGenerator
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathGenerator.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathGeneratorTest.java
Labels: type: refactor, in: metadata

#34638 Support MySQL SELECT CAST AS YEAR statement parse
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#34642 Refactor VersionNodePathGenerator.isActiveVersionPath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/RepositoryTuplePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathGenerator.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathGeneratorTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
Labels: type: refactor, in: metadata

#34644 Rename ruleName to ruleTypeName
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
Labels: type: refactor, in: metadata

#34645 Refactor DatabaseRulePersistService
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
Labels: type: refactor, in: metadata

#34647 Refactor RuleConfigurationChangedHandlerTest
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathTest.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandlerTest.java
Labels: mode: cluster, in: test

#34648 Add more test cases on GlobalRuleNodePath
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathTest.java
Labels: mode: cluster, in: test

#34649 Refactor RuleRootNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/root/RuleRootNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/root/RuleRootNodePathTest.java
Labels: type: refactor, in: metadata

#34651 Add NodePathPattern.IDENTIFIER
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathPattern.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/root/RuleRootNodePath.java
Labels: type: refactor, in: metadata

#34656 Rename DatabaseRuleNodePath
  features/broadcast/core/src/main/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProvider.java
  features/broadcast/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/broadcast/core/src/test/java/org/apache/shardingsphere/broadcast/metadata/nodepath/BroadcastRuleNodePathProviderTest.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProvider.java
  features/encrypt/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/metadata/nodepath/EncryptRuleNodePathProviderTest.java
  features/mask/core/src/main/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProvider.java
  features/mask/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/mask/core/src/test/java/org/apache/shardingsphere/mask/metadata/nodepath/MaskRuleNodePathProviderTest.java
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProvider.java
  features/readwrite-splitting/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/readwrite-splitting/core/src/test/java/org/apache/shardingsphere/readwritesplitting/metadata/nodepath/ReadwriteSplittingRuleNodePathProviderTest.java
  features/shadow/core/src/main/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProvider.java
  features/shadow/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/shadow/core/src/test/java/org/apache/shardingsphere/shadow/metadata/nodepath/ShadowRuleNodePathProviderTest.java
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  features/sharding/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProviderTest.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProvider.java
  kernel/single/core/src/main/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/metadata/nodepath/SingleRuleNodePathProviderTest.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/RuleItemChangedBuilder.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/RuleItemChangedBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/spi/DatabaseRuleNodePathProvider.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/tuple/fixture/node/RuleNodePathProviderFixture.java
  mode/node/src/test/resources/META-INF/services/org.apache.shardingsphere.mode.node.spi.DatabaseRuleNodePathProvider
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandlerTest.java
Labels: type: refactor, in: metadata

#34655 Improve pipeline job progress incremental latestActiveTimeMillis persistence
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/IncrementalTaskAckCallback.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/task/runner/TransmissionTasksRunner.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/task/IncrementalTaskAckCallbackTest.java
Labels: type: enhancement, feature: pipeline

#34657 Rename DatabaseRuleRootNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/NamedRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/root/DatabaseRuleRootNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/item/NamedRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/root/DatabaseRuleRootNodePathTest.java
Labels: type: refactor, in: metadata

#34653 Optimize connection properties comparison in AlterStorageUnitExecutor
  infra/distsql-handler/src/main/java/org/apache/shardingsphere/distsql/handler/executor/rdl/resource/AlterStorageUnitExecutor.java
Labels: type: enhancement, in: proxy, feature: DistSQL

#34658 Rename UniqueDatabaseRuleItemNodePath and NamedDatabaseRuleItemNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/NamedDatabaseRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueDatabaseRuleItemNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/item/NamedDatabaseRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueDatabaseRuleItemNodePathTest.java
Labels: type: refactor, in: metadata

#34659 Rename ruleTypeName to ruleType
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/persist/service/MetaDataManagerPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterMetaDataManagerPersistService.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/persist/service/StandaloneMetaDataManagerPersistService.java
  test/it/yaml/src/main/java/org/apache/shardingsphere/test/it/yaml/YamlRepositoryTupleSwapperEngineIT.java
Labels: type: refactor, in: metadata

#34660 Fix mysql sql parser error when sql contains implicit concat expression
  RELEASE-NOTES.md
  parser/sql/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: bug, in: SQL parse, db: MySQL

#34662 Refactor GlobalRuleChangedHandler
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistServiceTest.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistServiceTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandlerTest.java
Labels: type: refactor, in: metadata

#34663 Rename currentActiveVersion to activeVersion
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/RuleItemChangedBuilder.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/RuleItemChangedBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemAlteredBuildExecutor.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/changed/executor/type/RuleItemDroppedBuildExecutor.java
Labels: type: refactor, in: metadata

#34664 Remove special dot process on DatabaseRuleNodePath
  features/sharding/core/src/main/java/org/apache/shardingsphere/sharding/metadata/nodepath/ShardingRuleNodePathProvider.java
  features/sharding/core/src/test/java/org/apache/shardingsphere/sharding/yaml/ShardingConfigurationYamlRepositoryTupleSwapperEngineIT.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueDatabaseRuleItemNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/RuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/database/item/UniqueDatabaseRuleItemNodePathTest.java
Labels: type: refactor, in: metadata

#34665 Update release notes
  RELEASE-NOTES.md
Labels: in: document

#34666 Add DatabaseRuleItem
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/DatabaseRuleItem.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathTest.java
Labels: type: refactor, in: metadata

#34668 Fix Oracle PLSQL block statements not extracted
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/type/OracleDDLStatementVisitor.java
Labels: type: enhancement, in: SQL parse, db: Oracle

#34670 Recover value of migration incremental importer batch size
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/importer/sink/type/PipelineDataSourceSink.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/record/group/DataRecordGroupEngine.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/ingest/record/group/DataRecordGroupEngineTest.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/preparer/MigrationJobPreparer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/migration/primarykey/IndexesMigrationE2EIT.java
Labels: type: bug, type: enhancement, feature: pipeline

#34672 Rename NodePathPattern.IDENTIFIER
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathPattern.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/item/NamedDatabaseRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/database/root/DatabaseRuleRootNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/StatisticsNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePath.java
Labels: type: refactor, in: metadata

#34674 Rename DataNode's getVersion
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DataSourceMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseRuleMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/TableMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathGeneratorTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34675 Refactor ViewMetaDataNodePathParser
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/ViewMetaDataNodePathParser.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
Labels: type: refactor

#34676 Refactor package of mode.node.path.metadata
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/deliver/ReadwriteSplittingQualifiedDataSourceChangedSubscriber.java
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorker.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableRowDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/statistics/StatisticsPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/statistics/StatisticsNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/statistics/StatisticsNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/QualifiedDataSourceNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/QualifiedDataSourceNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/statistics/StatisticsNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/statistics/StatisticsNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/QualifiedDataSourceNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/QualifiedDataSourceNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/StatisticsChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
Labels: mode: cluster, type: refactor, mode: standalone

#34678 Move StatisticsNodePath
  kernel/schedule/core/src/main/java/org/apache/shardingsphere/schedule/core/job/statistics/collect/StatisticsCollectJobWorker.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableRowDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/statistics/StatisticsPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/StatisticsChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34680 Rollback QualifiedSchema and QualifiedTable
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedSchema.java
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedTable.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedSchemaTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/QualifiedTableTest.java
  infra/common/src/test/java/org/apache/shardingsphere/infra/metadata/database/schema/util/IndexMetaDataUtilsTest.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/checker/PipelineDataSourceCheckEngine.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/datasource/PipelineJobDataSourcePreparer.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/sqlbuilder/segment/PipelineSQLSegmentBuilder.java
  kernel/data-pipeline/scenario/migration/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/check/consistency/MigrationDataConsistencyChecker.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/decider/SingleSQLFederationDecider.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/route/engine/SingleRouteEngine.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/rule/SingleRule.java
  kernel/single/core/src/test/java/org/apache/shardingsphere/single/rule/SingleRuleTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/DatabaseMetaDataNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/data/pipeline/cases/cdc/CDCE2EIT.java
Labels: type: refactor, in: metadata

#34681 Add DatabaseNodePathGenerator
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathGenerator.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
Labels: mode: cluster, type: refactor, mode: standalone

#34682 Refactor TableMetaDataNodePathGenerator and ViewMetaDataNodePathGenerator
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathGenerator.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathGeneratorTest.java
Labels: type: refactor, in: metadata

#34683 Merge MetaDataNodePath and DatabaseNodePathGenerator
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/MetaDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleMetaDataNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceMetaDataNodePathGenerator.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGeneratorTest.java
Labels: type: refactor, in: metadata

#34686 Remove duplicate category tags in FAQ
  docs/document/content/faq/_index.cn.md
  docs/document/content/faq/_index.en.md
Labels: in: document

#34687 Rename TableNodePathParser and ViewNodePathParser
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathParser.java
Labels: type: refactor, in: metadata

#34688 Move QualifiedDataSourceNodePath to state package
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/deliver/ReadwriteSplittingQualifiedDataSourceChangedSubscriber.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34690 Refactor GlobalPropertiesNodePath and GlobalRuleNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/tuple/YamlRepositoryTupleSwapperEngine.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34691 Refactor metadata NodePathGenerator from static to instance
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathGeneratorTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor, mode: standalone

#34693 Refactor GlobalRuleNodePathGeneratorTest
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathGeneratorTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathGeneratorTest.java
Labels: mode: cluster, in: test, mode: standalone

#34695 Refactor NodePathGenerator
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathGenerator.java
Labels: mode: cluster, type: refactor, mode: standalone

#34696 Rename NodePathGenerator to NodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathVersion.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ComputeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ProcessNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ReservationNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/StatesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/GlobalRuleChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/PropertiesChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor, mode: standalone

#34697 Add NodePathGenerator
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DatabaseRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/SchemaMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/manager/ContextManagerTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor, mode: standalone

#34698 Refactor NodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleItemNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34699 Revise javadoc of ViewNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/RepositoryTuplePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/database/DataSourceUnitPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/GlobalRulePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/config/global/PropertiesPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/TableMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/ViewMetaDataPersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistService.java
  mode/core/src/test/java/org/apache/shardingsphere/mode/metadata/persist/version/MetaDataVersionPersistServiceTest.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/version/VersionNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/rule/RuleConfigurationChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34701 Add master slave replication heartbeat configuration in binlog client
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/incremental/client/MySQLBinlogClient.java
  kernel/data-pipeline/dialect/mysql/src/test/java/org/apache/shardingsphere/data/pipeline/mysql/ingest/incremental/client/MySQLBinlogClientTest.java
Labels: type: enhancement, feature: pipeline

#34707 Fix the issue where join conditions cannot be extracted when more tha…
  RELEASE-NOTES.md
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ExpressionExtractor.java
Labels: in: SQL parse, type: fixed

#34709 Support Oracle IS NAN SQL parse
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  parser/sql/dialect/oracle/src/main/java/org/apache/shardingsphere/sql/parser/oracle/visitor/statement/OracleStatementVisitor.java
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#34710 Refactor ProcessNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/ProcessNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ProcessNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ProcessNodeTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/coordinator/process/ClusterProcessPersistCoordinator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistService.java
Labels: mode: cluster, type: refactor, mode: standalone

#34711 Refactor QualifiedDataSourceNodePath
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/deliver/ReadwriteSplittingQualifiedDataSourceChangedSubscriber.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/QualifiedDataSourceNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34712 Refactor ReservationNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/ReservationNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ReservationNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/workerid/ReservationPersistService.java
Labels: mode: cluster, type: refactor, mode: standalone

#34713 Add mode.node.path.node package
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/deliver/ReadwriteSplittingQualifiedDataSourceChangedSubscriber.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/ComputeNodePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/QualifiedDataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/QualifiedDataSourceNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/QualifiedDataSourceNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/QualifiedDataSourceNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeOnlineHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeStateChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/KillProcessHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ShowProcessListHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/coordinator/process/ClusterProcessPersistCoordinator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistServiceTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34716 Support SQL parsing of Oracle comparison operators containing spaces
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#34722 Refactor NodeNodePath
  features/readwrite-splitting/core/src/main/java/org/apache/shardingsphere/readwritesplitting/deliver/ReadwriteSplittingQualifiedDataSourceChangedSubscriber.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/ComputeNodePersistService.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathGenerator.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/NodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/label/LabelNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/process/KillProcessTriggerNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/process/ShowProcessListTriggerNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/status/OnlineInstanceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/status/OnlineTypeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/status/StatusNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/workerid/ComputeNodeWorkerIDNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/reservation/workerid/WorkerIDReservationNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/ComputeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/NodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/label/LabelNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/process/KillProcessTriggerNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/process/ShowProcessListTriggerNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/status/OnlineInstanceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/status/OnlineTypeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/status/StatusNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/workerid/ComputeNodeWorkerIDNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/reservation/workerid/WorkerIDReservationNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeOnlineHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeStateChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/KillProcessHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ShowProcessListHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/coordinator/process/ClusterProcessPersistCoordinator.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistService.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/workerid/ReservationPersistService.java
  mode/type/cluster/core/src/test/java/org/apache/shardingsphere/mode/manager/cluster/persist/service/ClusterProcessPersistServiceTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34721 Support SQL parsing of Oracle not equals operators containing spaces
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/BaseRule.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#34703 Issue_31559 MySQL parsing
  test/it/parser/src/main/resources/case/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select-special-function.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: MySQL

#34727 Minor refactor for with statement sql bind logic
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/predicate/EncryptPredicateColumnTokenGenerator.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/context/segment/select/projection/extractor/dialect/MySQLProjectionIdentifierExtractor.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/ColumnSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/TableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/context/type/SimpleTableSegmentBinderContext.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/SubqueryTableSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/with/CommonTableExpressionSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/with/WithSegmentBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/DeleteStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/InsertStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/SelectStatementBinder.java
  infra/binder/src/main/java/org/apache/shardingsphere/infra/binder/engine/statement/dml/UpdateStatementBinder.java
  infra/binder/src/main/resources/META-INF/services/org.apache.shardingsphere.infra.binder.context.segment.select.projection.extractor.DialectProjectionIdentifierExtractor
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/expression/type/InExpressionBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/from/type/SubqueryTableSegmentBinderTest.java
  infra/binder/src/test/java/org/apache/shardingsphere/infra/binder/engine/segment/dml/with/WithSegmentBinderTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/extractor/ColumnExtractor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/dml/expr/InExpression.java
Labels: type: refactor, in: SQL bind

#34723 Complete the column information for checking if the encryption algori…
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/checker/cryptographic/InsertSelectColumnsEncryptorChecker.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/checker/cryptographic/JoinConditionsEncryptorChecker.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/checker/sql/predicate/EncryptPredicateColumnSupportedChecker.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertCipherNameTokenGenerator.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/rewrite/token/generator/insert/EncryptInsertDefaultColumnsTokenGenerator.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/checker/cryptographic/InsertSelectColumnsEncryptorCheckerTest.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/segment/generic/bound/ColumnSegmentBoundInfo.java
Labels: feature: encrypt

#34728 Correct the cause exception in SingleTablesLoadingException.
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/exception/SingleDefinitionException.java
  kernel/single/core/src/main/java/org/apache/shardingsphere/single/exception/SingleTablesLoadingException.java
Labels: feature: single

#34718 Use DistSQLDatabaseRuleQueryExecutorAssert in ShowShardingAuditorsExecutorTest
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingAuditorsExecutorTest.java
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-auditors-current-config.yaml
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-auditors.xml
Labels: in: test, feature: DistSQL

#34730 Fix oracle procedure parsing not end with a semicolon
  parser/sql/dialect/oracle/src/main/antlr4/imports/oracle/PLSQL.g4
  test/it/parser/src/main/resources/case/plsql/create-procedure.xml
  test/it/parser/src/main/resources/sql/supported/plsql/create-procedure.xml
Labels: type: enhancement, in: SQL parse, db: Oracle

#34732 Refactor GenericSchemaManager
  infra/common/src/main/java/org/apache/shardingsphere/infra/metadata/database/schema/manager/GenericSchemaManager.java
Labels: type: refactor, in: metadata

#34733 Enhance ShowShardingKeyGeneratorExecutorTest with parameterized assertions
  features/sharding/distsql/handler/src/test/java/org/apache/shardingsphere/sharding/distsql/handler/query/ShowShardingKeyGeneratorExecutorTest.java
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-key-generator-current-config.yaml
  features/sharding/distsql/handler/src/test/resources/cases/show-sharding-key-generator.xml
Labels: in: test, feature: DistSQL

#34734 Optimize EncryptAlgorithm#toConfiguration.
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/assisted/MD5AssistedEncryptAlgorithm.java
  features/encrypt/core/src/main/java/org/apache/shardingsphere/encrypt/algorithm/standard/AESEncryptAlgorithm.java
  features/encrypt/core/src/test/java/org/apache/shardingsphere/encrypt/algorithm/assisted/MD5AssistedEncryptAlgorithmTest.java
Labels: feature: encrypt

#34738 Remove useless StatisticsNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34739 Remove DatabaseNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/metadata/persist/metadata/service/DatabaseMetaDataPersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/DataChangedEventListenerRegistry.java
Labels: mode: cluster, type: refactor, mode: standalone

#34740 Remove ComputeNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/NodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/NodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/ComputeNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/ComputeNodeStateChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34741 Rename SchemaMetaDataNodePathParser
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34742 Remove NodePathGenerator
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathGenerator.java
Labels: mode: cluster, type: refactor, mode: standalone

#34746 Refactor test cases of NodePath
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalPropertiesNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/config/global/GlobalRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/execution/ProcessNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/rule/DatabaseRuleNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/label/LabelNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/process/KillProcessTriggerNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/process/ShowProcessListTriggerNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/status/OnlineNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/status/StatusNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/compute/workerid/ComputeNodeWorkerIDNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/reservation/WorkerIDReservationNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/ClusterNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/DatabaseListenerCoordinatorNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsJobNodePathTest.java
Labels: mode: cluster, in: test

#34748 Add NodePathParser
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/DatabaseNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/SchemaMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetaDataNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
Labels: mode: cluster, type: refactor, mode: standalone

#34749 Rename NodePathSearcher
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearcher.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
Labels: mode: cluster, type: refactor, mode: standalone

#34750 Add NodePathSearchCriteria
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearchCriteria.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearcher.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/TableChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/type/ViewChangedHandler.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/listener/type/DatabaseMetaDataChangedListener.java
Labels: mode: cluster, type: refactor, mode: standalone

#34751 Refactor ViewMetadataNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePath.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePathTest.java
Labels: mode: cluster, type: refactor, mode: standalone

#34752 Refactor NodePathSearchCriteria
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearchCriteria.java
Labels: mode: cluster, type: refactor, mode: standalone

#34753 Refactor NodePathSearchCriteria
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearchCriteria.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearcher.java
Labels: mode: cluster, type: refactor, mode: standalone

#34754 Refactor DatabaseListenerCoordinatorNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/TableMetadataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/database/ViewMetadataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/DatabaseListenerCoordinatorNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/state/DatabaseListenerCoordinatorNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/DatabaseListenerCoordinatorNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/state/DatabaseListenerCoordinatorNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/DatabaseListenerChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34755 Refactor StorageUnitNodePath and StorageNodeNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/NodePathSearcher.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParser.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/DataSourceNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageNodeNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/metadata/storage/StorageUnitNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/database/metadata/MetaDataChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34756 Refactor QualifiedDataSourceNodePath
  mode/core/src/main/java/org/apache/shardingsphere/mode/state/node/QualifiedDataSourceStatePersistService.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathParserTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/node/storage/QualifiedDataSourceNodePathTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/QualifiedDataSourceChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone

#34757 Refactor StatisticsDataNodePath
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsDataNodePath.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathParser.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsDataNodePathTest.java
  mode/node/src/test/java/org/apache/shardingsphere/mode/node/path/statistics/StatisticsNodePathParserTest.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/dispatch/handler/global/type/StatisticsChangedHandler.java
Labels: mode: cluster, type: refactor, mode: standalone
