Repository apache/shardingsphere, pull requests merged in 2025-09, with the labels that each got.

#36441 Rename package of PostgreSQLDatabaseAssertionMetaData
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/database/DatabaseAssertionMetaDataFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/database/dialect/PostgreSQLDatabaseAssertionMetaData.java
Labels: in: test

#36443 Add DialectDatabaseAssertionMetaDataSQLProvider
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/database/DatabaseAssertionMetaDataFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/database/dialect/PostgreSQLDatabaseAssertionMetaData.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/metadata/DialectDatabaseAssertionMetaDataFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/metadata/DialectDatabaseAssertionMetaDataSQLProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/framework/metadata/dialect/PostgreSQLDatabaseAssertionMetaDataSQLProvider.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/it/sql/dml/BaseDMLE2EIT.java
Labels: in: test

#36444 Refactor StandaloneContainerComposer and ClusterContainerComposer
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/ContainerComposerRegistry.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36445 Remove outdate comment on ContainerComposerRegistry
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/ContainerComposerRegistry.java
Labels: in: test

#36447 Refactor StandaloneContainerComposer
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36451 Refactor NativeStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/StorageContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/NativeStorageContainer.java
Labels: in: test

#36459 Rename org.apache.shardingsphere.test.it.rewriter
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/SQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/SQLRewriterITSettings.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/parameter/SQLRewriteEngineTestParameters.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/parameter/SQLRewriteEngineTestParametersBuilder.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/scenario/EncryptSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/scenario/MixSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/scenario/ShardingSQLRewriterIT.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/engine/type/SQLExecuteType.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/entity/RewriteAssertionEntity.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/entity/RewriteAssertionsRootEntity.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/entity/RewriteInputEntity.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/entity/RewriteOutputEntity.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/fixture/encrypt/RewriteEncryptLikeAlgorithmFixture.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/fixture/encrypt/RewriteNormalEncryptAlgorithmFixture.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/fixture/encrypt/RewriteQueryAssistedEncryptAlgorithmFixture.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/fixture/encrypt/RewriteQueryLikeEncryptAlgorithmFixture.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/fixture/keygen/RewriteKeyGenerateAlgorithmFixture.java
  test/it/rewriter/src/test/java/org/apache/shardingsphere/test/it/rewriter/loader/RewriteAssertionsRootEntityLoader.java
  test/it/rewriter/src/test/resources/META-INF/services/org.apache.shardingsphere.encrypt.spi.EncryptAlgorithm
  test/it/rewriter/src/test/resources/META-INF/services/org.apache.shardingsphere.infra.algorithm.keygen.spi.KeyGenerateAlgorithm
Labels: in: test

#36461 Remove useless method on StorageContainerConfigurationFactory
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
Labels: in: test

#36463 Refactor StorageContainerConfigurationFactory on shardingsphere-test-e2e-transaction
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/StorageContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/dialect/MySQLContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/dialect/OpenGaussContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/dialect/PostgreSQLContainerConfigurationFactory.java
Labels: in: test

#36465 Refactor MySQLContainerConfigurationFactory on shardingsphere-test-e2e-transaction
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/dialect/MySQLContainerConfigurationFactory.java
Labels: in: test

#36467 Refactor PostgreSQLContainerConfigurationFactory
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/dialect/PostgreSQLContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/dialect/PostgreSQLContainerConfigurationFactory.java
Labels: in: test

#36469 Merge StorageContainerConfigurationFactory
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/TransactionProxyContainerConfigurationFactory.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/config/storage/StorageContainerConfigurationFactory.java
Labels: in: test

#36472 Refactor StorageContainerConfiguration
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfiguration.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/dialect/H2ContainerConfigurationFactory.java
Labels: in: test

#36478 Fix readwrite_splitting rql e2e test case
  test/e2e/sql/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting/show_readwrite_splitting_rules.xml
  test/e2e/sql/src/test/resources/cases/rql/dataset/dbtbl_with_readwrite_splitting_and_encrypt/show_readwrite_splitting_rules.xml
  test/e2e/sql/src/test/resources/cases/rql/dataset/encrypt_and_readwrite_splitting/show_readwrite_splitting_rules.xml
  test/e2e/sql/src/test/resources/cases/rql/dataset/readwrite_splitting/show_readwrite_splitting_rules.xml
Labels: in: test, feature: readwrite-splitting

#36479 Update readwrite_splitting yaml api doc
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.cn.md
  docs/document/content/user-manual/shardingsphere-jdbc/yaml-config/rules/readwrite-splitting.en.md
Labels: in: document

#36476 Revise container/${db}/cnf package
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/resources/container/mysql/cnf/5/my.cnf
  test/e2e/env/src/test/resources/container/mysql/cnf/8/my.cnf
  test/e2e/env/src/test/resources/container/opengauss/cnf/pg_hba.conf
  test/e2e/env/src/test/resources/container/postgresql/cnf/postgresql.conf
  test/e2e/operation/pipeline/src/test/resources/env/mysql/5/my.cnf
  test/e2e/operation/pipeline/src/test/resources/env/mysql/8/my.cnf
  test/e2e/operation/pipeline/src/test/resources/env/opengauss/pg_hba.conf
  test/e2e/sql/src/test/resources/env/mysql/my.cnf
Labels: in: test

#36481 Refactor MySQLStorageContainerConfigurationOption
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
Labels: in: test

#36482 Refactor HiveStorageContainerConfigurationOption
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/resources/container/hive/cnf/hive-site.xml
Labels: in: test

#36483 Move DockerImageVersion to shardingsphere-test-e2e-env module
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/DockerImageVersion.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/DockerContainerComposer.java
Labels: in: test

#36484 Merge StorageContainerConfigurationOption.getMountedResources()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
Labels: in: test

#36485 Remove useless 01-initdb.sql
  test/e2e/operation/transaction/src/test/resources/env/mysql/01-initdb.sql
  test/e2e/operation/transaction/src/test/resources/env/opengauss/01-initdb.sql
  test/e2e/operation/transaction/src/test/resources/env/postgresql/01-initdb.sql
Labels: in: test

#36486 Rename 02-grant-xa-privilege.sql
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/operation/pipeline/src/test/resources/env/mysql/02-grant-xa-privilege.sql
Labels: in: test

#36488 Remove shardingsphere-test-e2e-transaction's my.cnf
  test/e2e/operation/transaction/src/test/resources/env/mysql/my.cnf
Labels: in: test

#36489 Remove shardingsphere-test-e2e-showprocesslist's my.cnf
  test/e2e/operation/showprocesslist/src/test/resources/env/mysql/my.cnf
Labels: in: test

#36494 Refactor my.cnf
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/resources/container/mysql/cnf/5/my.cnf
  test/e2e/env/src/test/resources/container/mysql/cnf/8/my.cnf
Labels: in: test

#36497 Refactor StorageContainerConfigurationFactory
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/resources/container/mariadb/cnf/my.cnf
  test/e2e/env/src/test/resources/container/opengauss/cnf/postgresql.conf
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/pipeline/src/test/resources/env/container/mysql/cnf/5/my.cnf
  test/e2e/operation/pipeline/src/test/resources/env/container/mysql/cnf/8/my.cnf
Labels: in: test

#36498 Add StorageContainerConfigurationOption.getMountedSQLResources()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/operation/pipeline/src/test/resources/env/mariadb/01-initdb.sql
Labels: in: test

#36501 Refactor StorageContainerConfigurationOption.getMountedSQLResources()
  RELEASE-NOTES.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
Labels: in: test

#36446 Support parsing Doris refresh SQL statement
  parser/sql/engine/core/src/main/java/org/apache/shardingsphere/sql/parser/engine/core/database/visitor/SQLVisitorRule.java
  parser/sql/engine/dialect/doris/src/main/antlr4/imports/doris/DALStatement.g4
  parser/sql/engine/dialect/doris/src/main/antlr4/imports/doris/DDLStatement.g4
  parser/sql/engine/dialect/doris/src/main/antlr4/imports/doris/DorisKeyword.g4
  parser/sql/engine/dialect/doris/src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen/DorisStatement.g4
  parser/sql/engine/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/engine/doris/visitor/statement/type/DorisDALStatementVisitor.java
  parser/sql/engine/dialect/doris/src/main/java/org/apache/shardingsphere/sql/parser/engine/doris/visitor/statement/type/DorisDDLStatementVisitor.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/ddl/DropEncryptKeyStatement.java
  parser/sql/statement/core/src/main/java/org/apache/shardingsphere/sql/parser/statement/core/statement/type/dal/RefreshStatement.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/RootSQLParserTestCases.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/dal/DorisRefreshStatementTestCase.java
  test/it/parser/src/main/java/org/apache/shardingsphere/test/it/sql/parser/internal/cases/parser/jaxb/statement/ddl/DropEncryptKeyStatementTestCase.java
  test/it/parser/src/main/resources/case/dal/refresh.xml
  test/it/parser/src/main/resources/case/ddl/drop-encryptkey.xml
  test/it/parser/src/main/resources/sql/supported/dal/refresh.xml
  test/it/parser/src/main/resources/sql/supported/ddl/drop-encryptkey.xml
Labels: type: enhancement, in: SQL parse, db: Doris

#36504 Refactor StorageContainerConfigurationOption.getMountedConfigurationResources()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/HiveContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/MySQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/OpenGaussContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/impl/PostgreSQLContainer.java
  test/e2e/env/src/test/resources/container/mariadb/cnf/mariadb.cnf
Labels: in: test

#36508 Rename ProxyClusterState to ProxyClusterStateChecker
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/ProxyBackendHandlerFactory.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/ProxyClusterStateChecker.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/type/ReadOnlyProxyStateChecker.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/state/type/UnavailableProxyStateChecker.java
  proxy/backend/core/src/main/resources/META-INF/services/org.apache.shardingsphere.proxy.backend.state.ProxyClusterStateChecker
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/state/impl/ReadOnlyProxyStateTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/state/impl/UnavailableProxyStateTest.java
Labels: in: proxy, type: refactor

#36511 Refactor InventoryPositionCalculator and PrimaryKeyIngestPositionFactory method return type
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/position/type/pk/PrimaryKeyIngestPositionFactory.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/preparer/inventory/calculator/InventoryPositionCalculator.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/preparer/inventory/calculator/InventoryPositionCalculatorTest.java
  kernel/data-pipeline/scenario/consistency-check/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/consistencycheck/task/ConsistencyCheckTasksRunner.java
Labels: type: refactor, feature: pipeline

#36512 Rename 00-common-init-authority.sql and 99-common-check-ready.sql
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/DockerStorageContainer.java
  test/e2e/env/src/test/resources/container/mariadb/init-sql/00-common-init-authority.sql
  test/e2e/env/src/test/resources/container/mariadb/init-sql/99-common-check-ready.sql
  test/e2e/env/src/test/resources/container/mysql/init-sql/00-common-init-authority.sql
  test/e2e/env/src/test/resources/container/mysql/init-sql/99-common-check-ready.sql
  test/e2e/env/src/test/resources/container/opengauss/init-sql/00-common-init-authority.sql
  test/e2e/env/src/test/resources/container/opengauss/init-sql/99-common-check-ready.sql
  test/e2e/env/src/test/resources/container/postgresql/init-sql/00-common-init-authority.sql
  test/e2e/env/src/test/resources/container/postgresql/init-sql/99-common-check-ready.sql
Labels: in: test

#36516 Support for the MAXDOP query hint
  parser/sql/engine/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36518 Refactor transaction rule close
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ShardingSphereTransactionManagerEngine.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/rule/TransactionRule.java
  kernel/transaction/core/src/test/java/org/apache/shardingsphere/transaction/rule/TransactionRuleTest.java
Labels: feature: transaction, type: refactor

#36550 Rename StorageContainerConfigurationOption.getAdditionalEnvMountedSQLResources
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
Labels: in: test

#36551 Fix javadoc on StorageContainerConfigurationOption
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
Labels: in: test

#36554 Refactor StorageContainerConfigurationFactory to use default major version if absent
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
Labels: in: test

#36555 Refactor DockerStorageContainer.getDefaultDatabaseName() to StorageContainerConfigurationOption
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/H2StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/HiveContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MySQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/OpenGaussContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/PostgreSQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/DockerImageVersion.java
Labels: in: test

#36556 Add StorageContainerConfiguration.getMountedSQLResourceMap()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfiguration.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
Labels: in: test

#36559 Refactor StorageContainerConfigurationFactory
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/StorageContainerConfigurationFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/mounted/MountedSQLResourceGenerator.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/DockerContainerComposer.java
Labels: in: test

#36560 Rename package of org.apache.shardingsphere.test.e2e.env.container.atomic.storage.config.mount
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/mount/MountConfigurationResourceGenerator.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/config/mount/MountSQLResourceGenerator.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
Labels: in: test

#36561 Move getActualDatabaseNames() and getExpectedDatabaseNames() to parent class DockerStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/HiveContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MySQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/OpenGaussContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/PostgreSQLContainer.java
Labels: in: test

#36562 Remove useless getter on DockerStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
Labels: in: test

#36565 Refactor DockerStorageContainer and remove useless impl
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/DockerITContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/StorageContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MariaDBContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/MySQLContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/OpenGaussContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/PostgreSQLContainer.java
Labels: in: test

#36567 Fix DockerStorageContainer startup timeout overwritten in E2E
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
Labels: in: test

#36576 Use SPI to handle StorageContainerConfigurationOption
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/StorageContainerConfigurationOptionFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/MariaDBStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/MySQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/OpenGaussStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/PostgreSQLStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
  test/e2e/env/src/test/resources/META-INF/services/org.apache.shardingsphere.test.e2e.env.container.atomic.storage.option.StorageContainerConfigurationOption
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/DockerContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/DockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36577 Add option null check on DockerStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
Labels: in: test

#36581 Fix MySQL JDBC query properties extension when SSL is required on server
  kernel/data-pipeline/dialect/mysql/src/main/java/org/apache/shardingsphere/data/pipeline/mysql/datasource/MySQLJdbcQueryPropertiesExtension.java
  kernel/data-pipeline/dialect/mysql/src/test/java/org/apache/shardingsphere/data/pipeline/mysql/datasource/MySQLJdbcQueryPropertiesExtensionTest.java
Labels: type: bug, feature: pipeline

#36587 Refactor PipelineBaseContainerComposer
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/PipelineDockerContainerComposer.java
Labels: in: test, feature: pipeline

#36588 Merge DockerStorageContainer's option and databaseType
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/StorageContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/mount/MountConfigurationResourceGenerator.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/mount/MountSQLResourceGenerator.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/HiveContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
Labels: in: test

#36590 Refactor NativeStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
Labels: in: test

#36593 Refactor DataSourceEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/DataSourceEnvironment.java
Labels: in: test

#36594 Unify e2e default database user and password
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereJdbcEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
  test/e2e/operation/pipeline/src/test/resources/env/it-env.properties
Labels: in: test

#36595 Unify e2e default database user and password
  test/e2e/operation/pipeline/src/test/resources/env/it-env.properties
Labels: in: test

#36598 Remove useless ProxyContainerConstants.AGENT_HOME_IN_CONTAINER
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/constants/ProxyContainerConstants.java
Labels: in: test

#36600 Remove useless getter of DockerStorageContainer.majorVersion
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
Labels: in: test

#36601 Add ExclusiveOperation instead of GlobalLock
  agent/plugins/metrics/type/prometheus/src/test/java/org/apache/shardingsphere/agent/plugin/metrics/prometheus/PrometheusPluginLifecycleServiceTest.java
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/preparer/MigrationJobPreparer.java
  kernel/data-pipeline/scenario/migration/core/src/main/java/org/apache/shardingsphere/data/pipeline/scenario/migration/preparer/MigrationPrepareOperation.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exclusive/ExclusiveOperation.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exclusive/ExclusiveOperationCallback.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exclusive/ExclusiveOperatorContext.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/exclusive/ExclusiveOperatorEngine.java
  mode/core/src/main/java/org/apache/shardingsphere/mode/manager/ContextManager.java
  mode/node/src/main/java/org/apache/shardingsphere/mode/node/path/type/exclusive/ExclusiveOperationNodePath.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/ClusterContextManagerBuilder.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/exclusive/ClusterExclusiveOperatorContext.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/statistics/RefreshStatisticsOperation.java
  mode/type/cluster/core/src/main/java/org/apache/shardingsphere/mode/manager/cluster/statistics/StatisticsRefreshEngine.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/StandaloneContextManagerBuilder.java
  mode/type/standalone/core/src/main/java/org/apache/shardingsphere/mode/manager/standalone/exclusive/StandaloneExclusiveOperatorContext.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/TransactionCommitOperation.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/lock/LockClusterExecutor.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/lock/LockClusterOperation.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/handler/distsql/ral/updatable/lock/UnlockClusterExecutor.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxySQLExecutorTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/context/ProxyContextTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/distsql/DistSQLQueryBackendHandlerTest.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/test/it/data/pipeline/core/util/PipelineContextUtils.java
Labels: mode: cluster, type: refactor, mode: standalone

#36604 Remove switch statement for PipelineE2EEnvironment
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
Labels: in: test, feature: pipeline

#36607 Add ProxyDatabaseTypeUtils
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/PipelineDockerContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/PipelineNativeContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/util/ProxyDatabaseTypeUtils.java
Labels: in: test, feature: pipeline

#36608 Refactor ProxyDatabaseTypeUtils
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/util/ProxyDatabaseTypeUtils.java
Labels: in: test, feature: pipeline

#36610 Refactor StorageContainerUtils
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyClusterContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyStandaloneContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/StorageContainerUtils.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
Labels: in: test

#36611 Refactor NativeStorageContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/natived/NativeStorageContainer.java
Labels: in: test

#36615 Move package org.apache.shardingsphere.test.e2e.env.container.atomic.adapter.enums
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/enums/AdapterMode.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/enums/AdapterType.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/env/enums/TransactionTestCaseRegistry.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/SQLE2EEnvironmentEngine.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/ContainerComposerRegistry.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ClusterTestParameterArrayGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/E2ETestParameterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ProxyStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/SQLE2EIT.java
Labels: in: test

#36617 Add StorageContainerConfigurationOption.isSupportDockerEntrypoint()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/StorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/option/dialect/HiveStorageContainerConfigurationOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/util/SQLScriptUtils.java
  test/e2e/env/src/test/resources/container/hive/init-sql/99-common-check-ready.sql
Labels: in: test

#36618 Remove HiveContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/ITContainers.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/StorageContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/DockerStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/NativeStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/type/docker/impl/HiveContainer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/docker/PipelineDockerContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36619 Remove StorageContainerFactory
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/atomic/storage/StorageContainerFactory.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/createtable/CreateTableSQLGeneratorIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/docker/PipelineDockerContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36625 Refactor AdapterContainerFactory
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/governance/GovernanceContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/governance/option/GovernanceContainerOption.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/governance/option/impl/ZookeeperGovernanceContainerOption.java
Labels: in: test

#36631 Refactor usage of ProxyContainerConstants
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyClusterContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyStandaloneContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/constants/ProxyContainerConstants.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/cdc/CDCE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/env/TransactionE2EEnvironment.java
Labels: in: test

#36630 Refactor transaction context
  infra/executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/execute/engine/driver/jdbc/JDBCExecutor.java
  infra/session/src/main/java/org/apache/shardingsphere/infra/session/connection/transaction/TransactionConnectionContext.java
  infra/session/src/test/java/org/apache/shardingsphere/infra/session/connection/transaction/TransactionConnectionContextTest.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/executor/engine/transaction/DriverTransactionalExecutor.java
  jdbc/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/DriverDatabaseConnectionManager.java
  kernel/transaction/core/src/main/java/org/apache/shardingsphere/transaction/ConnectionTransaction.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManager.java
  proxy/backend/core/src/main/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManager.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/ProxyDatabaseConnectionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/connector/jdbc/transaction/BackendTransactionManagerTest.java
  proxy/backend/core/src/test/java/org/apache/shardingsphere/proxy/backend/handler/tcl/TCLBackendHandlerTest.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
Labels: feature: transaction, type: refactor

#36632 Refactor ShardingSphereProxyStandaloneContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereMultiProxiesClusterContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyClusterContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyStandaloneContainer.java
Labels: in: test

#36633 Refactor ShardingSphereMultiProxiesClusterContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereMultiProxiesClusterContainer.java
Labels: in: test

#36634 Remove useless ShardingSphereMultiProxiesClusterContainer
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/enums/AdapterType.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereMultiProxiesClusterContainer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/ContainerComposerRegistry.java
Labels: in: test

#36635 Remove AdapterType.PROXY_RANDOM
  test/e2e/sql/src/test/resources/env/it-env.properties
Labels: in: test

#36636 Simplify InventoryDumper usage of PipelineTableMetaData
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/InventoryDumper.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/InventoryDumperContext.java
Labels: type: refactor, feature: pipeline

#36639 Merge ShardingSphereProxyStandaloneContainer and ShardingSphereProxyClusterContainer to ShardingSphereProxyDockerContainer
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyClusterContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyDockerContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/constants/ProxyContainerConstants.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/docker/PipelineDockerContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/ContainerComposerRegistry.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36645 Refactor AdapterMode
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/enums/AdapterMode.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ClusterTestParameterArrayGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/E2ETestParameterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ProxyStandaloneTestParameterGenerator.java
Labels: in: test

#36648 Refactor E2ETestEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
Labels: in: test

#36650 Add RunEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/run/RunEnvironment.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ClusterTestParameterArrayGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/E2ETestParameterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/ProxyStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dql/AdditionalDQLE2EIT.java
Labels: in: test

#36651 Refactor E2ETestEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
Labels: in: test

#36652 Rename props' key it.run.smoke to it.run.smoke.cases
  docs/document/content/test-manual/integration-test/_index.cn.md
  docs/document/content/test-manual/integration-test/_index.en.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/run/RunEnvironment.java
  test/e2e/sql/src/test/resources/env/it-env.properties
Labels: in: test

#36653 Rename props' key it.env.governance.center to it.cluster.regcenter
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/cluster/ClusterEnvironment.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/config/SQLE2EProxyContainerConfigurationFactory.java
Labels: in: test

#36656 Refactor NativeStorageContainer
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/storage/type/NativeStorageContainer.java
Labels: in: test

#36657 Refactor E2ETestEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/sql/src/test/resources/env/it-env.properties
Labels: in: test

#36661 Rename it-env.properties to e2e-env.properties for docs
  docs/document/content/test-manual/integration-test/_index.cn.md
  docs/document/content/test-manual/integration-test/_index.en.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.cn.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.en.md
Labels: in: document

#36681 Move AdapterType into ArtifactEnvironment
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/AgentE2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/enums/AdapterType.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/ArtifactEnvironment.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/env/enums/TransactionTestCaseRegistry.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/SQLE2EEnvironmentEngine.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/ContainerComposerRegistry.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/JdbcStandaloneTestParameterGenerator.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/SQLE2EIT.java
Labels: in: test

#36682 Merge ShowProcessListEnvTypeEnum and RunEnvironment.Type
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/engine/ShowProcessListE2EIT.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/env/ShowProcessListEnvironment.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/env/enums/ShowProcessListEnvTypeEnum.java
  test/e2e/operation/showprocesslist/src/test/resources/env/e2e-env.properties
Labels: in: test

#36684 Support for the FORCE SINGLE NODE PLAN query hint
  parser/sql/engine/dialect/sqlserver/src/main/antlr4/imports/sqlserver/DMLStatement.g4
  parser/sql/engine/dialect/sqlserver/src/main/antlr4/imports/sqlserver/SQLServerKeyword.g4
  test/it/parser/src/main/resources/case/dml/select.xml
  test/it/parser/src/main/resources/sql/supported/dml/select.xml
Labels: type: enhancement, in: SQL parse, db: SQLServer

#36685 Merge ShowProcessListEnvironment and E2ETestEnvironment
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/engine/ShowProcessListE2EIT.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/env/ShowProcessListEnvironment.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/parameter/ShowProcessListTestParameter.java
  test/e2e/operation/showprocesslist/src/test/resources/env/e2e-env.properties
Labels: in: test

#36687 Add E2ETestEnvironment.isValid()
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/RunEnvironment.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/framework/param/array/E2ETestParameterFactory.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/distsql/ral/RALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/distsql/rdl/RDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/distsql/rql/RQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dal/DALE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dcl/DCLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/ddl/DDLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dml/AdditionalDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dml/BatchDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dml/GeneralDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dql/AdditionalDQLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dql/GeneralDQLE2EIT.java
  test/e2e/sql/src/test/resources/env/e2e-env.properties
Labels: in: test

#36691 Refactor RunEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/RunEnvironment.java
  test/e2e/sql/src/test/resources/env/e2e-env.properties
Labels: in: test

#36692 Refactor e2e-env.properties
  test/e2e/sql/src/test/resources/env/e2e-env.properties
Labels: in: test

#36698 Revise release notes
  RELEASE-NOTES.md
Labels: type: release

#36706 Revise release notes
  RELEASE-NOTES.md
Labels: type: release

#36708 Refactor TransactionE2EEnvironment
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/env/TransactionE2EEnvironment.java
  test/e2e/operation/transaction/src/test/resources/env/e2e-env.properties
Labels: in: test

#36715 Refactor TransactionTestCaseRegistry
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/constants/TransactionTestConstants.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/env/enums/TransactionTestCaseRegistry.java
Labels: feature: transaction, in: test

#36716 Merge PipelineEnvTypeEnum and RunEnvironment.Type
  .github/workflows/e2e-operation.yml
  .github/workflows/nightly-e2e-operation.yml
  docs/document/content/test-manual/pipeline-e2e-test/_index.cn.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.en.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/RunEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/migration/AbstractMigrationE2EIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/migration/general/PostgreSQLToMySQLMigrationE2EIT.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/enums/PipelineEnvTypeEnum.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/param/PipelineE2ECondition.java
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
Labels: in: test, feature: pipeline

#36718 Refactor TransactionBaseE2EIT
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
Labels: feature: transaction, in: test

#36723 Add NativeStorageEnvironment.getPort()
  docs/document/content/test-manual/pipeline-e2e-test/_index.cn.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.en.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/storage/type/NativeStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/NativeStorageEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/natived/PipelineNativeContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/param/PipelineE2ECondition.java
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
Labels: in: test

#36726 Rename NativeStorageEnvironment to NativeDatabaseEnvironment and update related properties in configuration files
  docs/document/content/test-manual/integration-test/_index.cn.md
  docs/document/content/test-manual/integration-test/_index.en.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.cn.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.en.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/impl/ShardingSphereProxyEmbeddedContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/storage/type/NativeStorageContainer.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/NativeDatabaseEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/natived/PipelineNativeContainerComposer.java
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/resources/env/e2e-env.properties
  test/e2e/sql/src/test/resources/env/e2e-env.properties
Labels: in: test

#36727 Rename database image properties to use 'docker' prefix
  .github/workflows/e2e-operation.yml
  .github/workflows/nightly-e2e-operation.yml
  docs/document/content/test-manual/integration-test/_index.cn.md
  docs/document/content/test-manual/integration-test/_index.en.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.cn.md
  docs/document/content/test-manual/pipeline-e2e-test/_index.en.md
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/ArtifactEnvironment.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/DockerDatabaseEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/engine/base/TransactionBaseE2EIT.java
  test/e2e/operation/transaction/src/test/resources/env/e2e-env.properties
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
  test/e2e/sql/src/test/resources/env/e2e-env.properties
Labels: in: test

#36725 Change the JDK runtime of the Dockerfile that builds ShardingSphere Proxy from `JDK21` to `JDK25`
  distribution/proxy/Dockerfile
Labels: type: build

#36731 Merge AgentE2EEnvironmentProperties and EnvironmentPropertiesLoader
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/props/AgentE2EEnvironmentProperties.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/props/AgentE2ETestConfiguration.java
  test/e2e/agent/engine/src/test/java/org/apache/shardingsphere/test/e2e/agent/engine/env/props/AgentE2ETestImageConfiguration.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/EnvironmentPropertiesLoader.java
Labels: in: test, feature: agent

#36732 Merge PipelineE2EEnvironment and E2ETestEnvironment
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/cases/PipelineContainerComposer.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineE2EEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/env/PipelineProxyType.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/docker/PipelineDockerContainerComposer.java
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
Labels: in: test, feature: pipeline

#36739 Add generic type RESULT for SingleTableInventoryCalculator
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/CRC32MatchTableDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/DataMatchTableDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/MatchingTableInventoryChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/AbstractSingleTableInventoryCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/AbstractStreamingSingleTableInventoryCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/CRC32SingleTableInventoryCheckCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/RecordSingleTableInventoryCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/query/calculator/SingleTableInventoryCalculator.java
  kernel/data-pipeline/core/src/test/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/CRC32SingleTableInventoryCheckCalculatorTest.java
Labels: type: refactor, feature: pipeline

#36741 Fix DockerEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/DockerEnvironment.java
  test/e2e/operation/pipeline/src/test/java/org/apache/shardingsphere/test/e2e/operation/pipeline/framework/container/compose/docker/PipelineDockerContainerComposer.java
Labels: in: test

#36746 Extract AbstractRecordSingleTableInventoryCalculator
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/DataConsistencyCheckUtils.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/DataMatchTableDataConsistencyChecker.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/AbstractRecordSingleTableInventoryCalculator.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/CalculationContext.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/RecordSingleTableInventoryCheckCalculator.java
  test/it/pipeline/src/test/java/org/apache/shardingsphere/data/pipeline/core/consistencycheck/table/calculator/RecordSingleTableInventoryCheckCalculatorTest.java
Labels: type: refactor, feature: pipeline

#36747 Refactor AdapterContainerFactory
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/adapter/AdapterContainerFactory.java
  test/e2e/operation/showprocesslist/src/test/java/org/apache/shardingsphere/test/e2e/operation/showprocesslist/container/composer/ClusterShowProcessListContainerComposer.java
  test/e2e/operation/transaction/src/test/java/org/apache/shardingsphere/test/e2e/operation/transaction/framework/container/compose/TransactionDockerContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/ClusterContainerComposer.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/container/compose/mode/StandaloneContainerComposer.java
Labels: in: test

#36750 Add e2e.timezone in e2e-env.properties
  test/e2e/operation/pipeline/src/test/resources/env/e2e-env.properties
Labels: in: test, feature: pipeline

#36752 Refactor ShardingSpherePipelineDataSourceCreator.updateConfigurationProperties
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datasource/creator/ShardingSpherePipelineDataSourceCreator.java
Labels: type: refactor, feature: pipeline

#36753 Remove unused InventoryDumperContext fields
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/InventoryDumper.java
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/ingest/dumper/inventory/InventoryDumperContext.java
Labels: type: refactor, feature: pipeline

#36755 Refactor ShardingSpherePipelineDataSourceCreator createConfigurationProperties
  kernel/data-pipeline/core/src/main/java/org/apache/shardingsphere/data/pipeline/core/datasource/creator/ShardingSpherePipelineDataSourceCreator.java
Labels: type: refactor, feature: pipeline

#36754 Recovery scenario path check logic on E2ETestEnvironment
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/E2ETestEnvironment.java
Labels: in: test

#36758 Fixes CVE-2025-55163, CVE-2025-58056, CVE-2025-58057
  RELEASE-NOTES.md
  pom.xml
Labels: CVE

#36760 Refactor hive-jdbc version management in pom.xml
  database/connector/dialect/hive/pom.xml
  test/e2e/sql/pom.xml
Labels: db: Hive, dependencies

#36767 Refactor ScenarioDataPath
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/container/storage/mount/MountSQLResourceGenerator.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/scenario/database/DatabaseEnvironmentManager.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/scenario/path/ScenarioCommonPath.java
  test/e2e/env/src/test/java/org/apache/shardingsphere/test/e2e/env/runtime/type/scenario/path/ScenarioDataPath.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/env/SQLE2EEnvironmentEngine.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dml/BaseDMLE2EIT.java
  test/e2e/sql/src/test/java/org/apache/shardingsphere/test/e2e/sql/it/sql/dql/BaseDQLE2EIT.java
Labels: in: test
